.widget-heading--title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-heading--children {
    padding-inline-start: 1.2rem;
    padding-inline-end: 1.2rem;
}