// settings.scss
// Styling for the superdesk ingest settings
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

// Ingest sources
// -------------------------------------

.provider-list {

    > li {
        .ingest-count {
            float: left;
            margin-top: 1px;
        }
        .last-updated {
            float: left;
            font-size: 12px;
            color: #777;
            padding: 0 10px;
            span {
                color: #aaa;
            }
        }
        .label.offProvider {
            background-color: rgba(170, 0, 5, 1);
        }
        .link {
            margin-right: 15px;
            font-size: 12px;
        }
    }
}

.addSource.modal {
    input {
        height: 31px;
        line-height: 19px;
        &.blue-text {
            &::-webkit-input-placeholder {
                font-style:normal !important;
            }
            &:-moz-placeholder {
                font-style:normal !important;
            }
            &::-moz-placeholder {
                font-style:normal !important;
            }
            &::-ms-input-placeholder {
                font-style:normal !important;
            }
        }
        &::-webkit-input-placeholder {
            font-style:italic;
        }
    }
    .credentials {
        margin-top: 20px;
        label {
            font-size: 16px;
        }
        input {
            float: left;
            width: 49%;
            &.first {
                margin-right: 2%;
            }
        }
    }
}

.ingestsource-modal {
    .modal-body {
        flex: 1 1 auto !important;
        .popup-subnav {
            padding-left: 10px;
            label {
                color: #989898;
            }
            .TabContent {
                margin-bottom: 20px;
            }
            .field {
                padding-left: 10px;
                float: left;
                .field {
                    padding-left: 0 !important;
                }
            }
        }
        .article-type {
            margin-bottom: 30px !important;
        }
        .rss-config {
            .empty {
                width: 64px;
            }
            .btn-remove {
                padding-right: 14px;
            }
            .multiple .field {
                padding-right: 10px;
            }
        }

        .field {
            .helper-text--padded {
                padding-left: 0;
            }
        }
    }
}

// Ruleset settings
// -------------------------------------

.ruleset-modal {

    header {
        padding: 10px;
    }
    .modal-body {
        flex: 1 1 auto !important;
    }
    .rule-list {

        >li {
            position: relative;
            .order {
                position: absolute;
                left: 0;
                top: 0;
                line-height: 28px;
                color: #aaa;
            }
            .actions {
                position: absolute;
                right: 0; top: 0;
                button {
                    border: 0;
                    background: none;
                }
            }
            fieldset {
                padding: 0 40px;
                .field:first-child {
                    padding-right: 3%;
                }
                .field:last-child {
                    padding-left: 3%;
                }
            }
        }
    }
    .modal-body {
        flex: 1 1 auto !important;
    }
}

/* Scheme create/edit modal */
.add-scheme-modal {
    .modal-body {
        flex: 1 1 auto !important;
    }
    .split-view {
        margin-top: 20px;
        border-top: 1px solid #e0e0e0;
    }
    .content {
        margin: 50px 0 0
    }
    .pills-list {
        li {
            cursor: pointer;
            &.highlight {
                background-color: rgba(94, 169, 200, 0.1);
            }
        }
        &.with-action li {
            padding-right: 35px;
        }
    }
    .field {
        clear: both;
    }
    .summary {
        margin-top: 20px;
        > label {
            margin-bottom: 10px;
        }
        .list-item {
            display: block;
        }
        .title {
            font-size: 11px;
            text-transform: none;
            color: $sd-text;
            min-width: 0;
            @include text-bold();
        }
        .field {
            font-size: 11px;
        }
    }
    .action-tab {
        .field { margin-bottom: 10px; }
        label { min-width: 90px; }
        .sd-toggle { vertical-align: middle; }
    }
    .btn-group {
        .btn { margin-right: 5px; }
    }
    .add {
        position: absolute;
        padding: 0;
        margin-left: 10px;
        height: 22px;
        width: 22px;
        @include border-radius(50%);
        line-height: 20px;
        i { margin: 0; }
    }

    .term-editor {
        width: 400px;
        .main-list {
            overflow: visible;
        }
    }
}

.shadow-list-holder > .pills-list {
    margin: 8px 0 0 5px;
}
