
.runnable-example .nav-tabs > li.active > a, .runnable-example .nav-tabs > li.active > a:active, .runnable-example .nav-tabs > li.active > a:hover{
  background-color: #f8f8f8;
}

.runnable-example .prettyprint {
  border-radius: 0px 0px 4px 4px;
  border-width: 0px 1px 1px 1px;
  border-color: #ddd;
}
