<div class="field">
    <label for="ap_username" translate>Username</label>
    <input type="text" id="ap_username" placeholder="{{:: 'username'|translate }}" ng-model="provider.config.username" required ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label for="ap_password" translate>Password</label>
    <input type="password" id="ap_password" placeholder="{{:: 'password'|translate }}" ng-model="provider.config.password" required ng-change="$parent.setConfig(provider)" autocomplete="new-password">
</div>
<div class="field">
    <label for="ap_idList" translate>idList</label>
    <input type="text" id="ap_idList" placeholder="{{:: 'use coma separated ids for multiple values'|translate }}" ng-model="provider.config.idList" ng-change="$parent.setConfig(provider)">
</div>
