<div class="field">
    <label for="ftp_host" translate>Host</label>
    <input type="text" id="ftp_host" placeholder="{{ :: 'FTP Server URL'|translate }}" ng-model="provider.config.host" required ng-change="$parent.setConfig(provider)">
    <div class="error" ng-show="error.code === 5003" translate>Server not found.</div>
</div>
<div class="field">
    <label for="ftp_username" translate>Username</label>
    <input type="text" id="ftp_username" placeholder="{{ :: 'Username'|translate }}" ng-model="provider.config.username" ng-change="$parent.setConfig(provider)">
    <div class="error" ng-show="error.code === 5002" translate>Credentials error.</div>
</div>
<div class="field">
    <label for="ftp_password" translate>Password</label>
    <input type="password" id="ftp_password" placeholder="{{ :: 'Password'|translate }}" ng-model="provider.config.password" ng-change="$parent.setConfig(provider)" autocomplete="new-password">
</div>
<div class="field">
    <label for="ftp_path" translate>Path</label>
    <input type="text" id="ftp_path" placeholder="{{ :: 'FTP Server Path'|translate }}" ng-model="provider.config.path" ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label class="label-asterisk" for="ftp_dest_path" translate>Local Path</label>
    <input type="text" id="ftp_dest_path" placeholder="{{ :: 'Local Path'|translate }}" ng-model="provider.config.dest_path" required ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label translate>Passive</label>
    <input type="checkbox" ng-model="provider.config.passive" ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label translate>Move items after ingestion</label>
    <input type="checkbox" ng-model="provider.config.move" ng-change="$parent.setConfig(provider)">
</div>
<div class="field" ng-show="provider.config.move">
    <label for="ftp_move_path" translate>Move ingested items to</label>
    <input type="text" id="ftp_move_path" placeholder="{{ :: 'FTP Server Path, keep empty to use default path'|translate }}" ng-model="provider.config.move_path" ng-change="$parent.setConfig(provider)">
</div>
<div class="field" ng-show="provider.config.move">
    <label for="ftp_move_path_error" translate>Move *NOT* ingested items (i.e. on error) to</label>
    <input type="text" id="ftp_move_path_error" placeholder="{{ :: 'FTP Server Path, keep empty to use default path'|translate }}" ng-model="provider.config.move_path_error" ng-change="$parent.setConfig(provider)">
</div>
