<div class="field">
    <label translate>Fetch</label>
    <a class="btn btn--primary btn--icon-only-circle btn--small" ng-click="showNewFetch = true;">
        <i class="icon-plus-large"></i>
    </a>

    <div class="action-panel" ng-show="showNewFetch">
        <div sd-action-picker data-desk="newFetch.desk" data-stage="newFetch.stage" data-macro="newFetch.macro" class="split"></div>
        <div class="btn-group">
            <button class="btn btn--primary" ng-click="addFetch();showNewFetch = false" ng-disabled="!newFetch.desk || !newFetch.stage" translate>Add</button>
            <button class="btn" ng-click="showNewFetch = false" translate>Cancel</button>
        </div>
    </div>

    <ul class="pills-list with-action">
        <li class="pull-left" ng-repeat="fetchAction in rule.actions.fetch">
            {{ getActionString(fetchAction)}}
            <div class="actions">
                <button ng-click="removeFetch(fetchAction)" title="{{:: 'Remove fetch action' | translate }}"><i class="icon-trash"></i></button>
            </div>
        </li>
    </ul>
</div>

<div class="field">
    <label translate>Publish</label>
    <a class="btn btn--primary btn--icon-only-circle btn--small" ng-click="showNewPublish = true;">
        <i class="icon-plus-large"></i>
    </a>

    <div class="action-panel" ng-show="showNewPublish">
        <div sd-action-picker data-desk="newPublish.desk" data-stage="newPublish.stage" data-macro="newPublish.macro" class="split"></div>
        <div class="field">
            <label translate>Select Subscribers</label>
            <div class="term-editor"
                 sd-meta-terms
                 data-item="newPublish"
                 data-field="target_subscribers"
                 data-unique="_id"
                 data-list="customSubscribers"
                 data-header="true"
                 data-reload-list="true">
            </div>
        </div>
        <div class="field target-field">
            <label translate>Target Types</label>
            <div sd-meta-target
                 data-list="target_types"
                 data-targets="newPublish.target_types">
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn--primary" ng-click="addPublish();showNewPublish = false" ng-disabled="!newPublish.desk || !newPublish.stage" translate>Add</button>
            <button class="btn" ng-click="cancel();showNewPublish = false" translate>Cancel</button>
        </div>
    </div>

    <ul class="pills-list with-action">
        <li class="pill-small pull-left" ng-repeat="publishAction in rule.actions.publish">
            {{ getActionString(publishAction)}}
            <div class="actions">
                <button ng-click="removePublish(publishAction)" title="{{:: 'Remove publish action' | translate }}"><i class="icon-trash"></i></button>
            </div>
        </li>
    </ul>
</div>

<div class="field">
    <label translate>Exit</label>
    <span sd-switch ng-model="rule.actions.exit"></span>
</div>

<div class="field">
    <label translate>Preserve Desk</label>
    <span sd-switch ng-model="rule.actions.preserve_desk"></span>
</div>
