<div class="field">
    <label translate>Content Filter</label>
    <a class="btn btn--primary btn--icon-only-circle btn--small" ng-click="showNewFilter = true;" ng-show="!selectedFilter">
        <i class="icon-plus-large"></i>
    </a>
</div>

<div class="field">
    <div sd-typeahead ng-show="showNewFilter" items="matchingFilters" term="filterSearchTerm" search="searchFilters(term)" select="selectFilter(item); showNewFilter = false">
        <li typeahead-item="filter" ng-repeat="filter in matchingFilters track by filter._id">
            {{::filter.name}}
        </li>
    </div>

    <ul class="pills-list with-action" ng-if="selectedFilter">
        <li class="pull-left">
            {{selectedFilter.name}}
            <div class="actions">
                <button ng-click="clearSelectedFilter()" title="{{:: 'Remove filter' | translate }}">
                    <i class="icon-trash"></i>
                </button>
            </div>
        </li>
    </ul>

</div>

<div class="field">
    <button ng-show="showNewFilter" class="btn" ng-click="showNewFilter = false" translate>Cancel</button>
</div>
