<div class="field">
    <label for="twitter-consumer_key" translate>twitter consumer_key</label>
    <input type="text" id="twitter-consumer_key" placeholder="{{:: 'twitter consumer_key'|translate }}"
      ng-model="provider.config.consumer_key" required
      ng-change="$parent.setConfig(provider)">
    <div class="error" ng-show="error.code === 6100" translate>Twitter authentication failure</div>
</div>
<div class="field">
    <label for="twitter-consumer_secret" translate>twitter consumer_secret</label>
    <input type="password" id="twitter-consumer_secret" placeholder="{{:: 'twitter consumer_secret'|translate }}"
      ng-model="provider.config.consumer_secret" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label for="twitter-access_token_key" translate>twitter access_token_key</label>
    <input type="text" id="twitter-access_token_key" placeholder="{{:: 'twitter access_token_key'|translate }}"
      ng-model="provider.config.access_token_key" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label for="twitter-access_token_secret" translate>twitter access_token_secret</label>
    <input type="password" id="twitter-access_token_secret" placeholder="{{:: 'twitter access_token_secret'|translate }}"
      ng-model="provider.config.access_token_secret" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label for="twitter-screen_names" translate>twitter screen_names</label>
    <input type="text" id="twitter-screen_names" placeholder="{{:: 'comma separated twitter screen names'|translate }}"
      ng-model="provider.config.screen_names" required
      ng-change="$parent.setConfig(provider)">
    <div class="error" ng-show="error.code === 6200" translate>No Screen names specified</div>
</div>
