<div class="field">
    <label for="wufoo_username" translate>Login</label>
    <input type="text" id="wufoo_username" placeholder="{{:: 'Wufoo login'|translate }}"
        ng-model="provider.config.wufoo_username" required
        ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
    <label for="wufoo_api-key" translate>API key</label>
    <input type="password" id="wufoo_api-key" placeholder="{{:: 'Wufoo API Key'|translate }}"
        ng-model="provider.config.wufoo_api_key" required
        ng-change="$parent.setConfig(provider)"
        autocomplete="new-password"
        >
</div>
