@import '~variables.scss';
@import '~mixins.scss';

$panel-width: 550px;

sd-suggest {
    box-sizing: border-box;
    max-width: $panel-width;
    width: 100%;
    border: 1px solid var(--sd-colour-line--medium);
    z-index: 100;
    background: var(--sd-item__main-Bg);
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: -$panel-width;
    height: 100%;
    padding: 48px 0 0;
    overflow-x: scroll;
    //box-shadow: -2px -7px 5px 0 rgba(0,0,0,0.25);

    h6.no-suggestions {
        padding: 15px 18px;
    }

    label {
        display: inline-block;
    }

    .live-suggest {
        &__header {
            inset-block-start:0;
            background: var(--sd-item__main-Bg);

            h3 {color: $sd-text-label;}

            .close i:before {
                cursor: pointer;
                font-weight: bold;
                color: $sd-text;
                position: relative;
                inset-block-start: 13px;
                inset-inline-end: 18px;
            }
        }

        &__body {
            .list-view {
                height: 65%;
                padding: 0;
                overflow-x: scroll;
                box-shadow: none;

                .list-item-view.active .media-box {
                    &:hover {
                        background-color: var(--sd-item__main-Bg--hover) !important;
                    }
                    background-color: transparent !important;
                    border-inline-end: none !important;
                }

                .media-box {
                    padding: 0 18px 10px;

                    .item-info {
                        padding: 10px 0 5px;
                    }
                }
            }
        }
    }

    .item-info {
        padding: 10px 0 5px;

        label {
            color: $sd-text-label;
        }

        &__right {
            float: inline-end;
        }

        &:hover {
            padding: 10px 0 5px;
        }
    }

    i[sd-filetype-icon] {
        color: $grayLight;
        width: 17px;
        position: relative;
        inset-block-start: 3px;
    }

    .keyword {
        color: $sd-keyword;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        margin-inline-end: 10px;
    }

    .word-count span {
        color: $sd-gray-text;
        font-size: 12px;
        font-weight: bold;
    }

    .item-details {
        i.backlink {
            cursor: pointer;
            line-height: 28px;
            font-size: 0.7em;
            font-style: normal;
            padding-inline-start: 35px;
            margin-block-start: 0px;
        }	    

        .headline {
            margin: 13px 0 0;
        }

        .abstract {
            margin: 10px 0;
        }

        &__body {
            padding: 0 18px;
        }
    }
}
