.sd-line-input.sd-line-input--boxed {
    .sd-line-input__input {
        background-color: rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.8);
        padding: 6px 10px 0 10px;
        min-height: 32px;
        border-radius: 2px;
        font-size: 14px;
        line-height: 18px;
        transition: background-color 0.2s, border-bottom-color 0.2s;

        &.focus {
            box-shadow: 0 1px 0 0 #5ea9c8;
            border-color: #5ea9c8;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-bottom-color: rgba(255, 255, 255, 0.23);
        }
    }
}
