@import '~superdesk-ui-framework/app/styles/_mixins.scss';
@import '~superdesk-ui-framework/app/styles/_variables.scss';
@import '~superdesk-ui-framework/app/styles/dropdowns/_basic-dropdown.scss';

.popup {
    &__menu {
        z-index: $zindexDropdown;
        min-width: 100px;
        padding-top: 1rem;
        margin: 0;
        background-color: $dropdownBackground;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .4), 0 3px 1px -2px rgba(0, 0, 0, .1);
        border-radius: 2px;
        text-align: left;

        &--no-padding {
            padding: 0 !important;
        }
    }

    &__menu-divider {
        height: 1px;
        margin: 0.8rem 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    &__menu-label {
        text-transform: uppercase;
        font-size: 1.1rem;
        color: $grayLight;
        font-weight: 500;
        padding-left: 1.6rem;
        margin-bottom: .6rem;
        .popup__menu-close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 0;
            margin: 0;
            border: 0;
            width: auto;
            opacity: .3;
            background-color: transparent;
            cursor: pointer;
            i { margin-right: 0 !important; }
            &:hover, &:focus {
                background-color: transparent;
                opacity: 1;
            }
        }

        &--center {
            padding-left: 0;
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    }

    &__menu-header {
        font-weight: 300;
        font-size: 1.5rem;
        color: $grayLight;
        padding: 1rem 1rem 0 1rem;
        border-bottom: 1px solid #e5e5e5;

        &--no-border {
            border-bottom: none;
        }

        &--no-padding {
            padding: 0 !important;
        }
    }

    &__menu-footer {
        padding: 1rem;
        margin-top: 0.6rem;
        border-top: 1px solid #e5e5e5;
        display: inline-block;
        width: 100%;

        &--no-border {
            border-top: none;
        }

        &--no-padding {
            padding: 0 !important;
        }
    }

    &__menu-content {
        padding: 1rem;
        min-width: 100px;

        &--no-padding {
            padding: 0 !important;
        }
    }
}
