<div sd-modal data-model="item">
    <div class="modal__header"><a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a></div>

    <div class="modal__body">
        <form name="templateForm">
            <div class="main-article">
                <div class="fieldset" sd-article-edit></div>
            </div>
        </form>
    </div>

    <div class="modal__footer">
        <button class="btn" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn--primary" ng-click="kill()" translate>Kill</button>
    </div>
</div>
