<div class="html-preview" ng-bind-html="html"></div>
<div class="annotations" sd-toggle-box="" data-title="{{'Annotations' | translate }}" data-open="true" ng-if="annotations.length > 0">
    <ul class="simple-list simple-list--comfortable">
        <li ng-repeat="annotation in annotations" class="annotation-body simple-list__item">
            <sup class="annotation-id">{{annotation.id}}</sup> <span class="label label--primary label--hollow">{{annotation.type_label}}</span> <span ng-bind-html="annotation.body"></span>
        </li>
    </ul>
</div>
