<div class="item-locked" ng-if="lock.user && !lock.lockbyme">
    <div class="locked-content">
        <span class="lock-sign">
            <i class="icon-lock"></i>
        </span>
        <span class="text">
            <em translate>Locked by</em> {{ lock.user | username }}
            <time sd-datetime data-date="item.lock_time"></time>
        </span>
        <button class="btn btn--text-only btn--alert" ng-click="unlock()" ng-if="can_unlock()" translate>Unlock</button>
    </div>
</div>
<div class="item-locked" ng-if="lock.lockbyme">
    <div class="locked-content">
        <span class="lock-sign">
            <i class="icon-lock"></i>
        </span>
        <span class="text">
            <em translate>Locked by you in another browser</em>
            <time sd-datetime data-date="item.lock_time"></time>
        </span>
        <button class="btn btn--text-only btn--alert" ng-click="unlock()" translate>Unlock</button>
    </div>
</div>
