<ul>
    <li ng-if="labels.length">
        <button option="No label" ng-click="setItemLabel(null);" class="remove">
            <i class="icon-remove"></i>-- {{::'No label'|translate}} --
        </button>
    </li>
    <li ng-if="labels.length" name="package-item-label" ng-repeat="label in labels track by label.qcode">
        <button ng-disabled="isSetItemLabel(label)" option="{{ label.name }}" ng-click="setItemLabel(label);">
             <i class="icon-label"></i>{{ :: label.name | translate }}
        </button>
    </li>
    <li ng-if="!labels.length">
       <button ng-disabled="true">{{::'No available labels'|translate}}</button>
    </li>
</ul>
