<button class="dropdown__toggle" dropdown__toggle>
   {{ selected || 'Show all' | translate}}
    <span class="dropdown__caret"></span>
</button>
<ul class="dropdown__menu pull-right">
    <li ng-repeat="provider in items._facets.provider.terms"><a href="" ng-click="setProvider(provider.term)">{{ provider.term }} <i>({{ provider.count }})</i></a></li>
    <li class="dropdown__menu-divider" ng-show="selected"></li>
    <li ng-show="selected">
        <a href="" ng-click="setProvider(null)" translate>Show All</a>
    </li>
</ul>
