<sd-multi-image-edit
    data-is-upload="true"
    data-images="imagesMetadata"
    data-hide-edit-pane="imagesMetadata.length < 1"
    close-handler="cancel"
    save-handler="handleImageMetadataEdit"
    get-image-url="getImageUrl"
    style="height: 100%; display: flex; flex-direction: column;"
>
    <sd-multi-edit-additional-content>
        <div class="drag-area"
            ngf-drop="addFiles($files)"
            ngf-multiple="!uniqueUpload"
            ngf-drag="drag($isDragging, $class, $event)">
            <div ng-if="isDragging" class="upload__target" style="display: block"></div>
            <div ng-if="(!items.length) && canUpload()" class="upload__info">
                <div class="upload__info-icon"></div>
                <h3 class="upload__info-heading" translate>Drag Your Files Here</h3>
                <div class="upload__info-label" translate>or</div>
                <button ng-click="invokeImagesInput()" class="btn btn--hollow btn--ui-dark upload__info-button" translate>Select them from folder</button>
                <input ng-if="uniqueUpload" id="images-input" type="file" ngf-select="addFiles($files)" class="hide">
                <input ng-if="!uniqueUpload" id="images-input" type="file" ngf-select="addFiles($files)" multiple class="hide">
            </div>
        </div>
    </sd-multi-edit-additional-content>
</sd-multi-image-edit>