<div class="modal__header">
    <button type="button" class="modal__close pull-right" ng-click="cancel()" ng-hide="saving"><i class="icon-close-small"></i></button>
    <h3 class="modal__heading">{{ activity.label | translate }}</h3>
</div>

<div class="modal__body">
    <form name="attachmentsForm">
        <div class="upload-edit" ng-show="items.length">
            <ul class="upload-thumbs flex-grid flex-grid--boxed flex-grid--wrap-items flex-grid--small-4">
                <li ng-repeat="item in items" class="flex-grid__item sd-shadow--z3 sd-card">
                    <div class="thumb sd-card__thumbnail">
                        <div class="holder"><i class="big-icon--text"></i></div>
                        <span class="remove" ng-click="cancelItem(item)"><i class="icon-close-small"></i></span>
                    </div>

                    <div class="sd-card__content">
                        <div class="upload-progress" ng-show="item.progress">
                            <div class="bar" style="width:{{ item.progress }}%"></div>
                        </div>
                        <div class="other-info">
                            <div class="sd-line-input">
                                <label translate>Internal</label><span ng-model="item.meta.internal" sd-switch></span>
                            </div>
                            <div class="sd-line-input sd-line-input--boxed sd-line-input--required">
                                <label class="sd-line-input__label" translate>Title</label>
                                <input class="sd-line-input__input" type="text" ng-model="item.meta.title" required>
                            </div>
                            <div class="sd-line-input sd-line-input--boxed sd-line-input--required">
                                <label class="sd-line-input__label" translate>Description</label>
                                <input class="sd-line-input__input" type="text" ng-model="item.meta.description" required>
                            </div>
                            <div class="sd-line-input sd-line-input--boxed">
                                <label class="sd-line-input__label" translate>File Name</label>
                                <input class="sd-line-input__input" type="text" ng-model="item.file.name" disabled>
                            </div>
                            <div class="sd-line-input sd-line-input--boxed">
                                <label class="sd-line-input__label" translate>File Size</label>
                                <input class="sd-line-input__input" type="text" ng-model="item.file.size" disabled>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>

<div class="modal__footer">
    <span class="pull-left" translate>* fields are required</span>
    <button class="btn btn--primary pull-right" ng-click="save()" ng-disabled="attachmentsForm.$invalid || saving" translate>Upload</button>
    <button class="btn pull-right" ng-click="cancel()" ng-disabled="saving" translate>Cancel</button>
</div>
