// world-clock.scss
// Styling for world clock widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.world-clock {

    .widget-content {
        .clock-container {
            height: 185px;
            overflow: hidden;
            display: flex;
            > div:first-child .clock-box:first-child {
                border-inline-start: 0 !important;
            }
        }
        .clock-item {
            display: contents;
        }
        .clock-box {
            min-height: 185px;
            border-inline-start: 1px solid var(--sd-colour-line--medium);
            min-width: 106px;
            text-align: center;
            flex: 1 1 auto;
            header {
                color: $sd-text;
                font-size: 12px;
                text-transform: uppercase;
                padding: 12px 0 0;
                text-align: center;
            }
            .wclock {
                width: 100%;
                height: 100px;
                text-align: center;
            }
            time {
                display: block;
                font-size: 12px;
                color: $sd-text;
                margin-block-start: 4px;
                text-align: center;
            }
            .date {
                display: block;
                color: $sd-text-lighter;
                font-size: 11px;
                text-align: center;
            }

            &.digital {
                background-color: var(--sd-colour-bg--02);
                color: var(--sd-colour-bg--99);

                header { color: var(--sd-colour-bg--99); }

                time {
                    padding-block-start: 27px;
                    margin-block-end: 15px;
                    font-size: 34px;
                    height: 45px;
                    vertical-align: middle;
                    color: var(--sd-colour-interactive--lighten-30);
                }
            }
        }
    }
    &.widget-config {
        .nav-tabs {
            border-block-end: 1px solid var(--sd-colour-line--medium);
        }
        .tab-content {
            padding: 20px;
            position: absolute;
            inset-inline-start: 0; inset-inline-end: 0; inset-block-end: 0;
            inset-block-start: $nav-height;
            margin: 0;
            padding: 20px;
            display: block;
            width: auto;
        }
        .list-group {
            max-width: 100%;
            max-height: 280px;
            overflow: auto;
            &::-webkit-scrollbar {
                width:10px;
                border-inline-start: 3px solid var(--color-modal-Bg);
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                border-inline-start: 3px solid var(--color-modal-Bg);
                background: var(--sd-colour-line--medium);
            }
        }
    }
}

