<div sd-modal data-model="open" data-close="close()">
    <div class="modal__header"> <a href="" class="modal__close pull-right" ng-click="close()"><i class="icon-close-small"></i></a>
        <h3 class="modal__heading" translate>Select template</h3>
    </div>
    <div class="modal__body">
        <form>
            <fieldset>
                <div class="field">
                    <label for="templateName" translate>Template Name</label>
                    <input type="text" id="templateName"
                        autofocus
                        ng-model="options.templateName"
                        ng-model-options="{debounce: 300}">
                </div>
                <div sd-loading="loading">
                    <div class="field" ng-if="publicTemplates.length">
                        <label translate>Desk Templates</label>
                        <ul sd-template-list
                            data-templates="publicTemplates"
                            data-select="select(template)"></ul>
                    </div>
                    <div class="field" ng-if="privateTemplates.length">
                        <label translate>My Templates</label>
                        <ul sd-template-list
                            data-templates="privateTemplates"
                            data-select="select(template)"></ul>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal__footer">
        <button class="btn" ng-click="close()">Close</button>
    </div>
</div>