.sd-authoring-react {
    position: absolute;
    top: $nav-height;
    left: 0;
    width: 100%;
    height: calc(100% - #{$nav-height} - #{$authoring-opened-articles});
    overflow-y: auto;
    z-index: 100;
    background: $white;
}