missing-translations-strings.js
language-mapping-list.js
*.d.ts
scripts/extensions/*/node_modules
scripts/extensions/**/dist
end-to-end-testing-helpers/dist
end-to-end-testing-helpers/node_modules
e2e/client/node_modules
e2e/client/dist
e2e/client/**/*.js
build-tools/**
scripts/libs/*