bower_components
node_modules
package-lock.json
nbproject
bower
dist
templates-cache.generated.js
.tmp
test-server/env
test-server/__pycache__
e2e-test-results
templates-cache.generated.js
scripts/core/extension-imports.generated.ts
styles/extension-styles.generated.css
spec/**/*.js
.env
npm-debug.log
index.html
yarn-error.log

# VIM related files
*.swo
*.swp
*.swn
*.swm

.vscode
.idea
