bower_components
node_modules
yarn.lock
nbproject
bower
dist
templates-cache.generated.js
.tmp
e2e/server/env
e2e/server/__pycache__
e2e-test-results
templates-cache.generated.js
styles/extension-styles.generated.css
e2e/client/specs/**/*.js

# playwright
e2e/client/test-results/
e2e/client/playwright-report/
e2e/client/playwright/.cache/

.env
npm-debug.log
index.html
yarn-error.log

.history/

# VIM related files
*.swo
*.swp
*.swn
*.swm
.vim/

.vscode
.idea

.DS_Store
