language: python

python: 3.4

sudo: required

services:
    - mongodb
    - elasticsearch
    - redis-server

addons:
  apt:
    sources:
        - mongodb-3.0-precise
        - elasticsearch-1.7
    packages:
        - mongodb-org-server
        - elasticsearch

cache:
    directories:
        - $HOME/.cache/pip
        - $HOME/.npm

before_install:
    - nvm install node
    - nvm use node
    - node --version
    - rm -f .npm/*.lock
    - npm install -g npm@latest
    - npm config set loglevel warn
    - npm install -g grunt-cli
    - export DISPLAY=:99.0 && /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1920x1080x24
    - wget -N --no-verbose 'https://storage.googleapis.com/chromium-browser-continuous/Linux_x64/353893/chrome-linux.zip' && unzip chrome-linux.zip &&
      export CHROME_BIN=`pwd`/chrome-linux/chrome && $CHROME_BIN --version ;

install:
    - npm install --python=python2.7
    - cd test-server && pip install -q -r requirements.txt && cd ..
    - ./node_modules/.bin/webdriver-manager update

before_script: >
    df -h
    && sudo sed -i 's\enabled: true\enabled: false\' /etc/mongod.conf
    && sudo service mongod restart
    && mkdir /tmp/es-backups
    && sudo chown elasticsearch:elasticsearch /tmp/es-backups
    && echo "path.repo: ['/tmp/es-backups']" | sudo tee -a /etc/elasticsearch/elasticsearch.yml
    && echo "index.store.type: memory" | sudo tee -a /etc/elasticsearch/elasticsearch.yml
    && sudo service elasticsearch restart
    && tail -n1 /etc/elasticsearch/elasticsearch.yml
    && sleep 10
    && curl -XPUT 'http://localhost:9200/_snapshot/backups' -d '{"type": "fs", "settings": {"location": "/tmp/es-backups"}}'

script:
    - grunt ci:travis
    - grunt build ;
      cd dist ;
      while [ ! -f index.html ]; do sleep .5; done ;
        (nohup python -m http.server 9000 & );
      cd .. ;
    - cd test-server ;
      nohup python manage.py ;
      (nohup honcho start & ) ;
      sleep 5 ;
      cd ..;
    - ./node_modules/protractor/bin/protractor protractor.conf.js --stackTrace --verbose

after_script:
    - killall -9 python
