
<div class="login-screen" ng-show="active">
    <div class="login-form-container" data-test-id="login-page">
        <p ng-if="identity._id" class="session-error">{{ 'Your session has expired.'|translate }}<br />{{ 'Please log in again.'|translate }}</p>

        <div class="logo-handler" ng-if="!identity.Avatar">
            <img src="/images/superdesk-logo.svg" width="290" alt="Superdesk Logo">
        </div>

        <div class="form-handler" ng-if="!changePassword">
            <figure class="avatar" style="background-image:url('{{ identity.Avatar.href || 'images/avatar_200.png' }}')" ng-if="identity.Avatar"></figure>

            <form name="loginForm" ng-submit="authenticate()" ng-if="features.auth_db">
                <fieldset class="inputs">
                    <input type="text" id="login-username" ng-model="form.username" placeholder="{{ 'username'|translate }}" class="fullwidth-input" ng-disabled="identity.Id" required data-test-id="username" />
                    <input type="password" id="login-password" ng-model="form.password" placeholder="{{ 'password'|translate }}" class="fullwidth-input login-pass" required data-test-id="password" />
                </fieldset>

                <fieldset class="buttons" ng-show="features.auth_db">
                    <button ng-disabled="isLoading" id="login-btn" type="submit" class="btn btn--large btn--sd-green" data-test-id="submit">
                        {{ 'Log In' | translate }}
                        <div class="spinner" ng-show="isLoading">
                          <div class="dot1"></div>
                          <div class="dot2"></div>
                        </div>
                    </button>
                </fieldset>
            </form>

            <div class="links" ng-if="features.auth_db">
                <a href="" ng-click="logout()" class="text" ng-show="identity.Id" translate>Sign in as a different user.</a>
                <a href="/#/reset-password/" class="text" ng-show="features.auth_db && features.reset_user_password" translate>Forgot password?</a>
            </div>

            <div class="error-handler my-2" ng-switch on="loginError">
                <p class="error" data-test-id="login-error-401" ng-switch-when="401" translate>Oops! Invalid Username or Password.<br />Please try again.</p>
                <p class="error" data-test-id="login-error-403" ng-switch-when="403" translate>Sorry, but your account has been suspended.</p>
                <p class="error" data-test-id="login-error-404" ng-switch-when="404" translate>Sorry, user not found.</p>
                <p class="error" data-test-id="login-error-default" ng-show="loginError" ng-switch-default translate>Sorry, but can't reach the server now.<br />Please try again later.</p>

                <div class="network-error red" ng-show="serverStatus == 1">
                    <span class="icon-unplug"></span>
                    <p translate>No server response so far.<br />Let me try again.</p>
                </div>

                <div class="network-error yellow" ng-show="serverStatus > 1">
                    <span class="icon-unplug"></span>
                    <p translate>Trying to reconnect...<br />Please wait.</p>
                </div>
            </div>

            <div class="sd-content-divider--with-text sd-content-divider sd-content-divider--horizontal sd-content-divider--margin-small" role="separator" ng-if="(methods.google || methods.saml) && features.auth_db">
                <span class="sd-content-divider__inner-text" translate>or</span>
            </div>

            <fieldset class="buttons my-2" ng-if="methods.google">
                <button class="btn btn--sd-green btn--large btn--expanded"
                    ng-click="openLoginPopup('google')" translate>Log In with Google</button>
            </fieldset>

            <fieldset class="buttons my-2" ng-if="methods.saml">
                <button class="btn btn--sd-green btn--large btn--expanded"
                    ng-click="openLoginPopup('saml')" translate>{{labels.saml}}</button>
            </fieldset>

        </div>

        <div class="form-handler" ng-if="changePassword">
            <figure class="avatar" style="background-image:url('{{ identity.Avatar.href || 'images/avatar_200.png' }}')" ng-show="identity.Avatar"></figure>
            <div class="error-handler my-2">
                <p class="error" translate>Your password has expired. Please change your password.</p>
            </div>
            <form name="changePasswordForm" ng-submit="changeUserPassword()">
                <fieldset class="inputs">
                    <input type="password" sd-password-strength name="password" ng-model="form.password" placeholder="{{ 'Enter new password'|translate }}" class="fullwidth-input" required />
                </fieldset>
                <fieldset class="inputs">
                    <input type="password" name="passwordConfirm" ng-model="form.passwordConfirm" placeholder="{{ 'Confirm new password'|translate }}" class="fullwidth-input" sd-password-confirm data-password="password" required />
                    <i ng-show="changePasswordForm.passwordConfirm.$error.required" class="required-asteriks">*</i>
                    <div ng-show="changePasswordForm.passwordConfirm.$error.confirm" sd-valid-info>
                        <span translate>passwords must be same</span>
                    </div>
                </fieldset>
                <fieldset class="buttons">
                    <button type="submit" ng-disabled="isLoading || changePasswordForm.$invalid"  class="btn btn--sd-green">
                        {{ 'Change password' | translate }}
                        <div class="spinner" ng-show="isLoading">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        </div>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
