<div class="subnav paneLayout">
    <div class="flat-searchbar monitoring-backlink">
        <div class="search-handler">
            <button class="backlink" ng-click="webPublisher.changeTab('content-lists')"></button>
        </div>
    </div>
    <div class="filter-trigger" title="Filters" ng-click="filterOpen = !filterOpen" ng-class="{'filter-trigger--active': filterOpen}">
        <i class="icon-filter-large"></i>
    </div>
    <h3 class="page-nav-title">{{newList.name}}</h3>
</div>
<div class="paneLayout paneLayout--headerMargin">
    <div class="paneLayout__leftPane paneContent" ng-class="{'paneLayout__leftPane--open': filterOpen}">
        <div class="paneContent__header paneContent__header--dark">
            <h3 class="pull-left" translate>Filter Articles</h3>
            <div ng-click="filterOpen = !filterOpen" class="close-filter">
                <i class="icon-close-small"></i>
            </div>
        </div>
        <div class="paneContent__content paneContent__content--hasFooter contentPadding">
            <form name="" class="flat">
                <fieldset class="label-light">
                    <div class="item">
                        <label for="search" translate>Search</label>
                        <input type="text" name="search" id="search" class="line-input">
                    </div>
                    <div class="item">
                      <label translate>routes</label>
                        <div sd-meta-terms
                            class="data"
                            data-item="webPublisher"
                            data-field="selectedRoutes"
                            data-list="routes"
                            data-unique="id"
                            data-header="true"
                            data-reload-list="true">
                        </div>
                     </div>
                    <div class="item">
                      <label translate>author</label>
                        <div class="multiple" ng-repeat="item in newList.filters.author track by $index">
                            <input type="text" class="line-input" ng-model="newList.filters.author[$index]">
                            <button
                                type="button"
                                class="btn btn--small"
                                ng-click="webPublisher.removeAuthor($index)"
                                tooltip="{{:: 'Remove'|translate}}"
                                tooltip-placement="bottom"
                                tooltip-popup-delay="500">
                                <i class="icon-close-small"></i>
                            </button>
                        </div>
                    </div>
                    <button
                        type="button"
                        class="btn btn--primary btn--small"
                        ng-click="webPublisher.addAuthor()"
                        tooltip="{{:: 'Add author'|translate}}"
                        tooltip-placement="right"
                        tooltip-popup-delay="500">
                        <i class="svg-icon-plus"></i>
                    </button>
                    <div class="item">
                        <label for="publishedAt" translate>publish date</label>
                        <div sd-datepicker data-format="YYYY-MM-DD" name="publishedAt" id="publishedAt" ng-model="newList.filters.publishedAt"></div>
                    </div>
                    <div class="multiple">
                        <div class="field publisherPaddingRight10">
                            <label for="publishedBefore" translate>published before</label>
                            <div sd-datepicker data-format="YYYY-MM-DD" name="publishedBefore" id="publishedBefore" ng-model="newList.filters.publishedBefore"></div>
                        </div>
                        <div class="field">
                            <label for="publishedAfter" translate>published after</label>
                            <div sd-datepicker data-format="YYYY-MM-DD" name="publishedAfter" id="publishedAfter" ng-model="newList.filters.publishedAfter"></div>
                        </div>
                    </div>
                    <div class="item">
                      <label translate>metadata</label>
                        <div class="field" ng-if="webPublisher.metadataList.length>0">
                            <label translate>Name</label>
                            <label translate>Value</label>
                        </div>
                        <div class="multiple" ng-repeat="item in webPublisher.metadataList">
                            <input type="text" class="line-input" ng-model="item.metaName">
                            <input type="text" class="line-input" ng-model="item.metaValue">
                            <button
                                type="button"
                                class="btn btn--small"
                                ng-click="webPublisher.removeMetadata($index)"
                                tooltip="{{:: 'Remove'|translate}}"
                                tooltip-placement="bottom"
                                tooltip-popup-delay="500">
                                <i class="icon-close-small"></i>
                            </button>
                        </div>
          </div>
                    <button
                        type="button"
                        class="btn btn--primary btn--small"
                        ng-click="webPublisher.addMetadata()"
                        tooltip="{{:: 'Add metadata'|translate}}"
                        tooltip-placement="right"
                        tooltip-popup-delay="500">
                        <i class="svg-icon-plus"></i>
                    </button>
                </fieldset>
            </form>
        </div>
        <div class="paneContent__footer">
            <button class="btn btn--primary btn--full" ng-click="" translate>Filter</button>
        </div>
    </div>

    <div class="paneLayout__content verticalLayout">
        <div class="verticalLayout__element verticalLayout__element--border contentPadding dropZone" ng-class="{'dropZone--empty': !models[0].items.length, 'dropZone--active': dragging}">
            <h3 class="text--uppercase text--bold text--smallHeading" translate>Content List Articles</h3>
            <h2 class="dropZone__heading" ng-if="!models[0].items.length">Drag your Articles here</h2>
            <!-- I suppose You will want to use that directive. I failed but will keep it here
                <div sd-list-articles data-list="newList" data-type="draggable"></div>

            This ng-repeat is hacky and I use it only to pass a list so list-articles-draggable will be pretty much ready to work with sd-list-articles directive.
            -->
            <div ng-repeat="list in [models[0]]" ng-include="'scripts/apps/web-publisher/views/list-articles-draggable.html'"></div>

        </div>

        <div class="verticalLayout__element contentPadding">
            <h3 class="text--uppercase text--bold text--smallHeading" translate>Published Articles</h3>
            <!-- same as above -->
            <div ng-repeat="list in [models[1]]" ng-include="'scripts/apps/web-publisher/views/list-articles-draggable.html'"></div>
        </div>
    </div>

</div>
