<div sd-carousel data-model="webPublisher.infoCarouselActive" data-finish="webPublisher.toggleInfoCarousel()">
    <div sd-carousel-step data-code="page1">
        <div class="sd-carousel__page-header">
        <h2 class="sd-carousel__page-heading">Create site wizard</h2>
            <img class="sd-carousel__page-header-illustration" src="scripts/apps/web-publisher/images/carousel-01.png" alt="">
        </div>
        <div class="sd-carousel__page-text">
            <h3>User wizard to create site and apply theme</h3>
            <p>In the Output Settings screen, click on the plus button in top right corner. With thisaction, a modal dialog will open - create site wizard. Within the wizard, just follow steps to create your site and choose theme and apply to your site.</p>
        </div>
        <div class="sd-carousel__page-footer">
            <a class="btn btn--large btn--sd-green" ng-click="webPublisher.toggleInfoCarousel()">Ok, i got it!</a>
        </div>
    </div>
    <div sd-carousel-step data-code="page2">
        <div class="sd-carousel__page-header sd-carousel__page-header--color-2">
            <h2 class="sd-carousel__page-heading">Add new site</h2>
            <img class="sd-carousel__page-header-illustration" src="scripts/apps/web-publisher/images/carousel-02.png" alt="">
        </div>
        <div class="sd-carousel__page-text">
            <h3>Step1: define your site</h3>
            <p>First tab in the modal dialog is <strong>Add Site</strong>. Fill in your new <strong>Site Name</strong> and provide <strong>Domain Name</strong>, in form www.domain.com. Click continue.
            </p>
        </div>
        <div class="sd-carousel__page-footer">
            <a class="btn btn--large btn--sd-green" ng-click="webPublisher.toggleInfoCarousel()">Ok, i got it!</a>
        </div>
    </div>
    <div sd-carousel-step data-code="page3">
        <div class="sd-carousel__page-header sd-carousel__page-header--color-3">
            <h2 class="sd-carousel__page-heading">Choose the theme</h2>
            <img class="sd-carousel__page-header-illustration" src="scripts/apps/web-publisher/images/carousel-03.png" alt="">
        </div>
        <div class="sd-carousel__page-text">
            <h3>Step2: Browse through available themes</h3>
            <p>On the <strong>Install Theme</strong> tab, you can quickly browse throught available themes list. By clicking on details/install button you can check theme details and install the theme. <strong>Preview</strong> will open new browser tab with theme demo instance, with predefined content.</p>
        </div>
        <div class="sd-carousel__page-footer">
            <a class="btn btn--large btn--sd-green" ng-click="webPublisher.toggleInfoCarousel()">Ok, i got it!</a>
        </div>
    </div>
    <div sd-carousel-step data-code="page4">
        <div class="sd-carousel__page-header sd-carousel__page-header--color-3">
            <h2 class="sd-carousel__page-heading">Install the theme</h2>
            <img class="sd-carousel__page-header-illustration" src="scripts/apps/web-publisher/images/carousel-04.png" alt="">
        </div>
        <div class="sd-carousel__page-text">
            <h3>Step3: Check theme details and install the theme</h3>
            <p>Once you entered theme details, you can check additional information about the theme. If you like the theme, you can install it, by clicking on <strong>Install</strong> button. You can easily get back to themes list by clicking on left arrow.</p>
        </div>
        <div class="sd-carousel__page-footer">
            <a class="btn btn--large btn--sd-green" ng-click="webPublisher.toggleInfoCarousel()">Ok, i got it!</a>
        </div>
    </div>
    <div sd-carousel-step data-code="page5">
        <div class="sd-carousel__page-header sd-carousel__page-header--color-3">
            <h2 class="sd-carousel__page-heading">Activate the theme</h2>
            <img class="sd-carousel__page-header-illustration" src="scripts/apps/web-publisher/images/carousel-05.png" alt="">
        </div>
        <div class="sd-carousel__page-text">
            <h3>Step4: Activate the theme</h3>
            <p>Once you finish install process, you have to <strong>activate</strong> the theme to be able to use it on your site.</p>
        </div>
        <div class="sd-carousel__page-footer">
            <a class="btn btn--large btn--sd-green" ng-click="webPublisher.toggleInfoCarousel()">Ok, i got it!</a>
        </div>
    </div>
    <div sd-carousel-step data-code="page6">
        <div class="sd-carousel__page-header sd-carousel__page-header--color-3">
            <h2 class="sd-carousel__page-heading">Configure site or done</h2>
            <img class="sd-carousel__page-header-illustration" src="scripts/apps/web-publisher/images/carousel-06.png" alt="">
        </div>
        <div class="sd-carousel__page-text">
            <h3>Step5: Finish or continue configuring your site</h3>
            <p>This is last step in the wizard. After you activated chosen theme it should be marked as green. At this point you can finish (click <strong>done</strong> button), or continue configuring your website. If you click <strong>Configure site</strong>, main settings dialog will open so you can set routes, navigation etc.</p>
        </div>
        <div class="sd-carousel__page-footer">
            <a class="btn btn--large btn--sd-green" ng-click="webPublisher.toggleInfoCarousel()">Ok, i got it!</a>
        </div>
    </div>
</div>
