<div sd-modal data-model="true" data-full="true" class="modal--fullscreen publisherManager" ng-init="webPublisher.activeTab = 'general'">
    <div class="modal__header">
        <h3 class="modal__heading pull-left"><span translate>Manage:</span> <b>{{newSite.name}}</b></h3>
        <div class="pull-right">
            <button class="btn" ng-click="webPublisher.toggleEditSite()" translate>Close</button>
            <button
                class="btn"
                ng-disabled="webPublisher.siteForm.$invalid || !webPublisher.siteForm.$dirty"
                ng-show="webPublisher.activeTab === 'general'"
                ng-click="webPublisher.cancelEditSite()"
                translate>Cancel</button>
            <button
                class="btn btn--primary"
                ng-disabled="webPublisher.siteForm.$invalid || !webPublisher.siteForm.$dirty"
                ng-show="webPublisher.activeTab === 'general'"
                ng-click="webPublisher.saveSite()"
                translate>Save</button>
        </div>
    </div>
    <div class="modal__body sidebarLayout">
        <div class="sidebarLayout__sidebar">
            <ul class="nav nav--stackedPublisher">
                <li ng-class="{active: webPublisher.activeTab === 'general'}">
                    <button ng-click="webPublisher.changeTab('general')" translate>General</button>
                </li>
                <li ng-class="{active: webPublisher.activeTab === 'routes'}">
                    <button ng-click="webPublisher.changeTab('routes')"
                        ng-disabled="!webPublisher.selectedSite.code || webPublisher.siteForm.$dirty"
                        translate>Routes</button>
                </li>
                <li ng-class="{active: webPublisher.activeTab === 'navigation' || webPublisher.activeTab === 'navigation-menu'}">
                    <button ng-click="webPublisher.changeTab('navigation')"
                        ng-disabled="!webPublisher.selectedSite.code || webPublisher.siteForm.$dirty"
                        translate>Navigation</button>
                </li>
            </ul>
        </div>
        <div class="sidebarLayout__content" ng-switch="webPublisher.activeTab">
            <div ng-if="webPublisher.activeTab === 'general'" class="modal__header modal__header--padding-20 ng-scope">
                <h3 class="page-nav-title--text-light" translate="">General</h3>
            </div>
            <form name="webPublisher.siteForm">
                <fieldset ng-switch-when="general" class="paneContent__main">
                    <div class="field">
                        <label for="name" translate>Web Site Name:</label>
                        <input type="text" name="name" ng-model="newSite.name" class="line-input" required/>
                    </div>
                    <div class="field">
                        <label for="domainName" translate>Domain Name:</label>
                        <input type="text" ng-trim="false" ng-change="newSite.domainName = newSite.domainName.split(' ').join('')" name="domainName" ng-model="newSite.domainName" class="line-input" required/>
                    </div>
                    <div class="field">
                        <label for="subdomain" translate>Subdomain Name:</label>
                        <input type="text" ng-trim="false" ng-change="newSite.subdomain = newSite.subdomain.split(' ').join('')" name="subdomain" ng-model="newSite.subdomain" class="line-input"/>
                    </div>
                </fieldset>
            </form>
            <div ng-switch-when="routes">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/routes.html'"></div>
            </div>
            <div ng-switch-when="navigation">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/navigation.html'"></div>
            </div>
            <div ng-switch-when="navigation-menu">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/navigation-menu-tree.html'"></div>
            </div>
            <div ng-switch-when="content-bucket">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/content-bucket.html'"></div>
            </div>
            <div ng-switch-when="content-list-bucket">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/content-list-bucket.html'"></div>
            </div>
        </div>
    </div>
</div>
