<div sd-modal data-model="true" data-full="true" class="modal--fullscreen publisherManager" ng-init="webPublisher.activeTab = 'general'">
    <div class="modal-header">
        <h3 class="pull-left"><span translate>Manage:</span> <b>{{new.name}}</b></h3>
        <div class="pull-right">
            <button class="btn" ng-click="webPublisher.toogleCreateSite()" translate>Close</button>
            <button
                class="btn btn--primary"
                ng-disabled="webPublisher.createForm.$invalid || !webPublisher.createForm.$dirty"
                ng-click="webPublisher.save()"
                translate>Save</button>
        </div>
    </div>
    <div class="modal-body sidebarLayout">
        <div class="sidebarLayout__sidebar">
            <ul class="nav nav--stackedPublisher">
                <li ng-class="{active: webPublisher.activeTab === 'general'}">
                    <button ng-click="webPublisher.changeTab('general')" translate>General</button>
                </li>
                <li ng-class="{active: webPublisher.activeTab === 'routes'}">
                    <button ng-click="webPublisher.changeTab('routes')"
                        ng-disabled="!webPublisher.siteCode || webPublisher.createForm.$dirty"
                        translate>Routes</button>
                </li>
                <li ng-class="{active: webPublisher.activeTab === 'navigation'}">
                    <button ng-click="webPublisher.changeTab('navigation')"
                        ng-disabled="!webPublisher.siteCode || webPublisher.createForm.$dirty"
                        translate>Navigation</button>
                </li>

                <li ng-class="{active: webPublisher.activeTab === 'contentLists'}">
                    <button ng-click="webPublisher.changeTab('contentLists')"
                        ng-disabled="!webPublisher.siteCode || webPublisher.createForm.$dirty"
                        translate>Content Lists</button>
                </li>
            </ul>
        </div>
        <div class="sidebarLayout__content" ng-switch="webPublisher.activeTab">
            <form name="webPublisher.createForm">
                <fieldset ng-switch-when="general" class="contentPadding">
                    <div class="field">
                        <label for="name" translate>Web Site Name:</label>
                        <input type="text" name="name" ng-model="new.name" required/>
                    </div>
                    <div class="field">
                        <label for="subdomain" translate>Subdomain Name:</label>
                        <input type="text" name="subdomain" ng-model="new.subdomain" required/>
                    </div>
                </fieldset>
            </form>
            <div ng-switch-when="routes">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/routes.html'"></div>
            </div>
            <div ng-switch-when="navigation" class="navigation-main">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/navigation.html'"></div>
            </div>
            <div ng-switch-when="contentLists">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/content-lists.html'"></div>
            </div>
            <!-- temp: this is temporary. I suppose it should be done other way. I just needed some place to work on ui -->
            <div ng-switch-when="contentListAutomatic" class="contentListEditPage">
                <div ng-include="webPublisher.TEMPLATES_DIR + '/content-list-automatic.html'"></div>
            </div>
        </div>
    </div>
</div>
