<div class="subnav">
    <h3 class="page-nav-title"><span translate>Navigation</span></h3>
    <div class="subnav__button-stack--square-buttons">
        <button class="navbtn sd-create-btn" ng-click=""><i class="svg-icon-plus"></i><span class="circle"></span></button>
    </div>
</div>

<div class="flex-grid box wrap-items small-1 medium-3 large-4 xlarge-6">

    <div class="flex-item card-box" ng-repeat="menu in menus track by menu.id">
        <div class="card-box__header">
            <div class="dropdown" dropdown>
                <button class="dropdown__toggle" dropdown__toggle>
                    <i class="icon-dots-vertical"></i>
                </button>
                <ul class="dropdown__menu more-activity-menu pull-right">
                    <li><div class="menu-label" translate>Actions</div></li>
                    <li class="divider"></li>
                    <li>
                        <button ng-click="" title="{{:: 'Edit menu'| translate }}"><i class="icon-pencil"></i>{{:: 'Edit'| translate}}</button>
                    </li>
                    <li>
                        <button ng-click="" title="{{:: 'Remove menu'| translate }}"><i class="icon-trash"></i>{{:: 'Remove'| translate}}</button>
                    </li>
                </ul>
            </div>
            <div class="card-box__heading">{{ menu.label }}</div>
        </div>
        <div class="card-box__content">
            <ul class="card-box__content-list">
                <li ng-repeat="child in menu.children track by child.id">
                    <h4>{{ child.label }}<span class="label">{{ child.children.length }}</span></h4>
                </li>
            </ul>
        </div>
    </div>

</div>
