<div class="subnav paneLayout">
    <div class="flat-searchbar monitoring-backlink">
        <div class="search-handler">
            <button class="backlink" ng-click="webPublisher.changeTab('navigation')"></button>
        </div>
    </div>
    <h3 class="page-nav-title">{{menu.label}}</h3>
    <div class="subnav__button-stack--square-buttons dropdown open">
        <button class="navbtn sd-create-btn" ng-click="webPublisher.toogleCreateMenu()">
            <i class="svg-icon-plus"></i><span class="circle"></span>
        </button>
    </div>
</div>
<div class="paneLayout paneLayout--headerMargin">
    <div class="paneLayout__content">
        <div class="contentPadding">
            <ul class="treeList">
                <li ng-repeat="data in menu.children" ng-include="webPublisher.TEMPLATES_DIR + '/navigation-tree-renderer.html'"></li>
            </ul>
        </div>
    </div>
    <div class="paneLayout__pane" ng-class="{'paneLayout__pane--open': webPublisher.menuPaneOpen}">
        <div class="modal-header">
            <h3 class="pull-left" translate>Add Menu Item</h3>
            <div class="pull-right">
                <button class="btn" ng-click="webPublisher.toogleCreateMenu()" translate>Cancel</button>
                <button class="btn btn--primary" 
                    ng-disabled="webPublisher.menuForm.$invalid || !webPublisher.menuForm.$dirty" 
                    ng-click="webPublisher.saveMenu(webPublisher._refreshCurrentMenu)" translate>Save</button>
            </div>
        </div>
        <div class="contentPadding">
            <form name="webPublisher.menuForm" class="flat">
                <fieldset class="label-light">
                    <div class="item">
                        <label for="menuName" translate>name</label>
                        <input type="text" class="line-input" id="menuName" ng-model="newMenu.name" required>
                    </div>

                    <div class="item">
                        <label for="menuLabel" translate>label</label>
                        <input type="text" class="line-input" id="menuLabel" ng-model="newMenu.label" required>
                    </div>

                    <div class="item">
                        <label for="menuParent" translate>parent</label>
                        <select id="menuParent" class="dropdown__toggle line-input" ng-model="newMenu.parent"
                            ng-options="parent.id as parent.label for parent in menusInTree" required>
                            <option value="">
                        </select>
                    </div>

                    <div class="item">
                        <label for="menuRoute" translate>route</label>
                        <select id="menuRoute" class="dropdown__toggle line-input" ng-model="newMenu.route"
                            ng-options="route.id as route.name for route in routes" required>
                            <option value="">
                        </select>
                    </div>

                    <div class="item">
                        <label for="menuUri" translate>uri</label>
                        <input type="text" class="line-input" id="menuUri" ng-model="newMenu.uri">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
