<div class="desk__header">
    <div class="desk__name">
        {{ site.name }}
    </div>
    <div class="desk__action dropdown" dropdown>
        <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots"></i></button>
        <ul class="dropdown-menu pull-right">
            <li><button ng-click="webPublisher.editSite(site)"><i class="icon-pencil"></i> {{ 'Manage website' | translate }}</button></li>
            <li><button ng-click="webPublisher.remove(site.code)"><i class="icon-trash"></i> {{ 'Delete website' | translate }}</button></li>
        </ul>
    </div>
</div>

