<div class="listElement">
    <div class="listElement__icon">
        <li class="icon-chevron-down-thin"></li>
        <!-- OR <li class="icon-chevron-right-thin"></li> -->
    </div>
    <div class="listElement__icon">
        <i class="icon-align-justify"></i>
        <!-- OR <i class="icon-text"></i> -->
    </div>
    <!-- type content goes without --bold -->
    <div class="listElement__content">
        <strong>Sports</strong>
    </div>
    <div class="listElement__right">
        <span class="countLabel">123</span>
        <div class="dropdown pull-right" dropdown>
            <button class="dropdown__toggle" dropdown__toggle>
                <i class="icon-dots-vertical"></i>
            </button>
            <ul class="dropdown__menu more-activity-menu pull-right">
                <li><button ng-click="" title=""><i class="icon-pencil"></i>{{:: 'Edit'| translate}}</button></li>
                <li><button ng-click="" title=""><i class="icon-trash"></i>{{:: 'Delete'| translate}}</button></li>
            </ul>
        </div>
    </div>
</div>