@import '~superdesk-ui-framework/app/styles/_mixins.scss';
@import '~superdesk-ui-framework/app/styles/_variables.scss';

.time-popup {
    width: 200px;

    &__header-row {
        display: flex;
        flex-direction: row;

        .btn {
            flex: 1;
            padding: 4px 6px;
            font-size: 11px;
        }
    }

    &__footer {
        .btn {
            height: 28px;
        }
    }

    &__select-area {
        margin-top: 15px;
        border-top: 1px solid #ddd;
        .header {
            margin-top: -10px;
            float: left;
            background: $white;
            text-transform: uppercase;
            color: #adadad;
            font-size: 11px;
            padding-right: 10px;
        }
        ul {
            padding-top: 15px;
            @include clearfix();
            > li {
                float: left;
                @include border-box();
                width: 28px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                margin: 0 2px 2px 0;
                @include border-radius(2px);
                &:hover {
                    background: $sd-hover;
                    cursor: pointer;
                }
                &.active {
                    background: $sd-blue;
                    color: $white;
                }
            }
        }
    }
}
