<div ng-if="loading" class="item-group__loading"></div>
<div ng-if="!loading && !items.length && showEmpty" class="item-group__no-items" translate>No items in this stage</div>
<div tabindex="0">
    <ul ng-if="items.length" class="inline-content-items">
        <li ng-repeat="item in items track by generateTrackByIdentifier(item)" class="content-item"
            ng-click="action({item: item})"
            ng-dblclick="$root.config.features.customMonitoringWidget && edit(item); $event.stopPropagation();"
            ng-init="$root.config.features.customMonitoringWidget && $first && !selected ? action({item: item}) : false"
            ng-class="{'content-item--locked': item.lock_user, shifted: allowed, 
                active: item._id === selected._id, 'custom-monitoring': $root.config.features.customMonitoringWidget}">
            <div class="content-item__type">
                <i sd-filetype-icon data-item="item"></i>
            </div>
            <div class="content-item__urgency-field" sd-item-urgency data-urgency="item.urgency"></div>
            <div class="content-item__text">
                <span class="keywords">{{item.slugline}}</span>
                <span id="title" class="headline">{{item.headline}}</span>
            </div>
            <div class="content-item__date">
                <time sd-datetime data-date="item.versioncreated"></time>
            </div>
            <div class="content-item__action" ng-if="allowed">
                <button ng-click="preview(item); $event.stopPropagation();" title="{{ :: 'Preview' | translate }}"><i class="icon-external"></i></button>
                <button ng-if="!$root.config.features.customMonitoringWidget" ng-click="edit(item); $event.stopPropagation();" title="{{ :: 'Edit' | translate }}"><i class="icon-pencil"></i></button>
            </div>
        </li>
    </ul>
</div>
