<a class="sd-sidebar-menu__btn"
    title="{{ :: item.label | translate }}"
    ng-href="#{{ :: item.href }}"
    ng-click="hideMonitoring(currentRoute.href === item.href, $event)"
    sd-hotkey="{{ item.shortcut }}" sd-hotkey-options="{global: true}"
    ng-class="{'sd-sidebar-menu__btn--active': item.href === activeMenuItemPath}"
    data-test-id="{{item.label}}"
>
    <i class="sd-sidebar-menu__main-icon big-icon--{{ item.icon }}"></i>
    <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
</a>