<li ng-class="{active: currentRoute.href === '/workspace'}">
    <a href="#/workspace" ng-click="hideMonitoring(currentRoute.href === '/workspace', $event)"
       title="{{ :: 'Dashboard' | translate }}" sd-hotkey="alt+h" sd-hotkey-options="{global: true}">
        <i class="big-icon-dashboard main-icon"></i>
        <i class="big-icon-chevron-left helper-icon"></i>
    </a>
</li>
<li ng-class="{active: currentRoute.href === '/workspace/monitoring'}">
    <a href="#/workspace/monitoring" ng-click="hideMonitoring(currentRoute.href === '/workspace/monitoring', $event)"
       title="{{ :: 'Monitoring' | translate }}" sd-hotkey="alt+m" sd-hotkey-options="{global: true}">
        <i class="big-icon-view main-icon"></i>
        <i class="big-icon-chevron-left helper-icon"></i>
    </a>
</li>
<li ng-class="{active: currentRoute.href === '/workspace/highlights'}">
    <div class="dropdown dropdown--dropright dropdown--hover highlights-dropdown"
         title="{{ :: 'Highlights' | translate }}"
         sd-hotkey="alt+d" sd-hotkey-options="{global: true}" sd-hotkey-callback="highlightsHotkey"
         dropdown sd-package-highlights-dropdown>
    </div>
</li>
<li ng-class="{active: currentRoute.href === '/workspace/tasks'}" ng-if="privileges.tasks && workspaceConfig.tasks">
    <a href="#/workspace/tasks" ng-click="hideMonitoring(currentRoute.href === '/workspace/tasks', $event)"
       title="{{ :: 'Tasks' | translate }}" sd-hotkey="alt+t" sd-hotkey-options="{global: true}">
        <i class="big-icon-tasks main-icon"></i>
        <i class="big-icon-chevron-left helper-icon"></i>
    </a>
</li>
<li ng-class="{active: currentRoute.href === '/workspace/spike-monitoring'}">
    <a href="#/workspace/spike-monitoring" ng-click="hideMonitoring(currentRoute.href === '/workspace/spike-monitoring', $event)"
       title="{{ :: 'Spike' | translate }}" sd-hotkey="alt+x" sd-hotkey-options="{global: true}">
        <i class="big-icon-spiked main-icon"></i>
        <i class="big-icon-chevron-left helper-icon"></i>
    </a>
</li>
<li ng-class="{active: currentRoute.href === '/workspace/content'}" ng-if="workspaceConfig.content && privileges.archive">
    <a href="#/workspace/content" title="{{ :: 'Content' | translate }}">
      <i class="big-icon-archive main-icon"></i>
      <i class="big-icon-chevron-left helper-icon"></i>
    </a>
</li>

<hr>
<li ng-class="{active: currentRoute.href === '/workspace/personal'}">
    <a href="#/workspace/personal" ng-click="hideMonitoring(currentRoute.href === '/workspace/personal', $event)"
       title="{{ :: 'Personal' | translate }}" sd-hotkey="alt+p" sd-hotkey-options="{global: true}">
        <i class="big-icon-personal main-icon"></i>
        <i class="big-icon-chevron-left helper-icon"></i>
    </a>
</li>
<li ng-class="{active: currentRoute.href === '/search'}">
   <div class="dropdown dropdown--dropright dropdown--hover highlights-dropdown" dropdown>
      <a href="#/search" class="dropdown__toggle"
        title="{{ :: 'Search' | translate }}"
        sd-hotkey="alt+f" sd-hotkey-options="{global: true}"
        ng-click="hideMonitoring(currentRoute.href === '/search', $event)">
          <i class="big-icon-global-search main-icon"></i>
          <i class="big-icon-chevron-left helper-icon"></i>
      </a>
      <ul ng-if="$root.config.features.scanpixSearchShortcut && providers.length > 0" class="dropdown__menu pull-left">
        <li ng-repeat="provider in providers track by provider._id">
            <button ng-click="loadScanpixSearch(provider.source)">
              {{:: provider.source}}
            </button>
        </li>
      </ul>
    </div>
</li>

<hr>
<li ng-class="{active: currentRoute.href === '/analytics'}">
    <a href="#/analytics" title="{{ :: 'Analytics' | translate }}">
      <i class="big-icon-archive main-icon"></i>
      <i class="big-icon-chevron-left helper-icon"></i>
    </a>
</li>

<!-- this is something like deprecated.. don't add, only remove -->
<hr ng-if="workspaceConfig.ingest">
<li ng-if="workspaceConfig.ingest && privileges.ingest"
    ng-class="{active: currentRoute.href === '/workspace/ingest'}">
    <a href="#/workspace/ingest" class="big-icon-ingest"
       title="{{ :: 'Ingest' | translate }}"></a>
</li>
