<a class="sd-sidebar-menu__btn"
    title="{{ :: item.label | translate }}"
    aria-label="{{ :: item.label | translate }}"
    ng-href="#{{ :: item.href }}"
    ng-click="hideMonitoring(currentRoute.href === item.href, $event)"
    sd-hotkey="{{ item.shortcut }}" sd-hotkey-options="{global: true}"
    ng-class="{'sd-sidebar-menu__btn--active': item.href === activeMenuItemPath}"
    data-test-id="{{item.label}}"
>
    <span class="sd-sidebar-menu__main-icon element-with-badge">
        <i class="big-icon--{{ item.icon }}"></i>

        <span
            ng-if="badges[item.id] != null"
            class="badge badge--highlight"
            
        >
            {{badges[item.id]}}
        </span>
    </span>

    <span class="sd-sidebar-menu__chevron_wrapper">
        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
    </span>
</a>