<header class="package-header">
    <div class="inputs">
        <div class="field">
            <label translate>Headline</label>
            <span sd-character-count data-item="item.headline" data-limit="schema.headline.maxlength"></span>
            <textarea
                class="title"
                id="title"
                sd-auto-height
                ng-model="item.headline"
                ng-change="autosave(item)"
                ng-if="_editable"
                ng-trim="false"></textarea>
            <div class="title" ng-if="!_editable">{{item.headline}}</div>
        </div>
    </div>
</header>

<div class="field composite-preview">
    <div sd-package-items-edit ng-model="item.groups" ng-if="_editable"></div>
    <div sd-package data-item="item" class="composite-preview" ng-if="!_editable"></div>
</div>


