// BUTTON STYLES
// -------------
/* new button colors */

$btnDefaultColor: rgba(50,50,50,0.25);
$btnInfoColor: $sd-blue;
$btnGreenColor: #169f70;
$btnSuccessColor: #53a93f;
$btnDangerColor: #c83929;
$btnInverseColor: #141414;
$btnCustomColor: #666;
$btnPublishColor: #01579B;
$btnPublishPlusColor: #623b7a;
$btnLightGray: $grayLight;

//mixin
@mixin buttonStates($background: $btnDefaultColor, $color: $sd-text) {
    color: $color;
    background-color: $background;
    &:hover, &:focus {
        background-color: darken($background, 15%);
        @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.30));
        text-decoration: none;
        color: $color;
    }
    &:focus {
        outline:none !important;
    }
    &--active, &:active {
        background-color: $background;
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,.4));
    }
    &--disabled, &[disabled], &--disabled:hover, &[disabled]:hover, &--disabled:focus, &[disabled]:focus, &--disabled:active, &[disabled]:active {
        cursor: default;
        @include opacity(20);
        @include box-shadow(none);
        background-color: $background;
    }
}


// Base styles
// --------------------------------------------------

// Core
.btn {
    display: inline-block;
    padding: 8px 20px;
    height: 28px;
    line-height: 12px;
    margin-bottom: 0; // For input.btn
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    @include border-radius(2px);
    cursor: pointer;
    border: 0;
    outline:none !important;
    @include box-sizing(border-box);
    @include transition(all .2s ease-in-out);
    [class^="icon-"], [class*=" icon-"]{
        margin-top: -4px;
        margin-right: 3px;
        vertical-align: middle;
    }

    //other states
    @include buttonStates();
}

.btn--primary {
    @include buttonStates($btnInfoColor, $white);
}
.btn--green {
    @include buttonStates($btnGreenColor, $white);
}
.btn--success {
    @include buttonStates($btnSuccessColor, $white);
}
.btn--danger {
    @include buttonStates($btnDangerColor, $white);
}
.btn--inverse {
    @include buttonStates($btnInverseColor, $white);
}
.btn--custom {
    @include buttonStates($btnCustomColor, $white);
    white-space: nowrap;
}
.btn--publish {
    @include buttonStates($btnPublishColor, $white);
    white-space: nowrap;
}
.btn--publish-plus {
    @include buttonStates($btnPublishPlusColor, $white);
    white-space: nowrap;
}
.btn--light-gray {
    @include buttonStates($btnLightGray, $white);
    white-space: nowrap;
}

.btn--light {
    background-color: transparent;
    &:hover, &:focus {
        background-color: rgba(152,152,152,0.15);
        @include box-shadow(none);
    }
    &.btn--active, &:active {
        background-color: rgba(152,152,152,0.3);
        @include box-shadow(none);
    }
    &.btn--disabled, &[disabled], &.btn--disabled:hover, &[disabled]:hover, &.btn--disabled:focus, &[disabled]:focus, &.btn--disabled:active, &[disabled]:active {
        background: transparent;
    }
}

.btn--circle {
    width: 22px; height: 22px;
    padding: 0;
    border-radius: 50%;
    [class^="icon-"] { margin: 0; }
}

button {
    outline:none !important;
    &:focus {
        outline:none !important;
    }
}

// Focus state for keyboard and accessibility
.btn:focus {
    @include tab-focus();
}

// Button Sizes
// --------------------------------------------------


.btn--full {
    width: 100%;
}

.btn--large {
    padding: 13px 30px;
    font-size: 14px;
    line-height: 14px;
    @include border-radius(5px);
    height: 40px;
}
.btn--large [class^="icon-"] {
    margin-top: 1px;
}

.btn--medium {
    padding: 12px 25px;
    @include border-radius(3px);
    height: 32px;
}

.btn--small {
    padding: 8px 9px;
    font-size: 11px;
    line-height: 11px;
}
.btn--small [class^="icon-"] {
    margin-top: -1px;
}

.btn--mini {
    padding: 4px 6px;
    font-size: 11px;
    line-height: 11px !important;
    height: 20px;
}

.btn--pull-right {
    margin-left:10px;
    float: right;
}

.btn--pull-left {
    float: left;
}
