// content-filters.scss
// Styling for the superdesk content filters module
// ----------------------------------------------------------------------------------------

@import '~mixins.scss';
@import '~variables.scss';

.pull-right-20 {
    float: right;
    margin-right: 65px;
}
.pull-left-20 {
    float: left;
    margin-left: 65px;
}
.panel-search {
    float: left;
    width: 30%;
}
.panel-search-result {
    float: right;
    width: 70%;
    .column-width {
        width:50%;
    }
}
.panel-subscriber {
    float: right;
    width: 70%;
}
div {
    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;
}


.filter-result-modal {
    position: absolute;
    .content {
        .active {
            background-color: #eff7fa !important;
            border-right: 2px solid rgba(94,169,200,0.75) !important;
            &:hover {
                .item-functions {
                    background-color: #eff7fa;
                    .item-field {
                        &:hover {
                            background-color: #d6e8ef;
                        }
                        &.disabled {
                            &:hover {
                                background-color: #d6e8ef;
                            }
                        }
                    }
                }
            }
        }
    }
    .filter-result-body {
        flex: 1 1 auto !important;
    }
}

.filter-condition-modal {
    .modal-body {
        overflow-y: inherit !important;
    }
}

.content-filter-modal {    
    .content {
        .field {
            margin-bottom: 10px;
            textarea {
                height: 22px;
            }
        }
    }

    .modal__body {
        .filter-tags {
            margin-bottom: 10px;
            overflow: hidden;
            padding: 12px;
            @include shadow-box;
        }
    }
}

.destination-box {
    margin: 0 0 12px 0;
    padding: 12px 12px 0;
    @include shadow-box;
}

.subscriber-modal {
    position: absolute;
    .content {
        .field {
            margin-bottom: 10px;
            textarea {
                height: 22px;
            }
        }
    }
    .add {
        margin-top: -3px;
        position: absolute;
        padding: 0;
        margin-left: 20px;
        height: 22px;
        width: 22px;
        @include border-radius(50%);
        line-height: 20px;
        i {
            margin-left: 2px;
        }
    }
    .pills-list {
        margin-top: 10px;
        max-width: 100%;
        li {
            margin: 0 5px 5px 0;
        }
    }
}
