<div ng-show="vm.config.embeds" class="add-content" ng-class="{'add-content--expanded': vm.expanded}">
    <button class="add-content__plus-btn dropdown__toggle sd-create-btn"
            ng-click="$event.preventDefault(); vm.toogleExpand()">
        <i class="svg-icon-plus"></i>
        <span class="circle"></span>
    </button>
    <div class="add-content__actions" ng-show="vm.expanded">
        <span ng-click="vm.triggerAction('addEmbed')"
              sd-tooltip="{{ :: 'add an embed' | translate }}"
              flow="right">
            <i class="icon-code"></i>
        </span>
        <span ng-click="vm.triggerAction('addPicture')"
              sd-tooltip="{{ :: 'add a picture' | translate }}"
              flow="right">
            <i class="icon-photo"></i>
        </span>
        <span ng-click="vm.triggerAction('pasteBlock')"
              sd-tooltip="{{ :: 'paste a block' | translate }}"
              flow="right"
              ng-if="vm.isSomethingInClipboard()">
            <i class="icon-paste"></i>
        </span>
    </div>
</div>
