<div class="editor" ng-show="vm.editable">
    <textarea ng-model="vm.embedCode" class="editor--embed"></textarea>
    <a class="btn btn--small" ng-click="vm.cancel(); vm.toggleEdition()" translate>Cancel</a>
    <a class="btn btn--small" ng-click="vm.saveEmbedCode(); vm.toggleEdition()" translate>Save</a>
</div>
<div class="preview" ng-show="!vm.editable">
    <div class="preview--embed"
         ng-click="vm.model.association && vm.isEditable(vm.model.association) && vm.editPicture(vm.model.association)"
         ng-class="{'preview--embed--loading': vm.model.loading}"
         sd-html-preview="vm.model.body">
    </div>
    <!-- TODO: find a new design for that -->
    <!-- <a class="btn btn--small" ng-click="vm.toggleEdition()" translate>Edit the code</a> -->
</div>
<div class="editor--caption">
    <textarea sd-remove-tags
              sd-auto-height
              tansa-scope-sync
              ng-if="vm.config.imageTitle"
              placeholder="{{'Title'|translate}}"
              ng-model="vm.title"
              ng-model-options="{debounce: 1000}"
              ng-change="vm.saveCaption(vm.caption, vm.title)"
              ng-paste="vm.handlePaste($event)"
              class="image-caption line-input">
    </textarea>
    <textarea sd-remove-tags
              sd-auto-height
              tansa-scope-sync
              placeholder="{{'Description'|translate}}"
              ng-model="vm.caption"
              ng-model-options="{debounce: 1000}"
              ng-change="vm.saveCaption(vm.caption, vm.title)"
              ng-paste="vm.handlePaste($event)"
              class="image-caption line-input">
    </textarea>
</div>
