<div class="dropdown" dropdown data-is-open="openDropdown">
    <sd-add-content ng-if="config.multiBlockEdition" class="text-editor__add-content"></sd-add-content>
    <pre class="text-editor editor-type-text"
        ng-show="type=='preformatted'"
        spellcheck="false">
    </pre>
    <!-- Placeholder text is temporary, ideally it should come from content type -->
    <div class="text-editor editor-type-html"
        tabindex="{{config.tabindex}}"
        sd-text-editor-drop-zone="{{config.imageDragging !== false}}"
        sd-focus-element
        data-append-element=".field"
        data-append-class="active"
        placeholder="{{ ::'Add content here' | translate }}"
        ng-show="type=='text' || !type"
        spellcheck="false">
    </div>
    <code class="text-editor-info" ng-if="cursor.line && type == 'preformatted'">
        <small translate>Line: {{ cursor.line }}, Column: {{ cursor.column }}</small>
    </code>

    <ul class="dropdown__menu dropdown__menu--suggestions">
        <li ng-repeat="word in suggestions"><button ng-click="replace(word.key)">{{ :: word.value }}</button></li>
        <li ng-show="suggestions.length === 0"><button translate>SORRY, NO SUGGESTIONS.</button></li>
        <li class="dropdown__menu-divider"></li>
        <li><button ng-click="addWordToDictionary()" translate>Add to dictionary</button></li>
        <li><button ng-click="ignoreWord()" translate>Ignore word</button></li>
    </ul>
</div>
