<div ng-repeat="block in vm.blocks"
     class="block__container"
     ng-class="{'block--not-alone-and-empty': vm.blocks.length > 1 && !block.body}">
    <div class="block__actions" ng-if="vm.config.multiBlockEdition && vm.configuration.embeds">
        <div class="block__cut" ng-click="vm.cutBlock(block)">
            <i class="icon-cut"></i>
        </div>
        <div class="block__remove" ng-click="vm.removeBlock(block)">
            <i class="icon-close-small"></i>
        </div>
    </div>
    <sd-add-embed ng-if="vm.config.multiBlockEdition && $first"
                  add-to-position="$index"
                  class="block__add-embed">
    </sd-add-embed>
    <div ng-switch="block.blockType">
        <div ng-switch-when="embed"
             sd-text-editor-block-embed="block"
             config="vm.config"
             on-block-change="vm.commitChanges()">
        </div>
        <div ng-switch-when="text"
             sd-text-editor-block-text="block"
             tansa-scope-sync
             type="vm.type"
             config="vm.config"
             language="vm.language"
             ng-change="vm.commitChanges()"
             ng-model="block.body">
        </div>
    </div>
    <sd-add-embed ng-if="vm.config.multiBlockEdition"
                  extended="block.lowerAddEmbedIsExtended"
                  add-to-position="$index + 1"
                  on-close="vm.renderBlocks()"
                  class="block__add-embed">
    </sd-add-embed>
</div>
