// notify.scss
// Styling for notifications displayed on top of the page
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';


$notif-holder-w : 340px;
.notification-holder {
    position: fixed;
    z-index: 9050;
    width: $notif-holder-w;
    inset-block-start: -5px;
    inset-inline-start: 50%;
    margin-inline-start: -$notif-holder-w/2;
    overflow: hidden;
    padding: 0 10px 10px;
    .alert {
        @include box-sizing(border-box);
        @include border-radius(5px);
        @include box-shadow(0 2px 3px -2px #666);
        padding: 15px 30px;
        margin: 0 0 10px;
        @include opacity(98);
        &.success {
            border-color:#a6d5a2;
        }
    }
}
.zen-mode {
    .notification-holder {
        background:none;
    }
}
