
@import '~mixins.scss';
@import '~variables.scss';

.monitoring {
    position: absolute;
    top: $nav-height;
    left: 0;
    right: 0;
    bottom: 0;

    .subnav {
        top: 0;
        .sortbar-container {
            padding: 10px 16px 10px 0;
        }
        .sortbar {
            margin: 0 0 0 15px;
            padding: 0 0 0 10px;
            height: 25px;
            .lab {
                line-height: 20px;
            }
        }
        .dropdown {
            .sortbar {
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                text-align: left;
                border-left: 0;
            }
            .dropdown {
                min-width: 120px;
                float: right;
            }
            .direction {
                line-height: 18px;
                margin-left: 15px;
            }
        }

        .navbtn {
            &.btnRearrange {
                width: 80px !important;
            }
        }

        .title {
            text-transform: uppercase;
        }

        .dropdown__menu {
            .label-group {
                text-transform: capitalize;
            }
        }
    }

    .monitoring-preview-layout {
        margin-top: 48px;
    }

    .main-section {
        top: $subnav-height;
        padding-bottom: 0 !important;
        .content-list {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
            @include transition(all .3s);
            @include border-box();
            padding: 0px 18px 18px !important;
            .list {
                padding: 9px 4px 18px 0px !important;
            }
            .sd-columns {
                display: table;
                width: 100%;
                height: 100vh;
                table-layout: fixed;
                @media only screen and (max-width : 1430px) {
                    right: $sidepreview-width - 40;
                }
            }
            .sd-column {
                display: table-cell;
                position: relative;
                vertical-align: top;
            }
            .stage {
                padding: 0;
                margin: 9px 0;
                .column-header {
                    &:not(.swimlane) {
                        width: 100% !important;
                    }
                }
                &.swimlane {
                    width: 98% !important;
                    margin: 0;
                    .column-header {
                        position: fixed;
                        z-index: 4;
                        background-color: $sd-background;
                        box-sizing: border-box;
                        width: 90%;
                    }
                    .stage-content {
                        padding-top: 37px;
                        margin: 0 4px;
                        overflow-y: auto;
                        &:focus {
                            @include box-shadow(0px 0px 10px 0px darken(#c6c6c6, 20%));
                        }
                    }
                }
            }
            .stage-content {
                max-height: 100%;
                overflow-y: scroll;
                box-shadow: $block-shadow-depth-2;
                &:focus {
                    @include box-shadow(0px 0px 10px 0px darken(#c6c6c6, 20%));
                }
                .compact-view, .mlist-view {
                    box-shadow: none;
                }
                &.refresh {
                    border: solid thin $blue;
                    @include box-shadow(0px 0px 10px 0px rgba(93,155,192,1));
                }
                .list-view {
                    margin-bottom: 0;
                    &.list-without-items {
                        height: 38px !important;
                        li {
                            line-height: 38px;
                            text-align: center;
                            color: #999;
                        }
                    }
                }
            }
            // this is probably not needed. Needs testing
            .single-group {
                .stage {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 0;
                    margin: 30px 18px 18px;
                }
            }
            .inline-content-items {
                @include border-box();
                max-height: calc(100vh - 180px) !important;
            }
        }
    }
}
.swimlane {
    .stage-header {
        background-color: $sd-background;
        height: 37px;
        margin: 0 3px;
        border-bottom: 4px solid #4d4d4d;
        .stage-header__name {
            flex-grow: 1;
            box-sizing: border-box;
            padding-top: 14px;
            @include text-overflow();
        }
        .stage-header__number {
            margin-top: 16px;
            margin-left: 3px;
        }
        .stage-header__notification {
            margin-top: 13px;
        }
        .stage-header__refresh {
            margin: 13px 0 0 3px;
        }
    }
}


.workspace {
  .main-section {
    .content-item-preview {
      position: absolute;
      z-index: 4;
      top: 0;
      right: 0;
      bottom: 0;
      width: $sidepreview-width + 160;
      @media only screen and (max-width : 1430px) {
          width: $sidepreview-width - 40;
      }
      .shift-preview__toggle {
        display: none;
      }
    }
    &.with-preview {
      .content-list {
        right: $sidepreview-width + 160;
        @media only screen and (max-width : 1430px) {
            right: $sidepreview-width - 40;
        }
      }
    }
    &.search-page-container {
      .content-item-preview {
        top: $nav-height;
      }
    }
  }
}

.workspace.authoring {
    .main-section {
        .content-item-preview {
            width: $sidepreview-width;
            @media only screen and (max-width : 1630px) {
                width: $sidepreview-width - 40;
            }
            @media only screen and (max-width : 1430px) {
                width: $sidepreview-width - 80;
                overflow: visible;
                right: -324px;
                overflow-y: visible !important;
            }
            &.shift {
                @media only screen and (max-width : 1430px) {
                    width: $sidepreview-width - 80;
                    right: 0px;
                    @include box-shadow(inset 2px 0 3px -1px #d8d8d8);
                }
            }
            .shift-preview__toggle {
                position: absolute;
                width: 24px;
                height: 48px;
                padding: 0;
                top: 0;
                right: -24px;
                border: 0;
                line-height: 0;
                opacity: .5;
                background-color: $white;
                @include border-radius(0 2px 2px 0);
                @include box-shadow(2px 0px 10px 0px rgba(0, 0, 0, 0.3));

                i { height: 15px; }

                &:hover {
                    opacity: 1;
                    background-color: $sd-blue;
                    i { color: $white; }
                }          
                &.shift {
                    top: 1px;
                    @include border-radius(2px 0 0 2px);
                    @include box-shadow(-1px 0px 7px 0px rgba(0, 0, 0, 0.3));
                    @include rotate(180deg);
                }
                @media only screen and (max-width : 1430px) {
                    display: inline !important;
                }
                @media only screen and (max-width : 1630px) {
                    display: none;
                }
            }
        }
        &.with-preview {
            .content-list {
                right: $sidepreview-width;
                @media only screen and (max-width : 1630px) {
                    right: $sidepreview-width - 40;
                }
                @media only screen and (max-width : 1430px) {
                    right: 0;
                }
                .sd-column.swimlane {
                    &.inactive {
                        display: none !important;
                    }
                }
            }
            .navbtn {
                &.btnRearrange {
                    width: 80px !important;
                    @media only screen and (max-width : 1430px) {
                        display: none !important;
                    }
                }
            }
        }
    }
}

.monitoring {
    .sd-grid-group {
        box-shadow: none !important;
        
        .sd-grid-list {
            margin: 1.4rem;
        }
    }
}

.notification-container {
    display: inline-flex !important;
    vertical-align: sub;
    margin-top: 2px;
    &.swimlane {
        position: absolute;
        right: 0px;
        top: 3px;
        &.refresh {
            right: 25px !important;
        }
        .monitoring-dropdown {
            .dropdown-menu {
                margin-top: 35px !important;
            }
        }
    }
}
.monitoring-dropdown {
    .dropdown__menu {
        margin-top: 5px;
        max-width: 220px !important;        
    }

    a {
        padding: 0px !important;
        white-space: inherit !important;
        display: inline !important;
        .headline {
            color: $sd-blue !important;
        }
    }

    .buttons {
        margin: 4px 0;
        height: 1%;
        overflow: hidden;
    }

    .acknowledge {
        width: auto;
        display: inline;
        float: right;
    }

    .title {
        padding-bottom: 6px;
        margin-left: 15px;
        @include text-semibold();
        text-transform: uppercase;
        font-size: 13px;
        color: #666;
    }

    li {
        display: block;
        padding: 5px 15px 5px 20px;
        border-bottom: 1px solid #ddd;
        
        .slugline {
            font-weight: 500;
            color: #216278;
            text-transform: uppercase;
            font-size: 12px;
            margin-right: 10px;
            white-space: nowrap;
        }

        .headline, .desk, .stage {
            color: #686b6c;
        }

        .location {
            border-top: 1px solid #ebebeb;
            margin-top: 10px;
        }

        .sender {
            margin-top: 10px;
            span {
                @include text-semibold();
                margin-right: 5px;
                font-size: 12px;
            }
        }
    }
}
