<div ng-if="activityReport">
    <h3 translate>Activity Report</h3>
    <div ng-if="reportType === 'simple'">
        <table>
            <tr><th translate>Items</th></tr>
            <tr><td>{{ activityReport.report.items }}</td></tr>
        </table>
    </div>
    <div ng-if="reportType === 'groupByDesk'">
        <table>
            <tr><th translate>Desk</th><th translate>Items</th></tr>
            <tr ng-repeat="group in activityReport.report | orderBy:'desk'">
                <td>{{ group.desk }}</td>
                <td>{{ group.items }}</td>
            </tr>
        </table>
    </div>
</div>
