<!-- <form name="saveReportForm"> -->
    <fieldset>
        <div class="field">
            <input id="activity_report_name" type="text" class="fullwidth-input line-input" ng-model="activityReport.name" placeholder="{{:: 'Name' | translate}}" required>
        </div>
        <div class="field">
            <textarea id="activity_report_description" class="line-input" sd-auto-height ng-model="activityReport.description" placeholder="{{:: 'Description' | translate}}"></textarea>
        </div>
        <div class="field">
            <span id="activity_report_global" sd-switch ng-model="activityReport.is_global"></span>
            <label class="label--inline" translate>Make global</label>
        </div>
    </fieldset>
<!-- </form> -->
