@import '~variables.scss';

.sd-widget.inline-comments, .sd-widget.suggestions {
    .form__row {
        display: flex;
        justify-content: center;
    }
    .notification-list {
        .item {
            padding: 1rem;

            .commented-text {
                margin-block-end: 1rem;
                color: var(--color-text-light);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                .text {
                    font-weight: bold;
                }
            }

            .accepted {
                margin-inline-start: 1rem;
            }
        }
    }

    .notification-list--empty {
        li {
            background-color: transparent;
            box-shadow: none;
            padding: 16% 0 0;
            text-align: center;
            color: var(--color-text-light);
            h3 {
                font-weight: 400;
                margin: 12px 0 4px;
            }
            .round-box {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90px;
                width: 90px;
                background-color: var(--sd-item__main-Bg);
                border-radius: 9999px;
                margin: 0 auto;
                box-shadow: 0 0 6px 1px hsla(0, 0%, 0%, 0.12);
            }
            i {
                display: block;
                width: 52px;
                height: 52px;
                opacity: 0.2;
                font-size: 5.2rem;
                line-height: 1;
            }
        }
    }
}

.commented-text {
    margin-bottom: 1rem;
    color: $grayLight;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .text {
        font-weight: bold;
    }
}