@import '~variables.scss';

.sd-widget.inline-comments, .sd-widget.suggestions {
    .form__row {
        display: flex;
        justify-content: center;
    }
    .notification-list {
        .item {
            padding: 1rem;

            .commented-text {
                margin-bottom: 1rem;
                color: $grayLight;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                .text {
                    font-weight: bold;
                }
            }

            .accepted {
                margin-left: 1rem;
            }
        }
    }

    .notification-list--empty {
        li {
            background-color: transparent;
            box-shadow: none;
            padding: 16% 0 0;
            text-align: center;
            color: #888;
            h3 {
              font-weight: 400;
              margin: 12px 0 4px;
            }
            .round-box {
              padding-top: 16px;
              height: 90px;
              width: 90px;
              background-color: #fff;
              border-radius: 50%;
              margin: 0 auto;
              box-shadow: 0 0 6px 1px rgba(0,0,0,0.08);
            }
            i {
              display: block;
              width: 56px;
              height: 48px;
              opacity: 0.2;
              margin: 1.4rem auto 0 auto;
              font-size: 5.2rem;
            }
        }
    }
}
