<div class="destination-box">
    <fieldset>
        <div class="sd-line-input sd-line-input--boxed sd-line-input--required">
            <label class="sd-line-input__label" for="destination-name" translate>Name</label>
            <input class="sd-line-input__input" type="text" id="destination-name" required ng-model="destination.name">
        </div>

        <div class="sd-line-input sd-line-input--is-select sd-line-input--required">
            <label class="sd-line-input__label" for="destination-format" translate>Format</label>
            <select class="sd-line-input__select" id="destination-format" required ng-model="destination.format">
                <option value=""></option>
                <option value="{{format.qcode}}" ng-selected="format.qcode === destination.format" ng-repeat="format in $parent.formats track by format.qcode">{{:: format.name | translate}}</option>
            </select>
        </div>

        <div class="sd-line-input">
            <label class="sd-line-input__label" for="preview-endpoint-url" translate>Preview endpoint URL</label>
            <input class="sd-line-input__input" type="url" id="preview-endpoint-url" ng-model="destination.preview_endpoint_url" />
        </div>

        <div class="sd-line-input sd-line-input--is-select sd-line-input--required">
            <label class="sd-line-input__label" for="destination-delivery-type" translate>Delivery type</label>
            <select class="sd-line-input__select" id="destination-delivery-type" required ng-model="destination.delivery_type" ng-options="key as val.label for (key, val) in types"></select>
        </div>

        <div class="form__row form__row--no-padding credentials">
            <div ng-include="types[destination.delivery_type].templateUrl"></div>
        </div>

        <div class="form__row" ng-if="actions" style="text-align:right;">
            <button type="button" class="btn btn--hollow" ng-class="{'btn--primary' : action.label === 'Save'}" ng-repeat="action in actions" ng-click="action.fn(destination)">
                <span>{{:: action.label | translate}}</span>
            </button>
        </div>
    </fieldset>
</div>
