<section class="main-section publish-queue">
    <div class="preview-layout" ng-class="{closed: !selected.preview}">
        <div class="list-pane">
            <header>
                <div class="flat-searchbar pull-left" ng-class="{extended: queueSearch}">
                    <div class="search-handler" >
                        <label for="search-input" class="trigger-icon" ng-click="queueSearch = !queueSearch"><i class="icon-search"></i></label>
                        <input id="search-input" type="text" placeholder="{{ :: 'Search' | translate }}" ng-model="query" ng-model-options="{debounce: 500}" ng-change="search(query)">
                        <button class="search-close" ng-click="search(query = null)" ng-class="{visible: query}"><i class="icon-close-small"></i></button>
                    </div>
                </div>

                <div class="sortbar pull-left">
                    <span class="lab pull-left" translate>Subscriber:</span>
                    <div class="dropdown pull-left" dropdown>
                        <button class="dropdown__toggle" dropdown__toggle>
                            {{ selectedFilterSubscriber.name }}
                            <span ng-if="!selectedFilterSubscriber">none</span>
                            <b class="dropdown__caret"></b>
                        </button>
                        <ul class="dropdown__menu dropdown__menu--scrollable">
                            <li>
                                <a href="" ng-click="filterPublishQueue(null, 'subscriber')" translate>None</a>
                            </li>
                            <li ng-repeat="subscriber in subscribers track by subscriber._id">
                                <a href="" ng-click="filterPublishQueue(subscriber, 'subscriber')">{{ subscriber.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="lab pull-left" translate>Ingest Provider:</span>
                    <div class="dropdown pull-left" dropdown>
                        <button class="dropdown__toggle" dropdown__toggle>
                            {{ selectedFilterIngestProvider.name }}
                            <span ng-if="!selectedFilterIngestProvider">none</span>
                            <b class="dropdown__caret"></b>
                        </button>
                        <ul class="dropdown__menu dropdown__menu--scrollable">
                            <li>
                                <a href="" ng-click="filterPublishQueue(null, 'ingest_provider')" translate>None</a>
                            </li>
                            <li ng-repeat="provider in ingestProviders track by provider._id">
                                <a href="" ng-click="filterPublishQueue(provider, 'ingest_provider')">{{ provider.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="lab pull-left" translate>Status:</span>
                    <div class="dropdown pull-left" dropdown>
                        <button class="dropdown__toggle" dropdown__toggle>
                            {{ selectedFilterStatus }}
                            <span ng-if="!selectedFilterStatus">none</span>
                            <b class="dropdown__caret"></b>
                        </button>
                        <ul class="dropdown__menu">
                            <li><a href="" ng-click="filterPublishQueue(null, 'status')" translate>None</a></li>
                            <li ng-repeat="status in publish_queue_statuses track by $index">
                                <a href="" ng-click="filterPublishQueue(status, 'status')">{{ :: status | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="refresh-box pull-right">
                    <span >{{ :: 'Last refreshed at' | translate}}: {{ lastRefreshedAt | date:'dd-MM-yyyy HH:mm:ss' }}</span>
                    <button ng-click="reload()" tooltip="{{:: 'Refresh' | translate}}" tooltip-placement="left"><i class="icon-refresh"></i></button>
                </div>

                <div sd-pagination-alt class="pagination-box" data-page="page" data-max-page="maxPage"></div>

                <div class="multi-action-bar" ng-show="multiSelectCount > 0">
                    <button class="btn" ng-click="cancelSelection(false)" ng-show="multiSelectCount > 0">{{ :: 'Cancel Selection' | translate}}</button>
                    <span id="multi-select-count"
                          ng-show="multiSelectCount > 0"
                          translate
                          translate-n="multiSelectCount"
                          translate-plural="{{ multiSelectCount }} Items selected">{{ multiSelectCount}} Item selected
                    </span>
                    <button class="btn btn--primary pull-right" ng-click="scheduleToSend()" ng-show="multiSelectCount > 0 && showResendBtn">{{ :: 'Resend' | translate}}</button>
                    <button class="btn btn--primary pull-right" ng-click="cancelSend()" ng-show="multiSelectCount > 0 && showCancelBtn">{{ :: 'Cancel' | translate}}</button>
                </div>
            </header>
            <div class="content">
                <div sd-shadow>
                    <table class="table styled-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th translate>Sequence No</th>
                                <th translate>Unique Name</th>
                                <th translate>Headline</th>
                                <th class="align-right" translate>Content Type</th>
                                <th class="align-right" translate>Publishing Action</th>
                                <th class="align-right" translate>Subscriber</th>
                                <th class="align-right" translate>Ingest Provider</th>
                                <th class="align-right" translate>Destination</th>
                                <th class="align-right" translate>Queued at</th>
                                <th class="align-right" translate>Scheduled at</th>
                                <th class="align-right" translate>Transmitted at</th>
                                <th class="align-right" translate>Status</th>
                                <th class="align-right" translate>Message</th>
                                <th class="align-right" translate>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="queue_item in publish_queue track by queue_item._id" class="{{queue_item.state| queueStatus}}" ng-click="preview(queue_item);">
                                <td>
                                    <span sd-check ng-model="queue_item.selected" ng-change="selectQueuedItem(queue_item)" ng-checked="queue_item.selected"></span>
                                </td>
                                <td>{{ queue_item.published_seq_num}}</td>
                                <td>{{ queue_item.unique_name}}</td>
                                <td>{{ queue_item.headline}}</td>
                                <td class="align-right">{{ queue_item.content_type}}</td>
                                <td class="align-right">{{ queue_item.publishing_action}}</td>
                                <td class="align-right">{{subscriberLookup[queue_item.subscriber_id].name}}</td>
                                <td class="align-right">{{queue_item.ingest_provider ? ingestProvidersLookup[queue_item.ingest_provider].name : ''}}</td>
                                <td class="align-right">{{queue_item.destination.name}}</td>
                                <td class="align-right">{{queue_item._created| dateTimeStringWithSecs}}</td>
                                <td class="align-right">{{queue_item.publish_schedule| dateTimeStringWithSecs}}</td>
                                <td class="align-right">{{queue_item.completed_at| dateTimeStringWithSecs}}</td>
                                <td class="align-right">{{queue_item.state}}</td>
                                <td class="align-right">{{queue_item.error_message}}</td>
                                <td class="align-right" ng-if="queue_item.state === 'pending' || queue_item.state === 'retrying'">
                                    <button class="btn btn--small" ng-click="cancelSend(queue_item); $event.stopPropagation()">{{ :: 'Cancel' | translate}}</button>
                                </td>
                                <td class="align-right" ng-if="queue_item.state === 'success' || queue_item.state === 'failed' || queue_item.state === 'canceled'">
                                    <button class="btn btn--small" ng-click="scheduleToSend(queue_item); $event.stopPropagation()">{{ :: 'Resend' | translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div sd-item-preview data-item="selected.preview"
            data-hide-actions-menu="true"
            data-show-history-tab="true"
            data-close="preview(null)">
        </div>
    </div>
</section>