<div
    class="widget-wrapper"
    ng-class="{
        'active-right': active,
        'right-extended': active.extended
    }"
>
    <!-- AVAILABLE WIDGETS LIST START -->
    <div class="sd-sidetab-menu sd-sidetab-menu--right" ng-if="item">
        <ul class="navigation-tabs" data-test-id="navigation-tabs">
            <li ng-repeat="widget in widgets | orderBy:'order'"
                ng-class="{active: widget === active, pinned: widget.pinned}">
                <a class="sd-sidetab-menu__btn" type="submit"
                    ng-click="activate(widget)"
                    ng-disabled="isWidgetLocked(widget)"
                    id="{{ :: widget._id }}"
                    title="{{widget.label}}"
                    sd-hotkey="{{generateHotkey($index+1)}}"
                    sd-hotkey-options="{global: true}"
                    data-test-id="authoring-widget"
                    data-test-value="{{widget.label}}"
                >
                    <span id="unread-count" class="sd-sidetab-menu__info-label badge badge--primary" ng-show="widget._id == 'comments' && comments.length">{{ comments.length }}</span>

                    <span class="sd-sidetab-menu__info-label badge badge--primary"
                        ng-if="badge(widget)">{{ badge(widget) }}</span>

                    <i class="sd-sidetab-menu__main-icon big-icon--{{ :: widget.icon }}"></i>
                    <i class="sd-sidetab-menu__helper-icon icon-close-small"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- AVAILABLE WIDGETS LIST END -->
    <div
        ng-if="active || pinnedWidget"
        ng-class="{
            'pinned-tab__wrapper': active._id == pinnedWidget._id,
            'tabpane open-tabpane right-tabpane': active._id != null && (active._id != pinnedWidget._id),
        }"
        class="widget-{{active._id}}"
        data-test-id="authoring-widget-panel"
        data-test-value="{{active.label}}"
    >
        <section class="tabcontent" ng-init="widget=active">
            <div
                ng-if="active.template != null"
                class="tabcontent-actions"
            >
                <button
                    class="icn-btn"
                    ng-click="pinWidget(active)"
                    ng-class="{'active': active.pinned}"
                >
                    <i class="icon-pin"></i>
                </button>
            </div>
            <div
                ng-if="active.template != null"
                sd-widget
                data-widget="active"
                data-configurable="active.configurable"
                data-save="active.save()"
            >
                <div ng-include="active.template" class="sd-wrap-helper"></div>
            </div>

            <sd-widget-react
                ng-if="active.component != null || pinnedWidget.component != null"
                widget="{active, pinnedWidget}"
                article="item"
                class="sd-widget"
            ></sd-widget-react>
        </section>
    </div>

    <div ng-transclude></div>
</div>
