<div class="subnav">
    <h3 class="page-nav-title" translate>Multiedit</h3>
    <button class="close-multiedit" ng-click="closeMulti()"><i class="icon-close-small"></i></button>
</div>

<div class="multiedit-screen main-section">
    <div class="boards-list">
        <div ng-repeat="board in boards"
            class="board"
            style="width:{{ 100 / boards.length }}%">
            <div class="navbtn dropdown" dropdown>
                <button class="dropdown__toggle" dropdown__toggle><i class="icon-collapse"></i></button>
                <div class="dropdown__menu">
                    <ul class="dropdown__menu--multiedit" sd-multiedit-inner-dropdown data-board="{{$index}}"></ul>
                    <ul ng-if="boards.length > minBoards">
                        <li class="dropdown__menu-divider"></li>
                        <li><button ng-click="closeBoard($index)"><i class="icon-close-small"></i> {{ 'Remove panel' | translate }}</button></li>
                    </ul>
                </div>
            </div>
            <div sd-multiedit-article data-article="board.article" data-focus="$first" class="board-article" ng-if="board.article"></div>
        </div>
    </div>
    <div class="boards-create" ng-if="boards.length > 0" sd-multiedit-float-menu>
        <i class="icon-plus-small"></i>
        <div class="navbtn dropdown multiedit-float">
            <ul class="dropdown__menu dropdown__menu--multiedit" id="multiedit-float" sd-multiedit-inner-dropdown data-board="{{boards.length}}"></ul>
        </div>
    </div>
</div>
