<div class="dropdown dropdown--add-more dropdown--add-more__{{ $ctrl.bottom === 'true' ? 'bottom' : 'top' }} dropdown-terms" dropdown>
    <button class="btn btn--primary btn--icon-only-circle" sd-tooltip="{{ :: 'Add Field' | translate }}" flow="right" ng-click="search = ''" dropdown__toggle>
        <i class="icon-plus-large"></i>
    </button>
    <ul class="dropdown__menu nested-menu">
        <li class="input-term">
            <input ng-model="search" type="text" ng-click="$event.stopPropagation()">
        </li>
        <li class="main-list">
            <ul>
                <li ng-repeat="schema in $ctrl.fields | orderBy: 'name' | filter: search track by schema.key">
                    <button ng-click="$ctrl.onSelect({field: schema})">{{schema.name | translate}} <span class="vocabulary-field-type" ng-if="schema.type">({{ schema.type }})</span></button>
                </li>
            </ul>
        </li>
    </ul>
</div>