<div class="schema-editor">
    <h4 translate>Schema Configuration</h4>
    <ul class="pills-list">
        <li class="schema-item" ng-repeat="(id, specs) in model.schema track by $index">

            <div class="header">
                <span class="title">{{label(model.editor[id].field_name || id) | translate}}</span>
                <div class="pull-right">
                    <span class="sd-toggle"
                          ng-class="{'checked': model.editor[id].enabled}"
                          ng-click="toggle(id)">
                        <span class="inner"></span>
                    </span>
                </div>
            </div>

            <div class="body" ng-if="model.editor[id].enabled">
                <form>
                    <fieldset class="fieldset-flex">
                        <div class="field" ng-if="id == 'body_html' && withEditor3">
                            <label translate>Editor3</label>
                            <div sd-check ng-model="model.editor[id].editor3"></div>
                        </div>
                        <div class="field" ng-if="id == 'dateline'">
                            <label translate>Hide Date</label>
                            <div sd-check ng-model="model.editor[id].hideDate"></div>
                        </div>
                        <div class="field">
                            <label translate>Required</label>
                            <div sd-check ng-model="specs.required"></div>
                        </div>
                        <div class="field">
                            <label translate>Order</label>
                            <input class="input-small line-input" placeholder="{{ 'Default' | translate }}" type="number" ng-model="model.editor[id].order" min="1" max="99" />
                        </div>
                        <div class="field" ng-show="specs.type === 'string'">
                            <label translate>Length</label>
                            <div class="controls">
                                <span translate>min</span>:
                                <input placeholder="{{ :: 'Not set' | translate }}" type="number" class="input-small line-input" ng-model="specs[id].minlength" min="0" />
                                <span translate>max</span>:
                                <input placeholder="{{ :: 'Not set' | translate }}" type="number" class="input-small line-input" ng-model="specs.maxlength" min="0" />
                                <span class="error"
                                      ng-show="specs.minlength > specs.maxlength && specs.maxlength"
                                      translate>Min length shouldn't be bigger than max length.</span>
                                <span class="error"
                                      ng-show="specs.maxlength === 0"
                                      translate>Max length should be bigger than 0 or empty.</span>
                            </div>
                        </div>
                        <div class="field" ng-show="specs.type === 'string' || specs.type === 'integer' || options[id] || terms[id]">
                            <label translate>Default value</label>
                            <input ng-if="specs.type === 'integer' && !options[id]"
                                   type="number"
                                   class="input-medium line-input"
                                   placeholder="{{ 'Not set' | translate }}"
                                   ng-model="specs.default" />
                            <select ng-if="specs.type === 'integer' && options[id]"
                                    class="input-medium line-input"
                                    ng-model="specs.default"
                                    ng-options="item.qcode as item.name for item in options[id]">
                                <option translate>none</option>
                            </select>
                            <div class="input-medium"
                                 ng-if="specs.type === 'list' && options[id]"
                                 sd-meta-dropdown
                                 data-item="readonly(specs, id)"
                                 data-field="{{ id }}"
                                 data-unique="qcode"
                                 data-list="options[id]"
                                 data-change="setdefault(field)">
                            </div>
                            <div class="input-medium"
                                 ng-if="specs.type === 'list' && terms[id] && !options[id]"
                                 sd-meta-terms
                                 data-item="readonly(specs, id)"
                                 data-field="{{ id }}"
                                 data-unique="qcode"
                                 data-list="terms[id]"
                                 data-change="setdefault(field)"
                                 ></div>
                            <input ng-if="specs.type === 'string'"
                                   type="text"
                                   class="input-medium line-input"
                                   placeholder="{{ :: 'Not set' | translate }}"
                                   ng-model="specs.default" />
                        </div>
                        <div class="field">
                            <label translate>Width</label>
                            <select class="dropdown__toggle line-input" ng-model="model.editor[id].sdWidth">
                                <option value="full" translate>Full</option>
                                <option value="half" translate>Half</option>
                                <option value="quarter" translate>Quarter</option>
                            </select>
                        </div>
                        <div class="field" ng-if="specs.type === 'string'">
                            <label translate>Clean Pasted HTML</label>
                            <div sd-check ng-model="model.editor[id].cleanPastedHTML"></div>
                        </div>
                        <div class="field" ng-if="specs.type === 'string'">
                            <label translate>Format options</label>
                            <div class="controls"
                                 sd-multi-select
                                 data-item="model.editor[id].formatOptions"
                                 data-list="formatingOptions"
                                 data-change="setDirty(true)">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </li>
    </ul>
</div>
