// packaging.scss
// Styling for making packages - editor widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.sd-widget.packages {

    .packages-content {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        background: $sd-background;
        .package-preview {
            margin-block-start: 5px;
            margin-block-end: 5px;
            border-radius: 5px;
            border: 1px solid #efefef;
            background: #fafafa;
            padding: 5px;
            .title {
                padding-inline-start: 5px;
                padding-inline-end: 5px;
                .a {
                    @include text-semibold();
                    font-size: 14px;
                    color: #000;
                }
            }
        }
    }
}
