honcho
# TODO: revert to superdesk/superdesk-core@develop once the content-lists API branch is merged
git+https://github.com/IvanJelicSF/superdesk-core.git@feature/content-lists-with-develop#egg=superdesk-core
