<div class="field" ng-class="{'limit-error': item.headline.length > limits.headline}" order="{{editor.headline.order}}" sd-validation-error="error.headline" data-required="schema.headline.required">
  <label translate>Headline</label>
    <span ng-if="schema.headline.maxlength" sd-validation-error="error.headline" sd-character-count data-item="item.headline" data-html="true" data-limit="schema.headline.maxlength"></span>
    <div id="title" class="headline"
        sd-text-editor
        data-config="{disableToolbar: true, disableReturn: true, disableEditing: isPublished(item), tabindex: editor.headline.order}"
        data-editorformat="editor.headline.formatOptions"
        data-language="item.language"
        ng-model="item.headline"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
  <div class="headline" ng-if="!_editable">{{item.headline}}</div>
</div>

<div class="field" ng-if="schema.sms && item._type !== 'archived'" order="{{editor.sms.order}}">
    <label ng-if="_editable" translate>SMS</label>
    <div ng-if="_editable">
        <span ng-if="_editable" sd-switch ng-model="item.flags.marked_for_sms"
        class="sms-switch" tabindex="{{editor.sms.order}}"></span>
    </div>
    <span ng-if="item.flags.marked_for_sms" sd-character-count data-item="item.sms_message" data-html="true" data-limit="160"></span>
    <div ng-if="item.flags.marked_for_sms">
        <label translate>SMS Message</label>
        <input tabindex="{{editor.sms.order}}" type="text"
         class="byline"
         id="sms_message"
         ng-model="item.sms_message"
         ng-change="autosave(item)"
         ng-if="_editable"
         placeholder="Add sms message here"
         sd-focus-element
         data-append-element=".field"
         data-append-class="active">
        <div ng-if="!_editable">{{item.sms_message}}</div>
    </div>
</div>

<div ng-if="editor.featureimage" sd-validation-error="error.featureimage" order="{{editor.featureimage.order}}"
    data-required="schema.associations.schema.featureimage.required" class="field featured-image">
  <label translate>Featured Image</label>
  <div sd-item-association
    data-item="item"
    data-rel="'featureimage'"
    data-editable="_editable"
    data-onchange="autosave(item)"></div>
</div>

<div class="field abstract" ng-class="{'limit-error': item.abstract.length > limits.abstract}" ng-if="schema.abstract" order="{{editor.abstract.order}}" sd-validation-error="error.abstract" data-required="schema.abstract.required">
  <label translate>Abstract</label>
    <span sd-character-count
          data-item="item.abstract"
          data-html="true"
          data-limit="schema.abstract.maxlength"></span>
    <span sd-word-count data-item="item.abstract" data-html="true"></span>
    <div id="abstract" class="abstract"
        sd-text-editor
        data-config="{disableToolbar: true, disableEditing: isPublished(item), tabindex: editor.abstract.order}"
        data-editorformat="editor.abstract.formatOptions"
        data-language="item.language"
        ng-model="item.abstract"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
  <div class="abstract" ng-if="!_editable" sd-html-preview="item.abstract"></div>
</div>

<div class="field" ng-if="item._type !== 'archived' && schema.byline" order="{{editor.byline.order}}" sd-validation-error="error.byline" data-required="schema.byline.required">
  <label translate>Byline</label>
   <!-- Placeholder text is temporary, ideally it should come from content type -->
   <div id="byline" class="byline"
        sd-text-editor
        data-config="{disableToolbar: true, disableReturn: true, disableEditing: isPublished(item), tabindex: editor.byline.order}"
        data-editorformat="editor.byline.formatOptions"
        data-language="item.language"
        ng-model="item.byline"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
  <div ng-if="!_editable">{{item.byline}}</div>
</div>

<!--This article-edit view is used by templates as well.
    ng-if is used to hide dateline for the template create/edit screen.-->
<div class="field" ng-if="item._type !== 'archived' && (!template || template.template_type !== 'kill') && editor.dateline" order="{{editor.dateline.order}}" sd-validation-error="error.dateline" data-required="schema.dateline.required">
    <label translate>Dateline</label>
    <div class="dateline">
        <div sd-meta-locators
             class="dateline-city"
             data-tabindex="editor.dateline.order"
             ng-disabled="!_editable"
             data-list="metadata.cities"
             data-item="item"
             data-fieldprefix="dateline"
             data-field="located"
             placeholder="Add location"
             data-postprocessing="updateDateline(item, city)"
             data-change="autosave(item)"
             sd-focus-element
             data-element="input"
             data-append-element=".field"
             data-append-class="active">
        </div>

        <div ng-show="!editor.dateline.hideDate" class="dateline-date">
            <select id="datelineMonth"
                    tabindex="{{editor.dateline.order}}"
                    ng-options="monthName | translate for (monthName, monthValue) in monthNames"
                    ng-disabled="!item.dateline.located || !_editable"
                    ng-change="resetNumberOfDays(true, datelineMonth)"
                    placeholder="Choose month"
                    ng-model="datelineMonth"
                    sd-focus-element
                    data-append-element=".field"
                    data-append-class="active">
                <option value=""></option>
            </select>

            <select id="datelineDay"
                    tabindex="{{editor.dateline.order}}"
                    ng-options="day for day in daysInMonth"
                    ng-disabled="!item.dateline.located || !_editable"
                    ng-change="modifyDatelineDate(datelineDay)"
                    placeholder="Choose day"
                    ng-model="datelineDay"
                    sd-focus-element
                    data-append-element=".field"
                    data-append-class="active">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>

<div class="field body" ng-if="!isMediaType && schema.body_html" order="{{editor.body_html.order}}" sd-validation-error="error.body_html" data-required="schema.body_html.required">
  <label translate>Body</label>
    <span sd-character-count data-item="item.body_html" data-html="true"></span>
    <span sd-word-count data-item="item.body_html" data-html="true"></span>
    <div id="bodyhtml"
         sd-text-editor
         data-config="{disableEditing: isPublished(item), multiBlockEdition: true, tabindex: editor.body_html.order}"
         data-editorformat="editor.body_html.formatOptions"
         ng-model="item.body_html"
         ng-if="_editable"
         ng-change="autosave(item)"
         data-associations="item.associations"
         data-language="item.language"
         data-type="item.type">
    </div>
    <div class="text-editor" sd-html-preview="item.body_html" ng-if="!_editable"></div>
</div>

<div class="field" ng-if="isMediaType" order="{{editor.media.order}}">

  <div ng-if="item.type == 'picture'" class="full-preview" sd-ratio-calc>
      <div>
          <span translate>Original</span>
          <div sd-item-rendition data-item="item" data-rendition="baseImage" ng-click="preview(item);"></div>
      </div>
      <div sd-item-crops data-item="item"></div>
      <button id="btnCrop" class="btn btn-medium pull-right" ng-click="applyCrop()" ng-if="metadata.crop_sizes">
        <span ng-if="!item.hasCrops" translate>APPLY CROPS</span>
        <span ng-if="item.hasCrops" translate>EDIT CROPS</span>
      </button>
  </div>

  <div ng-if="item.type == 'audio'">
    <audio controls="controls" sd-sources data-renditions="item.renditions"></audio>
  </div>

  <div ng-if="item.type == 'video'">
    <video controls="controls" sd-sources data-renditions="item.renditions"></video>
  </div>
</div>

<div ng-if="isMediaType" class="field abstract" order="{{editor.media_description.order}}" sd-validation-error="error.description_text">
  <label translate>Description</label>
  <div id="title" class="abstract"
        sd-text-editor
        data-config="{disableToolbar: true, disableReturn: true, disableEditing: isPublished(item), tabindex: editor.description_text.order}"
        data-editorformat="editor.description_text.formatOptions"
        data-language="item.language"
        ng-model="item.description_text"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
  <div class="abstract" ng-if="!_editable">{{item.description_text}}</div>
</div>

<div class="field"
     ng-if="schema.footer && metadata.footers && item._type !== 'archived' && item.type !== 'composite' && !item.package_type"
     sd-validation-error="error.body_footer_value"
     data-required="schema.footer.required"
     order="{{editor.footer.order}}">
    <label translate>Helplines/Contact Information</label>
    <select id="helplines"
            ng-model="extra.body_footer_value"
            ng-disabled="!_editable"
            tabindex="{{editor.footer.order}}"
            ng-options="f.name for f in metadata.footers track by f.name"
            ng-change="addHelplineToFooter()"
            sd-focus-element
            data-append-element=".field"
            data-append-class="active">
        <option value=""></option>
    </select>
</div>

<div class="field" ng-if="item.body_footer" order="{{editor.body_footer.order}}" sd-validation-error="error.body_footer">
    <label translate>Footer</label>
    <div id="body_footer" class="body"
        sd-text-editor
        data-config="{disableToolbar: true, disableEditing: isPublished(item), tabindex: editor.body_footer.order}"
        data-language="item.language"
        ng-model="item.body_footer"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"
        sd-focus-element
        data-append-element=".field"
        data-append-class="active">
    </div>
    <div id="body_footer_preview" class="abstract" ng-if="!_editable"  sd-html-preview="item.body_footer"></div>
</div>

<div class="composite-preview" ng-if="item.type === 'composite'">
  <div sd-package-items-edit ng-model="item.groups" ng-if="_editable"></div>
  <div sd-package data-item="item" class="composite-preview" ng-if="!_editable"></div>
</div>

<div class="field pull-left" ng-if="item.sign_off && editor.sign_off" order="{{editor.sign_off.order}}">
    <label translate>Sign-Off</label>
    <button class="btn btn-signOff" ng-click="changeSignOffEdit()" tabindex="{{editor.sign_off.order}}" title="Unlock edit Sign-Off" ng-if="canEditSignOff && _editable">
      <i class="icon-lock" ng-hide="editSignOff"></i>
      <i class="icon-unlocked" ng-show="editSignOff"></i>
    </button>
    <div ng-hide="editSignOff">{{item.sign_off}}</div>
    <div ng-if="canEditSignOff && _editable"
         ng-show="editSignOff"
         sd-user-select-list
         data-tabindex="editor.sign_off.order"
         data-onchoose="modifySignOff(user)"
         data-onsearch="searchSignOff(search)"
         data-display-user="{{ getSignOffMapping() }}"
    ></div>
</div>
