<div class="field" ng-class="{'limit-error': item.headline.length > limits.headline}" order="{{schema.headline.order}}" sd-validation-error="error.headline" data-required="schema.headline.required">
  <label translate>Headline</label>
    <span ng-if="schema.headline.maxlength" sd-character-count data-item="item.headline" data-html="true" data-limit="schema.headline.maxlength"></span>
    <div id="title" class="headline"
        sd-text-editor
        data-config="{disableToolbar: true, disableReturn: true, disableEditing: isPublished(item)}"
        data-language="item.language"
        ng-model="item.headline"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
  <div class="headline" ng-if="!_editable">{{item.headline}}</div>
</div>

<div ng-if="schema.feature_image" sd-validation-error="error.feature_image" data-required="schema.feature_image.required" class="field featured-image">
  <label translate>Featured Image</label>
  <div sd-item-association
    data-item="item"
    data-rel="'feature_image'"
    data-editable="_editable"
    data-onchange="autosave(item)"></div>
</div>

<div class="field abstract" ng-class="{'limit-error': item.abstract.length > limits.abstract}" ng-if="schema.abstract" order="{{schema.abstract.order}}" sd-validation-error="error.abstract" data-required="schema.abstract.required">
  <label translate>Abstract</label>
    <span ng-if="schema.abstract.maxlength"
          sd-character-count
          data-item="item.abstract"
          data-html="true"
          data-limit="schema.abstract.maxlength"></span>
    <span sd-word-count data-item="item.abstract" data-html="true"></span>
    <div id="abstract" class="abstract"
        sd-text-editor
        data-config="{disableToolbar: true, disableEditing: isPublished(item)}"
        data-language="item.language"
        ng-model="item.abstract"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
  <div class="abstract" ng-if="!_editable">{{item.abstract}}</div>
</div>

<div class="field" ng-if="item._type !== 'archived' && schema.byline" order="{{schema.byline.order}}" sd-validation-error="error.byline" data-required="schema.byline.required">
  <label translate>By</label>
   <!-- Placeholder text is temporary, ideally it should come from content type -->
  <input type="text"
         class="byline"
         id="byline"
         ng-model="item.byline"
         ng-change="autosave(item)"
         ng-if="_editable"
         placeholder="Add text here"
         sd-focus-element
         data-append-element=".field"
         data-append-class="active">
  <div ng-if="!_editable">{{item.byline}}</div>
</div>

<!--This article-edit view is used by templates as well.
    ng-if is used to hide dateline for the template create/edit screen.-->
<div class="field" ng-if="item._type !== 'archived' && (!template || template.template_type !== 'kill') && schema.dateline" order="{{schema.dateline.order}}" sd-validation-error="error.located" data-required="schema.dateline.required">
    <label translate>Dateline</label>
    <div class="dateline">
        <div sd-meta-locators
             class="dateline-city"
             ng-disabled="!_editable"
             data-list="metadata.cities"
             data-item="item"
             data-fieldprefix="dateline"
             data-field="located"
             placeholder="Add location"
             data-postprocessing="updateDateline(item, city)"
             data-change="autosave(item)"
             sd-focus-element
             data-element="input"
             data-append-element=".field"
             data-append-class="active">
        </div>

        <div class="dateline-date">
            <select id="datelineMonth"
                    ng-options="monthName for (monthName, monthValue) in monthNames"
                    ng-disabled="!item.dateline.located || !_editable"
                    ng-change="resetNumberOfDays(true, datelineMonth)"
                    placeholder="Choose month"
                    ng-model="datelineMonth"
                    sd-focus-element
                    data-append-element=".field"
                    data-append-class="active">
                <option value=""></option>
            </select>

            <select id="datelineDay"
                    ng-options="day for day in daysInMonth"
                    ng-disabled="!item.dateline.located || !_editable"
                    ng-change="modifyDatelineDate(datelineDay)"
                    placeholder="Choose day"
                    ng-model="datelineDay"
                    sd-focus-element
                    data-append-element=".field"
                    data-append-class="active">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>

<div class="field body" ng-if="!isMediaType && schema.body_html" order="{{schema.body_html.order}}" sd-validation-error="error.body_html" data-required="schema.body_html.required">
  <label translate>Body</label>
    <span sd-word-count data-item="item.body_html" data-html="true"></span>
    <span ng-if="schema.body_html.maxlength" sd-character-count data-item="item.body_html" data-html="true" data-limit="schema.body_html.maxlength"></span>
    <div id="bodyhtml"
         sd-text-editor
         data-config="{disableEditing: isPublished(item), multiBlockEdition: true}"
         ng-model="item.body_html"
         ng-if="_editable"
         ng-change="autosave(item)"
         data-associations="item.associations"
         data-language="item.language"
         data-type="item.type">
    </div>
    <div class="text-editor" sd-html-preview="item.body_html" ng-if="!_editable"></div>
</div>

<div class="field" ng-if="isMediaType" order="{{schema.media.order}}">

  <div ng-if="item.type == 'picture'" class="full-preview" sd-ratio-calc>
      <div>
          <span translate>Original</span>
          <div sd-item-rendition data-item="item" data-rendition="baseImage"></div>
      </div>
      <div sd-item-crops data-item="item"></div>
      <button id="btnCrop" class="btn btn-medium pull-right" ng-click="applyCrop()" ng-if="metadata.crop_sizes">
        <span ng-if="!item.hasCrops" translate>APPLY CROPS</span>
        <span ng-if="item.hasCrops" translate>EDIT CROPS</span>
      </button>
  </div>

  <div ng-if="item.type == 'audio'">
    <audio controls="controls" sd-sources data-renditions="item.renditions"></audio>
  </div>

  <div ng-if="item.type == 'video'">
    <video controls="controls" sd-sources data-renditions="item.renditions"></video>
  </div>
</div>

<div ng-if="isMediaType" class="field abstract" order="{{schema.media_description.order}}" sd-validation-error="error.description_text">
  <label translate>Description</label>
  <textarea class="abstract"
        sd-auto-height
        ng-model="item.description_text"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"
        sd-focus-element
        data-append-element=".field"
        data-append-class="active"></textarea>
  <div class="abstract" ng-if="!_editable">{{item.description_text}}</div>
</div>

<div class="field"
     ng-if="schema.footer && metadata.footers && item._type !== 'archived' && item.type !== 'composite' && !item.package_type"
     sd-validation-error="error.body_footer_value"
     data-required="schema.footer.required"
     order="{{schema.footer.order}}">
    <label translate>Helplines/Contact Information</label>
    <select id="helplines"
            ng-model="item.body_footer_value"
            ng-disabled="!_editable"
            ng-options="f.name for f in metadata.footers track by f.name"
            ng-change="addHelplineToFooter()"
            sd-focus-element
            data-append-element=".field"
            data-append-class="active">
        <option value=""></option>
    </select>
</div>

<div class="field" ng-if="item.body_footer" order="{{schema.body_footer.order}}" sd-validation-error="error.body_footer">
    <label translate>Footer</label>
    <div id="body_footer" class="body"
        sd-text-editor
        data-config="{disableToolbar: true, disableEditing: isPublished(item)}"
        data-language="item.language"
        ng-model="item.body_footer"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"
        sd-focus-element
        data-append-element=".field"
        data-append-class="active">
    </div>
    <div id="body_footer_preview" class="abstract" ng-if="!_editable"  sd-html-preview="item.body_footer"></div>
</div>

<div class="composite-preview" ng-if="item.type === 'composite'">
  <div sd-package-items-edit ng-model="item.groups" ng-if="_editable"></div>
  <div sd-package data-item="item" class="composite-preview" ng-if="!_editable"></div>
</div>

<div class="field pull-left" ng-if="item.sign_off && schema.sign_off" order="{{schema.sign_off.order}}">
    <label translate>Sign-Off</label>
    <div>{{item.sign_off}}
        <button ng-click="changeSignOffEdit()" title="Unlock edit Sign-Off" ng-if="canEditSignOff && _editable">
		  <i class="icon-pencil" ng-hide="editSignOff"></i>
		  <i class="icon-trash" ng-show="editSignOff"></i>
		</button>
    </div>
    <div ng-show="editSignOff" sd-user-select-list data-onchoose="modifySingOff(user)"></div>
</div>
