<div class="authoring-header__holder" ng-controller="MetadataWidgetCtrl" ng-if="loaded">
    <div class="authoring-header__general-info">
        <div>
            <i class="filetype-icon-{{ :: item.type}}" title="{{ :: 'Article Type' | translate }}"></i>
        </div>
        <div ng-if="item.profile">
            <label translate>PROFILE</label>
            <div class="data">{{ :: item.profile }}</div>
        </div>
        <div ng-if="item.type === 'text'">
            <label class="word-count"><b>{{ item.word_count || 0 }}</b> <span translate translate-n="item.word_count" translate-plural="WORDS">WORD</span></label>
        </div>
        <div ng-if="item.signal">
            <span class="signal">{{ item.signal}}</span>
        </div>
        <div>
            <label translate>SOURCE</label>
            <div class="data" sd-meta-ingest data-item="item"></div>
        </div>
        <div>
            <label translate>RELATED</label>
            <div class="data"><a href="" ng-click="activateWidget()">{{relatedItems._items.length}}</a></div>
        </div>
        <div ng-if="item.correction_sequence">
            <label translate>UPDATE</label>
            <div class="data">{{item.correction_sequence}}</div>
        </div>
        <div>
            <span class="state-label legal" ng-if="item.flags.marked_for_legal" translate>Legal</span>
            <span class="state-label sms" ng-if="item.flags.marked_for_sms" translate>Sms</span>
            <span class="state-label not-for-publication" ng-if="item.flags.marked_for_not_publication" translate>Not For Publication</span>
        </div>
        <div ng-if="item.broadcast.master_id">
            <label ng-class="{'broadcast-status': item.broadcast.status !== ''}" tooltip="{{item.broadcast.status}}"><span translate>MASTER</span><b ng-if="item.broadcast.status"> !</b></label>
            <div class="data"><a id="preview-master" ng-click="previewMasterStory()" title="{{ :: 'Preview master story' | translate }}"
                                 class="open-item"><i class="icon-external"></i></a></div>
        </div>
    </div>

    <div class="authoring-header__detailed" sd-media-query min-width="550">

          <div class="authoring-header__item"
               sd-validation-error="error.slugline"
               data-required="schema.slugline.required"
               ng-if="schema.slugline"
               sd-width="{{editor.slugline.sdWidth}}"
               order="{{editor.slugline.order}}">
            <label class="authoring-header__item-label uppercase" translate>SLUGLINE</label>
            <div class="authoring-header__input-holder">
              <input type="text"
                     class="line-input slugline"
                     id="slugline"
                     ng-model="item.slugline"
                     ng-change="autosave(item)"
                     ng-disabled="!_editable"
                     ng-trim="false">
                <span ng-if="schema.slugline.maxlength" sd-character-count data-item="item.slugline" data-html="true" data-limit="schema.slugline.maxlength"></span>
            </div>
          </div>

          <div class="authoring-header__item"
               sd-validation-error="error.genre"
               data-required="schema.genre.required"
               ng-if="schema.genre && !metadata.genre_service"
               sd-width="{{editor.genre.sdWidth}}"
               order="{{editor.genre.order}}">
            <label class="authoring-header__item-label" translate>GENRE</label>
            <div class="authoring-header__input-holder">
              <div sd-meta-dropdown
                   class="data"
                   data-item="item"
                   data-field="genre"
                   data-list="metadata.genre"
                   ng-disabled="!_editable || item.broadcast.master_id"
                   data-change="autosave(item)">
              </div>
            </div>
          </div>

          <div class="authoring-header__item"
               sd-validation-error="error.anpa_take_key"
               data-required="schema.anpa_take_key.required"
               ng-if="schema.anpa_take_key"
               sd-width="{{editor.anpa_take_key.sdWidth}}"
               order="{{editor.anpa_take_key.order}}">
            <label class="authoring-header__item-label" translate>TAKEKEY</label>
            <div class="authoring-header__input-holder">
              <input type="text"
                     class="line-input"
                     id="anpa_take_key"
                     ng-model="item.anpa_take_key"
                     ng-change="autosave(item)"
                     ng-disabled="!_editable"
                     ng-trim="false">
            </div>
        </div>

        <div class="authoring-header__item"
             sd-validation-error="error.place"
             data-required="schema.place.required"
             ng-if="metadata.locators && schema.place"
             sd-width="{{editor.place.sdWidth}}"
             order="{{editor.place.order}}">
          <label class="authoring-header__item-label" translate>PLACE</label>
          <div class="authoring-header__input-holder">
            <div sd-meta-dropdown
                 class="data"
                 data-item="item"
                 data-field="place"
                 data-list="metadata.locators"
                 ng-disabled="!_editable"
                 data-change="autosave(item)">
            </div>
          </div>
        </div>
        <div class="authoring-header__item"
             sd-validation-error="error.priority"
             data-required="schema.priority.required"
             ng-if="schema.priority"
             sd-width="{{editor.priority.sdWidth}}"
             order="{{editor.priority.order}}">
          <label class="authoring-header__item-label" translate>PRIORITY</label>
          <div class="authoring-header__input-holder">
            <div sd-meta-dropdown
                 data-item="item"
                 data-field="priority"
                 data-list="metadata.priority"
                 data-icon="priority-label priority-label-"
                 data-label="Priority"
                 ng-disabled="!_editable"
                 data-key="qcode"
                 data-change="autosave(item)">
            </div>
          </div>
        </div>
        <div class="authoring-header__item"
             sd-validation-error="error.urgency"
             data-required="schema.urgency.required"
             ng-if="schema.urgency"
             sd-width="{{editor.urgency.sdWidth}}"
             order="{{editor.urgency.order}}">
          <label class="authoring-header__item-label" translate>URGENCY</label>
          <div class="authoring-header__input-holder">
            <div sd-meta-dropdown
                 data-item="item"
                 data-field="urgency"
                 data-list="metadata.urgency"
                 data-icon="urgency-label urgency-label-"
                 data-label= "{{ :: 'Urgency' | translate }}"
                 ng-disabled="!_editable"
                 data-key="qcode"
                 data-change="autosave(item)">
            </div>
          </div>
        </div>

        <div class="authoring-header__item"
             sd-validation-error="error.ranking"
             data-required="schema.ranking.required"
             ng-if="schema.ranking"
             sd-width="{{editor.ranking.sdWidth}}"
             order="{{editor.ranking.order}}">
          <label class="authoring-header__item-label" translate>RANKING</label>
          <div class="authoring-header__input-holder">
            <div sd-meta-dropdown
                 data-item="item"
                 data-field="ranking"
                 data-list="metadata.ranking"
                 data-icon="urgency-label urgency-label-"
                 data-label= "{{ :: 'Ranking' | translate }}"
                 ng-disabled="!_editable"
                 data-key="qcode"
                 data-change="autosave(item)">
            </div>
          </div>
        </div>

        <div class="authoring-header__item" id="category-setting"
             sd-validation-error="error.anpa_category"
             data-required="schema.anpa_category.required"
             ng-if="metadata.categories && schema.anpa_category"
             sd-width="{{editor.anpa_category.sdWidth}}"
             order="{{editor.anpa_category.order}}">
          <label class="authoring-header__item-label uppercase" translate>SERVICE</label>
          <div sd-meta-terms
               class="data"
               ng-disabled="!_editable"
               data-item="item"
               data-field="anpa_category"
               data-dependent="subject"
               data-unique="qcode"
               data-list="availableCategories"
               data-header="true"
               data-change="autosave(item)"
               data-reload-list="false">
          </div>
        </div>

        <div class="authoring-header__item"
             sd-validation-error="error.subject"
             data-required="schema.subject.required"
             ng-if="metadata.subjectcodes && schema.subject && editor.subject && !metadata.subjects"
             sd-width="{{editor.subject.sdWidth}}"
             order="{{editor.subject.order}}">
          <label class="authoring-header__item-label" translate>SUBJECT</label>
          <div id="subjects"
               sd-meta-terms
               class="data"
               data-item="item"
               data-field="subject"
               data-unique="qcode"
               data-list="metadata.subjectcodes"
               ng-disabled="!_editable"
               data-header="true"
               data-change="autosave(item)"
               data-reload-list="true">
          </div>
        </div>

        <div class="authoring-header__item"
            ng-repeat="cv in cvs track by cv._id"
            data-required="schema[cv._id].required"
            ng-if="cv.terms.length && schema[cv._id]"
            sd-width="{{editor[cv._id].sdWidth}}"
            order="{{editor[cv._id].order}}">
          <label>{{ cv.display_name | translate }}</label>
          <div sd-meta-terms
              class="data"
              data-item="item"
              data-field="subject"
              data-unique="qcode"
              data-list="cv.terms"
              data-cv="cv"
              ng-disabled="!_editable"
              data-header="true"
              data-change="autosave(item)"
              data-reload-list="true"
              data-include-parent="true">
          </div>
        </div>

        <div class="authoring-header__item"
             sd-validation-error="error.company_codes"
             data-required="schema.company_codes.required"
             ng-if="shouldDisplayCompanyCodes()"
             sd-width="{{editor.company_codes.sdWidth}}"
             order="{{editor.company_codes.order}}">
          <label class="authoring-header__item-label" translate>COMPANY</label>
          <div sd-meta-terms
               class="data"
               data-item="item"
               data-field="company_codes"
               data-unique="qcode"
               data-list="metadata.company_codes"
               ng-disabled="!_editable"
               data-header="true"
               data-change="autosave(item)"
               data-reload-list="false">
          </div>
        </div>

        <div class="authoring-header__item"
             sd-validation-error="error.ednote"
             data-required="schema.ednote.required"
             ng-if="schema.ednote"
             sd-width="{{editor.ednote.sdWidth}}"
             order="{{editor.ednote.order}}">
          <label class="authoring-header__item-label" translate>ED. NOTE</label>
          <div class="authoring-header__input-holder">
              <textarea id="ednote" class="line-input ed-note"
                        ng-model="item.ednote"
                        ng-disabled="!_editable"
                        ng-change="autosave(item)">
              </textarea>
          </div>
        </div>

    </div>
</div>
<button class="authoring-header__toggle" ng-class="{active: toggleHeader}" ng-click="toggleHeader = !toggleHeader" tabindex="-1"><i class="icon-chevron-up-thin"></i></button>
