<figure class="item-association"
        ng-class="{'item-association--preview': related, 'item-association--loading': loading}"
        ng-click="!related && upload()">
    <div ng-if="related">
        <div class="close-overlay">
            <button class="btn btn-mini btn-light pull-right" ng-click="remove(related); $event.stopPropagation()">
                <i class="icon-close-small"></i>
            </button>
        </div>
        <img ng-src="{{ related.renditions.viewImage.href }}" ng-click="edit(related); $event.stopPropagation()">
        <input sd-remove-tags
        type="text"
        ng-model="related.description_text"
        ng-model-options="{debounce: 1000}"
        ng-change="onchange()"
        class="image-caption">
    </div>
</figure>
