<div class="modal-header">
    <h3>{{ headerText | translate }}</h3>
</div>
<div class="modal-body" ng-bind-html="bodyText">{{ bodyText | translate }}</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ okText | translate }}</button>
    <button class="btn btn-warning" ng-click="cancel()" ng-show="cancelText">{{ cancelText | translate }}</button>
    <button class="btn btn-warning" ng-click="additionalCancel()" ng-show="additionalCancelText">{{ additionalCancelText | translate }}</button>
</div>