// comments.scss
// Styling for COMMENTS - editor widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';


.sd-widget.metadata {
    .widget-content {
        background: $sd-background;
        padding: 0;
        padding-bottom: $authoring-opened-articles + $scratchpad-closed;
        overflow: auto;
        margin: 5px 0 20px;
    }
    .basic-list {
        margin-bottom: 20px;
        &.top-border {
            border-top: 1px dotted #ddd;
            margin-bottom: 30px;
        }
        > li, .sublist > ul > li {
            padding: 10px 0;
            text-align: right;
            height: 28px;
            line-height: 18px;
            .lbl, label {
                float: left;
                font-size: 11px;
                text-transform: uppercase;
                color: rgba(0,0,0,40%);
                @include text-semibold();
            }
            .data {
                float: right;
                margin-top: -5px;
                padding-top: 5px;
                padding-right: 5px;
                width: 182px;
                height: 27px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                input, select {
                    margin-top: -5px;
                    margin-right: -5px;
                    text-align: right;
                    font-size: 13px;
                }
                select {
                    margin: -4px -4px 0 0;
                    width: auto;
                    padding: 4px 10px;
                    -webkit-appearance: none;
                    max-width: 100%;
                    direction: rtl;
                }
                &.visible {
                    overflow: visible;
                }
                &.wrap {
                    white-space: normal;
                    text-align: right;
                }
            }
            &.wider {
                .data {
                    width: 220px;
                }
            }
            &.auto {
                height: auto;
                text-align: left;
                .lbl, label {
                    display: block;
                    float: none;
                }
                .data {
                    display: block;
                    float: none;
                    margin-top: 0;
                    width: auto;
                    height: auto;
                }
                .datepicker-input {
                    margin-bottom: 10px;
                }
            }
            .preview-state__row {
                margin-bottom: 4px;
                display: block;
                .state-label {
                    float: none;
                    margin-right: 0;
                    padding: 2px 8px;
                }
            }
        }
    }
    .terms-box {
        @include clearfix();
        height: auto !important;
        .term-editor {
          input[type="text"] {
            padding-right: 25px;
            text-align: left;
          }
          .item-list {
            max-width: $tabpane-width - 40px;
          }
        }
        .terms {
            @include user-select(none);
            clear: both;
            float: right;
            padding-top: 10px;
            @include clearfix();
            li {
                  position: relative;
                background: #e8e8e8;
                line-height: 26px;
                height: 26px;
                padding: 0 6px;
                @include border-radius(3px);
                margin: 0 5px 5px 0;
                float: left;
                  @include transition(all .5s);
                i:not(.alt) {
                    position: absolute;
                    display: none;
                    right: 5px;
                    top: 6px;
                    @include opacity(0);
                    @include transition(all .5s);
                }
                &:hover {
                    cursor: pointer;
                    background: #e0e0e0;
                    i {
                        @include opacity(70);
                    }
                }
                &:hover {
                    > i:not(.alt) {
                        display: inline-block;
                    }
                }
                &.selected {
                    background: #333333;
                    color: #e8e8e8;
                }
            }
        }
          select {
          width: 120px;
        }
    }
    .ednote {
        @include clearfix();
        height: auto !important;
        .data {
            clear: both;
            float: none !important;
            height: auto !important;
            width: 100% !important;
        }
    }

}

