// comments.scss
// Styling for COMMENTS - editor widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.sd-widget.metadata {
    .widget-content {
        background: var(--sd-colour-panel-bg--100);
    }
    .ednote {
        @include clearfix();
        height: auto !important;
        .data {
            clear: both;
            float: none !important;
            height: auto !important;
            width: 100% !important;
        }
    }
}


.basic-list {
    margin-block-end: 20px;
    &--dotted {
        .basic-list__item {
            border-block-end: 1px dotted var(--sd-colour-line--medium);
        }
    }
    &--no-margin {
        margin-block-end: 0;
    }
    .basic-list__item {
        padding: 1rem 0 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        &--stacked {
            flex-direction: column;
            align-items: stretch;
            .basic-list__item-label {
                padding-block-end: 0.5rem;
            }
            .basic-list__item-data {
                text-align: start;
                .basic-input {
                    max-width: auto;
                    text-align: start;
                }
            }
        }
    }
    .basic-list__item-label {
        flex-grow: 0;
        font-size: 11px;
        text-transform: uppercase;
        padding-inline-end: 1rem;
        margin: 0;
        color: $sd-text-lighter;
        min-width: 6rem;
        font-weight: 500;
    }
    .basic-list__item-data {
        flex-grow: 1;
        margin-block-end: 2px;
        text-align: end;
        .basic-input {
            max-width: 160px;
            text-align: end;
        }
    }
    .state-label {
        margin-inline-end: 0;
        + .state-label {
            margin-inline-start: 0.5rem;
        }
    }
}