<div class="sd-page__main-content" sd-settings-view>
    <div class="sd-page__header sd-page__header--white">
        <h2 class="sd-page__page-heading" translate>Internal Destinations</h2>
    </div>
    <div class="sd-page__header">
        <sd-check type="radio" ng-model="active_only" label-position="inside" style="margin-left: 0;">{{:: 'All'| translate}}</sd-check>
        <sd-check type="radio" ng-model="active_only" label-position="inside" ng-value="true" ng-checked="true">{{:: 'Active only'| translate}}</sd-check>
        <span class="sd-page__element-grow"></span>
        <button class="btn btn--primary" ng-click="dest.create()">
            <i class="icon-plus-sign icon--white"></i>{{ :: 'Add New' | translate }}
        </button>
    </div>
    <div class="sd-page__content">
        <ul class="pills-list">
            <li ng-repeat="destination in dest.destinations track by destination._id"
                ng-class="{inactive: !destination.is_active}" ng-show="!active_only || (active_only && destination.is_active)"
                class="clearfix">
                <h6>{{ destination.name}}</h6>
                <div class="actions">
                    <button ng-click="dest.edit(destination)" title="{{:: 'Edit' | translate }}"><i class="icon-pencil"></i></button>
                    <button ng-click="dest.remove(destination)" title="{{:: 'Remove' | translate }}"><i class="icon-trash"></i></button>
                </div>
            </li>
            <li ng-show="dest.destinations.length === 0" translate>There are no destinations defined.</li>
        </ul>
    </div>
</div>

<div sd-modal data-model="dest.active" class="modal--large">
    <div class="modal__header">
        <a href="" class="modal__close pull-right" ng-click="dest.closeEdit()"><i class="icon-close-small"></i></a>
        <h3 class="modal__heading" ng-show="!dest.active._id" translate>Add New Destination</h3>
        <h3 class="modal__heading" ng-show="dest.active._id" translate>Edit Destination</h3>
    </div>
    <div class="modal__body">
        <form name="editForm">
            <fieldset>
                <div class="field">
                    <label ng-click="dest.active.is_active = !dest.active.is_active" class="right">
                        {{ :: 'Active' | translate }}
                        <span sd-switch ng-model="dest.active.is_active"></span>
                    </label>
                </div>
                <div class="field">
                    <label for="dest-name" translate>Destination name</label>
                    <input id="dest-name" type="text" class="fullwidth-input" ng-model="dest.active.name" required>
                </div>

                <div class="field" sd-content-filter-select data-model="dest.active.filter"></div>

                <div sd-action-picker
                     data-desk="dest.active.desk"
                     data-stage="dest.active.stage"
                     data-macro="dest.active.macro"
                     class="split"></div>
            </fieldset>
        </form>
    </div>
    <div class="modal__footer">
        <button class="btn" ng-click="dest.stopEdit()" translate>Cancel</button>
        <button class="btn btn--primary" ng-click="dest.save(dest.active)" ng-disabled="editForm.$invalid" translate>Save</button>
    </div>
</div>