<div class="widget-resize-width" ng-show="status">
    <div class="resize-left" ng-click="resizeWidget(widget, 'left')" data-test-id="widget-resize-left"></div>
    <div class="resize-right" ng-click="resizeWidget(widget, 'right')" data-test-id="widget-resize-right"></div>
</div>

<div class="widget-resize-height" ng-show="status">
    <div class="resize-up" ng-click="resizeWidget(widget, 'up')" data-test-id="widget-resize-up"></div>
    <div class="resize-down" ng-click="resizeWidget(widget, 'down')" data-test-id="widget-resize-down"></div>
</div>

<div class="widget-close" ng-click="removeWidget()" ng-show="status" data-test-id="widget-remove"></div>

<div class="r{{widget.sizex}}{{widget.sizey}}" ng-transclude></div>
