<div class="widget-mode" ng-show="options.modeEnabled">
    <time sd-datetime data-date="itemListOptions.creationDateBefore"></time>
</div>

<div class="main-list" ng-class="{wrap: selected}">

    <div class="search-box" ng-class="{blank: related}" ng-show="options.searchEnabled">

        <input type="text" placeholder="{{ :: 'Search' | translate }}"
            ng-model="itemListOptions.keyword"
            ng-model-options="{debounce: 1000}">

    </div>

    <div class="pagination-box" ng-class="{'mode-detailed': options.mode === 'detailed'}" sd-pagination-alt data-page="itemListOptions.page" data-max-page="maxPage" ></div>

    <div class="ingest-list-holder" ng-class="{'mode-detailed': options.mode === 'detailed'}">
        <div sd-shadow>
            <ul class="ingest-list list-view">
                <li ng-repeat="item in processedItems track by $index" class="list-item-view">
                    <div class="dropdown more-actions" dropdown>
                        <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
                        <div class="dropdown-menu pull-right">
                            <ul>
                                 <li ng-repeat="action in actions">
                                    <button id="{{action.title}}" ng-if="action.condition(item)" ng-click="action.method(item)">{{ :: action.title | translate }}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="basic item-block" ng-click="view(item)">
                        <i class="filetype-icon-{{item.type}}"></i>
                        <div class="content">
                            <span class="keyword" ng-if="item.slugline">{{ item.slugline }}</span>
                            <span class="headline">{{item.headline || item.type}}</span>
                            <span class="takekey">{{item.anpa_take_key}}</span>
                            <span ng-if="item.flags.marked_for_legal" class="state-label legal" translate>Legal</span>
                            <span ng-if="item.flags.marked_for_sms" class="state-label sms" translate>Sms</span>
                            <span ng-if="item.rewritten_by" class="state-label updated" translate>Updated</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="preview" ng-class="{wrap: !selected}">
    <div class="nav">
        <button class="backlink" href="" ng-click="view(null)" translate>Back</button>
    </div>
    <div class="content-item-preview">
        <div class="content">
            <div sd-media-preview-widget data-item="selected"></div>
        </div>
    </div>
</div>


