.publisherManager.modal label {
    min-width: auto;
}

.headerMargin {
    margin-top: 48px;

    &--two {
        margin-top: 96px;
    }
}

.navigation-main {
    .subnav {
        top: 0;
    }
    .flex-grid {
        position: absolute;
        top: 48px;
    }
}

