.contentPadding {
    padding: 20px;
}

.headerMargin {
    margin-top: 48px;

    &--two {
        margin-top: 96px;
    }
}

.rightPadding {
    padding-right: 20px;
}

.leftSpace {
    margin-left: .5em;
}

.countLabel {
    display: inline-block;
    background-color: #90bccf;
    color: #fff;
    border-radius: 55px;
    line-height: 1em;
    height: 1em;
    font-size: 11px;
    padding: 4px 6px;
    font-family: arial, sans-serif;
}

.iconButton {
    border: none;
    background: none;
    padding: 0;
}

.text {
    &--light {
        color: $gray;
    }

    &--lighter {
        color: $grayLight;
    }

    &--italic {
        font-style: italic;
    }

    &--bold {
        font-weight: 500;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--small {
        font-size: .9em;
    }

    &--smallHeading {
        font-size: 12px;
        line-height: 1em;
        margin-bottom: .8em;
        color: $gray;
    }
}

.static {
    position: static;
}

.publisherBoxShadow {
    max-height: 570px;
    overflow-y: scroll;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.flex-pull-right {
    margin-left: auto;
}

.publisherPaddingRight10{
    padding-right: 10px !important;
}

.manualListSaveBtn{
    position: fixed;
    right: 25px;
    top: calc(50% - 5px);
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
