.paneContent{
    &__header{
        border-bottom: 1px solid #e4e4e4;
        background-color: $white;
        position: relative;
        width: 100%;
        min-height: 48px;
        padding: 9px 15px;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 100;

        > h3{
            font-size: inherit;
            font-weight: inherit;
        }


        &--dark{
            background: #f4f4f4;
            border-color: $tableBorder;
        }
    }

    &__content{
        height: calc(100% - 48px);
        overflow-y: scroll;
        box-sizing: border-box;

        &--hasFooter{
            height: calc(100% - 108px);
        }
    }

    &__footer{
        height: 60px;
        background-color: $white;
        box-sizing: border-box;
        padding: 16px 24px;
        box-shadow: 0 -1px 2px 0 rgba(0,0,0,.12);
    }
}