<div class="subnav subnav--absolute">
  <header class="search-page-header">
      <div class="filter-trigger"
           title="{{ :: 'Filters' | translate }}"
           ng-click="openAdvanceSearch = !openAdvanceSearch"
           ng-class="{'filter-trigger--active': openAdvanceSearch}"
      ><i class="icon-filter-large"></i></div>
      <div sd-item-searchbar class="searchbar-flex-handler"></div>
      <div sd-contacts-sort-bar data-total="total" class="sortbar-flex-handler"></div>
      <div class="view-select">
          <button sd-tooltip="{{ :: 'Switch to grid view' | translate }}" flow="left" ng-show="view !== 'photogrid'" ng-click="setView('photogrid')"><i class="icon-th"></i></button>
          <button sd-tooltip="{{ :: 'Switch to list view' | translate }}" flow="left" ng-show="view !== 'compact'" ng-click="setView('compact')"><i class="icon-th-list"></i></button>
      </div>
      <div ng-if="privileges.contacts"
        sd-tooltip="{{ :: 'Create contact' | translate }}" flow="left">
         <button class="navbtn dropdown__toggle sd-create-btn" ng-click="createContact()" dropdown__toggle></button>
      </div>
  </header>
</div>
<section class="search main-section search-page-container" ng-class="{'sidebar-open': openAdvanceSearch}">
    <div sd-contacts-search-panel data-items="items" class="archive-sidebar"></div>
    <div sd-contacts-search-results class="archive-content"></div>
</section>
