// variables/colors.scss
// -----------------------------------------------------

$superdesk-green:       rgba(30,176,108,1);

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #666;
$grayText:              #686868;
$grayLight:             #999;
$grayLighter:           #F5F5F5;
$white:                 #fff;

// Accent colors
// -------------------------
$blue:                  #5d9bc0;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #E51C23;
$yellow:                #ffc40d;
$orange:                #f89406;
$purple:                #9c5e96;

$sd-background:         var(--sd-colour-panel-bg--100);
$sd-archived-bg:        var(--sd-colour-panel-bg--100);

$sd-text:               var(--color-text);
$sd-text-light:         var(--color-text-light);
$sd-text-lighter:       var(--color-text-lighter);
$sd-slugline:           var(--sd-slugline-color);
$sd-slugline-darkUI:    hsl(196, 19%, 50%);

$sd-gray-text:          $grayText;
$sd-blue:               #5ea9c8;
$sd-blue-text:          #3599b6;
$sd-hover:              #eff7fa;
$sd-keyword:            var(--sd-slugline-color);
$sd-highlight:          #9b59b6;

$label-light:           #dedede;
$label-medium:          #bababa;
$label-prime:           #61a9c6;
$label-snap:            #9761A0;

$sd-text-label:         $sd-text-light;

$todo-color :           #b70000;
$inprogress-color :     #cc7800;
$done-color :           #288001;

// Item state colors (borders & backgrounds)
// -------------------------
$state-border--locked:          rgb(229, 28, 35);
$state-border--published:       rgb(94, 141, 50);
$state-border--killed:          rgb(48, 48, 48);
$item-background-killed:        rgb(255, 249, 248);
$item-background-published:     lighten($state-border--published, 60%);

// Links
// -------------------------
$linkColor:                     var(--sd-colour-interactive);
$linkColorHover:                var(--sd-colour-interactive--hover);

// Typography
// -------------------------
$headingsColor:                 inherit; // empty to use BS default, $textColor

// Tables
// -------------------------
$tableBackground:               var(--sd-item__main-Bg); // overall background-color
$tableBackgroundAccent:         var(--sd-item__main-Bg--alternate); // for striping
$tableBackgroundHover:          var(--sd-item__main-Bg--hover); // for hover
$tableBorder:                   var(--sd-colour-line--medium); // table and cell border

// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputDisabledBackground:       $grayLighter;

// Dropdowns
// -------------------------
$dropdownBackground:            var(--color-dropdown-menu-Bg);
$dropdownBorder:                var(--sd-colour-line--light);
$dropdownLinkColor:             var(--color-text);
$dropdownLinkColorHover:        var(--color-text);
$dropdownLinkBackgroundHover:   var(--sd-colour-interactive--alpha-20);

// Input placeholder text color
// -------------------------
$placeholderText:               var(--color-text--lighter);

// Hr border color
// -------------------------
$hrBorder:                      rgba(123,123,123,0.4);

// Navbar
// -------------------------
$navbarBackground:              $grayDarker;
$navbarBackgroundHighlight:     $grayDark;

$navbarText:                    $grayLight;
$navbarLinkColor:               $grayLight;
$navbarLinkColorHover:          $white;
$navbarLinkColorActive:         $navbarLinkColorHover;
$navbarLinkBackgroundHover:     transparent;
$navbarLinkBackgroundActive:    $navbarBackground;

// Form states and alerts
// -------------------------
$warningText:          #c09853;
$warningBackground:    #fcf8e3;
$warningBorder:        darken(adjust-hue($warningBackground, -10), 3%);

$errorText:            #b94a48;
$errorBackground:      #f2dede;
$errorBorder:          darken(adjust-hue($errorBackground, -10), 3%);

$successText:          #468847;
$successBackground:    #dff0d8;
$successBorder:        darken(adjust-hue($successBackground, -10), 5%);

$infoText:             #3a87ad;
$infoBackground:       #d9edf7;
$infoBorder:           darken(adjust-hue($infoBackground, -10), 7%);

// Theme
// -------------------------
$background-main:      $sd-background;

// Tablists and Tabpanes
// -------------------------
$tablist-background:   var(--sd-colour-panel-bg--100);

$tabpane-background:   var(--sd-colour-panel-bg--100);
$tabpane-border:       var(--sd-colour__side-panel-border);

$sidebar-background:   var(--sd-colour-sidebar-menu--00);
$archive-sidebar-bg:   var(--sd-colour-panel-bg--100);

//State colors
$state-color-default:  hsl(0, 0%, 55%);
$state-color-blue:     hsl(202, 44%, 56%);
$state-color-green:    hsl(91, 48%, 37%);
$state-color-yellow:   hsl(48, 100%, 41%);
$state-color-orange:   hsl(31, 100%, 43%);
$state-color-navy:     var(--sd-state-colour--navy);
$state-color-magenta:  hsl(300, 100%, 27%);
$state-color-red:      hsl(7, 100%, 37%);
$state-color-embargo:  hsl(337, 100%, 60%);

//Box shadows
$block-shadow-depth-1: 0px 1px 2px 0 hsla(0, 0%, 0%, 0.12);
$block-shadow-depth-2: 0px 1px 4px 0 hsla(0, 0%, 0%, 0.2);

// Widgets
$widget_archive:       hsl(231, 48%, 48%);
$widget_world-clock:   hsl(199, 98%, 48%);
$widget_user-activity: hsl(261, 52%, 56%);
$widget_ingest-stats:  hsl(187, 100%, 42%);
$widget_activity:      hsl(174, 100%, 29%);
$widget_aggregate:     hsl(88, 50%, 53%);
$widget_misc:          hsl(60, 70%, 45%);
$widget_routing:       hsl(13, 78%, 53%);
$widget_analytics:     hsl(333, 69%, 50%);
$widget_ingest:        hsl(262, 52%, 47%);
$widget_publish:       hsl(292, 48%, 51%);

// Monitoring view
$subnav-authoring:     var(--sd-colour-panel-bg--200);
$embeded-auth-shadow:  inset 7px 0px 9px -5px rgba(0,0,0,.25);

// Custom button colors
$btn-custom-hover:         hsl(214, 13%, 30%);
$btn-publish:              hsl(206, 99%, 30%);
$btn-publish-hover:        hsl(207, 98%, 20%);
$btn-publish-plus:         hsl(277, 35%, 35%);
$btn-publish-plus-hover:   hsl(277, 35%, 25%);

// Pulsating BG
$pulsateBG-off:  hsla(14, 100%, 57%, 0.1);
$pulsateBG-on:   hsla(14, 100%, 57%, 0.8);

:root {
    --authoringHeaderBG: var(--sd-colour-panel-bg--100);
    --sd-colour--locked-info: hsla(350, 70%, 50%, 1);
    --sd-colour--locked-subnav: hsla(350, 70%, 90%, 1);

    --sd-state-colour--navy: hsl(240, 92%, 43%);
}
[data-theme="dark-ui"] {
    --authoringHeaderBG: var(--sd-colour-panel-bg--100);
    --sd-colour--locked-info: hsla(350, 55%, 40%, 1);
    --sd-colour--locked-subnav: hsla(350, 40%, 25%, 1);

    --sd-state-colour--navy: hsl(240, 92%, 63%);
}
