// world-clock.scss
// Styling for ingest widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.sd-widget.activity {
    .activity-holder {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        background-color: #fafafa;
        .shadow-list-holder {
            padding: 0 10px;
        }
    }
    .activity-log {
        li.with-date {
            margin-top: 25px;
            .date {
                border-top:0;
                top:-15px;
                span {
                    float: none;
                    padding: 3px 5px;
                    color: #333;
                    text-transform: uppercase;
                    font-size: 11px;
                    @include text-semibold();
                }
            }
        }
        li:hover {
            @include box-shadow(none);
        }
    }

    .activity-load-more {
        margin: 14px 0 12px;
    }

    .activity-log ul li.activity .activity-content {
        p {
            font-weight: 300;
            font-size: 12px;
            b {
                font-weight: 600;
            }
        }
        

    }

}
