<div class="subnav subnav--absolute">
    <div class="button-group button-group--left" ng-if="privileges.users">
        <button sd-tooltip="{{ :: 'Back to users list' | translate }}" flow="right" class="sd-navbtn" ng-click="intent('list', 'user')">
            <i class="icon-arrow-left"></i>
        </button>
    </div>
    <h2 class="page-nav-title page-nav-title--flex page-nav-title--users" data-test-id="page-nav-title">
        <sd-user-avatar data-user="user" data-size="'medium'"></sd-user-avatar>
        <span class="a11y-only" translate >Users Profile:</span><span>{{ user | username }}</span>
    </h2>
</div>

<section class="main-section user-profile-page">
    <div class="form-content">
        <div class="user-details-pane">
            <header>
                <ul class="nav nav-tabs" data-test-id="page-sections">
                    <li ng-repeat="section in sections track by section.id" ng-class="{active: selectedSection.id === section.id}">
                        <button translate data-test-id="page-section" data-test-value="{{section.id}}" ng-click="setSelectedSection(section)"">{{section.label}}</button>
                    </li>
                </ul>
            </header>

            <div class="content">
                <div sd-user-edit data-user="user" ng-if="selectedSection.id === 'overview'"></div>
                <div sd-user-preferences data-user="user" ng-if="selectedSection.id === 'preferences'"></div>
                <div sd-user-privileges data-user="user" ng-if="selectedSection.id === 'privileges' && privileges.users"></div>

                <sd-edit-user-react
                    ng-if="selectedSection.component != null"
                    user="user"
                    on-save="onSave"
                    component="selectedSection.component"
                    style="display: contents"
                ></sd-edit-user-react>
            </div>
        </div>
    </div>

    <div class="other-content">
        <div sd-user-activity data-user="user"></div>
    </div>
</section>
