<div class="subnav subnav--absolute">
    <div class="button-group button-group--left" ng-if="privileges.users">
        <button sd-tooltip="{{ :: 'Back to users list' | translate }}" flow="right" class="sd-navbtn" ng-click="intent('list', 'user')">
            <i class="icon-arrow-left"></i>
        </button>            
    </div>
    <h2 class="page-nav-title page-nav-title--flex page-nav-title--users">
        <sd-user-avatar data-user="user" data-size="'medium'"></sd-user-avatar>
        <span class="a11y-only" translate >Users Profile:</span><span>{{ user | username }}</span>
    </h2>
</div>

<section class="main-section user-profile-page">
    <div class="form-content">
        <div class="user-details-pane" ng-init="selectedTab = 'overview'">
            <header>
                <ul class="nav nav-tabs">
                    <li ng-class="{active: selectedTab === 'overview'}" ng-click="selectedTab = 'overview'">
                        <button translate>Overview</button>
                    </li>
                    <li ng-class="{active: selectedTab === 'preferences'}" ng-click="$parent.selectedTab = 'preferences'" ng-if="profile">
                        <button translate>Personal preferences</button>
                    </li>
                    <li ng-class="{active: selectedTab === 'privileges'}" ng-click="$parent.selectedTab = 'privileges'" ng-if="privileges.users">
                        <button translate>Privileges</button>
                    </li>
                </ul>
            </header>
            <div class="content">
                <div sd-user-edit data-user="user" ng-if="selectedTab === 'overview'"></div>
                <div sd-user-preferences data-user="user" ng-if="selectedTab === 'preferences'"></div>
                <div sd-user-privileges data-user="user" ng-if="selectedTab === 'privileges' && privileges.users"></div>
            </div>
        </div>
    </div>
    <div class="other-content">
        <div sd-user-activity data-user="user"></div>
    </div>
</section>
