<form name="userPrefs">

    <div class="action-bar clearfix" ng-class="{show: userPrefs.$dirty }">
        <button class="btn btn--primary pull-right" ng-disabled="!userPrefs.$dirty" ng-click="save()" translate>Save</button>
        <button class="btn pull-right" ng-click="cancel()" ng-disabled="!userPrefs.$dirty" translate>Cancel</button>
    </div>

    <div class="preferences form-flat inner-content" ng-init="val = true">
        <ul class="simple-list simple-list--comfortable simple-list--dotted simple-list--no-border-b simple-list--no-border-t simple-list--no-padding">
            
            <li class="simple-list__item" 
                ng-repeat="(id, p) in preferences track by id"
                ng-if="showCategory(p)">
                <div class="user-preferences__heading">{{ p.category | translate }}</div>
                <div sd-info-item>
                    
                    <div class="form__row form__row--s-padding" ng-show="id === 'feature:preview'">
                        <span sd-switch ng-hide="p.allowed" ng-model="p.enabled"></span>
                        <label class="form-label">{{ :: p.label | translate }}</label>
                    </div>

                    <span ng-show="p.allowed">
                        <label class="form-label">{{ :: p.label | translate }}</label>
                        <div class="sd-check__group">
                            <sd-check ng-repeat="i in p.allowed" 
                                ng-model="p.view"
                                label-position="inside"
                                type="radio"
                                data-icon="{{getIcon(i)}}" 
                                ng-value="{{i}}">{{ valueLabel(i) }}</sd-check>
                        </div>
                    </span>
                </div>
            </li>

            <li class="simple-list__item">
                <div class="user-preferences__heading" translate>Notifications</div>
                <div class="form__row form__row--s-padding" sd-info-item>
                    <span ng-hide="preferences['email:notification'].allowed" sd-switch ng-model="preferences['email:notification'].enabled"></span>
                    <label>{{ :: preferences['email:notification'].label | translate }}</label>
                </div>
                <div class="form__row form__row--s-padding" sd-info-item>
                    <span ng-hide="preferences['desktop:notification'].allowed" sd-switch ng-model="preferences['desktop:notification'].enabled"></span>
                    <label>{{ :: preferences['desktop:notification'].label | translate }}</label>
                </div>
                <div class="form__row form__row--s-padding" sd-info-item ng-hide="!$root.config.features.slackNotifications">
                    <span ng-hide="preferences['slack:notification'].allowed" sd-switch ng-model="preferences['slack:notification'].enabled"></span>
                    <label>{{ :: preferences['slack:notification'].label | translate }}</label>
                </div>
            </li>

            <li class="simple-list__item terms-box" ng-hide="profileConfig.defaults === false">
                <div class="user-preferences__heading" translate>Article Defaults</div>
                <div class="form-label">{{ 'Dateline'  | translate}} / {{ :: preferences['dateline:located'].label | translate}}</div>

                <div sd-info-item ng-if="preferencesLoaded === true" ng-hide="profileConfig.located === false">
                    <div class="form__row">
                        <span sd-meta-locators 
                            data-list="cities"
                            data-item="preferences['dateline:located']"
                            data-field="located"
                            data-postprocessing="changeDatelinePreview(item, city)"
                            data-keepinput="true"></span>
                        <div sd-info-item class="dateline_preview" ng-hide="!datelinePreview">
                            <span>{{ datelinePreview | previewDateline:datelineSource}} </span>
                        </div>
                    </div>
                </div>
    
                <div sd-info-item ng-if="preferencesLoaded === true" ng-hide="profileConfig.place === false">
                    <label class="form-label">{{ :: preferences['article:default:place'].label | translate}}</label>
                    <div class="form__row form__row--s-padding">
                        <span sd-meta-dropdown
                              data-item="preferences['article:default:place']"
                              data-field="place"
                              data-list="locators"
                              data-change="articleDefaultsChanged(item)"></span>
                    </div>
                </div>
            </li>

            <li class="simple-list__item" ng-hide="profileConfig.category === false">
                <div class="user-preferences__heading">
                    {{ :: preferences['categories:preferred'].category | translate }}
                </div>

                <div sd-info-item>
                    <label>
                        {{ :: preferences['categories:preferred'].label | translate}}
                    </label>
                    <p class="discreet" translate>
                        By selecting the categories you are interested in, the system will only display these in a menu for setting the content item's categories (along with any of its existing categories).
                    </p>

                    <div class="preferences__actions">
                        <a ng-click="checkAll()"
                           class="preferences__action-link"
                           title="{{:: 'Select all categories' | translate}}"
                           translate>all</a>

                        <span class="preferences__action-spacer"></span>

                        <a ng-click="checkNone()"
                           class="preferences__action-link"
                           title="{{:: 'Clear all selected' | translate}}"
                           translate>none</a>
                           
                        <span class="preferences__action-spacer"></span>  

                        <a ng-click="checkDefault()"
                           class="preferences__action-link"
                           title="{{:: 'Select default categories only' | translate}}"
                           translate>default</a>
                    </div>
                    <div class="sd-check__group">
                        <span ng-repeat="cat in categories track by cat.qcode">
                            <sd-check ng-model="cat.selected"
                                label-position="inside"
                                id="cat_{{::cat.qcode}}"
                                ng-value="{{cat.qcode}}">
                                {{:: cat.name | translate}}
                            </sd-check>
                        </span>
                    </div>
                </div>
            </li>

            <li class="simple-list__item" ng-hide="profileConfig.desks === false">
                <div class="user-preferences__heading">
                    {{ :: preferences['desks:preferred'].category | translate }}
                </div>
                <div sd-info-item>
                    <label>
                        {{ :: preferences['desks:preferred'].label | translate}}
                    </label>
                    <p class="discreet" translate>
                        By selecting the desks as your preferred desks, they appear first in the order when sending or publishing items.
                    </p>

                    <div class="sd-check__group sd-check__group--grid">
                        <div  ng-repeat="desk in desks track by desk._id">
                            <sd-check ng-model="desk.selected"
                                label-position="inside"
                                id="{{desk._id}}"
                                ng-value="{{desk._id}}">
                                {{desk.name}}
                            </sd-check>
                        </div>
                    </div>
                </div>
            </li>
            <li class="simple-list__item terms-box" ng-if="showPlanning()">
                <div class="user-preferences__heading" translate>Planning</div>
                <div sd-info-item>
                    <label translate>Default Calendar</label>
                    <span sd-meta-dropdown
                          data-item="preferences['planning:calendar'].calendar"
                          data-list="calendars"
                          data-key="qcode"
                          data-field="qcode"
                          data-change="articleDefaultsChanged(item)"></span>
                </div>
                <div sd-info-item>
                    <label translate>Default Agenda</label>
                    <span sd-meta-dropdown
                          data-item="preferences['planning:agenda'].agenda"
                          data-list="agendas"
                          data-key="name"
                          data-field="name"
                          data-change="articleDefaultsChanged(item)"></span>
                </div>
            </li>

            <li class="simple-list__item terms-box" ng-if="profileConfig.desks !== false">
                <div class="user-preferences__heading" translate>Preferred values for vocabularies</div>
                <div sd-info-item sd-prefered-cv-items-config ng-model="preferences['cvs:preferred_items'].value"></div>
            </li>
        </ul>
    </div>
</form>
