<div class="field"
     sd-width="{{editor.headline.sdWidth|| 'full'}}"
     ng-if="schema.headline && !(features.onlyEditor3 || editor.body_html.editor3)"
     ng-class="{'limit-error': item.headline.length > schema.headline.maxlength}"
     order="{{editor.headline.order}}"
     sd-validation-error="error.headline"
     data-required="schema.headline.required">

    <label translate>Headline</label>
    <span ng-if="schema.headline.maxlength" sd-character-count data-item="item.headline" data-html="true" data-limit="schema.headline.maxlength"></span>
    <div id="title" class="headline"
         sd-text-editor
         data-config="{toolbar: false, imageDragging: false, disableReturn: true, disableEditing: isPublished(item), tabindex: editor.headline.order, paste: {cleanPastedHTML: editor.headline.cleanPastedHTML}}"
         data-language="item.language"
         ng-model="item.headline"
         ng-model-options="{debounce: 100}"
         ng-change="autosave(item)"
         ng-if="_editable"
         ng-trim="false"></div>
    <div class="headline" ng-if="!_editable" sd-html-preview="item.headline"></div>
</div>

<div class="field"
     sd-width="{{editor.headline.sdWidth|| 'full'}}"
     ng-if="schema.headline && (features.onlyEditor3 || editor.body_html.editor3)"
     ng-class="{'limit-error': item.headline.length > schema.headline.maxlength}"
     order="{{editor.headline.order}}"
     sd-validation-error="error.headline"
     data-required="schema.headline.required">

    <label translate>Headline</label>
    <span ng-if="schema.headline.maxlength" sd-character-count data-item="item.headline" data-html="true" data-limit="schema.headline.maxlength"></span>
    <div id="title" class="headline"
         sd-editor3
         data-single-line="true"
         data-bind-to-value="compareView"
         data-language="item.language"
         data-value="item.headline"
         data-on-change="autosave(item)"
         data-read-only="!_editable"
         data-disable-spellchecker="useTansaProofing()"
         data-tabindex="editor.headline.order">
    </div>
</div>

<div class="field"
     ng-if="schema.sms && item._type !== 'archived' && !isMediaType"
     sd-width="{{editor.sms.sdWidth|| 'full'}}"
     order="{{editor.sms.order}}"
     sd-validation-error="error.sms"
     data-required="schema.sms.required">

    <label ng-if="_editable" translate>SMS</label>
    <div ng-if="_editable">
        <span ng-if="_editable" sd-switch ng-model="item.flags.marked_for_sms" class="sms-switch" tabindex="{{editor.sms.order}}"></span>
    </div>
    <span ng-if="item.flags.marked_for_sms" sd-character-count data-item="item.sms_message" data-html="true" data-limit="160"></span>
    <div ng-if="item.flags.marked_for_sms">
        <label translate>SMS Message</label>
        <input type="text" sd-remove-tags
               class="byline"
               id="sms_message"
               ng-model="item.sms_message"
               ng-model-options="{debounce: 100}"
               ng-change="autosave(item)"
               ng-if="_editable"
               placeholder="Add sms message here"
               sd-focus-element
               data-append-element=".field"
               data-append-class="active"
               tabindex="{{editor.sms.order}}">
        <div ng-if="!_editable">{{item.sms_message}}</div>
    </div>
</div>

<div ng-if="schema.feature_image" class="field"
     sd-width="{{editor.feature_image.sdWidth|| 'full'}}"
     sd-validation-error="error.feature_image"
     order="{{editor.feature_image.order}}"
     data-required="schema.feature_image.required">

    <label translate>Featured Image</label>
    <div sd-item-association
         data-item="item"
         data-rel="'featureimage'"
         data-editable="_editable"
         data-onchange="autosave(item)"
         data-save="save()"
         data-show-title="editor.feature_image.imageTitle"
         tabindex="{{editor.feature_image.order}}">
    </div>
</div>
<div ng-if="schema.feature_media" class="field"
     sd-width="{{editor.feature_media.sdWidth|| 'full'}}"
     sd-validation-error="error.feature_media"
     order="{{editor.feature_media.order}}"
     data-required="schema.feature_media.required">
    <label translate>Featured Media</label>
    <div sd-item-association
         data-allow-picture="true"
         data-allow-video="true"
         data-allow-audio="true"
         data-item="item"
         data-rel="'featuremedia'"
         data-editable="_editable"
         data-onchange="autosave(item)"
         data-save="save()"
         data-show-title="editor.feature_media.imageTitle"
         tabindex="{{editor.feature_media.order}}">
    </div>
    <div sd-item-crops
         data-item="item.associations['featuremedia']"
         ng-if="editor.feature_media.showCrops && features.editFeaturedImage &&
         (item.associations['featuremedia'].type == 'picture' ||
         item.associations['featuremedia'].type == 'graphic')">
    </div>
</div>

<div class="field abstract"
     sd-width="{{editor.abstract.sdWidth|| 'full'}}"
     ng-class="{'limit-error': item.abstract.length > schema.abstract.maxlength}"
     ng-if="schema.abstract && !(features.onlyEditor3 || editor.body_html.editor3) && !isMediaType"
     order="{{editor.abstract.order}}"
     sd-validation-error="error.abstract"
     data-required="schema.abstract.required">

    <label translate>Abstract</label>
    <span sd-character-count data-item="item.abstract" data-html="true" data-limit="schema.abstract.maxlength"></span>
    <span sd-word-count data-item="item.abstract" data-html="true"></span>
    <div id="abstract" class="abstract"
         sd-text-editor
         data-config="{disableToolbar: true, imageDragging: false, disableEditing: isPublished(item), tabindex: editor.abstract.order, paste: {cleanPastedHTML: editor.abstract.cleanPastedHTML}}"
         data-editorformat="editor.abstract.formatOptions"
         data-language="item.language"
         ng-model="item.abstract"
         ng-model-options="{debounce: 100}"
         ng-change="autosave(item)"
         ng-if="_editable"
         ng-trim="false">
    </div>
    <div class="abstract" ng-if="!_editable" sd-html-preview="item.abstract"></div>
</div>

<div class="field abstract"
     sd-width="{{editor.abstract.sdWidth|| 'full'}}"
     ng-class="{'limit-error': item.abstract.length > schema.abstract.maxlength}"
     ng-if="schema.abstract && (features.onlyEditor3 || editor.body_html.editor3)"
     order="{{editor.abstract.order}}"
     sd-validation-error="error.abstract"
     data-required="schema.abstract.required">

    <label translate>Abstract</label>
    <span sd-character-count data-item="item.abstract" data-html="true" data-limit="schema.abstract.maxlength"></span>
    <span sd-word-count data-item="item.abstract" data-html="true"></span>
    <div id="abstract" class="abstract"
         sd-editor3
         data-editor-format="editor.abstract.formatOptions"
         data-bind-to-value="compareView"
         data-language="item.language"
         data-value="item.abstract"
         data-on-change="autosave(item)"
         data-read-only="!_editable"
         data-disable-spellchecker="useTansaProofing()"
         data-tabindex="editor.abstract.order">
    </div>
</div>

<div class="field"
     ng-if="item._type !== 'archived' && schema.byline"
     sd-width="{{editor.byline.sdWidth|| 'full'}}"
     order="{{editor.byline.order}}"
     sd-validation-error="error.byline"
     data-required="schema.byline.required">

    <label translate>Byline</label>
    <input type="text"
           sd-remove-tags
           class="byline"
           id="byline"
           ng-model="item.byline"
           ng-model-options="{debounce: 100}"
           ng-change="autosave(item)"
           ng-if="_editable"
           sd-focus-element
           data-append-element=".field"
           data-append-class="active"
           tabindex="{{editor.byline.order}}">
    <div class="byline" ng-if="!_editable" sd-html-preview="item.byline"></div>
</div>

<!--This article-edit view is used by templates as well.
    ng-if is used to hide dateline for the template create/edit screen.-->
<div class="field"
     ng-show="item._type !== 'archived' && (!template || template.template_type !== 'kill') && schema.dateline && !isMediaType"
     order="{{editor.dateline.order}}"
     sd-validation-error="error.dateline"
     data-required="schema.dateline.required"
     sd-width="{{editor.dateline.sdWidth|| 'full'}}">

    <label translate>Dateline</label>
    <div class="dateline">
        <div sd-meta-locators
             class="dateline-city"
             data-tabindex="editor.dateline.order"
             ng-disabled="!_editable"
             data-list="metadata.cities"
             data-item="item"
             data-fieldprefix="dateline"
             data-field="located"
             placeholder="Add location"
             data-postprocessing="updateDateline(item, city)"
             data-change="autosave(item)"
             sd-focus-element
             data-element="input"
             data-append-element=".field"
             data-append-class="active"
             data-keepinput="true"
             tabindex="{{editor.dateline.order}}">
        </div>

        <div ng-show="!editor.dateline.hideDate" class="dateline-date">
            <select id="datelineMonth"
                    tabindex="{{editor.dateline.order}}"
                    ng-options="monthName | translate for (monthName, monthValue) in monthNames"
                    ng-disabled="!item.dateline.located || !_editable"
                    ng-change="resetNumberOfDays(true, dateline.month)"
                    placeholder="Choose month"
                    ng-model="dateline.month"
                    sd-focus-element
                    data-append-element=".field"
                    data-append-class="active"
                    tabindex="{{editor.dateline.order}}">
                <option value=""></option>
            </select>

            <select id="datelineDay"
                    tabindex="{{editor.dateline.order}}"
                    ng-options="day for day in daysInMonth"
                    ng-disabled="!item.dateline.located || !_editable"
                    ng-change="modifyDatelineDate(dateline.day)"
                    placeholder="Choose day"
                    ng-model="dateline.day"
                    sd-focus-element
                    tabindex="{{editor.dateline.order}}"
                    data-append-element=".field"
                    data-append-class="active">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>

<div class="field body"
     ng-if="!isMediaType && schema.body_html && !(features.onlyEditor3 || editor.body_html.editor3)"
     order="{{editor.body_html.order}}"
     sd-validation-error="error.body_html"
     data-required="schema.body_html.required"
     sd-width="{{editor.body_html.sdWidth|| 'full'}}">
    <label translate>Body</label>
    <span sd-reading-time data-item="item.body_html" data-html="true"></span>
    <span sd-character-count data-item="item.body_html" data-html="true"></span>
    <span sd-word-count data-item="item.body_html" data-html="true"></span>
    <div id="bodyhtml"
         sd-text-editor
         data-config="{disableEditing: isPublished(item), multiBlockEdition: true, tabindex: editor.body_html.order, showTitle: editor.body_html.imageTitle, paste: {cleanPastedHTML: editor.body_html.cleanPastedHTML}}"
         data-editorformat="editor.body_html.formatOptions"
         ng-model="item.body_html"
         ng-if="_editable"
         ng-change="autosave(item)"
         ng-model-options="{debounce: 100}"
         data-associations="item.associations"
         data-language="item.language"
         data-type="item.type">
    </div>
    <div class="text-editor" sd-html-preview="item.body_html" ng-if="!_editable"></div>
</div>

<div contenteditable="true" id="editor3Tansa" tansa-proofing="true"  style="position: fixed; top: -1000px; left: -1000px; height: 150px; width: 500px; display: block;"></div>

<div class="field body"
     ng-if="!isMediaType && schema.body_html && (features.onlyEditor3 || editor.body_html.editor3)"
     order="{{editor.body_html.order}}"
     sd-validation-error="error.body_html"
     data-required="schema.body_html.required"
     sd-width="{{editor.body_html.sdWidth|| 'full'}}"
     tansa-proofing="false">

    <label translate>Body</label>
    <span sd-reading-time data-item="item.body_html" data-html="true"></span>
    <span sd-character-count data-item="item.body_html" data-html="true"></span>
    <span sd-word-count data-item="item.body_html" data-html="true"></span>
    <div id="bodyhtml"
         sd-editor3
         data-find-replace-target
         data-highlights
         data-bind-to-value="compareView"
         data-scroll-container=".page-content-container"
         data-editor-format="editor.body_html.formatOptions"
         data-editor-state="item.editor_state"
         data-value="item.body_html"
         data-read-only="!_editable"
         data-on-change="autosave(item, 0)"
         data-debounce="500"
         data-language="item.language"
         data-disable-spellchecker="useTansaProofing()"
         data-item="item"
         data-show-title="editor.body_html.imageTitle"
         data-tabindex="editor.body_html.order">
    </div>
</div>

<div class="field media-item"
     ng-if="isMediaType"
     ng-class="{'media-item--loading': mediaLoading}"
     order="{{editor.media.order}}"
     sd-validation-error="error.media"
     data-required="schema.media.required"
     tabindex="{{editor.media.order}}"
     sd-width="{{editor.media.sdWidth|| 'full'}}">

    <div ng-if="item.type == 'picture' || item.type == 'graphic'" class="full-preview" sd-ratio-calc>
        <div>
            <span translate>Original</span>
            <div sd-item-rendition data-item="item" data-rendition="baseImage" ng-click="preview(item);"></div>
        </div>
        <div sd-item-crops data-item="item"></div>
        <button id="btnCrop" class="btn btn--medium pull-right" ng-click="applyCrop()" ng-if="metadata.crop_sizes && _editable">
            <span ng-if="!item.hasCrops" translate>APPLY CROPS</span>
            <span ng-if="item.hasCrops" translate>EDIT CROPS</span>
        </button>
    </div>

    <div ng-if="item.type == 'audio'">
        <audio controls="controls" sd-sources data-renditions="item.renditions"></audio>
    </div>

    <div ng-if="item.type == 'video'">
        <video controls="controls" sd-sources data-renditions="item.renditions"></video>
    </div>
</div>

<div ng-if="isMediaType && !(features.onlyEditor3 || editor.body_html.editor3)"
     class="field abstract"
     order="{{editor.media_description.order}}"
     sd-validation-error="error.description_text"
     sd-width="{{editor.media_description.sdWidth|| 'full'}}"
     data-required="schema.media_description.required">
    <label translate>Caption</label>
    <span ng-if="validator.description_text.maxlength" sd-character-count data-item="item.description_text" data-html="true" data-limit="validator.description_text.maxlength"></span>
    <div id="title" class="abstract"
         sd-text-editor
         data-config="{disableToolbar: true, disableReturn: true, disableEditing: isPublished(item), tabindex: editor.description_text.order, paste: {cleanPastedHTML: editor.description_text.cleanPastedHTML}}"
         data-editorformat="editor.description_text.formatOptions"
         data-language="item.language"
         ng-model="item.description_text"
         ng-model-options="{debounce: 100}"
         ng-change="autosave(item)"
         ng-if="_editable"
         ng-trim="false"></div>
    <div class="abstract" ng-if="!_editable">{{item.description_text}}</div>
</div>

<div ng-if="isMediaType && (features.onlyEditor3 || editor.body_html.editor3)"
     class="field abstract"
     order="{{editor.media_description.order}}"
     sd-validation-error="error.description_text"
     sd-width="{{editor.media_description.sdWidth|| 'full'}}"
     data-required="schema.media_description.required">
    <label translate>Caption</label>
    <span ng-if="validator.description_text.maxlength" sd-character-count data-item="item.description_text" data-html="true" data-limit="validator.description_text.maxlength"></span>
    <div id="title" class="abstract"
         sd-editor3
         data-editor-format="editor.description_text.formatOptions"
         data-bind-to-value="compareView"
         data-value="item.description_text"
         data-read-only="!_editable"
         data-on-change="autosave(item)"
         data-language="item.language"
         data-disable-spellchecker="useTansaProofing()"
         data-item="item"
         data-tabindex="editor.media_description.order">
    </div>
</div>

<div class="field"
     ng-if="schema.footer && metadata.footers && item._type !== 'archived' && item.type !== 'composite' && !isMediaType"
     sd-validation-error="error.body_footer_value"
     data-required="schema.footer.required"
     order="{{editor.footer.order}}"
     sd-width="{{editor.media_description.sdWidth|| 'full'}}">
    <label translate>Helplines/Contact Information</label>
    <select id="helplines"
            ng-model="extra.body_footer_value"
            ng-disabled="!_editable"
            tabindex="{{editor.footer.order}}"
            ng-options="f.name for f in metadata.footers track by f.name"
            ng-change="addHelplineToFooter()"
            sd-focus-element
            data-append-element=".field"
            data-append-class="active"
            tabindex="{{editor.footer.order}}">
        <option value=""></option>
    </select>
</div>

<div class="field"
     ng-if="schema.body_footer && !(features.onlyEditor3 || editor.body_html.editor3) && !isMediaType"
     order="{{editor.body_footer.order}}"
     sd-validation-error="error.body_footer"
     data-required="schema.body_footer.required"
     sd-width="{{editor.body_footer.sdWidth|| 'full'}}">
    <label translate>Footer</label>
    <div id="body_footer" class="body"
         sd-text-editor
         data-config="{disableToolbar: true, disableEditing: isPublished(item), tabindex: editor.body_footer.order, paste: {cleanPastedHTML: editor.body_footer.cleanPastedHTML}}"
         data-language="item.language"
         ng-model="item.body_footer"
         ng-model-options="{debounce: 100}"
         ng-change="autosave(item)"
         ng-if="_editable"
         ng-trim="false"
         sd-focus-element
         data-append-element=".field"
         data-append-class="active">
    </div>
    <div id="body_footer_preview" class="abstract" ng-if="!_editable"  sd-html-preview="item.body_footer"></div>
</div>

<div class="field"
     ng-if="schema.body_footer && (features.onlyEditor3 || editor.body_html.editor3)"
     order="{{editor.body_footer.order}}"
     sd-validation-error="error.body_footer"
     data-required="schema.body_footer.required"
     sd-width="{{editor.body_footer.sdWidth|| 'full'}}">
    <label translate>Footer</label>
    <div id="body_footer" class="body"
         sd-editor3
         data-bind-to-value="compareView"
         data-editor-format="editor.body_footer.formatOptions"
         data-value="item.body_footer"
         data-read-only="!_editable"
         data-on-change="autosave(item)"
         data-language="item.language"
         data-disable-spellchecker="useTansaProofing()"
         data-item="item"
         data-tabindex="editor.body_footer.order">
    </div>
</div>

<div class="composite-preview" ng-if="item.type === 'composite'">
    <div sd-package-items-edit ng-model="item.groups" ng-if="_editable"></div>
    <div sd-package data-item="item" class="composite-preview" ng-if="!_editable"></div>
</div>

<div class="field pull-left"
     ng-if="schema.sign_off && !isMediaType"
     order="{{editor.sign_off.order}}"
     sd-validation-error="error.sign_off"
     data-required="schema.sign_off.required"
     sd-width="{{editor.sign_off.sdWidth|| 'full'}}">
    <label translate>Sign-Off</label>
    <button id="sign-off-unlock" class="icn-btn btn-signOff" ng-click="changeSignOffEdit()" tabindex="{{editor.sign_off.order}}" title="Unlock edit Sign-Off" ng-if="_editable">
        <i class="icon-lock" ng-hide="editSignOff"></i>
        <i class="icon-unlocked" ng-show="editSignOff"></i>
    </button>
    <div ng-hide="editSignOff" class="text-field__non-editable" id="sign-off">{{item.sign_off}}</div>
    <input type="text" sd-remove-tags
           class="byline"
           id="sign_off"
           ng-model="item.sign_off"
           ng-model-options="{debounce: 100}"
           ng-change="autosave(item)"
           ng-if="_editable && editSignOff"
           placeholder="Sign off"
           sd-focus-element
           data-append-element=".field"
           data-append-class="active"
           tabindex="{{editor.sign_off.order}}">

    <div ng-if="canListEditSignOff && _editable"
         ng-show="editSignOff"
         sd-user-select-list
         data-tabindex="editor.sign_off.order"
         data-onchoose="modifySignOff(user)"
         data-onsearch="searchSignOff(search)"
         data-display-user="{{ getSignOffMapping()}}">
    </div>
</div>

<div class="field" ng-if="schema.usageterms"
    sd-width="{{editor.usageterms.sdWidth || 'full'}}"
    order="{{editor.usageterms.order}}"
    sd-validation-error="error.usageterms"
    data-required="schema.usageterms.required">
  <label translate>Usage Terms</label>
  <input type="text"
         sd-remove-tags
         class="usageterms"
         id="usageterms"
         ng-model="item.usageterms"
         ng-model-options="{debounce: 100}"
         ng-change="autosave(item)"
         ng-if="_editable"
         sd-focus-element
         data-append-class="active"
         tabindex="{{editor.usageterms.order}}">
  <div class="usageterms" ng-if="!_editable" sd-html-preview="item.usageterms"></div>
</div>

<!-- custom text editor fields -->
<div class="field" ng-repeat="field in fields track by field._id"
    ng-if="field.field_type === 'text'"
    sd-width="{{ editor[field._id].sdWidth || 'full' }}"
    data-required="schema[field._id].required"
    order="{{ editor[field._id].order }}"
    sd-validation-error="error[field._id.toLowerCase()]">

    <label>{{ field.display_name }}</label>
    <span ng-if="schema[field._id].maxlength || schema[field._id].minlength" sd-character-count
        data-item="item.extra[field._id]" data-html="true" data-limit="schema[field._id].maxlength"></span>
    <div sd-editor3
        data-single-line="field.field_options.single"
        data-value="item.extra[field._id]"
        data-bind-to-value="compareView"
        data-language="item.language"
        data-on-change="autosave(item)"
        data-read-only="!_editable"
        data-disable-spellchecker="useTansaProofing()"
        data-editor-format="editor[field._id].formatOptions"
        data-item="item"
        data-tabindex="editor[field._id].order">
    </div>
    <div class="sd-line-input__hint" ng-if="helper_text[field._id]">{{field.helper_text}}</div>
</div>

<div class="field" ng-repeat="field in fields track by field._id"
    ng-if="field.field_type === 'embed'"
    sd-width="{{ editor[field._id].sdWidth || 'full' }}"
    order="{{ editor[field._id].order }}"
    class="sd-line-input">
    <label translate>{{ field.display_name }}</label>
    <button type="button" class="btn btn--primary pull-right"
        ng-click="processEmbed(field._id)" ng-show="isURL(item.extra[field._id].embed)" translate>Generate From URL
    </button>
    <button id="preview-embed-btn" type="button" class="btn btn--primary pull-right" ng-click="previewEmbed(field._id)"
            ng-show="item.extra[field._id].embed && isValidEmbed[field._id] && !isPreviewOn(field._id)" translate>Preview
    </button>
    <button id="preview-embed-btn" type="button" class="btn btn--primary pull-right" ng-click="hideEmbedPreview(field._id)"
            ng-show="isPreviewOn(field._id)" translate>Hide Preview
    </button>
    <textarea id="embed-field-{{ field._id }}" class="sd-line-input__input" type="text"
        ng-change="validateEmbed(field._id)" ng-model="item.extra[field._id].embed"
        sd-validation-error="error.extra[field._id].embed" data-required="schema[field._id].required"></textarea>
    <input type="text" class="sd-line-input__input" ng-model="item.extra[field._id].description"
        sd-remove-tags ng-change="autosave(item)" placeholder="{{ 'Description' | translate }}">
    <div id="embed-preview-{{ field._id }}" ng-show="embedPreviews[field._id]"></div>
    <div class="sd-line-input__hint" ng-if="helper_text[field._id]">{{field.helper_text}}</div>
</div>

<div class="field" ng-repeat="field in fields track by field._id"
     ng-if="field.field_type === 'media'"
     sd-width="{{editor[field._id].sdWidth || 'full'}}"
     sd-validation-error="error[field._id.toLowerCase()]"
     order="{{editor[field._id].order}}"
     data-required="schema[field._id].required">
    <label translate>{{ field.display_name }}</label>
    <div sd-item-association
         data-allow-picture="!!field.field_options.allowed_types.picture"
         data-allow-video="!!field.field_options.allowed_types.video"
         data-allow-audio="!!field.field_options.allowed_types.audio"
         data-item="item"
         data-rel="field._id"
         data-editable="_editable"
         data-onchange="autosave(item)"
         data-save="save()"
         data-show-title="editor[field._id].imageTitle"
         tabindex="{{editor[field._id].order}}">
    </div>
    <div sd-item-crops
         data-item="item.associations[field._id]"
         ng-if="editor[field._id].showCrops && features.editFeaturedImage &&
         !!field.field_options.allowed_types.picture">
    </div>
    <div class="sd-line-input__hint" ng-if="helper_text[field._id]">{{field.helper_text}}</div>
</div>
