<div id="subnav" class="subnav subnav--authoring" ng-class="{'auth-sendto': views.send, 'subnav--locked': isLocked()}" sd-media-query min-width="900">

    <sd-authoring-topbar-react
      article="item"
      action="action"
      on-change="handleArticleChange"
    ></sd-authoring-topbar-react>

    <div ng-show="isLocked()" class="locked-info">
      <figure class="avatar small">
          <div class="user-image">
              <img sd-user-avatar data-user="item.lock_user">
          </div>
      </figure>
      <span class="locked-info__label" translate>Locked by</span>
      <span class="locked-info__name">{{ item.lock_user | username }}</span>
      <button
        class="locked-info__button"
        ng-show="can_unlock()"
        ng-click="unlock()"
        ng-disabled="unlockClicked"
        sd-hotkey="ctrl+shift+u"
        sd-hotkey-options="{global: true}"
        translate>
        Unlock
      </button>
    </div>

    <div class="subnav__authoring-topbar" ng-class="{'enable-overflow': item.highlights || item._type === 'archived'}">
        <span ng-if="item._type === 'archived'" class="stage" ng-style="{'overflow': 'visible'}" tooltip="{{:: 'Archived from' | translate}} {{deskName}} / {{ stage.name}}" tooltip-placement="bottom" ng-show="stage"><b>{{:: 'Archived from' | translate}} {{deskName}}</b> / {{ stage.name }}</span>
        <span ng-if="item._type !== 'archived'" class="stage" tooltip="{{deskName}} / {{ stage.name }}" tooltip-placement="bottom" ng-show="stage" ng-if="item._type !== 'legal_archive'"><b>{{deskName}}</b> / {{ stage.name }}</span>
        <span class="stage" tooltip="{{deskName}} / {{ stage }}" tooltip-placement="bottom" ng-show="stage" ng-if="item._type === 'legal_archive'"><b>{{deskName}}</b> / {{ stage }}</span>
        <span sd-marked-item-title data-item="item" data-field="highlights"></span>
        <span sd-marked-item-title data-item="item" data-field="marked_desks"></span>
        <span sd-assignment-icon data-item="item"/>
        <span class="label label--warning" ng-show="item._type !== 'archived' && stage.local_readonly"
          translate>Read-only</span>
    </div>

    <div class="subnav__stretch-bar" ng-if="showCustomButtons(item)">
      <div
        class="subnav__button-stack subnav__button-stack--custom-buttons"
        ng-if="$root.config.features.customAuthoringTopbar != null && ($root.config.features.customAuthoringTopbar.toDesk === true || $root.config.features.customAuthoringTopbar.publish === true || $root.config.features.customAuthoringTopbar.publishAndContinue == true)"
        ng-show="_editable && itemActions.save && action === 'edit'"
      >
        <button
                ng-if="$root.config.features.customAuthoringTopbar.toDesk === true"
                class="btn btn--custom"
                ng-click="saveAndContinue(sendToNextStage, false)"
                title="{{ :: 'To Desk' | translate }}">
                <span class="btn__text" translate>To Desk</span>
                <span class="btn__text--short" translate>T D</span>
        </button>
        <button
                ng-if="$root.config.features.customAuthoringTopbar.publish === true"
                class="btn btn--custom btn--publish"
                type="submit"
                ng-if="canPublishOnDesk()"
                ng-click="saveAndContinue(publish, true)"
                title="{{ :: 'Publish' | translate }}">
                <span class="btn__text" translate>Publish</span>
                <span class="btn__text--short" translate>P</span>
        </button>
        <button
                ng-if="$root.config.features.customAuthoringTopbar.publishAndContinue === true"
                class="btn btn--custom btn--publish-plus"
                ng-if="canPublishOnDesk()"
                ng-click="saveAndContinue(publishAndContinue, true)"
                title="{{ :: 'Publish and Continue' | translate }}">
                <span class="btn__text">{{ :: 'Publish and Continue' | translate }}</span>
                <span class="btn__text--short">{{ :: 'P & C' | translate }}</span>
        </button>
      </div>
    </div>
    <div class="subnav__button-stack subnav__button-stack--default" sd-media-query min-width="180">
      <button id="Edit" class="btn btn--medium btn--primary" ng-if="item._type !== 'legal_archive'"
        ng-show="action === 'view' && !item._editable && itemActions.edit"
        ng-click="edit()"
        translate>Edit</button>

      <button class="btn btn--primary"
        ng-show="(action === 'view' || !item._editable) && itemActions.deschedule"
        ng-click="deschedule()"
        translate>Deschedule</button>

      <button class="btn btn--primary" ng-if="item._type !== 'legal_archive' && !isLocked() && userHasPrivileges({rewrite: 1}) === true"
        ng-show="(action === 'view' || !item._editable) && itemActions.re_write"
        ng-click="openAction('rewrite')"
        translate>Update</button>

      <button class="btn btn--primary" ng-if="item._type !== 'legal_archive' && userHasPrivileges({correct: 1}) === true"
        ng-show="(action === 'view' || !item._editable) && itemActions.correct"
        ng-click="openAction('correct')"
        translate>Correct</button>

      <button class="btn btn--primary" ng-if="item._type !== 'legal_archive' && userHasPrivileges({takedown: 1}) === true"
        ng-show="(action === 'view' || !item._editable) && itemActions.takedown"
        ng-click="openAction('takedown')"
        translate>Takedown</button>

      <button class="btn btn--primary" ng-if="item._type !== 'legal_archive' && userHasPrivileges({kill: 1}) === true"
        ng-show="(action === 'view' || !item._editable) && itemActions.kill"
        ng-click="openAction('kill')"
        translate>Kill</button>

        <button class="btn btn--hollow"
                id="closeAuthoringBtn"
                ng-click="close()"
                ng-if="action !== 'correct' && action !== 'kill'"
                title="{{ :: 'Close' | translate }}"
                sd-hotkey="ctrl+shift+e"
                sd-hotkey-options="{global: true}">
            <span translate>Close</span>
        </button>

      <button class="btn btn--primary" type="submit"
        ng-click="saveTopbar()"
        ng-show="_editable"
        ng-if = "itemActions.save && action === 'edit'"
        ng-disabled="!save_enabled() || saveDisabled"
        sd-hotkey="ctrl+shift+s"
        sd-hotkey-options="{global: true}"
        translate>Save</button>

      <button class="btn btn--primary" type="submit"
        ng-click="previewFormattedItem()"
        ng-show="_editable"
        ng-if = "itemActions.save && previewFormattedEnabled() && action === 'edit'"
        ng-disabled="save_enabled() && !saveDisabled"
        sd-hotkey="ctrl+shift+l"
        sd-hotkey-options="{global: true}"
        translate>Preview</button>

        <div sd-preview-formatted ng-if="previewFormatted"></div>

      <button id="export" class="btn btn--primary"
        ng-click="exportHighlight(item)"
        ng-disabled="!_editable"
        ng-if="showExportButton"
        translate>Export</button>

        <button class="btn btn--primary" type="submit"
                id="send-correction-btn"
                ng-if="action === 'correct'"
                ng-show="_editable"
                ng-disabled="canSendAndPublish()"
                ng-click="publish()"
                translate>Send Correction</button>

        <button class="btn btn--primary" type="submit"
                id="send-kill-btn"
                ng-if="action === 'kill'"
                ng-show="_editable"
                ng-disabled="canSendAndPublish()"
                ng-click="publish()"
                translate>Send Kill</button>

        <button class="btn btn--primary" type="submit"
                id="send-takedown-btn"
                ng-if="action === 'takedown'"
                ng-show="_editable"
                ng-disabled="canSendAndPublish()"
                ng-click="publish()"
                translate>Send Takedown</button>

        <button class="btn"
                id="cancelAuthoringBtn"
                ng-if="action === 'correct' || action === 'kill'"
                ng-click="close()"
                translate>Cancel</button>

        <button ng-repeat="(_, btn) in additionalButtons" ng-class="btn.class" ng-click="btn.onClick(item)">{{btn.label}}</button>
    </div>

    <div class="subnav__button-stack subnav__button-stack--square-buttons">
        <button class="navbtn strict"
                ng-if="!isLocked() && _editable && buttonsToHide['article-edit--topbar--minimize'] !== true"
                title="{{ :: 'Minimize' | translate }}"
                ng-click="minimize()">
            <i class="big-icon--minimize"></i>
        </button>

        <div id="authoring-extra-dropdown"
             ng-if="item._type !== 'legal_archive' && item._type !== 'archived' && !highlight && item.state !== 'spiked' && buttonsToHide['article-edit--topbar--actions'] !== true"
             class="dropdown pull-left strict" dropdown>
            <button id="more-actions" class="navbtn dropdown__toggle" title="{{ :: 'More actions' | translate }}" dropdown__toggle>
                <i class="icon-dots-vertical"></i>
            </button>
            <div class="dropdown__menu pull-right">
                <ul ng-controller="TemplateMenu as templateMenu" ng-show="canSaveTemplate()">
                  <li>
                    <button type="button"
                        ng-click="templateMenu.create(item)"
                        translate>Save as template</button>
                  </li>
                </ul>

                <ul ng-if="!hideLiveSuggestions()">
                  <li>
                    <button type="button" ng-click="openSuggestions()" class="live-suggest-menu-item" translate>
                      Live suggestions
                    </button>
                  </li>
                </ul>

                <ul id="compare-versions" ng-if="item.task.desk">
                    <li>
                      <button type="button"
                        ng-click="openCompareVersions(item)"
                        translate>Compare versions</button>
                  </li>
                </ul>

                <ul id="multiedit" ng-if="item.task.desk && itemActions.multi_edit && !isLocked()" ng-show="action !== 'kill'">
                    <li>
                    <div class="dropdown multiedit-toggle" dropdown>
                      <button class="dropdown__toggle" dropdown__toggle>
                        {{ :: 'Multiedit' | translate }}
                      </button>
                      <ul class="dropdown__menu dropdown__menu--submenu-left" sd-multiedit-dropdown></ul>
                    </div>
                  </li>
                </ul>

                <ul ng-if='canExport()'>
                  <li>
                    <button type="button"
                        ng-click="openExport()"
                        >{{ :: 'Export' | translate }}
                        <i class="icon-download-right-thin dropdown__submenu-icon"></i>
                        <div sd-export ng-if="export"></div>
                      </button>
                  </li>
                </ul>

                <ul ng-if="extraActionsFromExtensions">
                    <!-- Extra actions from extensions without a group id -->
                    <li ng-repeat="action in extraActionsFromExtensions" ng-if="!action.groupId">
                        <button  ng-click="triggerActionFromExtension(action)">{{action.label}}</button>
                    </li>
                </ul>

                <ul ng-if="item.task.desk && (itemActions.mark_item_for_desks || itemActions.mark_item_for_highlight)">
                  <li class="dropdown__menu-divider"></li>
                  <li><span class="dropdown__menu-label" translate>Mark item for</span></li>
                  <li ng-if="itemActions.mark_item_for_highlight">
                    <div class="dropdown highlights-toggle" dropdown>
                      <button class="dropdown__toggle" dropdown__toggle>
                        {{ :: 'Highlights' | translate }}
                      </button>
                      <ul class="dropdown__menu dropdown__menu--submenu-left" sd-mark-highlights-dropdown></ul>
                    </div>
                  </li>
                  <li ng-if="itemActions.mark_item_for_desks">
                    <div class="dropdown marks-toggle" dropdown>
                      <button class="dropdown__toggle" dropdown__toggle>
                        {{ :: 'Desks' | translate }}
                      </button>
                      <ul class="dropdown__menu dropdown__menu--submenu-left" sd-mark-desks-dropdown></ul>

                    </div>
                  </li>
                  <li ng-repeat="action in extraActionsFromExtensions">
                      <button ng-if="action.groupId === 'highlights'" ng-click="triggerActionFromExtension(action)">{{action.label}}</button>
                  </li>
                </ul>

                <span sd-item-action-by-intent sd-intent-action="external-app"></span>

                <ul ng-if="isTranslationAvailable()">
                  <li class="dropdown__menu-divider"></li>
                  <li><span class="dropdown__menu-label" translate>Translations</span></li>
                  <li>
                    <div class="dropdown highlights-toggle" dropdown>
                      <button class="dropdown__toggle" dropdown__toggle>
                        {{ :: 'Translate item to' | translate }}
                      </button>
                      <ul class="dropdown__menu dropdown__menu--submenu-left" sd-translation-dropdown></ul>
                    </div>
                  </li>
                </ul>

                <ul ng-if="_editable" ng-controller="SpellcheckMenu as spellcheckMenu">
                    <li class="dropdown__menu-divider"></li>
                    <li><span class="dropdown__menu-label" translate>Spell Checker</span></li>
                    <li ng-if="!useTansaProofing()" class="dropdown__menu-item--no-link">
                      <span class="pull-right"
                          sd-switch
                          ng-model="spellcheckMenu.isAuto"
                          ng-change="spellcheckMenu.pushSettings()"
                          ng-hide="getSpellchecker(item.language) == null"
                          tooltip="{{ spellcheckMenu.isAuto ? 'Spell checking ON' : 'Spell checking OFF'  | translate }}"
                          tooltip-placement="left"></span>
                      <span translate>Run automatically</span>
                    </li>
                    <li ng-if="!useTansaProofing()">
                        <button type="button"
                            ng-click="spellcheckMenu.runSpellchecker()"
                            ng-disabled="spellcheckMenu.isAuto"
                            sd-hotkey="ctrl+shift+y"
                            sd-hotkey-options="{global: true}">
                              <span class="shortcut pull-right">Ctrl+Shift+Y</span>
                              <span translate>Check spelling</span>
                        </button>
                    </li>
                    <li ng-if="useTansaProofing()">
                        <button type="button"
                            ng-click="runTansa()"
                            sd-hotkey="ctrl+shift+y"
                            sd-hotkey-options="{global: true}">
                              <span class="shortcut pull-right">Ctrl+Shift+Y</span>
                              <span translate>Check spelling</span>
                        </button>
                    </li>
                </ul>
                <span sd-extension-point="authoring-topbar"></span>
            </div>
        </div>

        <button id="send-to-btn" ng-show="_editable"
            ng-if="action !== 'correct' && action !== 'kill' && buttonsToHide['article-edit--topbar--sendto-publish'] !== true"
            class="navbtn navbtn--highlighted" sd-tooltip="{{ :: 'Send to / Publish' | translate }}" flow="left"
            ng-click="views.send = !views.send"
            ng-class="{'active': views.send}">
            <i class="big-icon--send-to big-icon--white"></i>
        </button>
    </div>
</div>
