<div class="video-editing"></div>
<div class="modal__header modal__header--flex">
    <div class="modal__sliding-toolbar" ng-show="editVideo.isDirty">
        <div class="sliding-toolbar__inner"></div>
        <a class="btn" ng-click="cancelEditVideo()" translate>Cancel</a>
        <a class="btn btn--primary" ng-click="saveEditVideo()" translate>Save</a>
    </div>
    <h3 class="modal__heading modal__heading--no-grow" ng-if="nav === 'view'" translate>Video details</h3>
    <h3 class="modal__heading modal__heading--no-grow" ng-if="nav === 'video-edit'" translate>Edit video</h3>
    <div class="modal__header-buttons  modal__header-buttons--center modal__header-element-grow button-nav"
        ng-init="nav = 'view'">
        <button class="button-nav__btn" ng-click="nav = 'view'; showMetadata = true"
            ng-class="{'button-nav__btn--active' : nav === 'view'}">Details / Metadata</button>
        <button class="button-nav__btn" ng-click="nav = 'video-edit'; showMetadata = false"
            ng-class="{'button-nav__btn--active': nav === 'video-edit'}">Edit video</button>
    </div>
    <div class="modal__header-buttons modal__header-buttons--right">
        <button class="btn btn--primary btn--ui-dark btn--hollow" ng-click="done()"
            ng-disabled="!isDoneEnabled() || isAoISelectionModeEnabled">Done</button>
    </div>
</div>
<div class="modal__body modal__body--no-padding">
    <div class="sd-column-box--2">
        <div class="sd-column-box__main-column sd-column-box__main-column--photo-preview">
            <a class="sd-photo-preview__slide-in-button" ng-show="!showMetadata && nav === 'view'"
                ng-click="showMetadata = !showMetadata" data-sd-tooltip="Open metadata" data-flow="left">
                <i class="icon-backward-thin"></i>
            </a>

            <div class="sd-photo-preview" ng-class="{'sd-photo-preview--view-video' : nav === 'view'}"
                ng-show="nav === 'view'">
                <div class="sd-photo-preview__video">
                    <div class="sd-photo-preview__video-inner">
                        <div class="sd-photo-preview__video-container">
                            <video autoplay="autoplay"
                                ng-src="{{data.item.renditions.original.href}}?tag={{data.item._etag}}"></video>
                        </div>
                        <div class="sd-photo-preview__video-tools sd-photo-preview__video-tools--blank">
                            <span class="sd-photo-preview__label mlr-auto">DJI_0270.mp4</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sd-photo-preview" ng-class="{'sd-photo-preview--edit-video' : nav === 'video-edit'}"
                ng-show="nav === 'video-edit'">
                <div class="sd-photo-preview__video">
                    <div class="sd-photo-preview__video-inner">
                        <div class="sd-photo-preview__video-container" id="video-preview">
                            <video autoplay="autoplay" id="video" ng-if="videoReload === true" class="ng-isolate-scope" ng-init="videoInit()"
                                ng-src="{{data.item.renditions.original.href}}?tag={{data.item._etag}}">
                            </video>
                        </div>
                        <div class="sd-photo-preview__video-tools">
                            <button class="btn btn--ui-dark btn--hollow btn--icon-only btn--large"
                                ng-click="playVideo(); isPlaying = video.currentTime > 0 && video.paused && !video.ended">
                                <i class="icon-chevron-right-thin"></i>
                            </button>
                            <button class="btn btn--ui-dark btn--hollow btn--icon-only btn--large"
                                ng-click="toggleMenuRatio()" ng-disabled="isAoISelectionModeEnabled" id="toggleRatio">
                                <i class="icon-crop"></i>
                            </button>
                            <div id="menuRatio">
                                <ul>
                                    <li>Crop</li>
                                    <hr />
                                    <li class="ratio" ng-click="cropVideo('1:1',$event.currentTarget)">
                                        <span>1:1</span></li>
                                    <li class="ratio" ng-click="cropVideo('4:3',$event.currentTarget)">
                                        <span>4:3</span></li>
                                    <li class="ratio" ng-click="cropVideo('16:9',$event.currentTarget)">
                                        <span>16:9</span></li>
                                </ul>
                            </div>
                            <button class="btn btn--ui-dark btn--hollow btn--icon-only btn--large"
                                ng-disabled="isAoISelectionModeEnabled" ng-click="rotateVideo('left')" id="rotateVideo">
                                <i class="icon-rotate-left icon-rotate-custom"></i>
                            </button>
                            <span class="sd-photo-preview__label mlr-auto"> {{data.item.headline}} </span>
                            <div>
                                <span class="sd-text__strong-s">Quality:</span>
                                <div class="dropdown dropdown--align-right" dropdown>
                                    <button class="dropdown__toggle dark-ui" dropdown__toggle>
                                        Same<span class="dropdown__caret dropdown__caret--white"></span>
                                    </button>
                                    <ul class="dropdown__menu">
                                        <li><button>Same</button></li>
                                        <li><button>High</button></li>
                                        <li><button>Low</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- VIDEO Frames timeline  -->
                <div class="sd-photo-preview__thumb-strip sd-photo-preview__thumb-strip--video bottom-panel">
                    <div class="sd-photo-preview__thumbnail-edit bottom-panel bottom-panel-thumbnail">
                        <div class="sd-photo-preview__thumbnail-edit-label">Video thumbnail</div>
                        <div class="image-overlay">
                            <div class="image-overlay__button-block">
                                <a class="image-overlay__button" sd-tooltip="Use current frame"
                                    ng-click="captureThumbnail()">
                                    <i class="icon-photo"></i>
                                </a>
                                <a class="image-overlay__button" sd-tooltip="Upload image" ng-click="uploadThumbnail()">
                                    <i class="icon-upload"></i>
                                </a>
                                <input type="file" id="file-upload"
                                    onchange="angular.element(this).scope().uploadChange(this)" style="display:none"
                                    accept="image/*">
                            </div>
                        </div>
                        <div>
                            <div id="output" class="thumbnail-preview">
                            </div>
                            <div class="no-thumnail" id="no-thumbnail">
                                <div class="upload__info-icon"></div>
                                <h2 class="upload__info-heading" translate="">Capture or upload video thumbnail</h2>
                            </div>
                        </div>
                    </div>
                    <div class="sd-photo-preview__video-frames">
                        <div sd-video-timeline class="timeline-controls" data-video="video" data-cut="cut"
                            data-list-frames="listFrames" data-on-change="onCutChange()" />
                    </div>
                </div>
                <!-- END VIDEO Frames timeline  -->
            </div>

        </div>
        <div class="sd-column-box__slide-in-column sd-column-box__slide-in-column--large sd-column-box__slide-in-column--dark-ui"
            ng-class="{'sd-column-box__slide-in-column--closed' : !showMetadata}">
            <div class="sd-column-box__slide-in-column-inner sd-slide-in-panel">

                <div class="sd-slide-in-panel__header">
                    <h3 class="sd-slide-in-panel__heading">Metadata</h3>
                    <a class="icn-btn sd-slide-in-panel__close" sd-tooltip="Close details" flow="top"
                        ng-click="showMetadata = !showMetadata"><i class="icon-close-small"></i></a>
                </div>
                <div class="sd-slide-in-panel__content">
                    <div class="sd-slide-in-panel__content-block sd-slide-in-panel__content-block--first">
                        <div class="form__row">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
                                <label class="sd-line-input__label">Title</label>
                                <input class="sd-line-input__input" type="text" value="Image title">
                                <div class="sd-line-input__hint">Hendrerit in vulputate velit esse molestie consequat.
                                </div>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
                                <label class="sd-line-input__label">Description</label>
                                <textarea class="sd-line-input__input"></textarea>
                            </div>
                        </div>
                        <div class="form__row">
                            <div
                                class="sd-line-input sd-line-input--with-button sd-line-input--dark-ui sd-line-input--boxed">
                                <span class="sd-line-input__plus-btn"></span>
                                <label class="sd-line-input__label">Category</label>
                                <input class="sd-line-input__input" type="text">
                            </div>
                        </div>
                        <div class="form__row">
                            <div
                                class="sd-line-input sd-line-input--with-button sd-line-input--dark-ui sd-line-input--boxed">
                                <span class="sd-line-input__plus-btn"></span>
                                <label class="sd-line-input__label">Subject</label>
                                <input class="sd-line-input__input" type="text">
                            </div>
                        </div>
                        <div class="form__row">
                            <div
                                class="sd-line-input sd-line-input--is-select sd-line-input--dark-ui sd-line-input--boxed">
                                <label class="sd-line-input__label">Usage right</label>
                                <select class="sd-line-input__select">
                                    <option value="">--- Not selected ---</option>
                                    <option value="single">Single usage</option>
                                    <option value="time">Time restricted</option>
                                    <option value="bananas">Indefinite usage</option>
                                    <option value="indefinite">Pears</option>
                                </select>
                                <span class="sd-line-input__hint">Dolor in hendrerit.</span>
                            </div>
                        </div>
                        <div class="form__row" ng-init="contentChanged = true">
                            <span ng-model="contentChanged" sd-switch></span><label>For publication</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>