<div ng-class="{'video-loading': editVideo.isProcessing}"></div>
<div class="modal__header modal__header--flex">
    <div class="modal__sliding-toolbar" ng-show="editVideo.isDirty">
        <div class="sliding-toolbar__inner"></div>
        <a class="btn" ng-click="cancelEditVideo()" translate>Cancel</a>
        <a class="btn btn--primary" ng-click="saveEditVideo()" translate>Save</a>
    </div>
    <h3 class="modal__heading modal__heading--no-grow" ng-if="nav === 'view'" translate>Video details</h3>
    <h3 class="modal__heading modal__heading--no-grow" ng-if="nav === 'video-edit'" translate>Edit video</h3>
    <div class="modal__header-buttons  modal__header-buttons--center modal__header-element-grow button-nav">
        <button class="button-nav__btn" ng-click="nav = ''; metadata.show = true"
            ng-class="{'button-nav__btn--active' : nav !== 'video-edit'}">Details / Metadata</button>
        <button class="button-nav__btn" ng-click="nav = 'video-edit'; metadata.show = false"
            ng-class="{'button-nav__btn--active': nav === 'video-edit'}">Edit video</button>
    </div>
    <div class="modal__header-buttons modal__header-buttons--right">
        <button class="btn btn--primary btn--ui-dark btn--hollow" ng-click="done()"
            ng-disabled="!isDoneEnabled() || isAoISelectionModeEnabled">Done</button>
    </div>
</div>
<div class="modal__body modal__body--no-padding">
    <div class="sd-column-box--2">
        <div class="sd-column-box__main-column sd-column-box__main-column--photo-preview">
            <a class="sd-photo-preview__slide-in-button" ng-show="!metadata.show && nav === 'view'"
                ng-click="metadata.show = !metadata.show" data-sd-tooltip="Open metadata" data-flow="left">
                <i class="icon-backward-thin"></i>
            </a>

            <div class="sd-photo-preview" ng-class="{'sd-photo-preview--view-video' : nav === 'view'}"
                ng-show="nav === 'view'">
                <div class="sd-photo-preview__video">
                    <div class="sd-photo-preview__video-inner">
                        <div class="sd-photo-preview__video-container">
                            <video autoplay="autoplay" ng-if="nav === 'view'"
                                ng-src="{{data.item.renditions.original.href}}?tag={{data.item._etag}}"></video>
                        </div>
                        <div class="sd-photo-preview__video-tools sd-photo-preview__video-tools--blank">
                            <span class="sd-photo-preview__label mlr-auto">{{data.item.headline}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sd-photo-preview" ng-class="{'sd-photo-preview--edit-video' : nav === 'video-edit'}"
                ng-show="nav === 'video-edit'">
                <div class="sd-photo-preview__video">
                    <div class="sd-photo-preview__video-inner" id="video-overall">
                        <div class="sd-photo-preview__video-container" id="video-preview">
                            <video autoplay="autoplay" id="video" ng-if="nav === 'video-edit' && videoReload === true" class="ng-isolate-scope" ng-init="videoInit()"
                                ng-src="{{data.item.renditions.original.href}}?tag={{data.item._etag}}">
                            </video>
                        </div>
                        <div class="sd-photo-preview__video-tools">
                            <button class="btn btn--ui-dark btn--hollow btn--icon-only btn--large"
                                ng-click="playVideo(); isPlaying = video.currentTime > 0 && video.paused && !video.ended">
                                <i class="icon-chevron-right-thin"></i>
                            </button>
                            <button class="btn btn--ui-dark btn--hollow btn--icon-only btn--large"
                                ng-click="toggleMenuRatio()" ng-disabled="isAoISelectionModeEnabled" id="toggleRatio">
                                <i class="icon-crop"></i>
                            </button>
                            <div id="menuRatio">
                                <ul>
                                    <li>Crop</li>
                                    <hr />
                                    <li class="ratio" ng-click="cropVideo('1:1',$event.currentTarget)">
                                        <span>1:1</span></li>
                                    <li class="ratio" ng-click="cropVideo('4:3',$event.currentTarget)">
                                        <span>4:3</span></li>
                                    <li class="ratio" ng-click="cropVideo('16:9',$event.currentTarget)">
                                        <span>16:9</span></li>
                                </ul>
                            </div>
                            <button class="btn btn--ui-dark btn--hollow btn--icon-only btn--large"
                                ng-disabled="isAoISelectionModeEnabled" ng-click="rotateVideo('left')" id="rotateVideo">
                                <i class="icon-rotate-left icon-rotate-custom"></i>
                            </button>
                            <span class="sd-photo-preview__label mlr-auto">{{data.item.headline}}</span>
                            <div>
                                <span class="sd-text__strong-s">Quality:</span>
                                <div class="dropdown dropdown--align-right" dropdown>
                                    <button class="dropdown__toggle dark-ui" dropdown__toggle>
                                        <span>{{ scale ? scale + 'p' : 'Same'}}</span>
                                    </button>
                                    <ul class="dropdown__menu">
                                        <li class="quality" ng-click="changeQualityVideo($event.target.value)">
                                            <button value="" ng-class="{'active': !scale}">Same</button>
                                        </li>
                                        <li class="quality" ng-repeat="(resolution, value) in qualityVideo" ng-show="value" ng-click="changeQualityVideo($event.target.value)">
                                            <button value="{{resolution}}" ng-class="{'active': scale === resolution}">{{resolution}}p</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- VIDEO Frames timeline  -->
                <div class="sd-photo-preview__thumb-strip sd-photo-preview__thumb-strip--video bottom-panel">
                    <div class="sd-photo-preview__thumbnail-edit bottom-panel bottom-panel-thumbnail">
                        <div class="sd-photo-preview__thumbnail-edit-label">Video thumbnail</div>
                        <div class="image-overlay">
                            <div class="image-overlay__button-block">
                                <a class="image-overlay__button" sd-tooltip="Use current frame"
                                    ng-click="captureThumbnail()">
                                    <i class="icon-photo"></i>
                                </a>
                                <a class="image-overlay__button" sd-tooltip="Upload image" ng-click="uploadThumbnail()">
                                    <i class="icon-upload"></i>
                                </a>
                                <input type="file" id="file-upload"
                                    onchange="angular.element(this).scope().uploadChange(this)" style="display:none"
                                    accept="image/*">
                            </div>
                        </div>
                        <div>
                            <div id="preview-thumbnail" class="thumbnail-preview sd-photo-preview__video-container"></div>
                            <div class="no-thumnail" id="no-thumbnail">
                                <div class="upload__info-icon"></div>
                                <h2 class="upload__info-heading" translate="">Capture or upload video thumbnail</h2>
                            </div>
                        </div>
                    </div>
                    <div class="sd-photo-preview__video-frames">
                        <div sd-video-timeline
                            ng-if="nav === 'video-edit'"
                            class="timeline-controls"
                            data-video="video"
                            data-cut="cut"
                            data-list-frames="listFrames"
                            data-on-change="onCutChange()"
                            data-on-size-change="loadTimelineThumbnails()"
                            reload-thumbnails="reloadTimelineThumbnails(reload)"
                            />

                    </div>
                </div>
                <!-- END VIDEO Frames timeline  -->
            </div>
        </div>


        <div class="sd-column-box__slide-in-column sd-column-box__slide-in-column--large sd-column-box__slide-in-column--dark-ui"
            ng-class="{'sd-column-box__slide-in-column--closed' : !metadata.show}" ng-show="nav !== 'video-edit'">
            <div class="sd-column-box__slide-in-column-inner sd-slide-in-panel">
                <div class="sd-slide-in-panel__header">
                    <h3 class="sd-slide-in-panel__heading" ng-if="nav !== 'video-edit'" translate>Metadata</h3>
                    <a class="icn-btn sd-slide-in-panel__close" sd-tooltip="Close details" flow="top"
                        ng-click="metadata.show = !metadata.show"><i class="icon-close-small"></i></a>
                </div>
                <div class="sd-slide-in-panel__content" ng-if="nav !== 'video-edit'">
                    <div class="sd-slide-in-panel__content-block sd-slide-in-panel__content-block--first">

                        <div class="modal__sliding-toolbar" ng-if="metadata.isDirty">
                            <div class="sliding-toolbar__inner"></div>
                            <a class="btn" ng-click="cancelMetadataChanges()" translate>Cancel</a>
                            <a class="btn btn--primary" ng-click="applyMetadataChanges()" translate>Apply</a>
                        </div>

                        <div sd-media-metadata-editor data-item="data.metadata" data-validator="validator"
                            data-dark="true" data-boxed="true" data-on-change="metadata.isDirty = true"
                            data-disabled="!metadata.isEditable" data-associated="data.isAssociated">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
