<div class="modal__header">
    <h3 ng-if="!isAoISelectionModeEnabled" class="modal__heading pull-left">{{ :: data.editable ? activity.label : 'View Crop' | translate }}</h3>
    <h3 ng-if="isAoISelectionModeEnabled" class="modal__heading pull-left" translate>Select Area of Interest</h3>
    <div class="pull-right">
        <button type="button"
        class="btn"
        ng-disabled="isAoISelectionModeEnabled"
        ng-click="close()"
        translate>Cancel</button>
        <button type="button"
        class="btn btn--primary"
        ng-click="done()"
        ng-disabled="!saveIsEnabled() || isAoISelectionModeEnabled"
        ng-if="data.editable"
        translate>Save</button>
    </div>     
</div>

<div class="modal__body modal-body__flex">
    <div class="modal-body__flex-top">
        <div class="modal-body__flex-main">
            <div ng-if="!selectedRendition">
                <label ng-if="!isAoISelectionModeEnabled" class="field-label">
                    <span translate>Original</span>
                    <span class="size">
                        {{ data.item.renditions.original.width }} x {{ data.item.renditions.original.height }}
                    </span>
                </label>
                <label ng-if="isAoISelectionModeEnabled" class="field-label">
                    <span translate>New size</span>
                    <span class="size">
                        {{ areaOfInterestData.CropRight - areaOfInterestData.CropLeft }}
                        x {{ areaOfInterestData.CropBottom - areaOfInterestData.CropTop }}
                    </span>
                </label>
                <sd-image-point
                    ng-show="!isAoISelectionModeEnabled"
                    data-src="data.item.renditions.viewImage.href"
                    data-poi="data.poi"
                    data-on-change="data.isDirty = true">
                </sd-image-point>
                <div class="modal-body__flex-loader" ng-if="loaderForAoI"></div>
                <div sd-image-crop
                    data-show-min-size-error="true"
                    data-src="data.item.renditions.viewImage.href"
                    data-original="data.item.renditions.original"
                    data-crop-data="areaOfInterestData"
                    ng-if="isAoISelectionModeEnabled && !loaderForAoI">
                </div>
                <div ng-if="isAoISelectionModeEnabled && !loaderForAoI">
                    <button class="btn" ng-click="showAreaOfInterestView(false)" translate>Cancel</button>
                    <button class="btn btn--primary"
                            ng-click="saveAreaOfInterest(areaOfInterestData)"
                            ng-disabled="!enableSaveAreaOfInterest()"
                            translate>Save</button>
                </div>
                <button class="btn"
                        ng-click="showAreaOfInterestView()"
                        ng-if="data.showAoISelectionButton && !isAoISelectionModeEnabled && data.editable"
                        translate>Select the area of interest</button>
            </div>
            <div class="crop-area selected" ng-if="selectedRendition">
                <label class="field-label">{{ selectedRendition.name }}</label>
                <div sd-image-crop-view
                     data-src="data.item.renditions.viewImage.href"
                     data-original="data.item.renditions.original"
                     data-crop-data="data.cropData[selectedRendition.name]"
                ></div>
            </div>
        </div>
        <div class="modal-body__flex-sidebar modal-body__flex-metadata"
             ng-class="{'modal-body__flex--disabled': isAoISelectionModeEnabled}"
             ng-if="data.showMetadataEditor">
            <div class="header" translate>Metadata</div>
            <div ng-if="validator.headline">
                <label ng-class="{'label-asterisk':validator.headline.required}" translate>Title</label>
                <span ng-if="validator.headline.maxlength" sd-character-count data-item="data.metadata.headline" data-limit="validator.headline.maxlength"></span>
                <div ng-model="data.metadata.headline" ng-change="data.isDirty = true" contenteditable="{{ data.editable }}" class="contenteditable-input"></div>
            </div>
            <div ng-if="validator.description_text">
                <label ng-class="{'label-asterisk':validator.description_text.required}" translate>Caption</label>
                <span ng-if="validator.description_text.maxlength" sd-character-count data-item="data.metadata.description_text" data-limit="validator.description_text.maxlength"></span>
                <div ng-model="data.metadata.description_text" ng-change="data.isDirty = true" contenteditable="{{ data.editable }}" class="contenteditable-input"></div>
            </div>
            <div ng-if="!data.isAssociated && validator.archive_description">
                <label ng-class="{'label-asterisk':validator.archive_description.required}" translate>Description</label>
                <span ng-if="validator.archive_description.maxlength" sd-character-count data-item="data.metadata.archive_description" data-limit="validator.archive_description.maxlength"></span>
                <div ng-model="data.metadata.archive_description" ng-change="data.isDirty = true" contenteditable="{{ data.editable }}"
                class="contenteditable-input"></div>
            </div>
            <div ng-if="data.isAssociated && validator.archive_description">
                <label translate>Description</label>
                <div>{{ data.metadata.archive_description }}</div>
            </div>
            <div ng-if="validator.alt_text">
                <label ng-class="{'label-asterisk':validator.alt_text.required}" translate>Alt Text</label>
                <span ng-if="validator.alt_text.maxlength" sd-character-count data-item="data.metadata.alt_text" data-limit="validator.alt_text.maxlength"></span>
                <div ng-model="data.metadata.alt_text" ng-change="data.isDirty = true" contenteditable="{{ data.editable }}" class="contenteditable-input"></div>
            </div>
            <div ng-if="validator.byline">
                <label ng-class="{'label-asterisk':validator.byline.required}" translate>Credit</label>
                <div ng-model="data.metadata.byline" ng-change="data.isDirty = true" contenteditable="{{ data.editable }}" class="contenteditable-input"></div>
            </div>
            <div ng-if="validator.copyrightholder">
                <label ng-class="{'label-asterisk':validator.copyrightholder.required}" translate>Copyright holder</label>
                <div ng-model="data.metadata.copyrightholder" ng-change="data.isDirty = true" contenteditable="{{ data.editable }}" class="contenteditable-input"></div>
            </div>
            <div ng-if="validator.usageterms">
                <label ng-class="{'label-asterisk':validator.usageterms.required}">
                    <span translate>Assign Rights</span>
                </label>
                <select ng-model="data.metadata.usageterms" ng-change="data.isDirty = true" ng-disabled="!data.editable">
                    <option translate value="">--- Not selected ---</option> <!-- not selected / blank option -->
                    <option translate value="single-usage">Single Usage</option>
                    <option translate value="time-restricted">Time Restricted</option>
                    <option translate value="indefinite-usage">Indefinite Usage</option>
                </select>
            </div>
            <div ng-if="validator.copyrightnotice">
                <label ng-class="{'label-asterisk':validator.copyrightnotice.required}" translate>Copyright notice</label>
                <div ng-model="data.metadata.copyrightnotice" ng-change="data.isDirty = true" contenteditable="{{ data.editable }}" class="contenteditable-input"></div>
            </div>
        </div>
    </div><!-- end flex top -->

    <div class="modal-body__flex-bottom" ng-class="{'modal-body__flex--disabled': isAoISelectionModeEnabled}">
        <div class="crop-area__thumbnails">
            <ul>
                <li ng-click="selectRendition()" ng-class="{active: selectedRendition === null}">
                    <sd-image-point
                        data-src="data.item.renditions.viewImage.href"
                        data-poi="data.poi"
                        data-on-change="data.isDirty = true">
                    </sd-image-point>
                    <label class="field-label" translate>Original</label>
                </li>
                <li ng-repeat="rendition in data.renditions track by rendition.name" ng-click="selectRendition(rendition)" ng-class="{active: rendition === selectedRendition}">
                    <div sd-image-crop
                        data-show-Min-Size-Error="true"
                        data-src="data.item.renditions.viewImage.href"
                        data-original="data.item.renditions.original"
                        data-rendition="rendition"
                        data-crop-init="data.item.renditions[rendition.name]"
                        data-crop-data="data.cropData[rendition.name]"
                        data-on-change="onChange(renditionName, cropData)">
                    </div>
                    <label class="field-label">{{ rendition.name }}</label>
                </li>
            </ul>
        </div>
    </div><!-- end flex bottom -->

</div>
