<div ng-if="editor != null">
    <sd-full-preview-react
        item="item"
        editor="editor"
        fields="fields"
        hide-media="hideMedia"
    ></sd-full-preview-react>
</div>

<div class="preview-content" ng-class="{'hide-images': hideMedia}">
    <div class="metadata metadata--top">

    <div class="metadata">
        <div ng-if="!hideMedia && item.type === 'picture' && item.renditions.baseImage.href" style="margin-bottom: 20px">
            <img ng-src="{{item.renditions.baseImage.href}}" />
            <div
                sd-media-metadata-view
                class="media-container__metadata media-container__metadata--image"
                data-item="item"
                style="padding-left: 0; padding-right: 0"
            ></div>
        </div>

    </div>
</div>
