<div sd-modal data-model="item" data-full="true" class="modal--fullscreen modal--preview-article modal--white">
    <div class="modal__header modal__header--no-border">
        <div class="btn-group pull-left">
            <span sd-check ng-model="hide_images" name="hide_images"></span>
            <label translate>Hide images</label>
        </div>
        <div class="btn-group pull-right">
            <button ng-click="printPreview()" title="{{'Print'|translate}}"><i class="icon-print"></i></button>
            <button ng-if="closeAction" ng-click="closeAction()" title="{{'Close'|translate}}"><i class="icon-close-small"></i></button>
        </div>
    </div>
    <div class="modal__body modal-body--white" sd-shadow>
        <div class="preview-content" ng-class="{'hide-images': hide_images}">
            <div class="metadata">
                <div ng-if="item.versioncreated">
                    <div class="preview-label">
                        <label translate>Last Modified</label>
                    </div>
                    <div class="preview-data">
                        <div sd-reldate-complex ng-model="item.versioncreated"></div>
                    </div>
                </div>
                <div ng-if="item.slugline && !editor.slugline.hideOnPrint" order="{{editor.slugline.order}}">
                    <div class="preview-label">
                        <label translate>Slugline</label>
                    </div>
                    <div class="preview-data">
                        <span>{{item.slugline}}</span>
                    </div>
                </div>
                <div ng-if="item.anpa_category.length && !editor.anpa_category.hideOnPrint" order="{{editor.anpa_category.order}}">
                    <div class="preview-label">
                        <label translate>Service</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="service in item.anpa_category">
                            {{getLocaleName(service)}}
                        </span>
                    </div>
                </div>

                <div ng-if="item.genre.length && !editor.genre.hideOnPrint && editor.genre" order="{{editor.genre.order}}">
                    <div class="preview-label">
                        <label translate>Genre</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="genre in item.genre">
                            {{getLocaleName(genre)}}
                        </span>
                    </div>
                </div>
                <div ng-if="(item.subject | filter:{'scheme': field._id}).length && editor.subject && !editor.subject.hideOnPrint"
                    order="{{editor.subject.order}}">
                    <div class="preview-label">
                        <label translate>Subject</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="subject in item.subject | filter:{'scheme': field._id}">
                            {{getLocaleName(subject)}}
                        </span>
                    </div>
                </div>
                <div ng-if="item.place.length && editor.place && !editor.place.hideOnPrint" order="{{editor.place.order}}">
                    <div class="preview-label">
                        <label translate>Place</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="place in item.place">
                            {{getLocaleName(place)}}
                        </span>
                    </div>
                </div>
                <div ng-if="item.ednote && !editor.ednote.hideOnPrint" order="{{editor.ednote.order}}">
                    <div class="preview-label">
                        <label translate>Ed. Note</label>
                    </div>
                    <div class="preview-data">
                        <span>{{item.ednote}}</span>
                    </div>
                </div>
                <!-- custom dropdown fields saved on own field-->
                <div ng-repeat="field in fields track by field._id"
                    ng-if="(item[field.schema_field] | filter:{'scheme': field._id}).length && isCustomList(field) && field.schema_field && !editor[field._id].hideOnPrint"
                    order="{{editor[field._id].order}}">
                    <div class="preview-label">
                        <label translate>{{field.display_name}}</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="value in item[field.schema_field] | filter:{'scheme': field._id}">
                            {{getLocaleName(value)}}
                        </span>
                    </div>
                </div>
                <!-- custom dropdown fields saved on subject-->
                <div ng-repeat="field in fields track by field._id"
                    ng-if="(item.subject | filter:{'scheme': field._id}).length && isCustomList(field) && !field.schema_field &&  !editor[field._id].hideOnPrint"
                    order="{{editor[field._id].order}}">
                    <div class="preview-label">
                        <label translate>{{field.display_name}}</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="value in item.subject | filter:{'scheme': field._id}">
                            {{getLocaleName(value)}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="metadata">
                <!-- custom date and text fields -->
                <div ng-repeat="field in fields track by field._id"
                    ng-if="item.extra[field._id] && (field.field_type === 'text' || field.field_type === 'date') && !editor[field._id].hideOnPrint"
                    order="{{editor[field._id].order}}">
                    <div class="preview-label">
                        <label translate>{{field.display_name}}</label>
                    </div>
                    <div class="preview-data" sd-short-date ng-if="field.field_type === 'date'" data-date="item.extra[field._id]"></div>
                    <div class="preview-data" ng-if="field.field_type === 'text'" ng-bind-html="getHtml(item.extra[field._id])"></div>
                </div>
                <div class="headline" order="{{editor.headline.order}}" ng-if="!editor.headline.hideOnPrint">{{item.headline}}</div>
                <!-- custom media and embed fields -->
                <div ng-repeat="field in fields track by field._id"
                    ng-if="(field.field_type === 'media' && item.associations[field._id] || field.field_type === 'embed' && item.extra[field._id]) && !editor[field._id].hideOnPrint"
                    order="{{editor[field._id].order}}"
                    class="body preview-editor">
                    <div class="preview-label">
                        <label translate>{{field.display_name}}</label>
                    </div>
                    <div ng-if="field.field_type === 'embed' && !hide_images" ng-bind-html="getHtml(item.extra[field._id].embed)">
                    </div>
                    <div ng-if="field.field_type === 'media' && !hide_images" class="association">
                        <img src="{{item.associations[field._id].renditions.viewImage.href}}" ng-if="!hide_images">
                        <p><i class="icon-picture" ng-if="hide_images"></i>{{item.associations[field._id].description_text}}</p>
                    </div>
                </div>
                <div order="{{editor.feature_media.order}}" ng-if="!editor.feature_media.hideOnPrint" class="association">
                    <img src="{{item.associations.featuremedia.renditions.viewImage.href}}" ng-if="!hide_images">
                    <p><i class="icon-picture" ng-if="hide_images"></i>{{item.associations.featuremedia.description_text}}</p>
                </div>
                <div class="abstract" order="{{editor.abstract.order}}" ng-if="!editor.abstract.hideOnPrint" sd-html-preview="item.abstract"></div>
                <div class="byline" order="{{editor.byline.order}}" ng-if="!editor.byline.hideOnPrint">{{item.byline}}</div>
                <div class="body preview-editor" order="{{editor.dateline.order}}" ng-if="!editor.dateline.hideOnPrint">{{item.dateline.located.city}}</div>
                <div class="body preview-editor" order="{{editor.body_html.order}}" ng-if="!editor.body_html.hideOnPrint" sd-html-preview="item.body_html"></div>
                <div class="body preview-editor" order="{{editor.body_footer.order}}" ng-if="!editor.body_footer.hideOnPrint" sd-html-preview="item.body_footer"></div>
                <div class="body preview-editor" order="{{editor.sign_off.order}}" ng-if="!editor.sign_off.hideOnPrint">{{item.sign_off}}</div>
            </div>
        </div>
    </div>
</div>
