<div sd-modal data-model="true" data-full="true" class="modal--fullscreen modal--preview-article modal--white">
    <div class="modal__header modal__header--flex modal__header--no-border">
        <div class="btn-group sd-flex-grow">
            <sd-check ng-model="hideMedia" label-position="inside">{{ 'Hide media' | translate }}</sd-check>
        </div>
        <div class="btn-group">
            <button ng-click="printPreview()" title="{{'Print'|translate}}"><i class="icon-print"></i></button>
            <button ng-if="closeAction" ng-click="closeAction()" title="{{'Close'|translate}}"><i class="icon-close-small"></i></button>
        </div>
    </div>
    <div class="modal__body modal-body--white" sd-shadow>

        <div
            ng-repeat="item in items track by item._id"
            sd-full-preview-item
            data-item="item"
            data-hide-media="hideMedia"
        ></div>

    </div>
</div>
