<div sd-modal data-model="true" data-full="true" class="modal--fullscreen modal--preview-article modal--white" dir="rtl">
    <div class="modal__header modal__header--flex modal__header--no-border no-print" style="position: relative;">
        <div class="btn-group sd-flex-grow">
            <sd-check ng-model="hideMedia" label-position="inside">{{ 'Hide media' | translate }}</sd-check>
        </div>
        <div class="btn-group">
            <button ng-click="printPreview()" title="{{'Print'|translate}}"><i class="icon-print"></i></button>
            <button ng-if="closeAction" ng-click="closeAction()" title="{{'Close'|translate}}"><i class="icon-close-small"></i></button>
        </div>

        <!-- Simulating a border at the bottom. Using an actual border is prevented by modal styles. -->
        <div style="position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #c5c5c5;"></div>
    </div>
    <div class="modal__body modal-body--white">

        <div
            ng-repeat="item in items track by item._id"
        >
            <!-- always start a new article on a new page in print mode -->
            <div
                ng-if="$index !== 0"
                style="page-break-after: always;"
            ></div>

            <hr ng-if="$index !== 0" class="no-print" />

            <div
                sd-full-preview-item
                data-item="item"
                data-hide-media="hideMedia"></div>
        </div>

    </div>
</div>
