<figure class="item-association" ng-if="!carouselItems.length"
    ng-class="{'item-association--preview': item[item.fieldId], 'item-association--loading': loading}"
    ng-click="editable && associations.isMediaEditable() && !item[item.fieldId] && upload()">
</figure>

<div class="sd-media-carousel" ng-if="carouselItems.length">
    <div class="sd-media-carousel__dialog">

        <a ng-click="navPrev()" class="sd-media-carousel__nav-button sd-media-carousel__nav-button--prev-inner"></a>
        <a ng-click="navNext()" class="sd-media-carousel__nav-button sd-media-carousel__nav-button--next-inner"></a>

        <div class="sd-media-carousel__content owl-carousel">
            <div class="sd-media-carousel__page" ng-repeat="item in carouselItems">
                <figure class="item-association"
                        ng-class="{'item-association--preview': item[item.fieldId], 'item-association--loading': loading}"
                        ng-click="editable && associations.isMediaEditable() && !item[item.fieldId] && upload()">

                    <a ng-if="item[item.fieldId] && editable" class="item-association__remove-item" ng-click="remove(item); $event.stopPropagation()">
                        <i class="icon-close-small"></i>
                    </a>
                    <!-- video -->
                    <div class="item-association__video-container" ng-if="item[item.fieldId] && item[item.fieldId].type === 'video'">
                        <div class="item-association__image-overlay" ng-if="item[item.fieldId]">
                            <div class="item-association__metadata item-association__metadata--top">
                                <span>
                                    <em>{{:: 'Title:' | translate}}</em>
                                    {{item[item.fieldId].headline || ('[No Value]' | translate)}}
                                </span>
                            </div>
                            <div class="item-association__icons-block">
                                <!-- Leave this block to push the content below -->
                            </div>
                            <div class="item-association__metadata">
                                <span>
                                    <em>{{:: 'Alt text:' | translate}}</em>
                                    {{item[item.fieldId].alt_text || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Credit:' | translate}}</em>
                                    {{item[item.fieldId].byline || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Copyright holder:' | translate}}</em>
                                    {{item[item.fieldId].copyrightholder || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Assign rights:' | translate}}</em>
                                    {{item[item.fieldId].usageterms || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Copyright notice:' | translate}}</em>
                                    {{item[item.fieldId].copyrightnotice || ('[No Value]' | translate)}}
                                </span>
                            </div>
                        </div>
                        <video controls="controls">
                            <source vsrc="{{rendition.href}}"
                                    ng-repeat="(key, rendition) in item[item.fieldId].renditions"
                                    ng-if="associations.isVideo(rendition)" html5vfix>
                        </video>
                    </div>
                    <!-- audio -->
                    <div class="item-association__audio-container" ng-if="item[item.fieldId] && item[item.fieldId].type === 'audio'" >
                        <audio controls="controls">
                            <source vsrc="{{rendition.href}}"
                                    ng-repeat="(key, rendition) in item[item.fieldId].renditions"
                                    ng-if="associations.isAudio(rendition)" html5vfix>
                        </audio>
                        <div class="item-association__metadata item-association__metadata--plain">
                            <span>
                                <em>{{:: 'Credit:' | translate}}</em>
                                {{item[item.fieldId].byline || ('[No Value]' | translate)}}
                            </span>
                            <span>
                                <em>{{:: 'Copyright holder:' | translate}}</em>
                                {{item[item.fieldId].copyrightholder || ('[No Value]' | translate)}}
                            </span>
                            <span>
                                <em>{{:: 'Assign rights:' | translate}}</em>
                                {{item[item.fieldId].usageterms || ('[No Value]' | translate)}}
                            </span>
                            <span>
                                <em>{{:: 'Copyright notice:' | translate}}</em>
                                {{item[item.fieldId].copyrightnotice || ('[No Value]' | translate)}}
                            </span>
                        </div>
                    </div>
                    <!-- image -->
                    <div class="item-association__image-container" ng-if="item[item.fieldId] && (item[item.fieldId].type === 'picture' || item[item.fieldId].type === 'graphic')">
                        <div class="item-association__image-overlay" ng-if="item[item.fieldId]">
                            <div class="item-association__metadata item-association__metadata--top">
                                <span>
                                    <em>{{:: 'Title:' | translate}}</em>
                                    {{item[item.fieldId].headline || ('[No Value]' | translate)}}
                                </span>
                            </div>
                            <div class="item-association__icons-block">
                                <a class="item-association__image-action" ng-click="associations.isMediaEditable() && associations.edit(this, item[item.fieldId]); $event.stopPropagation()"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="item-association__metadata">
                                <span>
                                    <em>{{:: 'Alt text:' | translate}}</em>
                                    {{item[item.fieldId].alt_text || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Credit:' | translate}}</em>
                                    {{item[item.fieldId].byline || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Copyright holder:' | translate}}</em>
                                    {{item[item.fieldId].copyrightholder || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Assign rights:' | translate}}</em>
                                    {{item[item.fieldId].usageterms || ('[No Value]' | translate)}}
                                </span>
                                <span>
                                    <em>{{:: 'Copyright notice:' | translate}}</em>
                                    {{item[item.fieldId].copyrightnotice || ('[No Value]' | translate)}}
                                </span>
                            </div>
                        </div>
                        <img ng-src="{{ item[item.fieldId].renditions.viewImage.href}}"
                        ng-class="{'not-editable': !associations.isMediaEditable() || !editable}">
                    </div>
                </figure>

                <div contenteditable="true"
                     sd-auto-height
                     tansa-scope-sync
                     ng-model="item[item.fieldId].headline"
                     ng-model-options="{debounce: 1000}"
                     ng-change="onchange()"
                     ng-if="item[item.fieldId] && showTitle"
                     class="sd-media-carousel__media-caption">
                </div>
                <div contenteditable="true"
                     sd-auto-height
                     tansa-scope-sync
                     ng-model="item[item.fieldId].description_text"
                     ng-model-options="{debounce: 1000}"
                     ng-change="onchange()"
                     ng-if="item[item.fieldId]"
                     class="sd-media-carousel__media-caption">
                </div>

                <div sd-item-crops
                     data-item="item.associations[fieldVersion.fieldId]"
                     ng-if="editor[field._id].showCrops && features.editFeaturedImage &&
                                    !!field.field_options.allowed_types.picture">
                </div>
            </div>
        </div>

        <div class="sd-media-carousel__thumb-strip">
            <div class="sd-media-carousel__thumb-strip-item" ng-repeat="item in carouselItems">
                <div class="sd-media-carousel__thumb" ng-click="goTo($index)" ng-if="item[item.fieldId] && item[item.fieldId].type === 'picture'">
                    <img ng-src="{{item[item.fieldId].renditions.thumbnail.href}}">
                </div>
                <div class="sd-media-carousel__thumb" ng-click="goTo($index)" ng-if="item[item.fieldId] && item[item.fieldId].type === 'audio'">
                    <i class="icon--2x icon-audio"></i>
                </div>
                <div class="sd-media-carousel__thumb" ng-click="goTo($index)" ng-if="item[item.fieldId] && item[item.fieldId].type === 'video'">
                    <i class="icon--2x icon-video" ng-if="!item[item.fieldId].renditions.thumbnail"></i>
                    <img ng-if="item[item.fieldId] && item[item.fieldId].renditions.thumbnail" ng-src="{{item[item.fieldId].renditions.thumbnail.href}}">
                </div>
            </div>
            <div class="sd-media-carousel__thumb sd-media-carousel__thumb--add" ng-click="upload()" data-rel="{{item.fieldId}}" ng-if="carouselItems.length < maxUploads">
                <i class="icon-plus-sign"></i>
            </div>
        </div>
    </div>
</div>
