<div class="opened-articles-bar" ng-class="{'menu-open': flags.menu}">
    <button class="opened-articles-bar__quick-actions" ng-click="openDashboard()" title="{{ 'All opened items' | translate }}"><i class="icon-th-large icon--white"></i></button>

    <ul ng-if="workqueue.items.length" class="opened-articles-bar__list">
        <li class="opened-articles-bar__item" ng-repeat="article in workqueue.items track by article._id" ng-class="{'opened-articles-bar__item--active': article === articleInEditMode}">
            <a class="opened-articles-bar__item-title" ng-click="edit(article, $event)" ng-href="{{ :: link(article) }}">
                <span ng-show="article.headline || article.slugline">{{ (article.headline || article.slugline) | stripHtmlTags }}</span>
                <span ng-show="!article.headline && !article.slugline" translate>Untitled</span>
            </a>
            <button class="opened-articles-bar__item-close" ng-click="closeItem(article)"><i class="icon-close-small icon--white"></i></button>
        </li>
    </ul>

    <ul class="opened-articles-bar__multiedit" ng-if="multiEdit.items.length">
        <li class="opened-articles-bar__item opened-articles-bar__item--teal" ng-class="{'opened-articles-bar__item--active': isMultiedit}">
            <a ng-href="" class="opened-articles-bar__item-title" ng-click="openMulti()">
                <span translate>Multiedit</span>
            </a>
            <button class="opened-articles-bar__item-close" ng-click="closeMulti()"><i class="icon-close-small icon--white"></i></button>
        </li>
    </ul>

    <div class="opened-articles-bar__create-new dropdown dropdown--dropleft strict" dropdown ng-if="privileges.archive">
        <button class="btn btn--primary dropdown__toggle" dropdown__toggle>
            <i class="icon-plus-sign"></i>{{ 'Create new' | translate }}
        </button>
        <div class="dropdown__menu dropdown--dropup" sd-content-create></div>
    </div>
</div>

<div sd-dashboard-articles
     data-active="dashboardActive"
     data-close-dashboard="closeDashboard()"
     data-close-item="closeItem(item)"
     data-edit="edit(item, event)"
     data-link="link(item)"
     data-items="workqueue.items"
></div>
