<div class="opened-articles">
    <div class="quick-actions pull-left">
        <button ng-click="openDashboard()" title="{{gettext('All opened items')}}"><i class="icon-th-large icon--white"></i></button>
    </div>
    <div class="dropdown dropdown--dropleft pull-right strict" dropdown ng-if="privileges.archive">
        <button class="btn btn--primary dropdown__toggle" dropdown__toggle>
            <i class="icon-plus-sign"></i>{{gettext('Create new')}}
        </button>
        <div class="dropdown__menu dropdown--dropup" sd-content-create></div>
    </div>

    <ul class="pull-right opened-articles__list" ng-if="multiEdit.items.length">
        <li ng-class="{active: isMultiedit}">
            <a ng-href="" class="title" ng-click="openMulti()">
                <span translate>Multiedit</span>
            </a>
            <button class="close" ng-click="closeMulti()"><i class="icon-close-small icon--white"></i></button>
        </li>
    </ul>

    <ul ng-if="workqueue.items.length" class="opened-articles__list list">
        <li ng-repeat="article in workqueue.items track by article._id" ng-class="{active: article === active}">
            <a class="title" ng-click="edit(article, $event)" ng-href="{{ :: link(article) }}">
                <span ng-show="article.headline || article.slugline">{{ (article.headline || article.slugline) | stripHtmlTags }}</span>
                <span ng-show="!article.headline && !article.slugline" translate>Untitled</span>
            </a>
            <button class="close" ng-click="closeItem(article)"><i class="icon-close-small icon--white"></i></button>
        </li>
    </ul>
</div>

<div sd-dashboard-articles
     data-active="dashboardActive"
     data-close-dashboard="closeDashboard()"
     data-close-item="closeItem(item)"
     data-edit="edit(item, event)"
     data-link="link(item)"
     data-items="workqueue.items"
></div>
