// users.scss
// Styling for the superdesk users page (list, prevew, profile)
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

// User roles
// -------------------------------------

$roles-border: 1px solid #f0f0f0;
.user-roles-settings {
    // ROLES TAB
    .new-role-modal {
        width: 299px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -150px;
        .content {
            .field {
                margin-bottom: 10px;
                textarea {
                    height: 22px;
                }
            }
        }
    }

    .label.default {
        font-size: 9px;
        font-weight: 600;
        padding: 2px 5px;
        line-height: 12px;
        margin-left: 5px;
        text-transform: uppercase;
    }
}

// PRIVILEGES SETTINGS
.privileges-settings {
    padding: 0;
    overflow: auto !important;
    table {
        padding: 20px;
    }
    thead tr {
        .label {
            position: absolute;
            top: -6px;
            left: 17%;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 9px;
            line-height: 10px;
            height: 13px;
            letter-spacing: 0.1em;
            box-sizing:border-box;
        }
        th {
            font-size: 13px;
            font-weight: normal;
            word-wrap: break-word;
            text-align: center;
            border: $roles-border !important;
            border-right: 0 !important;
            border-color: #e5e5e5 !important;
            background: #f2f2f2;
            padding: 10px 16px;
            white-space: nowrap;
        }
        .name {
            min-width: 270px;
        }
        input[type="checkbox"] {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    td {
        padding: 10px 16px;
        border-bottom: $roles-border;
        border-left: $roles-border;
        border-top: 0;
        text-align: center;
        word-wrap: break-word;
        vertical-align: middle;
        @include user-select(none);
    }
    .name {
        min-width: 270px;
        font-size: 11px;
        text-align: left;
        border-left: 0 !important;
        padding: 10px;
        text-transform: uppercase;
        @include text-semibold();
        max-width: 270px;
        color: #666;
    }
    .role-field {
        min-width: 90px;
    }
}
