// users.scss
// Styling for the superdesk users page (list, prevew, profile)
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.users {    //page styles
    .users-subnav {
        .multiple-action {
            margin-left: 30px;
            float: left;
        }
    }
}

.disabled-label {
    background: #c8a1a8;
    color: $white;
    font-size: 10px;
    @include text-semibold();
    text-transform: uppercase;
    height: 13px;
    line-height: 13px;
    padding: 0 8px;
    @include border-radius(2px);
    margin-left: 10px;
}

.users-table {    //main list styles

    border-top: 2px solid var(--sd-colour-line--medium);
    .table-header {
        background: var(--sd-item__main-Bg);
    }
    .table-title {
        height: 30px;
        font-size: 11px;
        color: var(--color-text-light);
        line-height: 30px;
        @include text-light();
        text-transform: uppercase;
    }
    .table-newest {
        margin: 0 0 30px;
        background: var(--sd-item__main-Bg--alternate);
        border-top: 1px solid var(--sd-colour-line--medium);
    }
    .table-body {
        margin-top: -1px;
    }
    .table-body {
        background: var(--sd-item__main-Bg);
        border-top: 1px solid var(--sd-colour-line--medium);
    }
    .table-header, .table-newest, .table-body {

        > li {
            height: 40px;
            border-bottom: 1px solid var(--sd-colour-line--medium);
            position: relative;
            clear: both;

            > div:not(.tooltip) {
                float: left;
                height: 30px;
                padding: 5px;
                line-height: 30px;
                //column width
                &.chckbx {
                    width: 25px;
                    text-align: center;
                    span {
                        vertical-align: middle;
                        margin: 0;
                    }
                }
                $user-table-actions-width: 82px;
                &.row-wrapper {
                    position: absolute;
                    left: 60px;
                    right: $user-table-actions-width+10;
                    top: 5px;
                    padding: 0;
                    > div {
                        color: var(--color-text);
                        float: left;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding: 0 5px;
                        height: 30px;
                        &.name {
                            font-weight: 500;
                        }
                        &.email {
                            color: var(--sd-colour-interactive);
                            font-weight: 300;
                        }
                        &.created {
                            font-size: 11px;
                            color: var(--color-text-light);
                        }
                        //user columns width
                        &.name {
                            width: 28%;
                        }
                        &.role {
                            width: 16%;
                        }
                        &.username {
                            width: 14%;
                        }
                        &.email {
                            width: 30%;
                        }
                        &.created {
                            width: 12%;
                        }
                    }
                }
                &.action {
                    float: right;
                    width: $user-table-actions-width;
                    line-height: 18px !important;
                }
            }
            &.inactive .row-wrapper > div {
                color: var(--color-text-light);
                &.email {
                    opacity: 0.75;
                }
            }
        }
    }
    .table-header {
        > li > div, .name, .email, .created {
            color: var(--color-text) !important;
            font-size: 13px !important;
            font-weight: 500;
        }
        .sortable {
            i {
                margin: -2px 0 0 5px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .table-body , .table-newest {
        > li {

            &.selected {
                background: var(--sd-item__main-Bg--selected);
            }
            &:hover {
                background: var(--sd-item__main-Bg--hover);
                cursor: pointer;
            }

            > div {
                &.action {
                    padding: 0;
                    height: 40px;
                    .item-functions {
                        display: none;
                        li {
                            height: 40px;
                            width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            line-height: 40px;
                            text-align: center;
                            span {
                                display: none;
                            }
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }

            &:hover {
                > div.action .item-functions {
                    display: flex;
                    align-items: center;

                }
            }

        }
    }
    .alert {
        height: auto !important;
        border-radius: 2px;
        border-width: 0 0 1px;

        &.alert-info {
            border-color: var(--sd-colour-interactive--alpha-40);
            &:hover {
                background: var(--sd-colour-interactive--alpha-20);
            }
        }

    }
}


/*
====================================================
    User detail pane
====================================================
*/
.preferences__content {
    .simple-list--users {
        > .simple-list__item:first-child {
            padding-top: 0;
        }
    }
}
.user-details-pane {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
    width: 100%;
    height: 100%;

    .profile-info,
    .preferences {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }
    .profile-info__content,
    .preferences__content {
        padding: 24px 0 0 0;
        overflow-y: auto;
    }

    .preferences__content {
        padding: 24px 20px;

    }
    .profile-info__navigation,
    .preferences__navigation {
        position: relative;
        overflow-y: auto;
        width: 216px;
        .sd-left-nav {
            position: fixed;
        }
    }

    > header {
        grid-row: 1 / 2;
        height: 48px;
        border-bottom: none;
        z-index: 1;
        .nav-tabs {
            padding: 0 10px;
        }
    }
    > .content {
        //position: relative;
        grid-row: 2 / 3;
        height: 100%;
        padding: 0;
        overflow-y: auto;
        background-color: var(--sd-colour-panel-bg--100);
    }
    .action-bar {
        top: -48px;
        &.show { 
            top:0;
            z-index: 2; 
        }
    }

    .header-info {
        //background-color: var(--sd-colour-interactive--alpha-10);
        padding: 0;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 { //used as user's full name
            text-align: center;
            font-size: 23px;
            line-height: 1;
            margin: 10px 0 4px 0;
            padding: 0 20px;
        }
        h5 { //used as user's username
            text-align: center;
            font-size: 18px;
            font-weight: normal;
            line-height: 1;
            padding: 2px 0;
            margin-bottom: 6px;
            color: var(--sd-colour-interactive);
        }
        .field__member_since {
            display: flex;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            gap: 4px;
        }
    }
    .date-time {
        color: var(--color-text-light);
        font-weight: 300;
    }
    .details-info {
        padding: 0 20px;
        position: relative;
        scroll-behavior: smooth;
    }
    .error-holder {
        height: 40px;
        margin: 0 -20px;
        .alert {
            padding: 10px 20px;
        }
    }
    .validation-error {
        color: #ab3434;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .validation-info {
        font-size: 11px;
        color: var(--color-text-light);
    }
    .profile-pic {
        display: flex;
        position: relative;
        justify-content: center;
        position: relative;
    }
    .profile-pic__change {
        position: absolute;
        bottom: -2px;
        inset-inline-end: -4px;
        background-color: var(--sd-item__main-Bg);
        border-radius: var(--b-radius--full);
        opacity: 0.75;
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 1;
        }
    }

    .alert {
        border-radius: 2px;
    }



    .ng-invalid-required {
        .required-info {
            display: inline-block !important;
        }
    }
} //end of user detail pane



// USER PROFILE PAGE IN MODAL
.modal.user-profile-page {
    .modal__body {
        height: calc(100vh - 180px);
        border-radius: 0 0 4px 4px;
    }
    .user-details-pane {
        position: static;
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            margin: -1px 0;
            position: fixed;
            right: 10px;
        }
        ::-webkit-scrollbar:hover {
            background-color: var(--sd-colour__webkit-scrollbar--hover);
            cursor: pointer;
        }
        
        ::-webkit-scrollbar-thumb {
            background: var(--sd-colour__webkit-scrollbar-thumb);
        }
        ::-webkit-scrollbar-thumb:hover {
            background: var(--sd-colour__webkit-scrollbar-thumb--hover);
            cursor: pointer;
        }
    }
    .details-info {
        bottom: 58px;
    }
    .action-bar {
        top: auto !important;
        bottom: 0;
        border-top: 1px solid var(--sd-colour-line--light);
        border-bottom: 0;
    }
}

/*
==============================================
Profile page styles
==============================================
*/
.user-profile-page {
    .user-details-pane {
        //top: 0;
        padding: 0;
        height: 100%;
    }
}

.profile-activity-container {
    //position: absolute;
    //left: 0px;
    //right: 0;
    //top: 0;
    //bottom: 0;
    padding: 0;
    background-color: $background-main;
    height: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;


    &::-webkit-scrollbar {
            width:10px;
            border-left:0
        }
    &::-webkit-scrollbar-thumb {
        border-right: 2px solid $background-main;
        border-left: 0;
    }

    > .btn {
        margin: 10px 0 20px;
    }

    .profile-activity {
        height: 100%;
        overflow: auto;
        width: clamp(200px, 40vw, 380px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        border-right: 1px solid var(--sd-colour-line--light);
        .activity-header {
            grid-column: 1/2;
            grid-row: 1/2;
            height: 48px;
            display: flex;
            align-items: center;
            box-shadow: 0 1px 0 var(--sd-colour-line--light);
            z-index: 1;
            h6 {
                line-height: 1;
                font-weight: normal;
                font-size: 16px;
                color: var(--color-text-light);
                text-transform: none;
                padding-left: 24px;
                margin: 0;
            }
        }
        div[sd-activity] {
            grid-column: 1/2;
            grid-row: 2/2;
            overflow-y: auto;
            padding: $sd-base-increment * 2 $sd-base-increment * 3;
        }

        .group-date {
            margin-top: 20px;
            margin-bottom: 16px;
            color: var(--color-text-light);
            font-size: 11px;
            font-weight: 500;
            height: 1px;
            border-top: 1px solid var(--sd-colour-line--medium);
            position: relative;
            .day {
                position: relative;
                top: -.9em;
                display: inline-block;
                background-color: $background-main;
            }
            .date {
                padding-left: 4px;
                padding-right: 4px;
                text-transform: lowercase;
                position: relative;
                top: -.9em;
                display: inline-block;
                background-color: $background-main;
            }
        }
        .activity-entry {
            border-bottom: 1px solid var(--sd-colour-line--medium);
            background: var(--sd-item__main-Bg);
            margin-top: 4px;
            clear: left;

            .activity-figure {
                float: left;
            }

            .activity-date {
                color: var(--color-text-light);
                font-size: 11px;
                font-weight: 500;
            }
        }
    }

    ::-webkit-scrollbar {
        border-left: 9px solid $background-main;
        border-right: 1px solid $background-main;
        width: 13px;
        background: $background-main;
    }
    ::-webkit-scrollbar-thumb {
        border-left: 8px solid $background-main;
    }
}

.user-details-pane {
    .action-bar {
        background: scale-color($sd-blue, $lightness: 80%);
        box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0);
        border-bottom: none;
        &.show {
            box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
        }
    }
}
.page-nav-title--users {
    gap: 4px;
    sd-user-avatar {
        margin-inline-start: -8px;
        margin-inline-end: 8px;
    }
}


.user-profile-page {
    overflow: auto;
    // grid test
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;


    // end test
    .form-content {
        //position: absolute;
        //top: 0; left: 0; bottom: 0;
        grid-column: 1 / 2;
        width: 900px;
        background: var(--sd-item__main-Bg);
        border-right: 1px solid var(--sd-colour-line--light);
        box-shadow: 0 0 5px 0 hsla(0, 0%, 0%, 0.12);
        z-index: 2;
        overflow-y: auto;
    }

    .other-content {
        //position: absolute;
        //top: 0; left: 600px; bottom: 0; right: 0;
        grid-column: 2 / 3;
        z-index: 1;
        background: $background-main;
        overflow-y: auto;

        .tablist-container {
            width: 100%;
            height: 38px;
            border-bottom: 1px solid var(--sd-colour-line--light);
            background: var(--sd-colour-panel-bg--100);
            ul li {
                float: left;
                height: 38px;
                line-height: 38px;
                padding: 0 20px;
                border-right: 1px solid var(--sd-colour-line--light);
                color: var(--sd-colour-interactive);
                &.active {
                    background: var(--sd-colour-panel-bg--100);
                }
            }
        }

        .tabcontent-container {
            position: absolute;
            top: 38px;
            left: 0; right: 0; bottom: 0;
            overflow: auto;
            .profile-activity-container {
                left: 0;
                background: none;
                .activity.with-date .date span {
                    background-color: var(--sd-colour-panel-bg--100) !important;
                }
            }
        }
    }
}

.user-link {
    color: $sd-blue-text;
    &:hover {
        cursor: pointer;
    }
}
//
// User info popup
.user-popup {
    position: fixed;
    min-width: 240px;
    width: auto;
    height: 150px;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1001;
    background: var(--sd-item__main-Bg);
    border:1px solid var(--sd-colour-line--light);
    box-shadow: 0 0 3px 0 hsla(0, 0%, 0%, 0.15);

    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-size: 20px;
        text-align: center;
        @include text-light();
    }
    .actions {
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        a:hover {
            text-decoration: none;
        }
    }
}


// Preferences

.preferences  {

    .dateline_preview {
            background-color: rgba(0,0,0,.06);
            display: inline-flex;
            align-items: center;
            min-height: 28px;
            border-radius: 14px;
            padding: 0.2rem 1.4rem;
            margin-top: 1rem;

    }
    .preferences__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.2rem 0 0.8rem;
        .preferences__action-link {
            cursor: pointer;
            color: #5ea9c8;
            display: inline-block;
            padding: 0.2rem;
            font-size: 1.1rem;
            line-height: 100%;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            flex-grow: 0;
        }
        .preferences__action-spacer {
            display: inline-block;
            flex-grow: 0;
            height: 1.2rem;
            margin-right: 0.6rem;
            padding-left: 0.6rem;
            width: 0.1rem;
            border: 1px dotted rgba(0,0,0,.65);
            border-width: 0 1px 0 0;
        }
    }

    .input-term {
        input[type="text"] {
            border: 1px solid rgba(123, 123, 123, 0.5);
            border-radius: 3px;
            padding: 0 5px;
            width: auto;
            min-width: 100%;
            min-height: 30px;
            &:hover {
                border: 1px solid rgba(123, 123, 123, 0.8);
            }
            &:focus {
                border: 1px solid #5ea9c8;
                box-shadow: inset 0 0 0 1px #5ea9c8;
            }
        }
    }

    [sd-meta-dropdown] {
        .dropdown {
            display: block;
            .dropdown__menu {
                width: 100%;
            }
        }
        .dropdown__toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.4rem !important;
            min-width: 240px;
            .dropdown__caret {
                display: block;
                flex-grow: 0;
                flex-shrink: 0;
                margin: 0 4px 0 auto !important;
            }
        }
    }
}

.mini-modal {
    background-color: #fff;
    
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2),0 6px 16px rgba(0,0,0,.3);
    .title {
        font-size: 15px;
        padding: 12px 20px;
        box-shadow: 0 1px 0 rgba(0,0,0,.1);
    }
    .content {
        padding: 10px 20px;
        font-size: 14px;
    }
    .footer {
        padding: 10px 20px 20px;;
    }
    .close {
        position: absolute;
        top: 10px;
        right:10px;
    }
}

.password-popup {    //change password popup
    position: fixed;
    min-width: 260px;
    top: 150px;
    left: 10%;
    background-color: $white;
    z-index: 999;
}

.user-preferences__heading {
    padding: 0.8rem 0 1.6rem;
    margin: 0;
    font-size: 1.6rem;
    color:#333;
    font-weight: 300;
    letter-spacing: 0.02em;
}

.preview-pane {
    .user-details-pane {
        overflow-y: auto;
        position: static;
        .profile-info__navigation {
            width: auto;
            .sd-left-nav {
                display: none;
            }
        }
        .action-bar {
            top: -48px;
            &.show { 
                top: 0px;
                z-index: 1;
            }
        }
    }
}
