<div class="sd-page__header">
    <span class="sd-page__element-grow"></span>
    <button class="btn btn--primary" ng-click="editFilter()">
        <i class="icon-plus-sign icon--white"></i><span translate>Add New</span>
    </button>
</div>

<div class="sd-page__content manage-filters-page">
    <ul class="pills-list wide">
        <li ng-repeat="filter in contentFilters track by filter._id" class="clearfix">
            <div class="header">
                <h6>{{ filter.name }}</h6>
                <span ng-if="filter.is_global" class="label label--warning label--hollow">Global Block</span>
                <span ng-if="filter.is_archived_filter" class="label label--warning label--hollow">Archived Block</span>
                <span ng-if="filter.api_block" class="label label--warning label--hollow">Block API</span>
                <div class="actions">
                    <button ng-click="productionTest(filter)" title="{{:: 'Test Filter Against Content' | translate }}"><i class="icon-ok"></i></button>
                    <button ng-click="editFilter(filter)" title="{{:: 'Edit Content Filter' | translate }}"><i class="icon-pencil"></i></button>
                    <button ng-click="remove(filter)" title="{{:: 'Remove Content Filter' | translate }}"><i class="icon-trash"></i></button>
                </div>
            </div>
        </li>
    </ul>

    <div ng-if="productionTest" ng-include="'scripts/apps/content-filters/views/production-test.html'"></div>
</div>
<!-- Modal - -->
    <div sd-modal data-model="contentFilter" data-close="close()" class="modal--large content-filter-modal">
        <div class="modal__header"> <a href="" class="close" ng-click="close()"><i class="icon-close-small"></i></a>
            <h3 class="modal__heading" ng-show="contentFilter._id"><span translate>Edit Content Filter</span> <span>"{{:: origContentFilter.name }}"</span></h3>
            <h3 class="modal__heading" translate ng-hide="contentFilter._id">Add New Content Filter</h3>
        </div>
        <div class="modal__body">
            <form name="editForm" ng-submit="saveFilter()">
                <fieldset>

                    <div class="form__row">
                        <div class="sd-line-input" ng-class="{'sd-line-input--invalid': editForm.label.$error.maxlength}">
                            <label class="sd-line-input__label" translate>Name</label>
                            <input class="sd-line-input__input" type="text" id="contentFilter-name" name="label" required ng-model="contentFilter.name" ng-maxlength="80">
                            <div class="sd-line-input__hint" ng-show="!editForm.label.$error.maxlength" translate>Maximum 80 characters.</div>
                            <div class="sd-line-input__message" ng-show="editForm.label.$error.maxlength" translate>Please use less than 80 characters</div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="list-row list-row--small">
                            <span ng-model="contentFilter.is_global" sd-switch title="{{ contentFilter.is_global ? 'Global Block Enabled' : 'Global Block Disabled'  | translate }}"></span><label>{{:: 'Global Block' | translate }}</label>
                        </div>
                        <div class="list-row list-row--small">
                            <span ng-model="contentFilter.is_archived_filter" sd-switch title="{{ contentFilter.is_archived_filter ? 'Archived Block Enabled' : 'Archived Block Disabled'  | translate }}"></span><label>{{:: 'Archived Block' | translate }}</label>
                            
                        </div>
                        <div class="list-row list-row--small">
                            <span ng-model="contentFilter.api_block" sd-switch title="{{ contentFilter.api_block ? 'API Block Enabled' : 'API Block Disabled' | translate }}"></span><label>{{:: 'Block API' | translate }}</label>
                            
                        </div>
                    </div>


                    <div class="filter-tags" ng-repeat="filterRow in contentFilter.content_filter">
                        <div class="flex-header">
                            <div class="flex-header-name"><span translate>Filter Statement</span> <span class="lighten-text">{{$index+1}}</span></div>
                            <div class="flex-space"></div>
                            <a href="" class="close" ng-click="removeStatement($index)"><i class="icon-close-small"></i></a>
                        </div>

                         <div class="grid grid--padding-fix">
                            <div class="grid__item grid__item--col-6">
                                <div class="form__row form__row--flex form__row--no-margin">
                                    <div class="sd-line-input sd-line-input--is-select">
                                        <label class="sd-line-input__label">Filter Preview</label>
                                        <select class="sd-line-input__select" ng-model="filterRow.selected">
                                            <option value=""></option>
                                            <option value="{{filter._id}}" ng-repeat="filter in filterConditions track by filter._id">{{:: filter.name}}</option>
                                        </select>
                                    </div>
                                    <button class="btn" type="button" ng-click="addFilter(filterRow, 'fc')" translate>Add</button>
                                </div>
                            </div>
                            <div class="grid__item grid__item--col-6">
                                <div class="form__row form__row--flex form__row--no-margin">
                                    <div class="sd-line-input sd-line-input--is-select">
                                        <label class="sd-line-input__label">Content Preview</label>
                                        <select class="sd-line-input__select" ng-model="filterRow.selected">
                                            <option value=""></option>
                                            <option ng-if="filter._id!==contentFilter._id" value="{{filter._id}}" ng-repeat="filter in contentFilters track by filter._id">{{:: filter.name}}</option>
                                        </select>
                                    </div>
                                    <button class="btn" type="button" ng-click="addFilter(filterRow, 'pf')" translate>Add</button>
                                </div>

                            </div>
                        </div> 
                        
                        <div class="inline-tag-list">
                            <ul>
                                <li ng-repeat="filter in filterRow.expression.fc">
                                    <div class="inline-tag" title="{{'Filter Condition' | translate}}: {{filterConditionLookup[filter].name}}">
                                        <span>FC:</span>{{filterConditionLookup[filter].name}}<button type="button" ng-click="removeFilter(filterRow, filter, 'fc')"><i class="icon-close-small"></i></button>
                                    </div>
                                </li>
                                <li ng-repeat="filter in filterRow.expression.pf">
                                    <div class="inline-tag tag-darker" title="{{'Content Filter' | translate}}: {{contentFiltersLookup[filter].name}}">
                                        <span>CF:</span>{{contentFiltersLookup[filter].name}}<button type="button" ng-click="removeFilter(filterRow, filter, 'pf')"><i class="icon-close-small"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form__row" style="text-align:right;">
                        <button class="btn btn--hollow btn--primary" type="button" ng-click="addStatement()" translate>Add Filter Statement</button>
                    </div>
                </fieldset>
            </form>

            <div class="form__row">
                <div class="sd-line-input sd-line-input--disabled">
                    <label class="sd-line-input__label">Filter Preview</label>
                    <textarea class="sd-line-input__input" id="contentFilter-preview" readonly ng-model="preview" sd-auto-height disabled></textarea>
                </div>
            </div>
            <div class="form__row form__row--flex">
                <div class="sd-line-input" ng-class="{'sd-line-input--invalid': !test.article_id.$valid}">
                    <label class="sd-line-input__label">Filter Test</label>
                    <input class="sd-line-input__input" type="text" id="contentFilter-test" required ng-model="test.article_id" ng-change="test.test_result=null">
                    <div class="sd-line-input__hint" translate>Use the article GUID for testing.</div>
                </div>
                <button type="button" class="btn" ng-click="test()" translate>Test</button>
            </div>
            <div class="form__row">
                <div id="test-result" class="sd-alert sd-alert--hollow" ng-if="test.test_result">{{test.test_result}}</div>
            </div>
        </div>

        <div class="modal__footer">
            
            <button class="btn" ng-click="close()" translate>Cancel</button>
            <button class="btn btn--primary" ng-click="saveFilter()" ng-disabled="!editForm.$valid || !preview" translate>Save</button>
        </div>
    </div>
<!-- Close Modal -->

