<div class="metasearch" ng-controller="MetasearchCtrl as metasearch">
    <div class="subnav">
        <div class="flat-searchbar monitoring-flat-searchbar" ng-class="{extended: metasearch.openSearch}">
            <div class="search-handler">
                <label for="search-input" class="trigger-icon"
                    ng-click="metasearch.toggle()"><i class="icon-search"></i></label>
                <input id="search-input" type="text" placeholder="{{ :: 'Search' | translate }}"
                    sd-autofocus
                    ng-model="metasearch.query"
                    ng-keyup="metasearch.search($event)">
                <button class="search-close"
                    ng-click="metasearch.reset()"
                    ng-class="{visible: metasearch.query}"><i class="icon-remove-sign"></i></button>
            </div>
        </div>

        <h3 class="subnav__page-title">
            <span>Metasearch</span>
        </h3>
    </div>
    <section class="main-section" sd-loading="metasearch.loading">
        <div class="content-list">
            <div class="stage">
                <div class="btn-group pull-left">
                    <button class="btn"
                        ng-disabled="!metasearch.category"
                        ng-click="metasearch.setCategory(null)">Superdesk</button>
                    <button class="btn"
                        ng-disabled="metasearch.category === 'general'"
                        ng-click="metasearch.setCategory('general')">General</button>
                    <button class="btn"
                        ng-disabled="metasearch.category === 'social media'"
                        ng-click="metasearch.setCategory('social media')">Social Media</button>
                    <button class="btn"
                        ng-disabled="metasearch.category === 'news'"
                        ng-click="metasearch.setCategory('news')">News</button>
                    <button class="btn"
                        ng-disabled="metasearch.category === 'editoria'"
                        ng-click="metasearch.setCategory('editoria')">Editoria</button>
                </div>

                <div class="btn-group pull-left">
                    <button class="btn"
                        ng-disabled="!metasearch.time_range"
                        ng-click="metasearch.setTime(null)">Anytime</button>
                    <button class="btn"
                        ng-disabled="metasearch.time_range === 'day'"
                        ng-click="metasearch.setTime('day')">Last day</button>
                    <button class="btn"
                        ng-disabled="metasearch.time_range === 'week'"
                        ng-click="metasearch.setTime('week')">Last week</button>
                    <button class="btn"
                        ng-disabled="metasearch.time_range === 'month'"
                        ng-click="metasearch.setTime('month')">Last month</button>
                </div>

                <ul ng-if="metasearch.items.length" class="pills-list">
                    <li ng-repeat="item in metasearch.items" ansa-metasearch-item>
                        <small class="engine">{{ :: item.engine }}</small>
                        <div class="embed html">
                            <div ng-bind-html="html"></div>
                        </div>
                        <div class="embed iframe" ng-if="iframe">
                            <iframe src="{{ iframe }}" type="text/html" width="{{ width }}" height="{{ height }}" frameborder="0"></iframe>
                            <p>{{ :: item.content }}</p>
                        </div>
                        <div class="inline" ng-if="!embed">
                            <h3 ng-if="!item.thumbnail_src"><a ng-href="{{ :: item.url }}" target="_blank">{{ :: item.title }}</a></h3>
                            <figure ng-if="item.thumbnail_src">
                                <img ng-if="item.thumbnail_src" ng-src="{{ :: item.thumbnail_src }}" />
                                <p>{{ :: item.title }}</p>
                            </figure>
                            <p>{{ :: item.content }}</p>
                        </div>
                        <div class="clearfix">
                            <a ng-href="{{ :: item.url }}" target="_blank">{{ :: item.pretty_url }}</a>
                        </div>
                    </li>
                </ul>
                <ul ng-show="metasearch.items.length === 0 && metasearch.query" class="pills-list">
                    <li>There are no results for the query "{{ metasearch.query }}".</li>
                </ul>
            </div>
        </div>
    </section>
</div>
