<div class="metasearch" ng-controller="MetasearchCtrl as metasearch">
    <div class="subnav">
        <div class="flat-searchbar monitoring-flat-searchbar" ng-class="{extended: metasearch.openSearch}">
            <div class="search-handler">
                <label for="search-input" class="trigger-icon"
                    ng-click="metasearch.toggle()"><i class="icon-search"></i></label>
                <input id="search-input" type="text" placeholder="{{ :: 'Search' | translate }}" class="input-large"
                    sd-autofocus
                    ng-model="metasearch.query"
                    ng-keyup="metasearch.search($event)">
                <button class="search-close"
                    ng-click="metasearch.reset()"
                    ng-class="{visible: metasearch.query}"><i class="icon-remove-sign"></i></button>

                <div class="dropdown navbtn strict" dropdown>
                    <button class="dropdown-toggle dropdown__toggle" dropdown-toggle>
                        <i class="svg-icon-settings"></i>
                    </button>
                    <ul class="dropdown__menu">
                        <li ng-repeat="cat in metasearch.categories track by cat._id">
                            <button class="btn"
                                ng-disabled="metasearch.category == cat._id"
                                ng-click="metasearch.setCategory(cat._id)">{{ cat.label }}</button>
                        </li>

                        <li class="divider"></li>
                        <li ng-repeat="time in metasearch.time_ranges track by time._id">
                            <button class="btn"
                                ng-disabled="metasearch.time_range == time._id"
                                ng-click="metasearch.setTime(time._id)">{{ time.label }}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h3 class="subnav__page-title">
            <span>Metasearch</span>
        </h3>
    </div>
    <section ansa-metasearch-results class="main-section"></section>
</div>
