// article-edit.scss
// Styling for the superdesk article edit module
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';
@import "~sf-additional.scss";

#main-container.authoring {
    .authoring-embedded {
        background: url('~images/loading-large.gif') no-repeat center;
    }
}

.auth-screen {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    .main-section {
        @include transition(all ease 0.3s);
    }
}

.authoring-embedded {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .embedded-auth-view {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        box-sizing: border-box;

        .sd-widget.comments .notification-list-box,
        .sd-widget.versions .article-versions {
            bottom: 0;
        }
    }

    .page-content-container {
        left:0;
        right:50px;
        top: 27px;
    }

    .widget-wrapper {
        &.active-right {
            &.right-extended {
                .page-content-container {
                    right: 50px;
                }
            }
            .page-content-container {
                right: 50px;
            }
        }
    }
}

.subnav--authoring {
    z-index: 99;
    position: absolute;
    top: $subnav-height;
    left: 0;
    right: 0;
    background-color: $subnav-authoring;
    .highlights-toggle, .marks-toggle {
        .dropdown__menu {
            max-height: calc(100vh - 350px);
            overflow-y: auto;
        }
    }
}

.subnav__authoring-topbar {
    height: 30px;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 0 0 20px;
    .stage {
        font-size: 10px;
        @include text-light();
        letter-spacing: 0.035em;
        line-height: 29px;
        color: $gray;
        border: 0;
        background-color: transparent;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        b {
            color: $grayDark;
            @include text-semibold();
        }
    }
    &.enable-overflow {
        overflow: visible;
    }
}

.compact {
    .subnav__authoring-topbar {
        .stage {
            max-width: 132px;
        }
    }
}

.lock-avatar {
    margin: 10px 0 10px 10px;
    .avatar-with-info {
        margin-top: 2px;
        cursor: pointer;
        .logged-info {
            background-color: #cf0000;
            border: 1px solid #cf0000;
            box-shadow: 0px 0 0 2px $subnav-authoring;
        }
    }
    .dropdown__menu {
        padding: 10px;
        top: 0px;
        text-align: center;
        .avatar {
            display: inline-block;
            margin: 10px 0;
            float: none;
        }
        button {
            text-align: center;
            margin-top: 15px;
        }
    }
    .dropdown__menu-label {
        padding-left: 0;
    }
}

.auto-save {
    margin-right: 20px;
    line-height: 28px;
    @include opacity(70);
    i {
        margin-top: -4px;
    }
}

.page-content-container {
    position: absolute;
    top:0;
    left: $tablist-width + $article-tabpane-padding;
    right: $tablist-width + $article-tabpane-padding;
    bottom: 30px;
    overflow-y: auto;
}


// Medium editor
// -------------------------------------------------
.medium-editor-toolbar-actions {
    li button {
        height: 30px !important;
        min-width: 40px !important;
        padding-top: 10px !important;
    }
}
.medium-toolbar-arrow-under:after {
    top: 40px !important;
}

.text-editor-info {
    font-size: 89%;
}

.text-editor {
    min-height: 20px;

    .sderror {
        border-bottom: 1px dotted #cc0000;
        background-color: rgba(204, 0, 0, 0.08);
        line-height: normal;
    }

    .sdfindreplace {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .sdfindreplace.sdactive {
        background-color: rgba(255, 255, 0, 1);
    }



    a {
        color: #5d9bc0;
    }
}

.typing {
    .text-editor {
        .sderror, .typing .sdfindreplace {
            border-bottom: none;
            background-color: transparent;
        }

        &.clone {
            display: none;
        }
    }
}

// Placeholders
// -------------------------------------------------
[contenteditable=true] {
    &:before{
        display: block; /* For Firefox */
    }
    &:empty:before{
        content: attr(placeholder);
        display: block; /* For Firefox */
        color: #ccc;
    }
    &:focus:before{
        display: none;
    }
}


// Opened articles
// -------------------------------------------------

.opened-articles {
    position: fixed;
    min-height: $authoring-opened-articles;
    left: 0; right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.85);
    z-index: $zindexFixedNavbar;
    ul > li {
        @include border-box();
        padding: 0 15px 0 15px;
        max-width: 250px;
        position: relative;
        line-height: 30px;
        .close {
            color: #fff;
            border: none;
            background: none;
            position: absolute;
            right: 5px;
            top: 5px;
            padding: 0;
        }
        .title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #8bcaf7;
            font-size: 12px;
            @include text-light();
            &:hover {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
        &:active {
            background: #444;
        }
        &.active {
            background: darken($sd-blue,10%) !important;
            margin-top: -1px;
            padding-top: 1px;
            &:hover {
                cursor: default;
            }
            .title {
                color: #fff;
            }
        }
    }
    .list {
        margin-left: 31px;
        margin-right: 250px;
        &.full-width {
            margin-right: 0;
        }
        > li {
            float: left;
            border-right: 1px solid #333;
        }
    }
    .multiedit-item {
        float: right;
        > li {
            border-left: 1px solid #333;
            width: 250px;
        }
    }
    .quick-actions {
        button {
            background: none;
            border: 0;
            height: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            &:hover {
                cursor: pointer;
                background: $sd-blue;
            }
        }
        i {
            margin: -5px 0 0 0;
        }
    }
}

.scratchpad-open {
    .opened-articles {
        bottom: $scratchpad-closed + $scratchpad-content-height;
    }
}



// Article dashboard
// -------------------------------------------------

.authoring-dashboard {
    padding: 40px;
    overflow: auto;

    .card-list {
        width: 0;
        margin: 0 auto;
    }
    .card-list > li {
        width: 140px;
        height: 170px;
        float: left;
        margin: 10px;
        padding: 15px 20px;
        position: relative;
        .title {
            max-height: 135px;
            overflow: hidden;
            font-size: 14px;
            line-height: 22px;
            max-height: 110px;
            overflow: hidden;
            @include text-semibold();
        }
        .created {
            position: absolute;
            bottom: 15px;
            left: 20px;
            color: #888;
            font-size: 12px;
            width: 80%;
            height:14%;
            float:left;
        }
        .text {
            font-size: 12px;
            color: $gray;
            line-height: 18px;
        }
        .close {
            position: absolute;
            right: 7px;
            top: 3px;
        }
        .type-icon {
            position: relative;
            bottom: 6px;
            margin: 0;
            float: left;
        }
        .state-label {
            position: relative;
            bottom: 1px;
            margin: auto;
            float: right;
        }
        .subInfo {
            position: absolute;
            right: 15px;
            bottom: 1px;
            float: right;
        }
        .container {
            @include text-semibold();
            color: #216678;
            margin-right: 20px;
        }
    }
}

.terms-box {
    position: relative;
    .dropdown__menu.nested-menu {
        width: 100%;
    }
}

.widget {
    padding: 12px;

    h3 {
        margin-bottom: 0.5em;
    }

    .macro-option {
        margin-bottom: 20px;
    }

    .link-list .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

.modal-footer {
    .pagination-box {
        .page-info {
            float: left;
        }
    }
}

// Authoring Header
// -------------------------------------------------

// ---- Sticky header ----
.authoring-sticky {
    position: absolute;
    @include box-sizing(border-box);
    left: 0; right: 58px;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #cacaca;
    border-top: 0;
    border-bottom: 0;
    background-color: $white;
    z-index: 3;
    @include transition(all .5s);

    .authoring-sticky__detailed {
        display: inline-block;
        > div {
            display: inline-block;
            margin-left: 15px;
            padding-left: 10px;
            border-left: 1px solid #DADADA;
        }
        label, time, b {
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            color: $sd-text-label;
            padding-right: .3em;
            margin: 0;
        }
        b {
            max-width: 45%;
            color: #575656;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &.authoring-sticky--fixed {
        z-index: 3;
        @include box-shadow(0px 2px 4px -1px rgba(0,0,0,0.2));
    }
}

// ---- Main header ----
.authoring-header {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    font-size: 0;
    padding: 5px 10px 12px 10px;
    border: 1px solid #cacaca;
    border-top: 0;
    border-bottom: 0;
    background-color: $white;
    z-index: 2;
    @include box-sizing(border-box);
    @include box-shadow(0px 1px 4px -1px rgba(0,0,0,0.25));
    max-height: 0;
    //.transition(max-height 0.3s ease-in);
    > .authoring-header__holder {
        height: 0px;
        opacity: 0;
        overflow: hidden;
        //.transition(opacity 0.3s 0.4s);
        @include transition(opacity 0.4s 0.1s);
    }
    &.active {
        max-height: 800px;
        //.transition(max-height 0.3s ease-in);
        > .authoring-header__holder {
            height: auto;
            opacity: 1;
            overflow: visible;
            //.transition(opacity 0.3s 0.4s);
            @include transition(opacity 0.4s 0.1s);
        }
    }
    * {
        box-sizing: border-box;
    }
}

.authoring-header__general-info {
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    > div {
        display: inline-block;
        vertical-align: top;
        line-height: 0;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #DADADA;
        &:last-of-type {
            margin-right: 0;
            border-right: 0;
        }
    }
    label {
        display: inline-block;
        font-size: 10px;
        line-height: 16px;
        min-width: 0;
        margin: 0;
        color: $sd-text-label;
        letter-spacing: 0.06em;
    }
    .data {
        display: inline-block;
        font-size: 13px;
        line-height: 14px;
        padding-left: 10px;
        text-transform: lowercase;
        select {
            padding: 0px;
            height: 16px;
            font-size: 11px;
        }
    }
    .word-count b {
        font-size: 12px;
        line-height: 12px;
        color: #575656;
        padding-right: .2em;
    }
    .broadcast-status {
        color: #e51c23;
        b {
            font-size: 14px;
        }
    }
    [class^="filetype-icon-"],
    [class*="filetype-icon-"] {
        height: 13px;
        color: $grayLight;
    }
    .update-info {
        padding-left: 0;
    }
}

.authoring-header__detailed {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    .data {
        flex-grow: 1;
        font-size: 13px;
        line-height: 20px;
    }

    input.slugline {
        color: $sd-keyword;
        font-weight: 500;
    }

    textarea.ed-note {
        color: #d25932;
    }
    .dropdown {
        width: 100%;
        line-height: 0;
        .dropdown__toggle {
            @include transition(all .3s);
            padding: 0;
            .dropdown__caret {
                position: absolute;
                top: 50%;
                right: 3px;
                margin-top: -3px;
            }
            i { vertical-align: middle; }
            &.line-input {
                + .dropdown__menu {
                    margin-top: 20px;
                }
                span {
                    vertical-align: baseline;
                    margin-right: 3px;
                }
            }
        }
        &.open {
            .dropdown__toggle {
                box-shadow: 0 1px 0 0 $sd-blue;
                border-color: $sd-blue;
            }
        }
        .dropdown__menu {     
            .place-dropdown {
                padding-left: 16px;
                @include text-semibold();
            }
        }
    }
}

.authoring-header__toggle {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 0;
    padding: 0;
    left: 50%;
    margin-left: -11.5px;
    bottom: -11px;
    background-color: $white;
    z-index: 3;
    line-height: 0;
    @include border-radius(23px);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
    @include transition(transform 0.5s);
    i { height: 15px; }
    &.active {
        @include rotate(180deg);
    }
}

.authoring-header__row {
    display: flex;
    margin-bottom: 12px;
    min-height: 24px;
}

.authoring-header__row--wrap {
    flex-wrap: wrap;
    align-content:flex-start;
}

.authoring-header__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 10px 12px;
    min-height: 24px;
    position: relative;
    label {
        display: inline-block;
        min-width: 75px;
        font-size: 11px;
        line-height: 12px;
        color: $sd-text-label;
        padding-right: 5px;
        padding-top: 4px;
        font-weight: 500;
    }

    &.template-schedule {
        padding: 0 0 12px;
        label {
            width: 105px;
            line-height: inherit;
        }
    }

    input.slugline {
        color: $sd-keyword;
        font-weight: 500;
    }

    .sd-invalid-text {
        float: right;
        margin-bottom: -16px;
    }

    .char-count {
        font-size: 11px;
        font-style: italic;
        color: $sd-text-label;
        float: right;
        margin-bottom: -16px;
        margin-left: 5px;
        &.error {
            color: $red;
        }
    }

    [sd-meta-terms] + .sd-invalid-text {
        position: absolute;
        left: 120px;
        margin-top: 3px;
    }
    &----half {
        flex-basis: 50%;
    }
}

.authoring-header__item .authoring-header__hint {
    font-size: 12px;
    color: #747474;
    float: left;
    margin-bottom: -16px;
    margin-left: 0;
}

.authoring-header__item-label {
    min-width: 80px;
    max-width: 80px;
    font-size: 11px;
    line-height: 26px;
    margin: 0;
    color: $sd-text-label;
    text-transform: uppercase;
    padding-right: 6px;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.authoring-header__input-holder {
    position: relative;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    .arrow-down {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    &:hover {
        .arrow-down {
            .caret {
                opacity: 1;
            }
        }
    }
}

// --- various layout options ---
.authoring-header__row--2 {
    .authoring-header__item {
        flex-basis: 50%;
    }
}
.authoring-header__row--3 {
    .authoring-header__item {
        flex-basis: 33%;
    }
}
.authoring-header__row--4 {
    .authoring-header__item {
        flex-basis: 25%;
    }
}
.authoring-header__row--2-1-1 {
    .authoring-header__item {
        flex-basis: 25%;
        &:first-child {
            flex-basis: 50%;
        }
    }
}

.authoring-header__row--inline {
    .authoring-header__item {
        flex-grow:0;
    }
}

.authoring-header__row--inline {
    .authoring-header__item {
        .authoring-header__item-label {
            min-width: 0;
            max-width: 100%;
            padding-right: 12px;
            width: auto;
            flex-shrink: 1;
        }
        &:first-child {
            .authoring-header__item-label {
                min-width: 75px;
                max-width: 75px;
                padding-right: 6px;
            }
        }
    }
}



.compact {
    .authoring-header__item {
        .authoring-header__item-label {
            min-width: 0;
            max-width: 50px;
        }
        &:first-child {
            .authoring-header__item-label {
                min-width: 75px;
                max-width: 75px;
                padding-right: 6px;
            }
        }
    }
    .authoring-header__row--inline {
        .authoring-header__item {
            .authoring-header__item-label {
                min-width: 0;
                max-width: 50px;
            }
            &:first-child {
                .authoring-header__item-label {
                    min-width: 75px;
                    max-width: 75px;
                    padding-right: 6px;
                }
            }
        }
    }

}

// .authoring-header__row--inline .authoring-header__item:first-child .authoring-header__item-label {
//   min-width: 75px;
//   max-width: 75px;
//   padding-right: 6px;
//
// }

// -------------------------------------------------
// END Authoring Header

.dropdown-terms {
    width: auto !important;
    .dropdown__toggle {
        width: 24px;
        height: 24px;
        background-color: $sd-blue;
        @include opacity(50);
        border-radius: 2px;
        padding: 0;
        i {
            margin-bottom: 2px;
        }
        &:hover, &:focus {
            @include opacity(100);
        }
    }
    &.open {
        .dropdown__toggle { 
            @include opacity(100) 
        };
    }
    .dropdown__menu {
        width: 260px;
        max-height: 275px;
        padding: 0;
        .input-term {
            padding: 5px 0 5px 25px;
            background: url(~images/search-icon.png) left 10px center no-repeat white;
            border-bottom: 1px solid $grayLighter;
            input {
                box-shadow: none!important;
                border: 0!important;
            }
        }
        .main-list {
            background-color: $white;
            max-height: 215px;
            padding: 8px 0;
            overflow: auto;
            li {
                position: relative;
                button {
                    padding-right: 17px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    i {
                        margin-right: 0;
                    }
                }
            }
        }
        .levelup {
            display: flex;
            padding: 4.5px;
            margin-bottom: -1px;
            border-bottom: 1px solid $grayLighter;
            background-color: $white;
            i.backlink {
                flex-grow: 0;
                cursor: pointer;
                height: 27px;
                margin-top: 0;
            }
            button {
                flex-grow: 1;
                min-width: 0 !important;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
                b.category-hover {
                    display: none;
                }
                &:hover {
                    b.category { display: none; }
                    b.category-hover { display: block; }
                }
            }
        }
        .item-list { position: static; max-height: 215px; }
    }
}
.terms-list {
    width: calc(100% - 28px);
    display: inline-block;
    vertical-align: top;
    li {
        display: inline-block;        
        position: relative;
        font-size: 12px;
        color: $black;
        background-color: rgba(0,0,0,0.05);
        margin-right: 3px;
        margin-bottom: 3px;
        padding: 3px 10px;
        cursor: pointer;
        border-radius: 2px;
        @include transition(color .2s);
        i {
            position: absolute;
            margin-left: -7px;
            left: 50%;
            top: 5px;
            @include opacity(0);
            @include transition(opacity .2s);
        }
        &:hover {
            text-align: center;
            background-color: rgba(0,0,0,0.08);
            color: rgba(0,0,0,0.08);;
            i {
                @include opacity(70);
            }
        }
    }
}

.item-detail-info {
    height: 0px;
    overflow: hidden;
    @include box-sizing(border-box);
    &.active {
        height: auto;
    }
    + button {
        position: absolute;
        width: 23px;
        height: 23px;
        border: 0;
        padding: 0 5px;
        font-size: 0;
        left: 98%;
        margin-left: -11.5px;
        margin-top: -13px;
        background-color: $white;
        @include border-radius(23px);
        @include transition(transform 0.5s);
        &.active {
            @include rotate(180deg);
        }
    }

    .edit-photo {
        display: none    ;
        color: #fff;
        text-transform: uppercase;
        font-size: 9px;
        text-decoration: none;
        text-align: center;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &:hover {
        .edit-photo {
            display: block;
        }
    }
}

.preview-modal-control { // toggle for preview dialog
    .preview-toggle {
        z-index: 100;
    }
}

.preview-pane {
    .pane-holder {
        width: $sidepreview-width;
        &.outer-pane {
            top: 0;
        }
        .send-to-pane {
            width: $sidepreview-width;
        }
    }
}

#macros-diff {
    position: absolute;
    bottom: 30px;
    right: 60px;
    padding: 5px;
    opacity: 0.88;
    z-index: 10;
    text-align: right;
    background-color: #fff;

    & > * {
        margin-left: 5px;
    }

    & .replace-btn {
        margin-right: 8px;
    }

    & em {
        font-size: 120%;
    }
}

.item-association {
    border: 2px dashed rgba(150,150,150,0.3);
    background-color: rgba(150,150,150,0.12);
    width: 100%;
    height: 65px;
    position: relative;
    video {
        max-width: 100%;
    }
    &--loading {
        background-color: fade(#f7f7f7, 40%);
        border-color: fade(#cfcfcf, 40%);
        &:before {
            @include spinner-big();
            content: '';
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
        img {
            opacity: .2;
        }
    }

    &.dragover {
        background: $sd-hover;
        border-color: $sd-blue;
    }

    [contenteditable] {
        padding: 8px;
        min-height: 18px;
    }

    &:not(&--preview) {
        cursor: pointer;
    }

    &--preview {
        border: 1px solid rgba(150, 150, 150, 0.15);
        background-color: transparent;
    }

    img {
        max-width: 100%;
        &:hover {
            cursor: pointer;
        }
    }

    .not-editable {
        &:hover {
            cursor: auto;
        }
    }

    .close-overlay {
        z-index:10000;
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

feature-image {
    .item-association {
        [contenteditable] {
            text-align: center;
        }
    }
}

.indent-article {
    #bodyhtml, .text.body-text {
        p:first-of-type, p+p {
            text-indent: 25px;
        }
        h2+p:first-of-type, 
            h3+p:first-of-type, 
            h4+p:first-of-type, 
            h5+p:first-of-type {
            text-indent: 0;
        }
    }
}

#timezoneTimestamp {
    .timezone-input--dark > label {
        display: none;
    }

    .input-term input {
        background: #4f4f4f;
        font-size: 13px;
        line-height: 18px;
        color: $white;
        border: 2px solid #4f4f4f !important;
        height: 35px;
        margin-bottom: 5px;
    }

    ul.item-list {
        right: auto;
        top: -170px;
        width: 100%;
    }

    ul.pills-list {
        li {
            .icon-remove-sign {
                margin-top: -1px;
                color: $white;
            }
            #timezone {
                padding-right: 25px;
            }
            background: #4f4f4f;
            padding: 7px;
            font-size: 13px;
            line-height: 18px;
            color: $white;
            border: 2px solid #4f4f4f !important;
        }
    }
}

.panel-header {
    margin-right: 20px;
    cursor: pointer;
    font-weight: 400 !important;
    color: $grayLight !important;
    :hover {
        border-bottom: 2px solid #3299b7;
    }
}
.panel-header-active {
    color: $white !important;
    span {
        border-bottom: 2px solid #3299b7;
    }
}

.media-item {
    &--loading {
        background-color: fade(#f7f7f7, 40%);
        border-color: fade(#cfcfcf, 40%);
        &:before {
            @include spinner-big();
            content: '';
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
        img {
            opacity: .2;
        }
    }
}

// Styling for formatted preview popup
// -------------------------------------------------------------
.sd-line-input {
    textarea {
        &.sd-line-input__input--formatted-preview {
            height: 40rem;
            font-family: "Roboto Mono", Consolas, Courier, monospace;
        }
    }
}

