// multiedit.scss
// Styling for the superdesk multiedit screen
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

$create-board-pane: 110px;

.close-multiedit {
    position: absolute;
    top: 14px; right: 14px;
    @include opacity(60);
    background: none;
    border: 0;
    padding: 0;
    &:hover {
        @include opacity(80);
    }
}

.multiedit-screen {
    .boards-list {
        position: absolute;
        top: 0; left: 0; bottom: 0;
        right: $create-board-pane;
    }
    .boards-create {
        position: absolute;
        top: 0; bottom: 0; right: 0;
        width: $create-board-pane;
        @include border-box();
        i {
            font-size: 48px;
            line-height: 100px;

            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 50%;
            margin-left: -20px;
        }
        &:hover {
            cursor: pointer;
            background: #d8d8d8;
        }
        .multiedit-float {
            .dropdown__menu {
                position: fixed;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                max-width: 270px;
                li button {
                    max-width: 250px !important;
                }
            }
        }
    }
    .boards-list {
        .board {
            background: $white;
            float: left;
            height: 100%;
            @include border-box();
            border: 1px solid #cacaca;
            border-width: 0 1px;
            overflow-y: auto;
            position: relative;

            > .dropdown {
                left: 10px;
                top: 5px;
                border: 0;
                position: absolute;
                z-index: 2;
                display: none;
                .dropdown__toggle {
                    padding: 0 15px;
                    i {
                        @include opacity(70);
                    }
                }
                &.open .dropdown__toggle {
                    box-shadow: -3px -2px 1px -2px #999999, 3px -2px 1px -2px #999999;
                }
                .dropdown__menu {
                    margin-top: -4px;
                }
            }

            > .board-article {
                width: 100%;
                height: 100%;
                > .main-article {
                    border: 0;
                    padding: 20px 20px $bottom-view-padding+20px;

                    &.locked {
                        border-left: 4px solid $state-border--locked;
                    }

                    .editbar {
                        visibility: hidden;
                        overflow: hidden;
                        margin: 0 0 20px;
                    }
                }
            }
            &:hover {
                > .dropdown {
                    display: block;
                }
                .editbar {
                    visibility: visible !important;
                }
            }
        }
    }
}
