// multiedit.scss
// Styling for the superdesk multiedit screen
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

$create-board-pane: 64px;
$top-offset: 48px;

.close-multiedit {
    position: absolute;
    top: 14px; right: 14px;
    @include opacity(60);
    background: none;
    border: 0;
    padding: 0;
    &:hover {
        @include opacity(80);
    }
}

.multiedit-screen {
    &.main-section {
        top: $top-offset * 2;
    }
    .boards-list {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: $create-board-pane;
    }
    .boards-create {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $create-board-pane;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(94, 169, 200, 0);
        transition: background-color 0.2s ease-in-out;
        i {
            font-size: 3.2rem;
            height: 3.2rem;
            width: 3.2rem;
            line-height: 100%;
            color: $sd-blue;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(94, 169, 200, 0.2);
        }
        .multiedit-float {
            .dropdown__menu {
                position: fixed;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                max-width: 270px;
                li button {
                    max-width: 250px !important;
                }
            }
        }
    }
    .boards-list {
        display: flex;
        align-items: stretch;
        flex: 1 1 0;
        .board {
            background: $white;
            //float: left;
            height: 100%;
            border: 1px solid #cacaca;
            border-width: 0 1px;
            position: relative;
            > .board-article {
                width: 100%;
                > .main-article {
                    display: grid;
                    grid-template-rows: 48px 1fr;
                    border: 0;
                    padding: 0;
                    height: calc(100vh - 96px);
                    &.locked {
                        border-left: 4px solid $state-border--locked;
                    }

                    .main-article__editbar {
                        grid-row: 1/2;
                        height: 4.8rem;
                        padding: 1rem 1.6rem;
                        margin: 0;
                        background: $white;
                        z-index: 10;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
                        .main-article__editbar-button {
                            visibility: hidden;
                            margin-left: 0.8rem;
                        }

                    }
                    .main-article__content {
                        grid-row: 2/3;
                        overflow-y: auto;
                        padding: 10px 20px 30px;
                    }
                    .main-article__form {
                        display: contents;
                    }
                }
            }
            &:hover {
                .multiedit-screen__selection {
                    opacity: 1;
                }
                .main-article__editbar {
                    .main-article__editbar-button {
                        visibility: visible !important;
                    }
                }
            }
        }
    }
}
.multiedit-screen__selection {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    z-index: 2;
    opacity: 0.8;
    .dropdown__toggle {
        i {
            opacity: 0.7;
        }
    }
}
.board {
    .board-tools {
        display: contents; 
    }
}

.subnav--multiedit-screen {
    top: $top-offset;
}