// themes.scss
// Styling for authoring screen editor
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

$main-article-padding : 35px 60px $bottom-view-padding + 40;

// Themes color config
//-----------------------------------------------------------

// dark
$dark-theme-bg: rgba(34, 34, 34, 1);
$dark-theme-text: rgba(170, 204, 209, 1);

//natural
$natural-theme-bg: rgba(239, 233, 197, 1);
$natural-theme-text: rgba(50, 50, 50, 1);

//mono
$monoFontFamily: "Roboto Mono", Consolas, Courier, monospace;

//dark-khaki
$dark-khaki-theme-bg: rgba(148, 158, 95, 1);
$dark-khaki-theme-text: rgba(37, 40, 24, 1);

//dark-turquise
$dark-turquoise-theme-bg: rgba(0, 206, 209, 1);
$dark-turquoise-theme-text: rgba(18, 34, 53, 1);

//dark-blue
$dark-blue-theme-bg: rgba(6, 53, 106, 1);
$dark-blue-theme-text: rgba(255, 255, 255, 1);

//pale-yellow
$pale-yellow-theme-bg: rgba(247, 250, 152, 1);
$pale-yellow-theme-text: rgba(50, 50, 50, 1);

@mixin dark-theme() {
    background: $dark-theme-bg;
    color: $dark-theme-text !important;
}

@mixin natural-theme() {
    background: $natural-theme-bg;
    color: $natural-theme-text !important;
}

@mixin dark-theme-mono() {
    background: $dark-theme-bg;
    color: $dark-theme-text !important;
}

@mixin dark-khaki-theme() {
    background: $dark-khaki-theme-bg;
    color: $dark-khaki-theme-text !important;
}

@mixin dark-turquoise-theme() {
    background: $dark-turquoise-theme-bg;
    color: $dark-turquoise-theme-text !important;
}

@mixin dark-blue-theme() {
    background: $dark-blue-theme-bg;
    color: $dark-blue-theme-text !important;
}

@mixin pale-yellow-theme() {
    background: $pale-yellow-theme-bg;
    color: $pale-yellow-theme-text !important;
}

body, html {
    height: 100%;
}

.modal-body {
    .main-article {
        border-width: 0;
        padding: 10px;
    }
}

.authoring-sticky__theme-controls {
    &:hover {
        .proofread-toggle {
            background-color: $grayLighter;
        }
        .theme-select {
            background-color: $grayLighter;
        }
    }

    .toggle {
        position: absolute;
        top: 12px;
        color: #666;
        height: 22px;
        padding: 4px 6px;
        font-size: 11px;
        letter-spacing: 0.06em;
        box-shadow: none;
        border-radius: 0px;
        background-color: transparent;
        z-index: 10;
        line-height: 0;
        i {
            margin-top: -3px;
            margin-right: 0;
        }
        &:hover {
            background-color: rgba(152, 152, 152, 0.3);
        }
        &.active {
            @include box-shadow(inset 0 2px 0 rgba(55, 55, 55, 0.1));
            background-color: rgba(152, 152, 152, 0.3);
        }
    }

    .proofread-toggle {
        right: 52px;
    }

    .theme-select {
        position: absolute;
        top: 12px;
        right: 30px;
        .dropdown__toggle {
            position: relative;
            height: 22px;
            padding: 1px 4px;
            i {
                margin-bottom: 1px;
            }
            &:hover {
                background-color: rgba(152, 152, 152, 0.3);
            }
        }
        &.open {
            .dropdown__toggle {
                @include box-shadow(inset 0 2px 0 rgba(55, 55, 55, 0.1));
                background-color: rgba(152, 152, 152, 0.3);
            }
        }
        .dropdown__menu {
            min-width: 424px;
            padding: 10px;
            right: -9px;
            .theme-status {
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                margin-top: 4px;
                margin-left: 0px;
                background-color: #ccc;
                &.active {
                    background-color: #107401;
                }
            }
            .dropdown__menu-label {
                padding-left: 13px;
                margin-bottom: 6px;
            }
            > ul {
                float: left;
                vertical-align: top;
                width: 50%;
                padding-left: 9px;
                @include box-sizing(border-box);
                &.normal-theme-list {
                    padding-right: 9px;
                    padding-left: 0;
                    border-right: 1px solid #e5e5e5;
                }
            }
            .btn-group {
                margin-bottom: 20px;
                display: flex;
                .btn {
                    border:none !important;
                    text-transform: none;
                    font-size: 12px;
                    text-align: center;
                    padding: 3px 0;
                    min-height: 22px;
                    height: auto;
                    line-height: 110%;
                    white-space: pre-wrap;
                    box-sizing: border-box;
                    background: rgba(0,0,0,0.07);
                    &.active {
                        background: rgba(0,0,0,0.6);
                        color: #fff;
                        border: none;
                    }
                }
            }
            .theme-btn {
                @include border-radius(2px);
                margin-bottom: 6px;
                border: 1px solid #e9e9e9;
                position: relative;
                padding-right: 20px;
                padding-left: 12px;
                text-overflow: ellipsis;
                overflow: hidden;
                i {
                    margin: 0;
                    position: absolute;
                    top:7px;
                    right: 2px;
                }
                &.large-text {
                    font-size: 15px;
                }
                &.dark-theme {
                    border: 0;
                    @include dark-theme();
                }
                &.dark-blue-theme {
                    border: 0;
                    @include dark-blue-theme();
                    i {
                        color: white;
                    }
                }
                &.dark-theme-mono {
                    border: 0;
                    @include dark-theme();
                    font-family: $monoFontFamily;
                    i {
                        color: white;
                    }
                }
                &.natural-theme {
                    border: 0;
                    @include natural-theme();
                }
                &.pale-yellow-theme {
                    border: 0;
                    @include pale-yellow-theme();
                }
                &.dark-khaki-theme {
                    border: 0;
                    @include dark-khaki-theme();
                }
                &.dark-turquoise-theme {
                    border: 0;
                    @include dark-turquoise-theme();
                }
            }
        }
    }
}

.main-article {
    width:auto;
    background: $white;
    border: 1px solid #cacaca;
    border-width:0 1px;
    position:relative;
    z-index: 1;
    padding: $main-article-padding;
    margin:0 auto;
    min-height:100%;
    @include box-sizing(border-box);
    max-width: 900px;
    .main-article__fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .field {
        margin-bottom: 20px;
        .full-preview {
            display: inline-block;
        }
        .dateline {
            display: flex;
            input {
                text-transform: uppercase;
            }
            input, select, option {
                color: #333 !important;
                font-size: 14px;
                font-weight: 400 !important;
                padding: 0;
            }
            select {
                width: 20%;
            }
            .dateline-city {
                display: flex;
                font-size: 14px;
                line-height: 27px;
                padding-right: 20px;
            }
            .dateline-date {
                width: 100%;
            }
        }
        .dropdown {
            display: block;
        }
    }
    //labels
    .field {
        label {
            @include text-normal();
            background: rgba(0, 0, 0, 0.4);
            @include border-radius(2px);
            color: #fff;
            display: inline-block;
            padding: 1px 8px 0;
            font-size: 11px;
            line-height: 16px;
            height: 15px;
            @include transition(all ease 0.2s);
            opacity: 0.4;
            text-transform: uppercase;
            font-style: normal;
            letter-spacing: 0.1em;
        }
        &.active {
            label {
                background: $sd-blue;
                @include transition(all ease 0.6s);
            }
        }
    }
    // inputs
    .text-editor, input, select {
        border: 1px solid rgba(150, 150, 150, 0) !important;
        border-bottom-color: rgba(150, 150, 150, 0.15) !important;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        &:focus {
            outline:none;
        }
        h1, h2, h3, h4, h5, h6 {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 9px;
        }
    }
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .text-editor:hover, .headline:hover, .abstract:hover, input:hover, select:hover {
        border-bottom-color: rgba(150, 150, 150, 0.55) !important;
        cursor: text;
    }
    select:hover {
        -moz-appearance: menulist-button;
        -webkit-appearance: menulist-button;
    }
    .text-editor:focus, .headline:focus, .abstract:focus, input:focus, select:focus, .sms-switch:focus {
        //.box-shadow(none) !important;
        border-width: 1px !important;
        border-color: rgba(94, 169, 200, 0.3) !important;
        border-bottom-color: rgba(94, 169, 200, 1) !important;
        box-shadow: 0 1px 0 rgba(94, 169, 200, 1) !important;
    }
    &.preview {
        .text-editor {
            border-color: #fff !important;
        }
    }
    // character and word counting
    .char-count {
        font-size: 11px;
        font-style: italic;
        color: rgba(120, 120, 120, 1);
        margin-left: 5px;
        float: right;
        @include opacity(0);
        @include transition(all ease 0.2s);
        &.error {
            @include text-semibold();
            color: #D33C30;
        }
    }
    &:hover, &:focus {
        .char-count, .field label {
            @include opacity(100);
        }
    }
    .field.limit-error {
        .char-count {
            @include opacity(100);
        }
        input, textarea {
            border-color: rgba(210, 60, 50, 0.15) !important;
        }
    }
    .field.limit-error input, .field.limit-error textarea {
        @include text-semibold();
        color: #D33C30 !important;
    }
    // images
    figure {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin: 10px 0;
    }
    figure img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    figcaption {
        border: 1px solid rgba(150, 150, 150, 0.15);
        padding: 8px;
        min-height: 18px;
    }
    // text styles
    color: rgba(51, 51, 51, 1);
    .text-editor, .headline, .abstract, input {
        color: rgba(51, 51, 51, 1);
        padding-left: 0;
        padding-right: 0;
    }
    .keyword {
        text-transform: uppercase;
        @include text-semibold();
    }
    .byline {
        font-size: 16px;
        text-transform: none;
        line-height: 150%;
        .text-editor {
            min-height: 24px;
        }
        &::-webkit-input-placeholder {
            color: #ccc;
        }
        &::-moz-placeholder {
            color: #ccc;
            opacity: 1;
        }
        &:focus {
            &::-webkit-input-placeholder { color:transparent; }
            &::-moz-placeholder { color:transparent; }
        }
    }
    .image-caption {
        font-size: 14px;
        text-transform: none;
        line-height: 140%;
        &::-webkit-input-placeholder {
            color: #ccc;
        }
        &::-moz-placeholder {
            color: #ccc;
            opacity: 1;
        }
        &:focus {
            &::-webkit-input-placeholder { color:transparent; }
            &::-moz-placeholder { color:transparent; }
        }
    }
    #body_footer {
        .text-editor {
            padding: 0 !important;
            margin-bottom: 10px !important;
            font-size:16px !important;
            line-height: 150% !important;
            @include text-light();
        }
    }
    .headline, .headline p,  .headline div {
        font-size:28px !important;
        line-height: 120% !important;
        @include text-semibold();
        .text-editor {
            min-height: 33px;
            padding: 6px 0;
        }
    }
    .abstract, .abstract p, .abstract div {
        min-height: 24px;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 150% !important;
        .text-editor {
            min-height: 24px;
        }
    }
    .body {
        clear: left;
    }
}

.text-editor, .preview-editor {
    p {
        padding: 0;
        margin-bottom: 10px;
        font-size:16px;
        line-height: 150%;
        @include text-light();
    }
    p:last-of-type {
        margin-bottom: 0 !important;
    }
    h2 {font-size: 1.5em;}
    h3 {font-size: 1.25em;}
    &.clone {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        z-index: -1;
        opacity: 0.5;
        color: rgba(0, 0, 0, 0) !important;
        border-bottom-color: rgba(0, 0, 0, 0) !important;
        .sderror {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
    }
    li {
        padding: 0;
        font-size: 16px;
        line-height: 150%;
        @include text-light();
    }
    ol, ul {
        padding-left: 30px;
        margin: 10px 0;
    }
    ul {
        list-style-type: disc;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        resize: both;
        table-layout: auto;
        border: 1px solid #dadada;
        margin: 16px 0;
        td, th {
            border: 1px solid #dadada;
            padding: 5px 8px;
            font-size: 14px;
            font-weight: 400;
            vertical-align: text-top;
        }
        th {
            font-weight: 500;
            text-align: left;
            background-color:rgba(195, 195, 195, 0.2);
        }
    }
    blockquote {
        font-size: 16px;
        line-height: 150%;
        margin: 20px 0;
        border-left: 3px solid rgba(160, 160, 160, 0.5);
        padding: 4px 0 4px 16px;
        font-style: italic;
    }
}

//themes
.large-text {
    &.main-article {
        .abstract {
            font-size: 18px;
            .text-editor {
                font-size: 18px;
            }
        }
        .text-editor {
            //font-size: 18px !important;
            p {
                font-size: 18px !important;
            }
        }
        .headline {
            font-size:28px;
            .text-editor {
                font-size:28px;
            }
        }
    }
}

.dark-theme {
    &.main-article {
        @include dark-theme();
        .text-editor,
        .headline,
        .abstract,
        .dateline input,
        .dateline select,
        input,
        .text-editor p {
            color: $dark-theme-text !important;
        }
        .field label {
            background: rgba(73, 73, 73, 0.7);
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .sderror {
        border-bottom-color: #FF3D3D;
        background-color: rgba(255, 61, 61, 0.25);
        color: $dark-theme-bg !important;
    }
}

.dark-theme-mono {
    &.main-article {
        @include dark-theme-mono();
        .text-editor,
        .headline,
        .abstract,
        .dateline input,
        .dateline select,
        input,
        .text-editor p {
            color: $dark-theme-text !important;
            font-family: $monoFontFamily;
        }
        .field label {
            background: rgba(73, 73, 73, 0.7);
            color: rgba(255, 255, 255, 0.6);
        }
    }


    .sderror {
        border-bottom-color: #FF3D3D;
        background-color: rgba(255, 61, 61, 0.25);
        color: $dark-theme-bg !important;
    }
}

.dark-blue-theme {
    &.main-article {
        @include dark-blue-theme();
        .text-editor,
        .headline,
        .abstract,
        .dateline input,
        .dateline select,
        input,
        .text-editor p {
            color: $dark-blue-theme-text !important;
        }
        .field label {
            background: rgba(73, 73, 73, 0.7);
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .sderror {
        border-bottom-color: #FF3D3D;
        background-color: rgba(255, 61, 61, 0.25);
        color: $dark-blue-theme-bg !important;
    }
}

.natural-theme {
    &.main-article {
        @include natural-theme();
        .text-editor,
        .headline,
        .abstract,
        .dateline input,
        .dateline select,
        input {
            color: $natural-theme-text !important;
        }
    }

    .sderror {
        color: $natural-theme-bg !important;
    }
}

.dark-khaki-theme {
    &.main-article {
        @include dark-khaki-theme();
        .text-editor,
        .headline,
        .abstract,
        .dateline input,
        .dateline select,
        input {
            color: $dark-khaki-theme-text !important;
        }
    }

    .sderror {
        color: $dark-khaki-theme-bg !important;
    }
}

.dark-turquoise-theme {
    &.main-article {
        @include dark-turquoise-theme();
        .text-editor,
        .headline,
        .abstract,
        .dateline input,
        .dateline select,
        input {
            color: $dark-turquoise-theme-text !important;
        }
    }

    .sderror {
        color: $dark-turquoise-theme-bg !important;
    }
}

.pale-yellow-theme {
    &.main-article {
        @include pale-yellow-theme();
        .text-editor,
        .headline,
        .abstract,
        .dateline input,
        .dateline select,
        input {
            color: $pale-yellow-theme-text !important;
        }
    }

    .sderror {
        color: $pale-yellow-theme-bg !important;
    }
}
