@import '~variables.scss';

.sd-widget.attachments {
	.attachments-pane {
		position: relative;

		.attach-indicator {
			position: absolute;
			top: 100px;
			left: 50%;
			margin-left: -125px;
			width: 250px;
			text-align: center;

			.round-box {
				display: block;
				box-sizing: border-box;
				padding-top: 16px;
				height: 90px;
				width: 90px;
				background-color: #fff;
				border-radius: 50%;
				margin: 0 auto;
				box-shadow: 0 0 6px 1px rgba(0,0,0,0.08);
				
				i.icon {
					display: block;
					width: 56px;
					height: 48px;
					color: $sd-blue;
					margin: 1.4rem auto 0 auto;
					font-size: 5.2rem;
				}
			}

			.subtext {
				margin: 15px 0;
				color: $sd-text-label;
			}
		}
	}
}
