<div class="attachments-pane" ng-controller="AttachmentsCtrl as ctrl"
    ngf-drop="ctrl.selectFiles($files)"
    ngf-stop-propagation="true"
    ngf-multiple="true">
    <div sd-attachments-list></div>

    <div class="attach-indicator"
        ng-if="widget"
        ng-show="ctrl.files.length < ctrl.maxFiles && ctrl.isLockedByMe"
        ng-class="{empty: ctrl.files.length === 0}"
        >

        <div class="round-box">
            <i class="big-icon--upload-alt icon"></i>
        </div>

        <div class="subtext" translate>Drag one or more files here to upload them, or just click the button below.</div>

        <a class="btn btn--hollow"
            ngf-select="ctrl.selectFiles($files)"
            ngf-multiple="true">
            {{ :: 'Attach files' | translate }}
        </a>
    </div>

    <button ng-if="!widget" class="item-association"
        ngf-select="ctrl.selectFiles($files)"
        ngf-multiple="true">
        <div class="subtext">
            <i class="icon-attachment-large"></i>
            <span translate>Drag one or more files here to upload them, or just click the button below.</span>
        </div>
    </button>

    <div sd-modal data-model="ctrl.edit" data-close="ctrl.closeEdit()">
        <div class="modal__header">
            <button type="button" class="modal__close pull-right" ng-click="ctrl.closeEdit()">
                <i class="icon-close-small"></i>
            </button>
            <h3 class="modal__heading" translate>Edit Attachment</h3>
        </div>

        <div class="modal__body">
            <form name="attachmentsForm">
                <div class="sd-line-input">
                    <label class="sd-line-input__label" translate>Title</label>
                    <input type="text" class="sd-line-input__input"
                        ng-model="ctrl.edit.title"
                        required />
                </div>

                <div class="sd-line-input">
                    <label class="sd-line-input__label" translate>Description</label>
                    <textarea class="sd-line-input__input"
                        ng-model="ctrl.edit.description"
                        sd-auto-height
                        required></textarea>
                </div>
            </form>
        </div>

        <div class="modal__footer">
            <button class="btn btn--primary pull-right" ng-click="ctrl.saveFile(ctrl.file, ctrl.edit)" ng-disabled="attachmentsForm.$invalid" translate>Update</button>
            <button class="btn pull-right" ng-click="ctrl.closeEdit()" translate>Cancel</button>
        </div>
    </div>

</div>
