<article class="main-article" tabindex="0" ng-class="{locked: isLocked}">
    <div>
        <div class="board-article-header">
            <div class="board-article-header__metadata">
                <span class="board-article-header__metadata-label">{{ :: 'version' | translate }}: </span>
                <span class="board-article-header__metadata-content"> {{ item._current_version }}</span>
                <span class="board-article-header__metadata-label">{{ :: 'author' | translate }}: </span>
                <span class="board-article-header__metadata-content">{{ item.author.display_name }}</span>
            </div>
            <div class="state-label state-{{item.state}}">{{item.state}}</div>
        </div>
        <div ng-disabled="true" class="fieldset main-article__fieldset" sd-article-edit></div>
    </div>
</article>
