<div sd-menu-wrapper></div>
<div sd-notifications></div>

<div class="loading" ng-if="loading"></div>

<div id="main-container" ng-class="superdesk.flags" ng-if="!popup && superdesk.flags.workspace === true"
    ngf-drop="superdesk.openUpload($files)"
    ngf-model-options="{updateOn: 'drop'}"
    >
    <div id="workspace-container" ng-view sd-splitter-widget></div>
    <div id="authoring-container" ng-if="superdesk.flags.workspace" sd-authoring-container></div>
    <div id="superdesk-workqueue" ng-if="superdesk.flags.workspace === true && superdesk.flags.workqueue === true" sd-workqueue></div>
    <div sd-item-preview-container></div>
</div>

<div id="main-container" ng-class="superdesk.flags" ng-if="popup"
    ngf-drop="superdesk.openUpload($files)"
    ngf-model-options="{updateOn: 'drop'}"
    >
    <div id="authoring-container" sd-authoring-container></div>
    <div sd-item-preview-container></div>
</div>

<div id="main-container" ng-class="superdesk.flags" ng-if="!popup && superdesk.flags.workspace === false"
    ngf-drop="return;"
    ngf-model-options="{updateOn: 'drop'}"
    ng-view></div>

<div id="react-placeholder"></div>

<div sd-activity-modal></div>
<div sd-login-modal></div>
<div sd-notify></div>
<div sd-activity-chooser></div>
<div sd-phone-home-modal></div>

<div sd-item-globalsearch data-repo="repo" data-context="context" class="pull-left"></div>

<div sd-keyboard-modal></div>

<div class="hard-error" ng-if="serverStatus">
    <div class="alert alert-error" translate>Superdesk is experiencing network connection issues:/</div>
</div>
