.sd-grid-item__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1.2rem;
    border-block-end: 1px solid var(--sd-colour-line--x-light);
}

.sd-grid-item__header-title {
    margin: 0;
    flex-grow: 1;
}
