<div sd-modal data-model="modalActive" data-close="cancel()" class="modal--large modal--tabs">
    <div class="modal__header modal__header--flex">
        <h3 class="modal__heading" ng-show="!product.edit._id" translate>Add New Product</h3>
        <h3 class="modal__heading" ng-show="product.edit._id" translate>Edit "{{product.edit.name}}" Product</h3>
        <a href="" class="icn-btn close" ng-click="cancel()"><i class="icon-close-small"></i></a>
    </div>
    <div class="modal__body">
        <form name="editForm">
            <div class="modal__body-header">
                <ul class="nav-tabs">
                    <li ng-class="{'nav-tabs__tab--active': !tab || tab === 'products'}" class="nav-tabs__tab">
                        <button ng-click="tab = 'products'" class="nav-tabs__link"><span translate>Product Details</span>
                        </button>
                    </li>
                    <li ng-class="{'nav-tabs__tab--active': tab === 'subscribers'}" class="nav-tabs__tab">
                        <button ng-click="tab = 'subscribers'" class="nav-tabs__link"><span translate>Subscribers</span>
                        </button>
                    </li>               
                </ul>
            </div>
            <div class="modal__body-content">
                <div ng-if="!tab || tab === 'products'" class="nav-tabs__pane">
                    <fieldset>
                        <div class="form__row" ng-if="product._id">
                            <div class="sd-line-input sd-line-input--boxed sd-line-input--disabled">
                                <label class="sd-line-input__label" for="product-id" translate>Product ID</label>
                                <input class="sd-line-input__input" id="product-id" type="text" ng-model="product._id" ng-disabled="true">
                                <span class="sd-line-input__hint" translate>The Product ID can be copied and used as Superdesk Newshub product query.</span>
                            </div>
                        </div>

                        <div class="sd-line-input sd-line-input--boxed sd-line-input--required">
                            <label class="sd-line-input__label" for="product-name" translate>Product name</label>
                            <input class="sd-line-input__input" id="product-name" type="text" ng-model="product.edit.name" required>
                        </div>
                        <div class="sd-line-input">
                            <label class="sd-line-input__label" translate>Product description</label>
                            <textarea class="sd-line-input__input" ng-model="product.edit.description" sd-auto-height></textarea>
                        </div>
                        <div class="sd-line-input sd-line-input--is-select sd-line-input--required">
                            <label class="sd-line-input__label" translate>Product Type</label>
                            <select class="sd-line-input__select"
                                    ng-model="product.edit.product_type"
                                    ng-options="p.qcode as p.name for p in product_types">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form__row">
                            <div class="sd-line-input">
                                <label class="sd-line-input__label" translate>Product codes</label>
                                <textarea class="sd-line-input__input" ng-model="product.edit.codes" sd-auto-height></textarea>
                                <span class="sd-line-input__hint" translate>Comma separated values.</span>
                            </div>
                        </div>

                        <div class="sd-line-input  sd-line-input--is-select">
                            <label class="sd-line-input__label" translate>Content Filter</label>
                            <select class="sd-line-input__select" ng-model="product.edit.content_filter.filter_id">
                                <option value=""></option>
                                <option value="{{filter._id}}" ng-selected="filter._id === product.edit.content_filter.filter_id" ng-repeat="filter in contentFilters track by filter._id">{{:: filter.name}}</option>
                            </select>
                        </div>

                        <div class="form__row" ng-if="product.edit.content_filter.filter_id">
                            <label class="form-label form-label--block form-label--marg-b10" translate>Content Filter Type</label>
                            <div class="sd-check__group">
                                <sd-check ng-model="product.edit.content_filter.filter_type" type="radio" ng-value="permitting">{{ :: 'Permitting' | translate }}</sd-check>
                                <sd-check ng-model="product.edit.content_filter.filter_type" type="radio" ng-value="blocking">{{ :: 'Blocking' | translate }}</sd-check>
                            </div>
                        </div>

                        <div class="sd-line-input  sd-line-input--is-select">
                            <label class="sd-line-input__label" for="geoRestrictions" translate>Target Regions</label>
                            <select class="sd-line-input__select" id="geoRestrictions" ng-model="product.edit.geo_restrictions" ng-options="g.qcode as g.name for g in geoRestrictions">
                                <option value=""></option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <div ng-if="tab === 'subscribers'" class="nav-tabs__pane">
                    <div class="sd-grid-list sd-grid-list--no-margin">
                        <div ng-repeat="subscriber in subscribers| orderBy:name" class="sd-card sd-card--auto-height" ng-if="subscriber.products.indexOf(product.edit._id) >= 0">
                            <span class="sd-card__content  sd-card__content--padd-10">{{::subscriber.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal__body-footer">
            <button class="btn" ng-click="cancel()" translate>Cancel</button>
            <button class="btn btn--primary" ng-click="save()" ng-disabled="editForm.$invalid || !editForm.$dirty" translate>Save</button>
        </div>
    </div>
</div>
