// comments.scss
// Styling for COMMENTS - editor widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';


.sd-widget.comments {

    .widget-content {
        background: $sd-background;
    }

    .notification-list {
        li {
          .date {
              margin-top: 3px !important;
          }
          .content {
              padding: 0 0 0 40px;
          }
          &.no-comments {
            background-color: transparent;
            box-shadow: none;
            padding: 16% 0 0;
            text-align: center;
            color: #888;
            h3 {
              font-weight: 400;
              margin: 12px 0 4px;
            }
            span {
              font-weight: 300;
            }
            .round-box {
              display: block;
              box-sizing: border-box;
              padding-top: 16px;
              height: 90px;
              width: 90px;
              background-color: #fff;
              border-radius: 50%;
              margin: 0 auto;
              box-shadow: 0 0 6px 1px rgba(0,0,0,0.08);
            }
            i {
              display: block;
              width: 56px;
              height: 48px;
              opacity: 0.2;
              margin: 1.4rem auto 0 auto;
              font-size: 5.2rem;
            }
          }
          &.loading-info {
            background-color: transparent;
            box-shadow: none;
            padding: 16% 0 0;
            text-align: center;
            color: #888;
          }
        }
    }
    .add-comment {
        border-top: 1px solid rgba(255, 255, 255, 0.75);
        background: #f0f0f0;
        padding: 10px;
        box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.12);
        form {
            margin:0;
        }
        .new-comment {
            border: 2px solid $sd-blue !important;
            border-radius: 3px !important;
        }
        .actions {
            height: 30px;
            margin-top: 10px;
            .post {
                margin-top: 5px;
                .sd-checkbox {
                    vertical-align: middle;
                    margin-top: -2px;
                    margin-right: 0;
                }
            }
        }
    }
}