<div id="highlightPackage">
    <button class="dropdown__toggle sd-sidebar-menu__btn" ng-click="hideMonitoring(currentRoute.href === '/workspace/highlights', $event)" dropdown__toggle>
        <i class="sd-sidebar-menu__main-icon big-icon--marked-star"></i>
        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
    </button>
    <ul class="dropdown__menu pull-left">
        <li><div class="dropdown__menu-label" translate>Choose highlight list</div></li>
        <li ng-if="hasHighlights" ng-repeat="h in highlights track by h._id">
            <button option="{{h.name }}" ng-click="listHighlight(h);" title="{{h.name }}">
                {{h.label | translate }}</button>
        </li>
        <li ng-if="!hasHighlights">
            <button ng-disabled="true">{{'No available highlights'|translate}}</button>
        </li>
    </ul>
</div>
