// DROPDOWN MENUS
// --------------

// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropdown {
    position: relative;
    a {
        color: $dropdownLinkColor;
    }
    a:hover {
        text-decoration: none;
    }
    button {
        -webkit-appearance: none;
        border: 0;
    }
}

.dropdown__toggle {
    background: transparent;
        i { vertical-align: sub; }
}

// Triggers dropdown on a hover
.dropdown.dropdown--hover:hover {
    .dropdown__menu { display: block; }
}

.dropdown__toggle:active,
.dropdown.open .dropdown__toggle {
    outline: 0;
}

.dropdown__toggle .dropdown__submenu-icon {
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -8px;
    opacity: 0.4;
}

.dropdown__more-actions .dropdown__toggle > i {
   opacity: 0.3;
}
.dropdown__more-actions .dropdown__toggle:hover > i,
.dropdown__more-actions.open .dropdown__toggle > i {
   opacity: 1;
}


// Dropdown arrow/caret
// --------------------
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: -2px;
    border-left:  4px solid transparent;
    border-right: 4px solid transparent;
    border-top:   4px solid $black;
    @include opacity(30);
    content: "";
    &.caret--white,
    &.white {
        border-top-color: $white;
    }
}
.dropdown__caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 4px;
    border-left:  4px solid transparent;
    border-right: 4px solid transparent;
    border-top:   4px solid $black;
    @include opacity(30);
    content: "";
    &.dropdown__caret--white, 
    &.white {
        border-top-color: $white;
    }
}


.dropdown:hover .dropdown__caret,
.dropdown.open .dropdown__caret {
    @include opacity(100);
}

// The dropdown menu (ul)
// ----------------------
.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindexDropdown;
    float: left;
    display: none; // none by default, but block on "open" of the menu
    min-width: 180px;
    padding: 10px 0;
    margin: 13px 0 0 0; // override default ul
    list-style: none;
    background-color: $dropdownBackground;
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.4),0 3px 1px -2px rgba(0,0,0,.1);
    @include border-radius(2px);
    text-align: left;
    box-sizing: border-box;

    // Links within the dropdown menu
    button {
        width: 100%;
        text-align: left;
    }
    a, button {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: $baseLineHeight;
        white-space: nowrap;
    }

    li {
        > a, > button {
            color: $dropdownLinkColor;
            background: none;
            padding: 6px 16px;
            margin-bottom: 2px;
            > i[class^="icon-"], i[class*=" icon-"] {
                margin-right: 14px;
                margin-top: -3px;
                min-width: 19px;
                vertical-align: middle;
            }
            i.icon-round {
                min-width: 16px;
            }
            &.disabled, &[disabled] {
                @include opacity(50);
            }
        }
        > a, > button {
            &:hover, &:focus {
                background: $dropdownLinkBackgroundHover;
                text-decoration: none;
                cursor: pointer;
            }
            &.disabled:hover, &[disabled]:hover {
                background: none;
                cursor: default;
            }
        }
        .preferred-desk {
            background-color: #59b3bc;
        }
    }
    &.dropdown__menu--plain {
        li {
            padding: 5px 7px;
            &:hover {
                background: $dropdownLinkBackgroundHover;
                cursor: pointer;
            }
        }
    }
    &:before {
        width:23px;
        height:16px;
        display: block;
        z-index: 9999;
        position: absolute;
        top:-16px;
        left:10px;
        background: url(~images/dropdown-arrow-top.png) no-repeat;
        content: " ";
    }
}
// Button variation for menu items with active state (.menu-item--active)
.dropdown__menu {
    .menu-item--active {
        button, button:hover {
            background-color: lighten($sd-blue, 10%);
            color: white;
            [class^="icon-"], [class*=" icon-"],
            [class^="filetype-icon-"], [class*=" filetype-icon-"] {
                color: white;
            }
        }
        button:hover {
            background-color: $sd-blue;
        }
    }
}

.dropdown__menu-label {
    text-transform: uppercase;
    font-size: 11px;
    color: $grayLight;
    font-weight: 500;
    padding-left: 16px;
    .dropdown__menu-close {
        position: absolute;
        top: 10px; right: 10px;
        padding: 0; margin: 0;
        border: 0; width: auto;
        @include opacity(50);
        background-color: transparent;
        i { margin-right: 0; }
        &:hover, &:focus {
            background-color: transparent;
            @include opacity(100);
        }
    }
}
.dropdown__menu-header {
    font-weight: 300;
    font-size: 15px;
    color: $grayLight;
    padding-left: 16px;
}

.dropdown__menu-footer {
    padding: 10px;
    margin-top: 6px;
    border-top: 1px solid #e5e5e5;
}

.dropdown__menu-info {
    color: $grayLight;
    font-style: italic;
}
.dropdown__menu-item {
    padding: 0;
    &--left-10 {
        padding-left: 10px;
    }
}

.dropdown__menu--padded-l10 {
    > li {
        padding-left: 10px;
    }
    .dropdown__menu-item {
        padding: 0;
    }
}

// Aligns the dropdown menu to right
.dropdown__menu--right {
    right: 0;
    left: auto;
}

.dropdown__menu {
    .menu-item--active {
        button, button:hover {
            background-color: lighten($sd-blue, 10%);
            color: white;
            [class^="icon-"], [class*=" icon-"],
            [class^="filetype-icon-"], [class*=" filetype-icon-"] {
                color: white;
            }
        }
        button:hover {
            background-color: $sd-blue;
        }
    }
}

// Dividers (basically an hr) within the dropdown
.dropdown__divider {
    @include nav-divider();
}


// Open state for the dropdown
// ---------------------------
.dropdown.open {
    .dropdown__menu {
        display: block;
        &.dropdown__menu--scrollable {
            max-height: 350px;
            overflow: auto;
            overflow-x: hidden;
        }
    }
}

//Right aligned dropdowns
.pull-right .dropdown__menu, .pull-right.dropdown__menu {
    left: auto;
    right: 0;
    &:before {
        left: auto;
        right:10px;
    }
}


.dropdown--dropup {
    // Reverse the caret
    .dropdown__caret {
        border-top: 0;
        border-bottom: 4px solid $black;
        content: "\2191";
    }
    // Different positioning for bottom up menu
    .dropdown__menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 0;
        &:before {
            top: auto;
            bottom:-16px;
            background: url('~images/dropdown-arrow-bottom.png') no-repeat;
        }
    }
}

.dropdown--dropleft {
    display: inline-block;
    vertical-align: middle;
    .dropdown__menu {
        top: -23px;
        left: auto;
        right: calc(100% + 15px);
        &:before {
            width: 15px;
            height: 22px;
            display: block;
            z-index: 100;
            position: absolute;
            right: -15px;
            left: auto;
            top: 10px;
            background: url('~images/dropdown-arrow-side.png') no-repeat;
            @include rotate(180deg);
            content: " ";
        }
    }
}

.dropdown--dropright {
    display: inline-block;
    vertical-align: middle;
    .dropdown__menu {
        top: -23px;
        left: calc(100% + 15px);
        &:before {
            width: 15px;
            height: 22px;
            display: block;
            z-index: 100;
            position: absolute;
            left: -15px;
            top: 10px;
            background: url('~images/dropdown-arrow-side.png') no-repeat;
            content: " ";
        }
    }
}

// CLassic dropdown with no arrow
// -------------------------------------------------
.dropdown--noarrow {
    display: inline-block;
    .dropdown__menu {
        margin: 0;
        max-height: 250px;
        overflow: auto;
    }
    .dropdown__menu:before {
        display: none;
    }
    .dropdown {
        .dropdown__toggle {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            white-space: nowrap;
        }
    }
    &.open li > .dropdown .dropdown__toggle {
        display: block;
        padding: 5px 7px;
        margin: 0;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        white-space: nowrap;
    }
}

.dropdown--noarrow.dropdown--no-scroll {
    .dropdown__menu {
        max-height: none;
        overflow: visible;
    }
} 

// CLassic scrollable dropdown
// -------------------------------------------------

// .dropdown.dropdown--scrollable {
//     .dropdown__menu {
//         max-height: 250px;
//         overflow: auto;
//     }
// }

// Classic dropdown with bigger width
// -------------------------------------------------
.dropdown--bigger {
    .dropdown__menu {
        min-width: 238px;
    }
}
.dropdown--bigger-500 {
    .dropdown__menu {
        min-width: 300px;
    }
}

// Activity dropdown
// -------------------------------------------------
.dropdown--more-activity {
    .dropdown__menu {
        min-width: 0;
        padding: 5px;
        @include border-radius(0px);
        border:0;
        z-index: 1;
        margin-top: -1px;
        &:before {
            display: none;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            a {
                padding: 0;
                i {
                    margin-right: 0;
                }
                span {
                    display: none;
                }
            }
        }
    }
}

// Dark dropdowns
// -------------------------------------------------
.dropdown.dropdown--dark {
    .dropdown__toggle {
        text-align: left;
        background: #4f4f4f;
        padding: 10px 15px;
        border-radius: 2px;
        color: #fff;
        .dropdown__caret {
            border-top-color: $white;
        }
    }
}

// Multiedit dropdown
// -------------------------------------------------

.dropdown__menu--multiedit {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  li {
    margin-bottom: 4px;
  }
    li button {
        width: 300px;
        padding-right: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        border-radius: 0;
        i {
            position: absolute;
            right: -5px;
            top: 9px;
        }
        &.disabled, &.disabled:hover {
            background: #f0f0f0;
            i {
                @include opacity(20);
            }
        }
    }
    li .msg {
        padding: 0 20px;
    }
}




// .subscriber-products {
//     .dropdown.dropdown--bigger {
//         .dropdown__menu {
//             min-width: 500px;
//         }
//     }
// }
