// Nested dropdowns
// -------------------------------------------------
.dropdown {
    &.open {
        li .dropdown {
            float: none;
            .dropdown__toggle {
                margin: 0;
                min-width: 170px;
                padding: 6px 10px 6px 16px;
                line-height: 19px;
                border-radius: 3px;
                height: auto;
                font-size: 13px;
                text-align: left;
                @include box-shadow(none);
                i {
                    margin-right: 10px;
                }
                &:hover {
                    background: $sd-hover;
                    cursor: default;
                }
            }
            &:not(.open) .dropdown__menu {
                display: none;
            }
            > .dropdown__menu {
                left: 100%;
                right: auto;
                top: 0;
                min-width: 160px;
                z-index: 10;
                &.right-submenu {
                    left: auto;
                    right: 100%;
                }
                &.upward {
                    top: auto;
                    bottom: -10px;
                }
            }
            &:hover {
                > .dropdown__menu {
                    display: block;
                }
            }
        }
    }
}