// analytics.scss
// Styling for analytics page, and analytics functionalities
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';
@import '~animation.scss';

.report-page-container {
    .report-content {
        position: absolute;
        left: 300px;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        padding: 18px;
    }
}

.report-page-header {
    display: flex;
    position: relative;
    background-color: $sd-background;
    @include box-sizing(border-box);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
}

.panel-selector {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    button {
        width: 48%;
    }
}

.save-activity-report {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    button {
        width: 48%;
    }
}

.activity-report-parameters {
    .keywords {
        @include clearfix();
    }
}

.es-highlight {
    background-color: rgba(255, 61, 61, 0.25);
}

.saved-reports__group-title {
    padding: 25px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: #8A8A8A;
}

.report-sidebar {
    position:absolute;
    top:0px;bottom:0px;
    left:0;
    width:$archive-sidebar-width;
    @include box-sizing(border-box);
    background-color:$archive-sidebar-bg;
    @include  box-shadow(inset -1px 0px 6px 0px rgba(0,0,0,.1));
    @include transition(left 0.2s ease);
    border-right: 2px solid #bbb;

    .header {
        height: $nav-height + 1;
        border-bottom: 1px solid #ddd;
        background-color: #f4f4f4;
        position: relative;
        @include border-box();
        .icon {
            width: 48px;
            height: $nav-height;
            float: left;
            text-align: center;
            line-height: 54px;
            cursor: pointer;
            @include opacity(80);
        }
        ul {
            float: left;
            padding-left: 5px;
            li {
                float: left;
                height: 48px;
                @include border-box();
                margin: 0 15px;
                line-height: 48px;
                font-size: 14px;
                @include opacity(70);
                &:hover {
                    cursor: pointer;
                    border-bottom: 3px solid #bbb;
                }
                &.active {
                    border-bottom: 3px solid $sd-blue;
                    @include opacity(100);
                }
            }
        }
    }

    .content {
        position: absolute;
        top:$nav-height; left:0px; bottom:0px; right:0px;
        padding: 20px;
        overflow: auto;
        padding-bottom: $bottom-view-padding;
        &.pull { bottom: 60px; }
        &.pull-heigher { bottom: 120; }
    }

    .list {
        top: $nav-height;
        position: absolute;
        left: 0; right: 0;
        overflow: auto;

        ul {
            > li {
                display: block;
                box-sizing: border-box;
                padding: 10px 15px 10px 20px;
                border-bottom: 1px solid #ddd;
                overflow: hidden;
                position: relative;
                .activity-report-item {
                    width: 80%;
                    i {
                        color: $grayLight;
                        font-weight: 400;
                    }
                    .search-name {
                        font-weight: 500;
                    }
                    .search-description {
                        font-size: 12px;
                        color: $grayLight;
                    }
                }
                .activity-report-button {
                    position: absolute;
                    right:6px;
                    top:8px;
                }
                .delete, .edit {
                    //float: left;
                    border: 0;
                    background: 0;
                    display: none;
                    opacity: 0.4;
                    &:hover {
                        opacity: 1;
                    }
                }
                &:hover {
                    cursor: pointer;
                    background: #f8f8f8;
                    .delete {
                        display: inline-block;
                    }
                }
                &.active {
                    background: $sd-hover;
                }
                &:last-child {
                    //margin-bottom: 20px;
                }
                &:first-child {
                    border-top: 1px solid #ddd;
                }
            }
        }
    }

    .report-filters {
        position: relative;
        margin: 1px 0px 20px;
        height: $nav-height;
        input {
            height: $nav-height;
            border-width: 0 0 1px 0 !important;
            padding-left: 15px;
        }
        button {
            position: absolute;
            top: 0; right: 0;
            height: $nav-height;
            width: $nav-height - 15px;
            border: 0;
            background: none;
            i {
                width: 18px;
                  background-repeat: no-repeat;
                  margin-top: 5px;
            }
        }
    }
}
