<div sd-settings-view> 
	<div class="split-content" sd-products-config>
		<div class="header">
			<h2 translate>Product management</h2>
			<button class="btn btn-info pull-right" ng-click="newProduct()">
				<i class="icon-plus-sign icon-white"></i> {{ :: 'Add New Product' | translate }}
			</button>
		</div>
		<div class="content">
			<div sd-shadow>
				<ul class="pills-list" >
					<li ng-repeat="product in products">
						<h6>{{ product.name }}</h6>
						<div class="actions">
							<button ng-click="edit(product)" title="{{:: 'Edit product' | translate }}"><i class="icon-pencil"></i></button>
							<button ng-click="remove(product)" title="{{:: 'Remove product' | translate }}"><i class="icon-trash"></i></button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div sd-products-config-modal ></div>
	</div>
</div>