// dashboard.scss
// Styling for the superdesk dashboard page (gridster, widgets)
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.dashboard-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: $topspace + $subnav-height;
    overflow-y: auto;
    > .content {
        padding: 0 20px 20px+$bottom-view-padding 0;
    }
    .empty-dashboard {
        position: absolute;
        left: 50%;
        top: 40%;
        font-size: 22px;
        font-weight: bold;
        color: #aaa;
        width: 300px;
        margin-left: -150px;
    }
}

.sd-widget {
    background: #fff;
    border-top:0;
    @include border-radius(2px);
    @include box-shadow (0 1px 4px 0 rgba(0,0,0,0.2));
    width: 100%;
    height: 100%;

    .widget-line {
        @include border-radius(1px 1px 0 0);
        height: 3px;
        background: #444;
    }
    .widget-header {
        height: 29px;
        border-bottom: 1px solid #e7e7e7;
        line-height: 29px;
        position: relative;
        box-sizing: border-box;
        .widget-icon {
            width:34px; height: 29px;
            text-align: center;
            display: inline-block;
            i {
                vertical-align: middle;
                color: $gray;
                margin-top: -3px;
            }
        }
        .widget-title {
            line-height: 29px;
            color: #333;
            position: absolute;
            left: 34px;
            right: 40px;
            top:0;
            bottom: 0;
        }

    }
    .widget-content {
        position: absolute;
        left:0; right: 0; bottom: 0; top:33px;
        overflow-y: hidden;
        .activity-list.card-list>li {
            @include box-shadow(0 1px 0 0 rgba(0,0,0,.12));
            @include border-radius(0);
            &:hover {
                @include box-shadow(0 1px 0 0 rgba(0,0,0,.12) !important);
            }
        }
    }
    .widget-footer {
        border-top: 1px solid #e7e7e7;
        height: 31px;
    }
    .widget-settings {
        position: absolute;
        top : 3px;
        right: 0;
        line-height: 14px;
        width: 29px;
        height: 29px;
        text-align: center;
        z-index: 1;
        .single-btn {
            width: 21px;
            height: 21px;
            display: block;
            margin-top: 2px;
            @include border-radius(2px);
            &:hover {
                background: #aaa;
            }
            i {
                margin-top: 2px;
            }
        }
        .dropdown__toggle {
            margin-top: 4px;
            i {
                @include opacity(70);
            }
        }
        .dropdown__menu {
            margin-top: -7px;
            margin-right: 4px;
        }
    }
    .slider {
        .arrow {
            width: 8px;
            height: 12px;
            background: url(~images/widget-slider.png) no-repeat 0 0;
            margin-top: 9px;
            @include opacity(85);
            &.left {
                float: left;
                margin-left: 9px;
            }
            &.right {
                background-position: -10px 0px;
                margin-right: 9px;
                float: right;
            }
            &:hover {
                cursor: pointer;
                @include opacity(100);
            }
            &.disable {
                @include opacity(40);
            }
        }
    }
}


/*
---------------------------------------------
Widgets styles
---------------------------------------------
*/

//default-widget
.d-widget {
    &.default {
        .widget-content {
            padding: 20px;
        }
    }
}

//specific widgets styles are defined in their own widgets folder
//world clock
//ingest

//ingest statisticswidget
.sd-widget {
    &.ingest-stats {
        .widget-content {
            padding: 10px;
            overflow: hidden;
        }
    }
}


.statistics {
    .stats-container {
        float: left;
        &.size1 {
            width:372px;
        }
        &.size2 {
            width:744px;
        }
    }
    .stats-block {
        float: left;
        border: 1px solid #ccc;
        margin-right: 30px;
        margin-bottom: 30px;
        @include border-radius(3px);
        .title {
            text-align: center;
            margin-bottom: 5px;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0f0f0;
            font-size: 18px;
            color: #666;
            letter-spacing: 1px;
        }
        .block {
            padding: 10px;
        }
        &.theme-dark {
            background: #212121;
            border-color: #000;
            .title {
                color: #a8a8a8;
                border-color:#313131;
            }
        }
    }
}


/*
---------------------------------------------
STREAM PAGE
---------------------------------------------
*/
.workspace-stream {
    padding: 40px 35px $bottom-view-padding !important;
    overflow: auto;
    bottom: auto;
    .activity-container {
        width: 500px;
    }
}




/*
=============================================
Gridster library
=============================================
*/

.gridster {
    position:relative;
}

.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    -ms-transition: height .4s;
    transition: height .4s;
}

.gridster .gs_w {
    z-index: 2;
    position: absolute;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px dashed #c8c8c8;
    @include border-radius(3px);
}

.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s !important;
    -moz-transition: left .3s, top .3s !important;
    -o-transition: left .3s, top .3s !important;
    transition:  left .3s, top .3s !important;
}

.gridster .dragging {
    z-index: 10!important;
    @include transition(all 0s !important);
    @include opacity(80);
    cursor: move;
}

.gridster {
    .dash-grid {
        list-style-type: none;
        width: 100% !important;
        li {
            .widget-close {
                position: absolute;
                width: 30px;
                height: 30px;
                background: url("~images/round-close.png") no-repeat 0 0;
                z-index: 100;
                right: -15px;
                top: -15px;
                cursor: pointer;
            }


            .widget-resize-width , .widget-resize-height {
                cursor: pointer;
                position: absolute;
            }


            .widget-resize-width {
                width: 47px;
                height: 43px;
                z-index: 100;
                right: -25px;
                top: 50%;
                margin-top: -22px;
                .resize-left, .resize-right {
                    width : 23px;
                    height: 43px;
                    float: left;
                    @include opacity(0);
                    @include transition(all 0.3s linear);
                    background: url("~images/widget-resize-icons.png") no-repeat 0 0;
                }
                .resize-right {
                    background-position: -23px 0;
                    float: right;
                }
            }
            .widget-resize-height {
                width: 43px;
                height: 47px;
                z-index: 100;
                left: 50%;
                bottom: -24px;
                margin-left: -22px;

                .resize-up, .resize-down {
                    width : 43px;
                    height: 23px;
                    background: url("~images/widget-resize-icons.png") no-repeat -47px 0;
                    @include opacity(0);
                    @include transition(all 0.3s linear);
                }
                .resize-down {
                    background-position: -47px -23px;
                    margin-top: 1px;
                }
            }


        }
    }
    &.editmode {
        .dash-grid li {
            &:hover {
                .resize-left, .resize-right, .resize-up, .resize-down  {
                    @include opacity(50);
                    @include transition(all 0.3s linear);
                    &:hover {
                        @include opacity(100);
                        @include transition(all 0.3s linear);
                    }
                }
            }
            &.dragging {
                .widget-resize-width , .widget-resize-height {
                    @include opacity(30);
                }
            }
        }
        .d-widget {
            border-color: #999;
            @include box-shadow(0 0 4px 1px #b8b8b8 );
            @include transition(all 0.3s linear);
        }


    }

}


/*
=============================================
Add new widget modal
=============================================
*/

.widget-select {

    .modal-screen {
        top: $nav-height;
        bottom: auto;
    }
    .modal-body {
        height: 500px;
        max-height: 500px;
        background-color: #f8f8f8;
        .nav-tabs {
            line-height: $nav-height;
            padding-left: 20px;
            label {
                display: inline-block;
                color: #989898;
            }
        }

    }
    .modal-footer {
        min-height: 60px;
        .center {
            @include center-block();
            text-align: center;
        }
        .btn-done {
            float: right;
            margin-top: -28px;
        }
        .btn-next i {
            margin-left: 8px;
            width: 8px;
        }
    }
}

.widget-list {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    li {
        width: calc(#{50%} - #{40px});
        margin: 20px;
        padding: 0;
        @include box-shadow (0 1px 4px 0 rgba(0,0,0,0.2));
        @include border-radius(2px);
        @include box-sizing(border-box);
        background-color: white;
        position: relative;
        .thumbnail {
            @include border-radius(2px 2px 0 0);
            position: relative;
            padding-top: 6px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 8px;
                background-color: rgba(0,0,0,.2);
                @include border-radius (2px 2px 0 0);
            }
            img {
                max-width: 100%;
            }
        }
        .title {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $sd-text;
            padding: 8px 0;
        }
        &:hover {
            cursor:pointer;
            @include box-shadow (0 1px 8px 0 rgba(0,0,0,0.5));
        }
        &.widget {
            // specific colors
            &.world-clock {
                .thumbnail {
                    background-color: $widget_world-clock;
                }
            }
            &.ingest-stats {
                .thumbnail {
                    background-color: $widget_ingest-stats;
                }
            }
            &.aggregate {
                .thumbnail {
                    background-color: $widget_aggregate;
                }
            }
            &.archive {
                .thumbnail {
                    background-color: $widget_archive;
                }
            }
            &.ingest {
                .thumbnail {
                    background-color: $widget_ingest;
                }
            }
            &.activity {
                .thumbnail {
                    background-color: $widget_activity;
                }
            }
            // selected
            &.selected {
                cursor: default;
                @include box-shadow (0 1px 4px 0 rgba(0,0,0,0.06));
                .thumbnail, .title {
                    @include opacity(30);
                }
                //green checkmark
                &::before {
                    content: "";
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    background-color: #49b04b;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjYgMjIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im0yNS4zMSAyLjU1NWMtLjgtLjgtMi4yLS42LTMgLjJsLTEyLjQgMTIuNC02LjI4OC02LjI4OWMtMS0xLTIuNC0xLTMtLjItLjguOC0uNiAyLjIuMiAzLjJsNy40ODkgNy40ODljMCAwIC44MDcuNiAxLjYuNnMxLjUwOS0uNTgxIDEuNTA5LS41ODFsMTMuNjktMTMuODE5YzEtLjggMS0yLjIuMi0zIi8+PC9zdmc+);
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: center center;
                    @include border-radius(50%);
                    top: -16px;
                    right: -16px;
                    z-index: 1;
                    @include box-shadow (0 2px 6px 0 rgba(0,0,0,0.55));
                }
            }
        }
    }
}

.widget-detail {
    padding: 40px !important;
    display: flex;
    .thumbnail-box {
        position: relative;
        // width: 350px;
        width: calc(#{60%} - #{30px});
        margin-right: 30px;
        @include box-shadow (0 1px 4px 0 rgba(0,0,0,0.2));
        @include border-radius (2px);
        @include box-sizing(border-box);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 8px;
            background-color: rgba(0,0,0,.2);
            @include border-radius (2px 2px 0 0);
            }

        // specific colors
        &.world-clock {
            background-color: $widget_world-clock;
        }
        &.ingest-stats {
            background-color: $widget_ingest-stats;
        }
        &.aggregate {
            background-color: $widget_aggregate;
        }
        &.archive {
            background-color: $widget_archive;
        }
        &.ingest {
            background-color: $widget_ingest;
        }
        &.activity {
            background-color: $widget_activity;
        }
    }
    .content-box {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        // width: 220px;
        width: calc(#{40%});
        .title {
            font-size: 30px;
            line-height: 110%;
            font-weight: 700;
            padding: 4px 0 20px;
            width: 100%;
        }
        .description {
            font-size: 14px;
            width: 100%;
            margin-bottom: 20px;
        }
        button {
            align-self: flex-end;
        }
    }
}

