// world-clock.scss
// Styling for ingest widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.sd-widget {
    &.ingest, &.archive, &.related-item, &.aggregate, &.package-manager, &.packages {
        .widget-header {
            z-index: 1;
            background: $white;
            box-sizing: border-box;

        }
        .widget-content {
            overflow-x: hidden;
            top: 0;
        }

        .widget-mode {
            float: right;
            position: relative;
            z-index: 1;
            margin-right: 40px;
            padding: 9px 0 0;
            .text {
                text-transform: uppercase;
                font-size: 11px;
                vertical-align: middle;
                color: $grayLight;
            }
        }

        .search-box {
            position: absolute;
            left: 0; right: 0; top: 0;
            height: $nav-height - 10px;
            border-bottom: 1px solid #dcdcdc;
            background: $white url(~images/search-icon.png) no-repeat 10px 10px;
            @include border-box();
            input {
                position: absolute;
                width: calc(100% - 38px);
                height: $nav-height - 10px - 1;
                border: 0 !important;
                left: $nav-height - 10px;
                right: 30px;
                top:0px;
                &:focus {
                    @include box-shadow(none !important);
                }
            }
            &.blank {
                background: $white;
            }
            .text {
                font-size: 14px;
                font-style: italic;
                color: $gray;
                padding: 10px;
                background: $white;
            }
            .more-actions {
                position: absolute;
                right: 0px;
                top: 6px;
            }
            button {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }


        .filter-box {
            height: $nav-height - 10px;
            position: absolute;
            top: $nav-height - 10px;
            left: 0; right: 0;
            border-bottom: 1px solid #dcdcdc;
            @include border-box();
            .btn {
                margin: 5px 5px 0 0;
                padding: 0 10px;
                i {
                    @include opacity(75);
                }
            }
            .text {
                margin-right: 10px;
                float: left;
                padding: 10px;
                font-style: italic;
            }
        }

        .pagination-box {
            height: $nav-height - 10px;
            position: absolute;
            top: $nav-height - 10px;
            left: 0; right: 0;
            border-bottom: 1px solid #dcdcdc;
            @include border-box();
            .sd-pagination {
                padding: 5px 10px;
            }
            &.mode-detailed {
                top: 2*($nav-height - 10px);
            }
            .page-info {
                float: left;
            }
        }

        .pin-info {
            font-size: 9px;
        }
        .ingest-list-holder {
            position: absolute;
            top: 2*($nav-height - 10px);
            left: 0; right: 0;
            bottom: 0;
            &.mode-detailed {
                top: 3*($nav-height - 10px);
            }
        }
        .ingest-list {
            margin:0;
            list-style-type: none;
            padding: 0;
            /*overflow: hidden;*/
            > li {
                position: relative;
                .item-block {
                    cursor: pointer;
                    border-bottom: 1px solid #e5e5e5;
                    padding: 10px;
                    display:flex;
                    .content {
                        flex-grow: 1;
                        padding: 0 16px 0 8px;
                    }
                    i {
                        color: #999;
                        margin-top: 1px;
                    }
                    &--basic {
                        border-bottom: none;
                        padding: 4px 0;
                    }
                }
                .basic {
                    .legal {
                        margin-left: 10px;
                    }
                    .keyword {
                        @include text-semibold();
                        color: $sd-keyword;
                        display: block;
                    }
                    .headline {
                        display:inline-block;
                    }
                    .takekey {
                        color: #333;
                        @include text-semibold();
                        display: block;
                    }
                }
                .top-line {
                    margin:0;
                    list-style-type: none;
                    padding: 0;
                    margin-bottom: 5px;
                    > li {
                        float: left;
                        padding-right: 7px;
                        margin-right: 7px;
                        border-right: 1px solid #e7e7e7;
                        font-size: 11px;
                        color: #626262;
                        line-height: 21px;
                        em {
                            color: #aaa;
                            margin-right: 4px;
                        }
                        .state-label {
                            margin-top: 4px;
                        }
                        .type-icon {
                            @include opacity(50);
                        }
                        .urgency-label {
                            margin-top: 2px;
                        }
                        &:last-child {
                            border: 0;
                        }
                        time {color:#999;}
                    }
                }
                .main-line {
                    figure {
                        float: left;
                        margin-right: 10px;
                        border: 1px solid #f0f0f0;
                        padding: 2px;
                        margin-top: 3px;
                        img {
                            height: 55px;
                        }
                    }
                    h5 {
                        font-size: 14px;
                        @include text-normal();
                        line-height: 22px;
                    }
                }
                &.alert {
                    border:0;
                    @include border-radius(0);
                }
                .pinned {
                    .content {
                        @include opacity(40);
                    }
                }
                .pinned.pinned-instance {
                    padding: 10px 5px 5px;
                    border-bottom: 0;
                    .content {
                        padding: 5px;
                        background: $white;
                        @include opacity(100);
                        border: 1px solid #d0d0d0;
                        @include border-radius(3px);
                    }
                }
                &:first-child {
                    .pinned.pinned-instance {
                        margin-top: 10px;
                    }
                }
                .basic.item-block {
                    .content {
                        p {
                            padding-right: 15px;
                            i {
                                margin-top: -2px;
                                height: 18px;
                                padding-left: 0;
                                margin-right: 4px;
                                background-position-x: 0px;
                                color: $grayLight;
                            }

                        }
                    }
                }
                .pin-info {
                    text-transform: uppercase;
                    font-size: 10px;
                    color: $grayLight;
                }
                .toggle-box {
                    margin-bottom: 0;
                }
            }
            .active {
                .item-block {
                    background: $sd-hover;
                }
            }
            &.simple-list {
                margin-top: 1.6rem;
            }
        }
        .main-list {
            position: absolute;
            left: 0; right: 0; bottom: 0; top: 33px;
            width: 100%;
            @include transition(all ease 0.2s);
            overflow: hidden;
            &.wrap {
                left: -100%;
                right: auto;
                .scroll-shadow {
                    display: none;
                }
            }
            &.custom-widget {
                bottom: 50%;
            }
        }
        .preview {
            position: absolute;
            left: 0; width: 100%; bottom: 0; top: 33px;
            @include transition(all ease 0.2s);
            &.custom-widget {
                top: 50%;
            }
            .nav {
                height: 36px;
                @include border-box();
                background: #f4f4f4;
                line-height: 36px;
                padding: 4px 10px;
                border-bottom: 1px solid #e7e7e7;
            }
            .open, .associate {
                border: 0;
                background: 0;
                padding: 0 8px;
                color: $sd-text;
                line-height: 34px;
                @include border-box();
                span {
                    line-height:24px;
                }
                i {
                    margin-top: 3px;
                    margin-right: 5px;
                    @include opacity(40);
                }
                &:hover {
                    i {
                        @include opacity(100);
                    }
                }
            }
            .state-label {
                margin-top: 5px;
            }
            .content-item-preview {
                .content-container {
                    top: 36px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            &.wrap {
                left: 100%;
                .scroll-shadow {
                    display: none;
                }
            }
            .preview-state__row {
                margin-top: 5px;
                margin-bottom: 4px;
            }
        }
    }
}

.sd-widget {
    &.related-item {
        .preview {
            .content-item-preview {
                position: static;
                width: 325px;
            }
        }
    }
}

.widget-ingest, .widget-archive, .widget-related-item {

    .ingest-list-holder {
        background: $sd-background;
    }
    .ingest-list {
        padding: 12px 12px $scratchpad-closed + $authoring-opened-articles;
        > li {
            .item-block {
                border-color: #dedede;
                padding: 12px 0;
                &.pinned.pinned-instance {
                    padding: 0 0 12px 0;
                }
            }
            &.active {
                .item-block.pinned {
                    background: none;
                    .content {
                        background: $sd-hover;
                    }
                }
            }
            .top-line > li {
                border: 0;
            }
            .main-line h5 {
                font-family: $baseFontFamily;
                color: #000;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}

.tabpane {
    &.widget-ingest, &.widget-archive, &.widget-related-item {
        .sd-widget {

            .widget-mode {
                margin: 0;
                padding: 10px 5px;
                time {
                    font-size: 11px;
                    color: #999;
                    text-align: right;
                    display: inline-block;
                    margin: 4px 10px 0 0;
                }
            }

            .main-list {
                top: 0px
            }

            .existing-items {
                top: -70px;
            }

            .ingest-list-holder {
                bottom: 60px;
            }

            .preview {
                top: 44px;
            }
        }
    }
}
