// world-clock.scss
// Styling for ingest widget
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.sd-widget {
    &.ingest, &.archive, &.related-item, &.aggregate, &.package-manager, &.packages {
        .widget-header {
            z-index: 2;
            background: $white;
            box-sizing: border-box;

        }
        .widget-content {
            overflow-x: hidden;
            top: 0;
        }

        .widget-mode {
            float: right;
            position: relative;
            z-index: 1;
            margin-right: 40px;
            padding: 9px 0 0;
            .text {
                text-transform: uppercase;
                font-size: 11px;
                vertical-align: middle;
                color: $grayLight;
            }
        }
        .search-box__content {
            position: relative;
            display: flex;
            align-items: center;
            flex-grow: 1;
            height: 100%;
            transition: opacity ease-in-out 0.2s;
            opacity: 1;
        }
        .search-cancel {
            position: absolute;
            height: 24px;
            width: 24px;
            padding: 4px;
            right: 6px;
            margin: 0;
            top: 5px;
            transition: opacity ease-in-out 0.2s;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            &:active {
                i {
                    color: $sd-blue;
                }
            }
        }

        .search-box {
            transition: all ease-in-out 0.2s;
            height: 34px;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12);
            background-color: $white;
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            align-items: center;
            overflow: hidden;
            z-index: 1;
            input {
                transition: all ease-in-out 0.16s;
                flex-grow: 1;
                height: 100%;
                background-color: rgba(123, 123, 123, 0);
                border-width: 0 0 1px 0 !important;
                border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
                border-radius: 0;
                padding: 0 30px 0 0.8rem;
                margin: 0;
                box-shadow: none;
                &:hover {
                    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
                    box-shadow: none;
                    background-color: rgba(123, 123, 123, 0.06);
                }
                &:focus {
                    border-bottom: 1px solid $sd-blue !important;
                    background-color: rgba(123, 123, 123, 0);
                }
            }
            &.blank {
                background: $white;
            }
            .text {
                font-size: 14px;
                font-style: italic;
                color: $gray;
                padding: 10px;
                background: $white;
            }
            .more-actions {
                position: absolute;
                right: 0px;
                top: 6px;
            }
            &--hidden {
                height:0;
                box-shadow: 0 1px 0 0 rgba(123,123,123,0.2), 0 1px 2px 0 rgba(0,0,0,0.2);
                .search-box__content {
                    opacity: 0;
                }

            }
        }
        .content-list-holder {
            position: static;
            flex-grow: 1;
            overflow-y: auto;
        }


        .filter-box {
            height: $nav-height - 10px;
            position: absolute;
            top: $nav-height - 10px;
            left: 0; right: 0;
            border-bottom: 1px solid #dcdcdc;
            @include border-box();
            .btn {
                margin: 5px 5px 0 0;
                padding: 0 10px;
                i {
                    @include opacity(75);
                }
            }
            .text {
                margin-right: 10px;
                float: left;
                padding: 10px;
                font-style: italic;
            }
        }

        .pagination-box {
            height: $nav-height - 10px;
            position: absolute;
            top: $nav-height - 10px;
            left: 0; right: 0;
            border-bottom: 1px solid #dcdcdc;
            @include border-box();
            .sd-pagination {
                padding: 5px 10px;
            }
            &.mode-detailed {
                top: 2*($nav-height - 10px);
            }
            .page-info {
                float: left;
            }
        }

        .pin-info {
            font-size: 9px;
        }
        .ingest-list-holder {
            position: absolute;
            top: 2*($nav-height - 10px);
            left: 0; right: 0;
            bottom: 0;
            &.mode-detailed {
                top: 3*($nav-height - 10px);
            }
        }
        .ingest-list {
            margin:0;
            list-style-type: none;
            padding: 0;
            /*overflow: hidden;*/
            > li {
                position: relative;
                .item-block {
                    cursor: pointer;
                    border-bottom: 1px solid #e5e5e5;
                    padding: 10px;
                    display:flex;
                    .content {
                        flex-grow: 1;
                        padding: 0 16px 0 8px;
                    }
                    i {
                        color: #999;
                        margin-top: 1px;
                    }
                    &--basic {
                        border-bottom: none;
                        padding: 4px 0;
                    }
                }
                .basic {
                    .legal {
                        margin-left: 10px;
                    }
                    .keyword {
                        @include text-semibold();
                        color: $sd-keyword;
                        display: block;
                    }
                    .headline {
                        display:inline-block;
                    }
                    .takekey {
                        color: #333;
                        @include text-semibold();
                        display: block;
                    }
                }
                .top-line {
                    margin:0;
                    list-style-type: none;
                    padding: 0;
                    margin-bottom: 5px;
                    > li {
                        float: left;
                        padding-right: 7px;
                        margin-right: 7px;
                        border-right: 1px solid #e7e7e7;
                        font-size: 11px;
                        color: #626262;
                        line-height: 21px;
                        em {
                            color: #aaa;
                            margin-right: 4px;
                        }
                        .state-label {
                            margin-top: 4px;
                        }
                        .type-icon {
                            @include opacity(50);
                        }
                        .urgency-label {
                            margin-top: 2px;
                        }
                        &:last-child {
                            border: 0;
                        }
                        time {color:#999;}
                    }
                }
                .main-line {
                    figure {
                        float: left;
                        margin-right: 10px;
                        border: 1px solid #f0f0f0;
                        padding: 2px;
                        margin-top: 3px;
                        img {
                            height: 55px;
                        }
                    }
                    h5 {
                        font-size: 14px;
                        @include text-normal();
                        line-height: 22px;
                    }
                }
                &.alert {
                    border:0;
                    @include border-radius(0);
                }
                .pinned {
                    .content {
                        @include opacity(40);
                    }
                }
                .pinned.pinned-instance {
                    padding: 10px 5px 5px;
                    border-bottom: 0;
                    .content {
                        padding: 5px;
                        background: $white;
                        @include opacity(100);
                        border: 1px solid #d0d0d0;
                        @include border-radius(3px);
                    }
                }
                &:first-child {
                    .pinned.pinned-instance {
                        margin-top: 10px;
                    }
                }
                .basic.item-block {
                    .content {
                        p {
                            padding-right: 15px;
                            i {
                                margin-top: -2px;
                                height: 18px;
                                padding-left: 0;
                                margin-right: 4px;
                                background-position-x: 0px;
                                color: $grayLight;
                            }

                        }
                    }
                }
                .pin-info {
                    text-transform: uppercase;
                    font-size: 10px;
                    color: $grayLight;
                }
                .toggle-box {
                    margin-bottom: 0;
                }
            }
            .active {
                .item-block {
                    background: $sd-hover;
                }
            }
            &.simple-list {
                margin-top: 1.6rem;
            }
        }
        .main-list {
            position: absolute;
            left: 0;
            right: 0; 
            bottom: 0; 
            top: 38px;
            width: 100%;
            @include transition(all ease 0.2s);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            &.wrap {
                left: -100%;
                right: auto;
                overflow: hidden;
                .scroll-shadow {
                    display: none;
                }
                .content-list-holder {
                    overflow: hidden !important;
                }
            }
            &.custom-widget {
                bottom: 50%;
            }
        }
        .preview {
            //display: none;
            position: absolute;
            left: 0; 
            width: 100%; 
            bottom: 0; 
            top: 38px;
            @include transition(all ease 0.2s);
            &.custom-widget {
                top: 50%;
            }
            .nav {
                height: 34px;
                display: flex;
                align-items: center;
                background: #f4f4f4;
                padding: 0 10px;
                border-bottom: 1px solid #e7e7e7;
            }
            .open, .associate {
                border: 0;
                background: 0;
                padding: 0 8px;
                color: $sd-text;
                line-height: 34px;
                @include border-box();
                span {
                    line-height:24px;
                }
                i {
                    margin-top: 3px;
                    margin-right: 5px;
                    @include opacity(40);
                }
                &:hover {
                    i {
                        @include opacity(100);
                    }
                }
            }
            .state-label {
                margin-top: 5px;
            }
            .content-item-preview {
                .content-container {
                    top: 36px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            &.wrap {
                left: 100%;
                .scroll-shadow {
                    display: none;
                }
            }
        }
    }
}

.sd-widget {
    &.related-item {
        .preview {
            .content-item-preview {
                position: static;
                width: 325px;
            }
        }
    }
}

.widget-ingest, .widget-archive, .widget-related-item {

    .ingest-list-holder {
        background: $sd-background;
    }
    .ingest-list {
        padding: 12px 12px $scratchpad-closed + $authoring-opened-articles;
        > li {
            .item-block {
                border-color: #dedede;
                padding: 12px 0;
                &.pinned.pinned-instance {
                    padding: 0 0 12px 0;
                }
            }
            &.active {
                .item-block.pinned {
                    background: none;
                    .content {
                        background: $sd-hover;
                    }
                }
            }
            .top-line > li {
                border: 0;
            }
            .main-line h5 {
                font-family: $baseFontFamily;
                color: #000;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}

.tabpane {
    &.widget-ingest, &.widget-archive, &.widget-related-item {
        .sd-widget {

            .widget-mode {
                margin: 0;
                padding: 10px 5px;
                time {
                    font-size: 11px;
                    color: #999;
                    text-align: right;
                    display: inline-block;
                    margin: 4px 10px 0 0;
                }
            }

            .main-list {
                top: 0px
            }

            .existing-items {
                top: -70px;
            }

            .ingest-list-holder {
                bottom: 60px;
            }

            .preview {
                top: 44px;
            }
        }
    }
}
