.SearchBar.extended {
    .search-handler {
        display: flex;
        height: 47px;
        box-shadow: inset 7px 0 10px -7px rgba(0, 0, 0, 0.5);
        input {
            flex-grow: 1;
        }
        .search-close {
            opacity: .4;
            &:hover {
                opacity: .8;
            }
        }
    }
}
.flat-searchbar {
    .search-handler {
        height: 47px !important;
    }
}
