.SearchBar {
    height: 100%;
}

.SearchBar.extended {
    .search-handler {
        display: flex;
        border-left: 1px solid var(--sd-colour-line--light) !important;
        input {
            flex-grow: 1;
        }
        .search-close {
            opacity: .4;
            &:hover {
                opacity: .8;
            }
        }
    }
}
