.SearchBar.extended {
    .search-handler {
        display: flex;
        height: 47px;
        border-left: 1px solid #e0e0e0;
        input {
            flex-grow: 1;
        }
        .search-close {
            opacity: .4;
            &:hover {
                opacity: .8;
            }
        }
    }
}
.flat-searchbar {
    .search-handler {
        height: 47px !important;
    }
}
