.md-frames-thumbs {
  overflow: hidden;
}
.md-frames {
  display: block;
  width: 100%;
}
.md-frames .inner {
  width: 100%;
  white-space: nowrap;
  border-radius: 5px;
  min-height: 50px;
  position: relative;
  left: 0px;
}
.md-frames .video {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-image: url('data:image/svg+xml;utf8,<svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="animation-play-state: running; animation-delay: 0s; background: none;"><path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="%2300E0FF" style="animation-play-state: running; animation-delay: 0s;"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform></path></svg>');
  margin: 0;
  font-size: 0;
  padding: 0;
}
.md-frames .video.loaded {
  background-image: none;
}

.sd-photo-preview__video-cropper {
  position: absolute;
  margin-top: 2rem;
  background-color: unset;
}
.dropdown__toggle.btn.btn--ui-dark.btn--icon-only.btn-hollow {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}