.md-frames--thumbs {
  overflow: hidden;
}
.md-frames {
  display: block;
  width: 100%;
}
.md-frames__inner {
  width: 100%;
  white-space: nowrap;
  border-radius: 5px;
  min-height: 50px;
  position: relative;
  left: 0px;
}
.md-frames video {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-image: url('./assets/SmallLoadingThumnails.svg');
  margin: 0;
  font-size: 0;
  padding: 0;
}
.md-frames .video.loaded {
  background-image: none;
}
