<div class="subnav">
    <div class="flat-searchbar monitoring-backlink" ng-if="webPublisherMonitoring.tenantArticles">
        <div class="search-handler">
            <button tooltip="{{ :: 'Back to previous view' | translate }}" tooltip-placement="right" class="backlink" ng-click="webPublisherMonitoring.viewMonitoringHome()"></button>
        </div>
    </div>
    <div class="flat-searchbar monitoring-flat-searchbar" ng-class="{extended: aggregate.monitoringSearch}">
        <div class="search-handler">
            <label for="search-input" class="trigger-icon" ng-click="aggregate.monitoringSearch = !aggregate.monitoringSearch"><i class="icon-search"></i></label>
            <input id="search-input" type="text" placeholder="{{ :: 'Search' | translate }}" ng-model="query"
            ng-keyup="aggregate.searchOnEnter($event, query)">
            <button class="search-close" ng-click="aggregate.search(query = null)" ng-class="{visible: query}"><i class="icon-remove-sign"></i></button>
            <button class="search-close" ng-click="aggregate.search(query);" ng-class="{visible: query}">
                <i class="svg-icon-right"></i>
            </button>
        </div>
    </div>
    <h3 class="page-nav-title">Web Monitoring</h3>
    <div class="subnav__button-stack--square-buttons">
        <div class="dropdown navbtn strict" ng-if="!state.opened" title="{{ :: 'Create' | translate }}" dropdown>
            <button class="dropdown__toggle sd-create-btn" dropdown__toggle></button>
            <ul class="dropdown__menu scrollable pull-right" sd-content-create></ul>
        </div>
    </div>
</div>

<div class="paneLayout paneLayout--twoHeadersMargin">
    <div class="paneLayout__content">
        <div class="subnav static">
            <div class="filter-trigger" title="Filters" ng-click="filterOpen = !filterOpen" ng-class="{'filter-trigger--active': filterOpen}">
                <i class="icon-filter-large"></i>
            </div>
            <ul class="filter-type filter-type--padded rightPadding">
                <li class="filter-type__item filter-type__item--active" ng-class="{'filter-type__item--active': true}">
                    <a ng-click="">all</a>
                </li>
                <li class="filter-type__item" ng-repeat="site in webPublisherMonitoring.sites" ng-class="{'filter-type__item--active': false}">
                    <a ng-click="">{{ site.name }}</a>
                </li>
            </ul>
            <div class="subnav__stretch-bar"></div>
        </div>
        <!-- paneLayout inside paneLayout :) -->
        <div class="paneLayout paneLayout--headerMargin">
            <div class="paneLayout__leftPane paneContent" 
                ng-class="{'paneLayout__leftPane--open': filterOpen}"
                ng-include="webPublisherMonitoring.TEMPLATES_DIR + '/monitoring/filter-pane.html'"
                >
            </div>

            <div class="paneLayout__content">
                <div class="contentPadding">
                    <!-- CONTENT -->
                    <div ng-include="webPublisherMonitoring.TEMPLATES_DIR + '/monitoring/index-content.html'"></div>
                </div>
            </div>
        </div>
        <!-- paneLayout inside paneLayout :) -->
    </div>

    <div class="paneLayout__pane paneContent paneContent--darker"
        ng-class="{'paneLayout__pane--open': webPublisherMonitoring.publishOpen}"
        ng-include="webPublisherMonitoring.TEMPLATES_DIR + '/monitoring/publishing-pane.html'">
    </div>

    <!--<div ng-if="webPublisherMonitoring.publishOpen"
        class="paneLayout__pane paneContent paneContent--darker modal-content"
        ng-class="{'paneLayout__pane--open': webPublisherMonitoring.publishOpen}">
        <div class="paneContent__header paneContent__header--darker">
            <h3 class="pull-left">Publishing to web</h3>
            <div ng-click="webPublisherMonitoring.publishOpen = false" class="close-filter">
                <i class="icon-close-small icon-white"></i>
            </div>
        </div>
        <div class="paneContent__content paneContent__content--hasFooter contentPadding">
            <form class="flat">
                <fieldset class="label-light">
                    <div ng-repeat="site in webPublisherMonitoring.sites"
                         sd-toggle-box
                         data-title="{{site.name}}"
                         data-open="true" data-style="dark">
                            <div sd-publish-routes data-site="site" data-monitoring-contoller="webPublisherMonitoring"></div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="paneContent__footer paneContent__footer--transparent">
            <button class="btn btn--primary btn--full" ng-click="webPublisherMonitoring.publishArticle()">Publish to web</button>
        </div>
    </div>-->
</div>
