<div class="media-box media-text publisher-mediaBox">
    <span class="state-border"></span>
    <div class="list-field type-icon">
        <i ng-if="!i.featureMedia" class="filetype-icon-text"></i>
        <i ng-if="i.featureMedia" class="filetype-icon-picture"></i>
    </div>
    <div class="list-field urgency">
        <span class="priority-label priority-label--{{ i.metadata.priority }}" title="{{i.metadata.priority}}">{{i.metadata.priority}}</span>
        <span class="urgency-label urgency-label--{{ i.metadata.urgency }}" title="{{i.metadata.urgency}}">{{i.metadata.urgency}}</span>
    </div>
    <div class="item-info">
        <div class="line">
            <span class="keyword">{{i.slug}}</span>
            <span class="item-heading">{{i.title}}</span>
            <time>{{i.publishedAt | reldate}}</time>
        </div>
        <div class="line">
            <div class="state-label state-corrected">Update 2</div>
            <span class="provider">{{i.metadata.byline}}</span>
            <span class="container">{{i.route.name}}</span>
            <!-- only published articles -->
            <div class="state-label state-published flex-pull-right">Website 1</div>
            <div class="state-label">Website 2</div>
        </div>

        <div class="item-right toolbox">
            <div class="dropdown flex-pull-right" dropdown dropdown-append-to-body sd-dropdown-position-absolute>
                <button class="dropdown__toggle dropdown__toggle--with-opacity" dropdown__toggle>
                    <i class="icon-dots-vertical"></i>
                </button>
                <ul class="dropdown dropdown__menu more-activity-menu pull-right">
                    <li>
                        <div class="dropdown__menu-label">Actions</div>
                    </li>
                    <li class="divider"></li>
                    <li><button><i class="icon-pencil"></i>{{:: 'Edit'| translate}}</button></li>
                    <li class="divider"></li>
                    <li>
                        <button ng-click="webPublisherMonitoring.openPublish(i, 'publish')">
                            <i class="icon-expand-thin"></i>{{:: 'Publish'| translate}}
                        </button>
                    </li>
                    <li>
                        <button ng-click="webPublisherMonitoring.openPublish(i, 'unpublish')">
                            <i class="icon-kill"></i>{{:: 'Unpublish'| translate}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
