<div class="listElement listElement--dark listElement--noBorder"
      ng-class="{'listElement--borderPublished listElement--lightDark': i == 'publishedAll' || i == 'publishedTenant', 'listElement--borderUnpublished': i == 'unpublished'}">
    <div class="listElement__content listElement__content--dark">
        <div>
            www.{{i}}.com
        </div>
        <div>
            <div ng-show="i == 'notPublished'" class="flexBox">
                <span class="text--uppercase text--smaller flexBox__item text--lighter">route</span>
                <div sd-meta-dropdown
                    class="flexBox__fullItem flexBox__fullItem--margin  dropdownLight"
                    data-tabindex=""
                    data-item="item"
                    data-field="route"
                    data-list="routes"
                    ng-disabled=""
                    data-change="">
                </div>
            </div>

            <div ng-if="i != 'unpublished' && i != 'notPublished'" >
                <div ng-show="routeEditing" class="flexBox">
                    <span class="text--uppercase text--smaller flexBox__item text--lighter">route</span>
                    <div sd-meta-dropdown
                        class="flexBox__fullItem leftSpace rightSpace--small dropdownLight"
                        data-tabindex=""
                        data-item="item"
                        data-field="route"
                        data-list="routes"
                        ng-disabled=""
                        data-change="">
                    </div>
                    <div class="flexBox__item">
                        <i class="icon-close-small icon-white icon--small text--verticalMiddle cursorPointer rightSpace"
                            ng-click="routeEditing = false"/>
                    </div>
                </div>

                <span class="label label--info text--smaller text--uppercase" ng-hide="routeEditing">sport</span>
                <span class="text--uppercase text--smaller text--blue cursorPointer leftSpace"
                    ng-click="routeEditing = true"
                    ng-hide="routeEditing">
                    change
                </span>
            </div>
            <span ng-if="i == 'unpublished'" class="label text--smaller text--uppercase">unpublished</span>
        </div>
    </div>
    <div class="listElement__right">
        <div class="text--small text--lighter text--right minHeightLine">
            <span ng-if="i != 'notPublished'">5 days ago</span>
            <!-- if article is not published and route is selected this should appear -->
            <span ng-if="i == 'notPublished'" class="text--uppercase text--small text--blue cursorPointer rightSpace"><i class="icon-external blue icon--small text--verticalMiddle rightSpace--small"/> Live Preview</span>
        </div>
        <div class="minHeightLine">
            <span ng-if="i == 'publishedAll'" class="label label--facebook text--smaller text--uppercase">facebook</span>
            <div ng-if="i == 'notPublished' || i == 'publishedTenant'">
                <span class="text--uppercase text--smaller text--lighter">publish to facebook</span>
                <span class="sd-checkbox checkboxInlineRight" sd-check ng-model="facebookPublish"></span>
            </div>
        </div>
    </div>
</div>