<div ng-if="!widget.custom" class="modal__header modal__header--flex" data-test-id="widget-config-header">
    <h3 class="modal__heading"><span translate>{{ widget.label }}</span> <span translate>{{ 'Configuration' }}</span></h3>
    <a class="icn-btn modal__close" ng-click="$close()" data-test-id="widget-config-close"><i class="icon-close-small"></i></a>
</div>
<div ng-if="!widget.custom" class="modal__body" data-test-id="widget-config-body">
    <div ng-include="widget.configurationTemplate"></div>
</div>
<div ng-if="!widget.custom" class="modal__footer" data-test-id="widget-config-footer">
    <button class="btn" ng-click="saveConfig()" data-test-id="widget-config-save"><span translate>Save</span></button>
</div>
<div ng-if="widget.custom" ng-include="widget.configurationTemplate"></div>
