<div ng-if="!widget.custom" class="modal__header">
    <a class="modal__close pull-right" ng-click="$close()"><i class="icon-close-small"></i></a>
    <h3 class="modal__heading">{{ widget.label|translate }} {{ 'Configuration'|translate }}</h3>
</div>
<div ng-if="!widget.custom" class="modal__body">
    <div ng-include="widget.configurationTemplate"></div>
</div>
<div ng-if="!widget.custom" class="modal__footer">
    <button class="btn" ng-click="saveConfig()"><span translate>Save</span></button>
</div>
<div ng-if="widget.custom" ng-include="widget.configurationTemplate"></div>
