// User avatars
// ---------------------------------------------
.avatar {
    display: block;
    @include border-radius(50%);
    overflow: hidden;
    background: #b9b9b9 url('~images/avatar_64.png') no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100%;
    float: left;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    &.no-bg {
        background: $white;
        @include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.15));
    }
    &.initials {
        background-color: $avatarBlue;
        background-image: none !important;
        color: $white;
        text-align: center;
        font-size: 11px;
        line-height: 31px;
    }

    &.organisation {
        background-image: url('~images/avatar_group_64.png');
    }
}
.avatar.avatar-with-info {
    overflow: visible;
    position: relative;
    .logged-info {
        display: block;
        background-color: #fff;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        position: absolute;
        bottom: -1px;
        right: -4px;
        box-shadow: 0px 0 0 2px #fff;
        border: 1px solid #a2c59e;
        box-sizing: border-box;
    }
    .user-image {
        display: block;
        @include border-radius(50%);
        overflow: hidden;
    }
    &.user-logged {
        .logged-info {
            background-color: #67b461;
            border: 1px solid #67b461;
        }
    }
}


.avatar.small {
    width: 24px;
    height: 24px;
    &.initials {
        line-height: 25px;
        font-size: 10px;
    }
}

.avatar.medium {
    width: 40px;
    height: 40px;
    &.initials {
        line-height: 40px;
        font-size: 16px;
    }
}

.avatar.large {
    width: 48px;
    height: 48px;
    &.initials {
        line-height: 48px;
        font-size: 18px;
    }
}

.avatar.big {
    width: 64px;
    height: 64px;
    &.initials {
        line-height: 64px;
        font-size: 22px;
    }
}

.avatar.unassigned {
    background-color: #bababa;
}

.avatar.desk {
    background-image: url('~images/avatar_group_64.png');
}