// ANIMATIONS

@keyframes dropOut {
    0% {transform: translateY(-43px);}
    100% {transform: translateY(0);}
}

@keyframes appearFromRight {
    0% {transform: translateX(20px); opacity:0;}
    50% {transform: translateX(20px); opacity:0;}
    100% {transform: translateX(0); opacity:1;}
}

@keyframes slideInFromRight {
    0% {transform: translateX(400px);}
    100% {transform: translateX(0);}
}

@keyframes appearFromBottomLeft {
    0% {transform: translateY(900px); opacity:0;}
    100% {transform: translateY(0); opacity:1;}
}

@keyframes appearFromRight2 {
    0% {transform: translateX(40px) rotate(360deg); opacity:0;}
    50% {transform: translateX(40px) rotate(360deg); opacity:0;}
    100% {transform: translateX(0) rotate(0deg); opacity:1;}
}

@keyframes dropOut2 {
    0% {transform: translateY(-48px);}
    100% {transform: translateY(0);}
}
@keyframes appearFromRight3 {
    0% {transform: translateX(100%); opacity:0;}
    100% {transform: translateX(0); opacity:1;}
}

@keyframes fadeIn3 {
    0% {transform: translateX(100%); opacity:0;}
    100% {transform: translateX(0); opacity:1;}
}