//Open Sans font import
//@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext);
//Roboto font import
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

// Core variables and mixins

@import "variables.scss"; // Modify this for custom colors, font-sizes, etc
@import "sd-icon-font.scss";
@import "mixins.scss";


// CSS Reset
@import "reset.scss";

// Grid system and page structure
@import "utility-classes.scss";
@import "layouts.scss";

// Base CSS
@import "type.scss";
@import "forms.scss";
@import "tables.scss";

// Components: common
@import "sd-typeahead.scss";
@import "sd-password-strength.scss";
@import "dropdowns.scss";
@import "media-archive.scss";
@import "archive-preview.scss";
@import "archive-filtering.scss";

// Components: Buttons & Alerts
@import "buttons.scss";
@import "buttons/toggle-buttons.scss";
@import "button-groups.scss";
@import "alerts.scss"; // Note: alerts share common CSS with buttons and thus have styles in buttons.scss

// Components: Nav
@import "navs.scss";

// Components: Popovers
@import "modals.scss";
@import "tooltip.scss";
@import "popovers.scss";

// Animation
@import "animation.scss";

// Components: Misc
@import "labels.scss";

// Vendor
@import "~jquery-jcrop/css/jquery.Jcrop.css";
@import "~jquery-ui/themes/smoothness/jquery-ui.css";
@import "~medium-editor/dist/css/medium-editor.css";
@import "~medium-editor-tables/dist/css/medium-editor-tables.css";

@import "medium-editor.scss"; // custom skin for medium-editor
@import "sf-additional.scss";
@import "sf-icons.scss";
@import "search-list.scss";
