// extract-text-webpack-plugin messes up the import order
// when importing from SCSS files, but it works when importing from js
// if you need some styles to go at the top/bottom, import it from index.ts

// Roboto font import
@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

@import '../extension-styles.generated.css';

// Core variables and mixins
@import 'variables'; // Modify this for custom colors, font-sizes, etc
@import 'mixins';

// CSS Reset
@import 'reset';

// Grid system and page structure
@import 'utility-classes';
@import 'layouts';

// Base CSS
@import 'type';
@import 'forms';
@import 'tables';
@import 'bootstrap-pagination';

// Components: common
@import 'sd-typeahead';
@import 'sd-password-strength';
@import 'media-archive';
@import 'archive-preview';
@import 'archive-filtering';

// Components: Buttons & Alerts
@import 'buttons/toggle-buttons';
@import 'button-groups';
@import 'alerts'; // Note: alerts share common CSS with buttons and thus have styles in buttons.scss
@import '../../scripts/core/ui/components/alert.scss';

// Components: Nav
@import 'navs';

// Components: Popovers
@import 'modals';
@import 'tooltip';
@import 'popovers';

// Animation
@import 'animation';

// Components: Misc
@import 'labels';

@import 'sf-additional';
@import 'sf-icons';
@import 'search-list';
@import 'hamburger';


// Jcrop overrides
@import 'jcrop-custom';

// Application components
@import 'saved-searches';
@import '../../scripts/apps/dashboard/widget-heading.scss';
@import '../../scripts/apps/authoring-react/authoring-react.scss';
@import '../../scripts/apps/authoring/preview/full-preview.scss';
@import '../../scripts/apps/authoring-react/fields/media/media-field.scss';
@import '../../scripts/core/ui/components/content-create-dropdown/content-create-dropdown.scss';

@import '../../scripts/apps/authoring/authoring/services/quick-publish-modal.scss';

// Proofreading Modal
@import '../../scripts/apps/authoring-react/toolbar/proofreading.scss';
@import '../../scripts/apps/authoring-react/toolbar/theme-selector.scss';

@import '../../scripts/core/editor3/components/custom-block.scss';
