// NOTE: file extension is not needed for importing .scss files

// Roboto font import
@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

// Core variables and mixins
@import 'variables'; // Modify this for custom colors, font-sizes, etc
@import 'mixins';

// CSS Reset
@import 'reset';

// Grid system and page structure
@import 'utility-classes';
@import 'layouts';

// Base CSS
@import 'type';
@import 'forms';
@import 'tables';

// Dropdowns
@import 'dropdowns/input-dropdown';

// Components: common
@import 'sd-typeahead';
@import 'sd-password-strength';
@import 'media-archive';
@import 'archive-preview';
@import 'archive-filtering';
@import 'avatars';

// Components: Buttons & Alerts
@import 'buttons/toggle-buttons';
@import 'button-groups';
@import 'alerts'; // Note: alerts share common CSS with buttons and thus have styles in buttons.scss

// Components: Nav
@import 'navs';

// Components: Popovers
@import 'modals';
@import 'tooltip';
@import 'popovers';

// Animation
@import 'animation';

// Components: Misc
@import 'labels';

// Vendor
@import '~jquery-jcrop/css/jquery.Jcrop.css';
@import '~jquery-ui/themes/smoothness/jquery-ui.css';
@import '~medium-editor/dist/css/medium-editor.css';
@import '~medium-editor-tables/dist/css/medium-editor-tables.css';

@import 'medium-editor'; // custom skin for medium-editor
@import 'sf-additional';
@import 'sf-icons';
@import 'search-list';
