// archive-filtering.scss
// Styling for content archive filtering
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';
@import '~animation.scss';

.archive-sidebar {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0;
    width:$archive-sidebar-width;
    background-color: $archive-sidebar-bg;
    box-shadow: inset -1px 0px 6px 0px rgba(0,0,0,.1);
    transition: left 0.2s ease;
    border-inline-end: 2px solid var(--sd-colour__side-panel-border);

    .header {
        height: $nav-height;
        box-shadow: 0 1px 0 var(--sd-colour-line--light), 0 1px 2px rgba(0, 0, 0, 0.1);
        background-color: $archive-sidebar-bg;
        position: relative;
        z-index: 4;
        .icon {
            width: 48px;
            height: $nav-height;
            float: left;
            text-align: center;
            line-height: 54px;
            cursor: pointer;
            opacity: 0.8;
        }
        ul {
            float: left;
            padding-left: 5px;
            li {
                float: left;
                height: 48px;
                margin: 0 15px;
                line-height: 48px;
                font-size: 14px;
                opacity: 0.7;
                &:hover {
                    cursor: pointer;
                    border-bottom: 3px solid var(--sd-colour-line--medium);
                }
                &.active {
                    border-bottom: 3px solid var(--sd-colour-interactive);
                    opacity: 1;
                }
            }
        }
        .doopen {
            position: absolute;
            top: 16px;
            right: 8px;
            padding-left: 10px;
            padding-right: 10px;
            opacity: 0.4;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    z-index: 10;

    .content {
        position: absolute;
        top: $nav-height;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding: 20px;
        overflow: auto;
        padding-bottom: $bottom-view-padding + 3.2rem;
        &.pull { 
            bottom: 60px; 
        }
        &.pull-heigher { 
            bottom: 120px; 
        }
        .sd-check__wrapper {
            margin-left: 0;
        }
        .superdeskRepos {
            margin-bottom: 2rem;
        }
    }
    
    .tab-box {
        margin: 0 -20px 0 -20px;
        position: sticky;
        top: -20px;
        background-color: $archive-sidebar-bg;
        padding-bottom: 0.4rem;
        z-index: 3;
    }

    .edit-search {
        font-size: 15px;
        margin: 10px -20px 15px;
        fieldset {
            padding: 0 20px;
        }
    }
    // .toggle-box {
    //         .toggle-box__label {
    //             font-size: 12px;
    //             font-weight: 500;
    //             color: $gray;
    //         }
    //     &.pane {
    //         margin: 0 -20px;
    //         > .toggle-content {
    //             padding: 20px 15px;
    //         }
    //     }
    //     .terms {
    //         @include user-select(none);
    //         clear: both;
    //         float: right;
    //         padding-top: 10px;
    //         margin-bottom: 15px;
    //         @include clearfix();
    //         li {
    //             background: rgba(0,0,0,0.06);
    //             line-height: 26px;
    //             height: 26px;
    //             padding: 0 6px;
    //             @include border-radius(3px);
    //             margin: 0 5px 5px 0;
    //             float: left;
    //             i {
    //                 vertical-align: sub;
    //                 margin-left: 5px;
    //                 @include opacity(40);
    //             }
    //             &:hover {
    //                 cursor: pointer;
    //                 background: rgba(0,0,0,0.1);
    //                 i {
    //                     @include opacity(70);
    //                 }
    //             }
    //         }
    //     }
    // }

    textarea.raw-search {
        height: 200px;
        border: 1px solid var(--sd-colour-line--light);
        background-color: var(--sd-colour-bg__searchbar);
        box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.1);
        color: $sd-text;
        border-radius: 4px;
        &:focus {
            background-color: var(--sd-colour-bg__searchbar);
            box-shadow: inset 0 0 0 1px var(--sd-colour-interactive--alpha-50), inset 0 0 0 6px var(--sd-colour-interactive--alpha-20);
        }
    }



    .search-within-filter {
        position: relative;
        margin: -19px -20px 20px -20px;
        height: $nav-height;
        input {
            height: $nav-height;
            border-width: 0 0 1px 0 !important;
            padding-left: 15px;
        }
        button {
            position: absolute;
            top: 0; right: 0;
            height: $nav-height;
            width: $nav-height - 15px;
            border: 0;
            background: none;
            i {
                width: 18px;
                  background-repeat: no-repeat;
                  margin-top: 5px;
            }
        }
    }

    .search-filters {
        position: relative;
        margin: 1px 0px 20px;
        height: $nav-height;
        input {
            height: $nav-height;
            border-width: 0;
            border-bottom: 1px solid var(--sd-colour-line--light);
            padding-left: 42px;
            background-color: var(--sd-colour-bg__searchbar);
            box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.1);
            color: $sd-text;
            &:focus {
                background-color: var(--sd-colour-bg__searchbar);
                box-shadow: inset 0 0 0 1px var(--sd-colour-interactive--alpha-50), inset 0 0 0 6px var(--sd-colour-interactive--alpha-20);
            }

        }
        button {
            position: absolute;
            top: 0; right: 0;
            height: $nav-height;
            width: $nav-height - 15px;
            border: 0;
            background: none;
            i {
                width: 18px;
                  background-repeat: no-repeat;
                  margin-top: 5px;
            }
        }
        &::after {
            font-family: 'sd_icons';
            content:"\e618";
            font-size: 1.6rem;
            height: 1.6rem;
            width: 1.6rem;
            color: $sd-text-lighter;
            position: absolute;
            top: 14px;
            left: 16px;
            opacity: 0.5;
            z-index: 1;
            pointer-events: none;
        }
    }

    .views {
        padding: 0;
        .header {
            padding: 10px;
        }
        .list {
            top: $nav-height;
            position: absolute;
            left: 0; right: 0;
            overflow: auto;
            ul {
                > li {
                    display: block;
                    box-sizing: border-box;
                    padding: 10px 15px 10px 20px;
                    border-bottom: 1px solid var(--sd-colour-line--light);
                    overflow: hidden;
                    position: relative;
                    .search-item {
                        width: 80%;
                        i {
                            color: $sd-text-light;
                            font-weight: 400;
                        }
                        .search-name {
                            font-weight: 500;
                        }
                        .search-description {
                            font-size: 12px;
                            color: $sd-text-light;
                        }
                    }
                    .search-button {
                        position: absolute;
                        right:6px;
                        top:8px;
                    }
                    .delete, .edit {
                        border: 0;
                        background: 0;
                        display: none;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        //background: #f8f8f8;
                        .delete {
                            display: inline-block;
                        }
                    }
                    &.active {
                        background: var(--sd-item__main-Bg--activated);
                    }
                    &:first-child {
                        border-top: 1px solid var(--sd-colour-line--light);
                    }
                }

            }
        }
        .edit-saved-searches {
            position: absolute;
            margin-left: 0px;
            .content {
                position: static;
                padding: 0;
            }
        }
    }
}

.date-filter {
    .predefined-dates {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        > div {
            flex: 1 1 auto;
            padding: 4px;
            button {
                display: block;
                width: 100%;
            }
        }
        .btn--mini, .toggle-button {
            min-height: 20px;
            height: auto;
            margin-right: 4px;
            flex-grow: 1;
            &:last-child {
                margin-right: 0;
            }
        }
        .toggle-button {
            padding: 5px;
            line-height: 130%;
            font-size: 11px;
            font-weight: 500;
        }
    }
    .datepicker-input {
        min-width: initial;
    }
    fieldset {
        .multiple {
            .field {
                padding-right: 10px;
                &:last-child {
                    padding: 0;
                }
            }
        }
    }
}

.filter-box {
    .filter-box__item {
        display: flex;
        margin-bottom: 2px;
        border-radius: 2px;
        padding: 4px 4px 4px 5px;
        line-height: 100%;
        background-color: transparent;
        transition: background-color ease-in-out 0.2s;
        button {
            border: 0;
            background: none;
            display: block;
            width: 100%;
            padding: 0;
            color: $sd-text-light;
            text-align: left;
            height: 22px;
            line-height: 22px;
            font-size: 12px;
        }

        .filter-box__hover-box {
            height: 1.6rem;
            width: 1.6rem;
            flex-shrink: 0;
            flex-grow: 0;
            position: relative;
            margin-right: 0.8rem;
            &:hover {
                i[class*="filetype-icon-"] {
                    visibility: hidden;
                }
                .sd-checkbox {
                    visibility: visible;
                }
            }
            .sd-checkbox {
                position: absolute;
                left: 0;
                top: 0;
                visibility: hidden;
            }
        }
        &.checked {
            .sd-checkbox {
                visibility: visible;
            }
        }

        [class*="filetype-icon-"] {
            color: var(--color-text-light);
        }

        &:hover {
            cursor: pointer;
            .filter-box__negate-filter {
                opacity: 0.6;
                transition: all ease-in-out 0.2s;
                &:hover {
                    opacity: 1;
                }
                &:active {
                    color: $state-color-red;
                }
            }
        }
        &:active {
            background-color: var(--sd-colour-interactive--alpha-30);
        }
        .filter-box__negate-filter {
            opacity: 0;
            transition: all ease-in-out 0.1s;
            color: var(--color-text-light);
        }
    }
    .filter-box__name {
        flex-grow: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
            i {
                margin-left: 10px;
                font-style: italic;
                color: var(--color-text-light);
                font-weight: 300;
            }
    }
    .filter-box__check {
        flex-grow: 0;
        margin-right: 8px;

    }
}

.backlink-toolbar {
    padding: 16px 20px 0;
    margin-bottom: 20px;
    @include border-box();
    height: $nav-height;
    background: var(--sd-item__main-Bg);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
    animation: dropOut .2s cubic-bezier(0.695, 0.105, 0.285, 1.275) 1;
    .backlink {
        animation: appearFromRight 0.4s ease-out 1;
    }
}

.saved-searches__group-title {
    padding: 14px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: $sd-text-lighter;
}

.sidebar-open {
    .archive-content {
        left: $archive-sidebar-width !important;
    }
}

.save-search,
.float-search-btn,
.save-search-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--sd-colour-panel-bg--200);
    padding: 16px 24px;
    text-align: right;
    box-shadow:0 -1px 0 0 var(--sd-colour-line--medium), 0 -1px 2px 0 rgba(0, 0, 0, 0.12);
    .search {
        margin-bottom: 5px;
    }
    .save-search__button-split {
        display: flex;
        align-items: center;
        .btn {
            flex-basis: auto;
            flex-grow: 1;
            & + .btn {
                margin-left: 5px;
            }
        }
    }
}
.save-search-panel {
    text-align: left;
    input {
        margin-bottom: 10px;
    }
}
.save-search-panel__title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: $sd-text-light;
    margin-bottom: 20px;
}

.save-search__link {
    display: inline-block;
    margin-right: 32px;
    cursor: pointer;
    font-size: 14px;
    &:hover {
        text-decoration: underline;
    }
}
.float-search-btn {
    background-color: var(--sd-colour-panel-bg--100);
    .search { margin-bottom: 0; }
}
.float-search-btn--shift {
    bottom: 64px;
}
