// archive-preview.scss
// Styling for the superdesk media archive and ingest
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';


// SIDE PREVIEW


//package preview
.composite-preview {
    .toggle-box {
        margin-bottom: 20px;
        header {
            &:before {
                left: 45px;
            }
            .box-icon {
                display: none;
            }
            h6 {
                background: $white;
                padding-left: 0;
            }
            .chevron {
                background-color: $white;
            }
        }
    }
    // .text, .composite, .video, .picture {
    //     .border-radius(2px);
    //     background: $white;
    //     box-shadow: $block-shadow-depth-2;
    //     padding: 10px;
    //     .clearfix();
    //     .icons-holder {
    //         float: left;
    //         margin-right: 20px;
    //         .clearfix();
    //         i {
    //             //zoom: 0.5;
    //             .opacity(50);
    //         }
    //     }
    // }
    // .holder {
    //     width: 120px;
    //     .border-radius(2px);
    //     overflow: hidden;
    //     height: 80px;
    //     background: #f0f0f0;
    //     float: left;
    //     margin-right: 20px;
    //     .loading {
    //         margin: 20px 0 0 40px;
    //     }
    //     .error-icon {
    //         .opacity(50);
    //         height: 80px;
    //         line-height: 80px;
    //         text-align: center;
    //         i {
    //             vertical-align: middle;
    //             zoom: 0.7;
    //         }
    //     }
    // }
    .picture, .graphic {
        figure {
            width: 100%;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .item-headline {
            max-height: 74px;
            overflow: hidden;
        }
    }

    .video {
        .holder{
            line-height: 80px;
            text-align: center;
            i {
                vertical-align: middle;
                @include opacity(50);
            }
        }
        .item-headline {
            max-height: 74px;
            overflow: hidden;
        }
    }
    .audio {
        .holder {
            background: #fff;
            width: 100%;
            height: auto;
        }
    }
}

.wrap {
    white-space: pre-wrap;
}

.content-item-preview {
    .item-locked {
        @include border-box();
        @include border-radius(14px);
        height: 28px;
        line-height: 24px;
        margin: 4px 0 20px 0;
        .lock-sign {
            width: 28px;
            height: 28px;
            min-width: 28px;
            @include border-radius(50%);
            margin-right: 10px;
            background: #f4cccd;
            display: inline-block;
            text-align: center;
            line-height: 30px;
        }
        .locked-content {
            display: flex;
        }

        em {
            font-style: normal;
            vertical-align: top;
        }
        time {
            //.text-semibold();
            position: relative;
            top:-5px;
            font-size: 11px;
            color: $grayLight;
            padding-left: 38px;
            display: inline-block;
        }
        .text {
            @include text-semibold();
            color: $gray;
            flex-grow: 1;
            margin-top: 2px;
            padding-right: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #e51b22;
        }
        .btn {
            display: none;
            @include border-radius(0 14px 14px 0);
            padding-left: 5%;
            border-left: 1px solid #fff;
        }
        &:hover {
            background: $sd-background;
            .btn {
                visibility: visible;
                display: inline-flex;
            }
        }
    }

    .content {
        .content-container {
            position: absolute;
            top:0; left: 0; right: 0; bottom: 0;
            //padding: 0 20px $bottom-view-padding;
            padding: 0 20px 0;
            overflow: auto;
            .core-content {
                margin-bottom: 80px;
            }
        }
        .date {
            @include clearfix();
            p {
                float: left;
                @include text-light();
                font-size: 13px;
                color: #a1a1a1;
                padding-right: 10px;
                margin-right: 10px;
                margin-bottom: 0;
                line-height: 28px;
                &:first-child {
                    border-right: 1px solid #e2e2e2;
                }
            }
            + li {
                margin-top: 10px;
            }
        }
        .nav-space {
            height: $nav-height;
        }
        .rewrite {
            margin-top: 15px;
        }

        .title {
            font-size: 19px;
            line-height: 120%;
            @include text-semibold();
            margin-top: 15px;
            margin-bottom: 20px;
            color: #333;

            &.condensed {
                padding-right: 15px;
            }
        }
        .composite-nav {
            min-height: 24px;
            font-size: 16px;
            display: flex;
            margin-top: 20px;
            @include text-light();
            i {
                @include opacity(50);
                vertical-align: middle;
                margin: 0 15px 0 0;
                min-width: 24px;
                max-width: 24px;
            }
            .title {
                flex-grow: 1;
                margin-top: 0;
                //margin-bottom: 20px;
            }
            span {
                line-height: 24px;
            }
        }
        .preview-header + .composite-nav {
            margin-top: 30px;
        }
        .state-label {
            float: none;
            //margin-top: 20px;
        }
        .core-content {
            font-size: 14px;
            .expires {
                display: inline-block;
                margin-bottom: 5px;
            }
            .description {
                font-style: italic;
                color: #656565;
                margin-top: 15px;
            }
            .picture-preview, .graphic-preview {
                margin-top: 15px;
                max-width: 100%;
                img {
                    max-width: 100%;
                    height: auto;
                }
                &.loading {
                    width: 100%;
                    height: 200px;
                    background: $sd-background url(~images/loading-large.gif) center center no-repeat;
                }
            }
            figure {
                margin: 10px 0 8px 0;
            }
            figcaption {
                margin: 6px 0 10px 0;
            }
            video, audio {
                width: 100%;
                max-width: 100%;
            }
            .abstract {
                margin-bottom: 14px;
                font-size: 15px;
                //font-weight: 300;
                line-height: 140%;
            }
            .byline {
                font-size: 14px;
                line-height: 120%;
                font-weight: 300;
                margin-bottom: 12px;
            }
            .dateline {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 16px;
            }
            p {
                font-size: 15px;
                line-height: 140%;
                font-weight: 300;
                word-wrap: break-word;
                &.description-text {
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                }
            }
            .body-text {
                line-height: 140%;
                h1, h2, h3, h4, h5, h6 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
            .body-footer {
                font-size: 13px;
                color: #ADADAD;
                line-height: 140%;
                margin-top: 30px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                resize: both;
                table-layout: auto;
                border: 1px solid #dadada;
                margin: 16px 0;
                td, th {
                    border: 1px solid #dadada;
                    padding: 5px 8px;
                    font-size: 14px;
                    font-weight: 300;
                }
                th {
                    font-weight: 500;
                    text-align: left;
                    background-color:rgba(195, 195, 195, 0.2);
                }
            }
            blockquote {
                font-size: 14px;
                line-height: 140%;
                margin: 16px 0;
                border-left: 3px solid rgba(160, 160, 160, 0.5);
                padding: 4px 0 4px 14px;
                font-style: italic;
            }
            .embed-block {
                iframe {
                    width: 97%;
                }
            }
        }
    }

    .metadata-view,
    .article-versions {
        position: absolute;
        top:0; left: 0; right: 0; bottom: 0;
        padding: 20px 20px $bottom-view-padding;
        overflow: auto;
    }

    .article-versions {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .related-item-view, .mediaUsed {
        position: absolute;
        top:0; left: 0; right: 0; bottom: 0;
        padding: 20px 20px $bottom-view-padding;
        overflow: auto;
                .related-item, .mediaUsed--Item {
                    cursor: pointer;
                }
    }
}

.content-item-preview {
    .core-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;

        .media-block, .embed-block {
            margin: 2rem 0;
        }
        .media-block__description {
            display: block;
            padding: 0.5rem 0;
            font-size: 1.3rem;
            font-weight: 300;
            opacity: 0.75;
            border-bottom: 1px dotted rgba(123,123,123,0.4);
        }
    }
}

.metadata-view {
    div {
        border-bottom: 1px solid #e5e5e5;
    }
    div:last-child {
        border: 0px;
    }
    h4 {
        margin-top: 10px;
    }
    dl {
        @include clearfix();
        margin-bottom: 10px;
        > dt {
            clear: both;
            float: left;
            width: 140px;
            font-size: 11px;
            text-transform: uppercase;
            color:#999;
            line-height: 20px;
            @include text-semibold();
        }
        > dd {
            padding-left: 140px;
            min-height: 18px;
            margin: 0;
            word-break: break-word;
            div {
                border: 0px;
            }
        }
    }
}

.related-item-view, .mediaUsed {
    .related-item, .mediaUsed--Item {
        margin-top : 16px;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 16px;

        .item {
            margin: 5px 5px 0px 0px;
        }
        .container {
            @include text-semibold();
            color: #444;
            margin-right: 16px;
        }
        .keyword {
            @include text-semibold();
            color: $sd-keyword;
            font-size: 12px;
            margin-right: 16px;
        }
        .type-icon {
            opacity: 0.5;
            height: 16px;
            width: 16px;
            padding-left: 0;
            margin-right: 12px;
        }
        .headline {
            color: #686b6c;

        }
    }
    li:first-child .related-item, .mediaUsed--Item {
        margin-top: 6px;
    }
}


/* ====================================== */
  // Context menu for sidepreview (fetch as)

.preview-backdrop {
    position: absolute;
    width: $sidepreview-width;
    top: $nav-height+1;
    right: 0; bottom: 0;
    background: #fff;
    @include opacity(0);
    @include transition(all ease 0.2s);
    &.show {
        @include opacity(80);
    }
}


.context-menu {
        position: absolute;
        right: $sidepreview-width;
        width: 250px;
        top: $nav-height+1;
        bottom: 0;
        background: #fff;
        border-right: 1px solid #dbdbdb;
        @include box-shadow(2px 0 3px 0 #e8e8e8);
        @include transition(all ease 0.3s);
        &.show {
            right: $sidepreview-width - 250;
        }
        .title {
            font-size: 17px;
            @include text-light();
            color: #333;
            padding: 10px 15px;
        }
        .context-list {
            padding: 10px 15px 20px;
            li {
                border : 1px solid #fff;
                border-bottom: 1px solid #e5e5e5;
                background: #e9f4f8;
                padding: 6px 13px;
                height: 21px;
                line-height: 21px;
                margin-bottom:7px;
                font-size: 14px;
                color: #333;
                @include border-radius(2px);
                i {
                    font-style: normal;
                    color: #676565;
                    @include text-light();
                }
                &:hover, &.selected {
                    background: #b3daf2;
                    border-color: #4aa8eb;
                    cursor: pointer;
                }
            }
        }
    }


/* ====================================== */
  // LIGHTBOX PREVIEW

$lightbox-bg : #000;
$lightbox-sidepane : 380px ;
$lightbox-composite-width : 340px;
$lightbox-composite-condensed : 100px;

.lightbox-preview {
    &.modal {
        //reset modal styles
        position: fixed;
        @include border-radius(0px);
        top:0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        background: $lightbox-bg !important;
        margin: 0 !important;
        width: auto !important;
        overflow: hidden;
    }

    .lightbox-right {
        width: $lightbox-sidepane;
        position: absolute;
        @include box-sizing(border-box);
        right: 0;
        top: 0;
        bottom:0;
        background: $background-main;
        padding: 15px;
        //info boxes
        .lightbox-title {
            font-size: 18px;
            font-weight: normal;
            max-width: 100%;
            padding-right: 40px;
            height: 24px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
        .lightbox-close {
            background: none;
            padding: 0;
            border: 0;
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            right: 12px;
            top: 14px;

            @include opacity(70);
            &:hover {
                @include opacity(100);
            }
        }
        .lightbox-modified-info {
            color: #a9a9a9;
            font-size: 12px;
            display: block;
        }
        .lightbox-media-type {
            @include opacity(40);
            float: none;
            margin-left: -2px;
        }
        .urgency-label {
            margin-top: 3px;
            margin-right: 5px;
        }
        .status-label {
            margin-top: 4px;
        }
        .lightbox-actions {
            margin-top: 10px;
            i {
                margin-right: 5px;
                &.icon-archive {
                    margin-top: 0;
                }
            }
        }
        .lightbox-media-data {
            position: absolute;
            top:130px;
            left:15px;
            right: 5px;
            bottom: 15px;
            overflow: auto;
            padding-right: 10px;
        }
        .lightbox-descritpion {
            width: 100%;
            margin-top: 10px;
            color: #484848;
        }
        .toggle-box {
            margin: 20px 0;
        }
    }
    .lightbox-left {
        background: #101010;
        position: absolute;
        @include box-sizing(border-box);
        right: $lightbox-sidepane;
        top: 0;
        bottom:0;
        left:0;
        .full-preview {
            position: absolute;
            right: 0; top: 0; bottom:0; left:0;
            text-align: center;
            > .rendition {
                position: absolute;
                right: 0; top: 0; bottom:0; left:0;
                > figure {
                    position: absolute;
                    right: 0; top: 0; bottom:0; left:0;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                    height: auto !important;
                }
            }

            &.composite {
                padding: 20px 20px 40px;
                overflow: auto;
                &::-webkit-scrollbar {
                    width:16px;
                    border-left:1px solid #282828;
                    background: #000;
                    border-right:1px solid #282828;
                }

                &::-webkit-scrollbar-thumb {
                    border-right: 1px solid #282828;
                    border-left: 1px solid #282828;
                    background: #383838;
                    box-shadow: inset 0 0 0 2px #000;
                }
                .item {
                    position: relative;
                    float: left;
                    width: 220px;
                    height: 150px;
                    @include border-radius(3px);
                    overflow: hidden;
                    margin: 15px;
                    background: #3d3d3d;
                    @include box-shadow(0 2px 0 0 #000);
                    .icons-holder {
                        i {
                            margin: -12px 0 0 -12px;
                            @include opacity(20);
                        }
                    }
                    .item-headline {
                        padding: 15px;
                        text-align: left;
                        font-size: 14px;
                    }
                    &.picture, &.graphic  {
                        .item-headline {
                            display: none;
                        }
                        img {
                            height: 150px;
                            width: auto;
                        }
                    }
                    &.text {
                        background: $white;
                        .icons-holder {
                            @include opacity(50);
                        }
                    }
                    &.composite, &.audio {
                        .item-headline {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            color: #9a9a9a;
                            text-align: center;
                        }
                    }
                    .open-item {
                        display: none;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }
                    &:hover {
                        .open-item {
                            display: block;
                        }
                    }
                }

            }
        }
        .condensed-preview {
            position: absolute;
            right: 0; top: 0; bottom:0; left:0;
        }
        &.composite {
            .condensed-preview, .navigation.left {
                left : $lightbox-composite-condensed;
            }
            &.open {
                .condensed-preview, .navigation.left {
                    left : $lightbox-composite-width;
                }
            }
        }
        .navigation {
            position: absolute;
            top: 50%;
            height: 80px;
            margin-top: -120px;
            padding: 12px 25px;
            border: 0;
            background: 0;
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
                left: auto;
            }
            i {
                @include opacity(40);
            }
            &:hover {
                i {
                    @include opacity(100);
                }
            }

        }
        .lightbox-caption {
            background: rgba(0,0,0,0.7);
            color: #fff;
            position: absolute;
            bottom: 0;
            left:0;
            right: 0;
            padding: 10px 20px;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            @include box-sizing(border-box);
        }
        .lightbox-paper {
            position: absolute;
            top: 50px; left: 50px; right: 50px; bottom: 50px;
            .lightbox-text {
                background: #fff;
                max-width: 800px;
                margin: 0px auto;
                height: 100%;
                position: relative;
                @include border-radius(5px);
                .lightbox-title {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    right: 20px;
                    height: 55px;
                    font-size: 18px;
                    line-height: 24px;
                    border-bottom: 5px solid #e0e0e0;
                }
                .lightbox-fulltext {
                    position: absolute;
                    top: 110px;
                    left: 30px;
                    right: 30px;
                    bottom: 20px;
                    overflow: auto;
                    small {
                        color: #777;
                    }
                    .lightbox-fullcontent {
                        margin: 20px 0;
                    }
                    p {
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .lightbox-audio, .lightbox-video {
            background: #101010;
            margin: 50px;
            padding : 50px 0 ;
            text-align: center;
        }
        .full-preview {
            &.composite .icons-holder i {
                position: absolute;
                top:50%; left: 50%;
                margin: -70px 0 0 -20px;
                zoom:2;
            }
        }
    }

    .lightbox-composite {
        width: $lightbox-composite-condensed;
        &.open {
            width: $lightbox-composite-width;
        }
        @include box-sizing(border-box);
        background: #000;
        position: absolute;
        top: 0; bottom: 0; left: 0;
        z-index: 2;

        .toggle-composite {
            width: 40px;
            height: 43px;
            position: absolute;
            right: -40px;
            top: 0;
            background: rgba(0,0,0,0.8);
            line-height: 43px;
            text-align: center;
            @include opacity(90);
            i {
                vertical-align: middle;
                @include opacity(60);
                @include rotate(-90deg);
                @include transition(all 0.2s ease);
            }
            &:hover {
                cursor: pointer;
            }
        }
        &.open .toggle-composite {
            i {
                @include rotate(90deg);
            }
        }

        .header {
            background: #1e353f;
            h5 {
                display: none;
            }
            span {
                display: block;
                height: 43px;
                text-align: center;
                i {
                    margin-top: 8px;
                    @include opacity(50);
                }
            }
        }
        &.open .header {
            height: 43px;
            background: #223d49;

            h5 {
                color: #fff;
                font-size: 15px;
                line-height: 43px;
                height: 43px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0 20px 0 10px;
                display: block;
                cursor: pointer;
            }
            span {
                float: left;
                width: 50px;
                display: inline-block;
                background: #62b0d0;
                i {
                    @include opacity(100);
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }

        > .content {
            position: absolute;
            left: 0;
            right: 0;
            top: 43px;
            bottom: 0;
            overflow: auto;

            &::-webkit-scrollbar {
                width:16px;
                border-left:1px solid #282828;
                background: #000;
                border-right:1px solid #282828;
            }

            &::-webkit-scrollbar-thumb {
                border-right: 1px solid #282828;
                border-left: 1px solid #282828;
                background: #383838;
                box-shadow: inset 0 0 0 2px #000;
            }
        }
        ul {
            list-style-type: none;
            margin:0; padding: 0;
            margin-top: 10px;
            .item {
                border-bottom: 1px solid #272727;
                height: 40px;
                padding: 20px;
                position: relative;
                &:hover {
                    cursor: pointer;
                    background: rgba(98,176,208,0.2);
                }
                &.selected {
                    padding-left: 17px;
                    border-left: 3px solid #62b0d0;
                    background: rgba(98,176,208,0.4);
                }
                .holder, .icons-holder {
                    float: left;
                    width: 60px;
                    height: 40px;
                    margin-right: 20px;
                    background: #3d3d3d;
                    @include border-radius(2px);
                    border:1px solid #3d3d3d;
                    overflow:hidden;
                    text-align: center;
                    @include box-sizing(border-box);
                    i {
                        margin-top: 7px;
                    }
                }

                .item-headline {
                    height: 40px;
                    overflow: hidden;
                    color: #dedede;
                    text-transform: none;
                    font-size: 14px;
                    @include text-normal();
                    line-height: 21px;
                }
                .open-item {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    display: none;
                    background: #888;
                    padding: 2px 2px 2px 4px;
                }
                &:hover {
                    .open-item {
                        display: block;
                    }
                }
                &.composite {
                    padding-right: 35px;
                    .package-details {
                        position: absolute;
                        top: 50%; right: 5px;
                        margin-top: -7px;
                    }
                }
            }
            .toggle-box > header {
                margin-left: 5px;
                background: #223d49;
                margin-bottom: 0;
                &:before {
                    display: none;
                }
                h6 {
                    background: #223d49;
                    color: #fff;
                }
            }

        }
        &.open ul {
            .toggle-box > header {
                background: #000;
                border:0;
                &:before {
                    display: block;
                    border-bottom-color: #223d49;
                }
                h6 {
                    background: #000;
                    color: #fff;
                    padding-right: 10px;
                }
            }
            .item {
                &.composite {
                    .package-details {
                        display: block;
                    }
                }
            }
        }
    }

    .lightbox-mosaic {
        padding: 200px;
        li {
            width: 220px;
            height: 150px;
            float: left;
            margin: 0 30px 30px 0;
            @include border-radius(3px);
            overflow: hidden;
            background: #333;

        }
    }
    .preview-overlay {
        display: none;
    }

}

// Preview Header
// ---------------------

.preview-header {
    position: relative;
    margin: 1px -20px 20px;
    padding: 5px 20px 12px 20px;
    border-top: 0;
    border-bottom: 0;
    z-index: 2;
    @include box-sizing(border-box);
    @include box-shadow(0px 1px 3px -1px rgba(0,0,0,0.2));
        max-height: 45px;
    @include transition(max-height .3s ease-in);
        &.active {
            @include transition(max-height .3s ease-in);
            max-height: 200px;
            .preview-header__flex-container {
                display:flex;
                padding: 8px 0;
                height: auto;
                opacity: 1;
            }
            .preview-header__timestamp {
                padding-bottom: 8px;
            }
        }
    .preview-header__toggle {
        position: absolute;
        width: 21px;
        height: 21px;
        border: 0;
        padding: 0;
        left: 50%;
        margin-left: -10.5px;
        bottom: -11px;
        background-color: $white;
        z-index: 3;
        line-height: 0;
        @include border-radius(50%);
        @include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.4));
        @include transition(transform 0.5s);
        i { height: 15px; }
        &.active { @include rotate(180deg); }
    }
        .preview-header__timestamp {
            padding: 8px 16px 2px 0;
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            label, time {
                display: inline-block;
                vertical-align: top;
                font-size: 11px;
                color: #ababab;
                padding-right: .4em;
                margin: 0;
                font-weight: 300;
            }
            b {
                color: #333;
                font-size: 11px;
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .preview-header__border-block {
            margin-left: 8px;
            padding-left: 8px;
            border-left: 1px solid #e2e2e2;

        }
        .preview-header__flex-container {
            height: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
            @include transition(opacity 0.3s 0.4s);
            @include box-sizing(border-box);
        }
        .preview-header__icon-block {
            width:25px;
            padding-right: 8px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            [class*=filetype-icon-],
            [class^=filetype-icon-] {
                color: #999;
            }
        }
        .preview-header__main-block,
        .preview-header__side-block {
            box-sizing: border-box;
            padding-left: 12px;
            border-left: 1px solid #e2e2e2;
            //display: flex;
            //flex-direction: column;
            text-align: right;
        }
        .preview-header__main-block {
            flex-grow: 1;
            padding-right: 12px;
            text-align: left;
            overflow: hidden;
        }
        .preview-header__flex-row {
            min-height: 18px;
            margin-bottom: 4px;
            overflow: hidden;
        }
        .keyword {
            font-size: 12px;
            font-weight: 500;
            display: inline-block;
            line-height: 116.6%;
            color: $sd-keyword;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
        }
        .word-count {
            font-size: 10px;
            line-height: 16px;
            min-width: 0;
            margin: 0;
            color: silver;
            @include text-overflow();
            b {
                font-size: 12px;
                line-height: 12px;
                color: #565656;
                padding-right: .2em;
            }
        }
        .data {
            font-size: 12px;
            color: #686868;
        }
        .inline-label {
            display: inline;
            //.text-overflow();
            text-transform: uppercase;
            font-size: 11px;
            margin: 0 6px 0 0;
            color: silver;
            line-height: 116.6%;
        }
        .takekey, company-codes {
            display: inline;
            //.text-overflow();
            font-size: 12px;
            color: #333;
            line-height: 116.6%;
        }

        .ednote {
            display: inline;
            font-size: 12px;
            color: #d25932;
            line-height: 116.6%;
        }

        .stage {
            font-size: 10px;
            @include text-light();
            letter-spacing: 0.035em;
            line-height: 29px;
            color: $gray;
            border: 0;
            background-color: transparent;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            b {
              color: $grayDark;
              @include text-semibold();
            }
          }
}

// Preview image overlay
// ---------------------\

figure.preview-overlay-on {
    position: relative;
    display: inline-block;
    &:hover {
        .preview-overlay {
            opacity: 1;
            transition: opacity 0.2s;
            cursor: pointer;
        }
    }
}
.preview-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    margin-top: 0;
    opacity: 0;
    transition: opacity 0.2s;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: -16px;
        color: rgba(255,255,255,0.9);
        width: 32px;
        height: 32px;
        font-size: 32px;
        line-height: 32px;
    }
}

.featuremedia-confirmation {
    .picture-preview {
        > div {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            background-color: rgba(0,0,0,0.7);
        }
        img {
            max-width: 440px;
            max-height: 440px;
            object-fit: contain;
        }
        .description-text {
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            display: inline-block;
            word-wrap: break-word;
            margin-top: 0.7rem;
        }
    }
}


// .metadata-details-new {
//     color:#777;
//     position:relative;
//     height:auto;
//     margin:0;
//     font-size: 12px;
//     dt {
//         width:100px;
//         float: left;
//         clear: left;
//         font-weight:normal;
//         color:#474747;
//         margin-bottom:5px;
//         line-height:16px;
//         vertical-align:middle;

//     }
//     dt:after {
//         content : ":";
//     }
//     dd {
//         width:245px;
//         max-width: 245px;
//         float:left;
//         margin-left:0px;
//         line-height:16px;
//         margin-bottom:7px;
//         vertical-align:middle;
//         word-break: break-word;
//     }
// }

/* END OF LIGHTBOX PREVIEW */
