// BUTTON GROUPS
// -------------


// Make the div behave like a button
.btn-group {
  position: relative;
  @include clearfix(); // clears the floated buttons
}

// Space out series of button groups
.btn-group + .btn-group {
  margin-left: 5px;
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  margin-top: $baseLineHeight / 2;
  margin-bottom: $baseLineHeight / 2;
  .btn-group {
    display: inline-block;
  }
}

// Float them, remove border radius, then re-add to first and last elements
.btn-group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  @include border-radius(0);
}
// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group .btn:first-child {
  margin-left: 0;
  @include border-radius(3px 0 0 3px);
}
.btn-group .btn:last-child,
.btn-group .dropdown__toggle {
  @include border-radius(0 3px 3px 0);
}

// Reset corners for large buttons
.btn-group .btn.large:first-child {
  margin-left: 0;
  @include border-radius(6px 0 0 6px);
}
.btn-group .btn.large:last-child,
.btn-group .large.dropdown__toggle {
     @include border-radius(0 6px 6px 0);
}

// On hover/focus/active, bring the proper btn to front
.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active,
.btn-group .btn.active {
  z-index: 2;
}

// On active and open, don't show outline
.btn-group .dropdown__toggle:active,
.btn-group.open .dropdown__toggle {
  outline: 0;
}

// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn-group .dropdown__toggle {
  padding-left: 8px;
  padding-right: 8px;
 // $shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  //.box-shadow($shadow);
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.btn-group .btn--mini.dropdown__toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-group .btn--small.dropdown__toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}
.btn-group .btn--large.dropdown__toggle {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-group.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: $zindexDropdown;

  // Reposition menu on open and round all corners
  .dropdown__menu {
    display: block;
    margin-top: 1px;
    @include border-radius(5px);
  }
}


// Account for other colors
.btn--primary,
.btn--danger,
.btn--success,
.btn--inverse {
  .caret {
    border-top-color: $white;
    border-bottom-color: $white;
    @include opacity(75);
  }
}


// Custom toolbar buttons
.subnav__button-stack--custom-buttons {
    .btn {
        &--custom {
            color: $white;
            white-space: nowrap;
            background-color: $gray;
            &:hover {
                text-decoration: none;
                color: $white;
                background-color: $btn-custom-hover;
            }
        }
        &--publish {
            background-color: $btn-publish;
            &:hover {
                background-color: $btn-publish-hover;
            }
        }
        &--publish-plus {
            background-color: $btn-publish-plus;
            &:hover {
                background-color: $btn-publish-plus-hover;
            }
        }
    }
}
