.custom-dropdown__menu {
    max-height: 400px;
    background: var(--color-dropdown-menu-Bg);
    box-shadow: var(--sd-shadow__dropdown);
    border-radius: var(--b-radius--small);
    text-align: start;
}