// LABELS
// ------

// Label lite
.label--lite {
    font-size: 10px;
    color: #8D8A8A;
    text-transform: uppercase;
}

// Tags
.inline-tag-list {
    @include clearfix();
    padding: 10px 0 0 0;
    li {
        float: left;
        .inline-tag {
            line-height: 26px;
            @include border-radius(2px);
            padding: 0px 0px 0px 8px;
            background: $label-light;
            color: $grayDark;
            margin: 0 5px 5px 0;
            float: left;
            &.tag-prime {
                background: $sd-blue;
                color: $white;
            }
            &.tag-darker {
                background: $label-medium;
            }
            span {
                font-weight: 500;
                margin-right: 5px;
                text-transform: uppercase;
                @include opacity(50);
            }
            button {
                background: none;
                border: 0;
                float: right;
                height: 26px;
                margin-left: 5px; 
                padding-left: 2px;
                @include border-radius(0 3px 3px 0);
                i {
                    @include opacity(30);
                    margin-top: -4px;
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                    i {
                        @include opacity(100);
                    }
                }
            }
        }
    }
}


/*----------------------------------------
  #Urgency label
----------------------------------------*/

$urgency-label-color-0 : #cccccc;
$urgency-label-color-1 : #01405b;
$urgency-label-color-2 : #005e84;
$urgency-label-color-3 : #3684a4;
$urgency-label-color-4 : #64a4bf;
$urgency-label-color-5 : #a1c6d8;

.urgency-label {
    width: 16px;
    height: 16px;
    @include border-radius(50%);
    display: inline-block;
    text-align: center;
    color:#fff;
    font-size: 10px;
    background: $urgency-label-color-0;
    @include box-sizing(border-box);
    line-height: 17px;
    vertical-align: top;
    font-style: normal;
}
.urgency-label--0 {
    background: $urgency-label-color-0;
}
.urgency-label--1 {
    background: $urgency-label-color-1;
}
.urgency-label--2 {
    background: $urgency-label-color-2;
}
.urgency-label--3 {
    background: $urgency-label-color-3;
}
.urgency-label--4 {
    background: $urgency-label-color-4;
}
.urgency-label--5 {
    background: $urgency-label-color-5;
}


/*----------------------------------------
  #Priority label
----------------------------------------*/

$priority-label-color-0 : #cccccc;
$priority-label-color-1 : #b82f00;
$priority-label-color-2 : #de6237;
$priority-label-color-3 : #e49c56;
$priority-label-color-4 : #edc175;
$priority-label-color-5 : #b6c28b;
$priority-label-color-6 : #c0c9a1;

.priority-label {
    width: 16px;
    height: 16px;
    @include border-radius(2px);
    display: inline-block;
    text-align: center;
    color:#fff;
    font-size: 10px;
    background: $priority-label-color-0;
    @include box-sizing(border-box);
    line-height: 17px;
    vertical-align: top;
    font-style: normal;
}
.priority-label--0 {
    background: $priority-label-color-0;
}
.priority-label--1 {
    background: $priority-label-color-1;
}
.priority-label--2 {
    background: $priority-label-color-2;
}
.priority-label--3 {
    background: $priority-label-color-3;
}
.priority-label--4 {
    background: $priority-label-color-4;
}
.priority-label--5 {
    background: $priority-label-color-5;
}
.priority-label--6 {
    background: $priority-label-color-6;
}

/*----------------------------------------
  #State labels
----------------------------------------*/

@mixin state-color($color:$state-color-default) {
    border-color:  $color;
    color: $color;
}
.state-label {
    display: inline-block;
    line-height: 14px;
    font-size: 9px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    @include border-radius(2px);
    padding: 0 5px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid;
    @include state-color();
    @include text-semibold();

    &.state_embargo {
        @include state-color($state-color-embargo !important);
    }
    &.state-draft {
        @include state-color($state-color-default);
    }
    &.state-ingested, 
    &.state-routed, 
    &.state-fetched {
        @include state-color($state-color-blue);
    }
    &.state-submitted, 
    &.state-in_progress, 
    &.state-subbed {
        @include state-color($state-color-yellow);
    }
    &.state-published {
        @include state-color($state-color-green);
    }
    &.state-spiked, 
    &.state-killed {
        @include state-color($state-color-red);
    }
    &.state-killed {
        @include state-color($state-color-red);
        background-color: lighten($state-color-red, 58%);
    }
    &.state-on_hold, 
    &.state-scheduled {
        @include state-color($state-color-orange);
    }
    &.state-corrected {
        @include state-color($state-color-navy);
    }
    &.not-for-publication {
        @include state-color($state-color-red);    
    }
    &.for-publication {
        @include state-color($state-color-green);
    }
    &.legal {
        @include state-color($state-color-red);
    }
    &.missing-link {
        @include state-color($state-color-red);
    }
    &.takes {
        @include state-color($state-color-magenta);
        div:hover {
            background-color: $state-color-magenta;
        }
    }
    &.takes:hover {
        background-color: $state-color-magenta;
        color: $white;
    }
    &.sms,&.updated {
        @include state-color($state-color-navy);
    }
    &.updated:hover {
        background-color: $state-color-navy;
        color: $white;
    }
}

.profile-label {
    @extend .state-label;
    background-color: $state-color-default;
    color: $white;
}

.language-label {
    @extend .state-label;
}

.info-block {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    color: #999;
}