// // MODALS
// // ------

// Modal fixes
.modal__wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.modal--nested-fix {
    .modal__content {
        > div, > div > div, > div > div > div, > div > div > div > div {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
        .modal__header,
        .modal__footer {
            display: block;
        }
    }
}
// fix for modal call from another modal
.modal--z-index-fix {
    z-index: 1051 !important;
}

// SPLIT POPUP (left sidebar)
// > used for upload avatar task
$split-modal-sidebar : 200px;
.split-popup {
    //min-height: 270px;
    height: 400px;
    max-height: 400px;
    .sidebar {
        position: absolute;
        top:0; left: 0; bottom: 0;
        width: $split-modal-sidebar;
        border-right: 1px solid #ddd;
    }
    .main {
        position: absolute;
        top:0; right: 0; bottom: 0;
        left: $split-modal-sidebar;
    }
}

// Scheme create/edit modal
.add-scheme-modal {
    .modal__dialog {
        max-width: 840px !important;
        width: 100%;
    }
    .modal__body {
        > * {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
        max-width: 840px !important;
    }
    .modal__body-header {
        flex-shrink: 0;
    }
    .modal__body-content {
        padding: 0 !important;
        //min-height: 300px !important;
    }
    .nav-tabs {
        background: $white;
    }
    .field {
        clear: both;
        float: none;
        label {
            display: inline-block;
            margin-right: 6px;
        }
    }
    .summary {
        margin-top: 20px;
        > label {
            margin-bottom: 10px;
        }
        .list-item {
            display: block;
        }
        .title {
            font-size: 11px;
            text-transform: none;
            color: $sd-text;
            min-width: 0;
            @include text-bold();
        }
        .field {
            font-size: 11px;
        }
    }
    .action-tab {
        .field { margin-bottom: 10px; }
        label { min-width: 90px; }
    }
    .btn-group {
        .btn { margin-right: 5px; }
    }
    .add {
        position: absolute;
        padding: 0;
        margin-left: 10px;
        height: 22px;
        width: 22px;
        @include border-radius(50%);
        line-height: 20px;
        i { margin: 0; }
    }

    .term-editor {
        width: 400px;
        .main-list {
            overflow: visible;
        }
    }
}

// Split view for modals
// > used in routing schemes
.split-view {
    display: flex;

    .sidebar, .main {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .sidebar {
        width: 250px;
        max-width: 250px;
        flex: 0 0 auto;
        padding: 20px;
        & + .main {
            border-left: 1px solid #e0e0e0;
        }
    }
    .main {
        flex: 1 1 auto;
    }
    .main + .main {
        //left: 50%; right: 0;
        border-left: 1px solid #e0e0e0;
    }
    .content {
        padding: 2rem;
    }
}

// article fullscreen preview modal
.modal--preview-article {
    .scroll-shadow {
        position: absolute;
        top: 47px;
        width: 100vw;
    }
    .modal__header {
        padding: 0.9rem 1.5rem !important;
        .btn-group {
            button {
                cursor: pointer;
                background: 0 0;
                border: 0;
                margin-top: 2px;
                -webkit-appearance: none;
                [class^="icon-"], [class*=" icon-"] {
                    width: 24px;
                    height: 24px;
                    font-size: 24px;
                    line-height: 24px;
                    color: #bfbfbf;
                    &:hover {
                        color: $gray;
                    }
                }
            }
            label {
                line-height: 18px;
                display: inline-block;
            }
        }
        .btn {
            margin-right: 12px;
        }
        &--no-border {
            border: 0 !important;
        }
    }
    .preview-content {
        width: 100%;
        max-width: 740px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .metadata {
            margin: 30px 0 40px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            > div {
                min-height: 24px;
                overflow: hidden;
                margin-bottom: 10px;
            }
            .preview-label {
                min-width: 100px;
                vertical-align: top;
            }
            .preview-data {
                span {
                    font-size: 12px;
                    color: #000;
                    background-color: #f5f5f5;
                    margin-right: 3px;
                    margin-bottom: 3px;
                    padding: 3px 6px;
                    border-radius: 2px;
                    display: inline-block;
                }
            }
        }
        .headline {
            min-height: 33px;
            font-size: 28px;
            line-height: 120%;
            font-weight: 500;
            padding: 0;
            margin: 0 0 30px;
        }
        .byline {
            font-size: 16px;
            font-weight: 500;
            margin: 0 0 30px;
        }
        .association {
            margin-bottom: 40px;
            p {
                font-style: italic;
            }
        }
        .body {
            margin-bottom: 30px;
        }
        p {
            font-size: 16px;
            line-height: 150%;
            font-weight: 300;
            margin: 0 0 16px;
        }
        figure {
            margin-bottom: 20px;
        }
        figcaption {
            color: $grayLight;
            padding: 4px 0;
        }
        img {
            max-width: 100%;
        }
        &.hide-images {
            .association {
                p {
                    padding: 10px;
                    border: 1px solid black;
                }
                i {
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
            figure {
                display: none !important;
            }
        }
    }
}

// about modal
.modal--about {
    h4 {
        font-size: 16px;
    }
    .date-released {
        color: #767676;
        margin-bottom: 24px;
    }
}

.modal__header--about {
    background-color: $superdesk-green;
    padding: 15px 15px 20px 20px !important;
    i {
        color: white;
    }
    .modal__header-sd-logo {
        background: url(~images/superdesk-logo_white.svg) no-repeat 0 0;
        width: 154px;
        height: 48px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        float: left;
    }
}

// Custom animation
.animate-zoom__from-bottom-left {
    animation: appearFromBottomLeft 0.4s ease-out 1;
}
//
.animate-slide-in__from-right {
    animation: appearFromRight2 0.6s ease-out 0s 1;
}

// Styling for keyboard shortcut map (modal)
// ----------------------------------------------------------------------------------------

.keyboard-map {
    h4 {
        font-size: 16px;
        font-weight: 400;
        padding: 0 3px 8px 3px;
        border-bottom: 2px solid rgba(0,0,0,.15);
    }
    ul {
        li {
            display: flex;
            padding: 6px 3px;
            border-style: solid;
            border-color: rgba(0,0,0,.1);
            border-width: 0 0 1px 0;
            &:hover {
                background-color: #f0f0f0;
            }
            .keyboard-map__shortcut {
                font-weight: 500;
                padding: 2px 7px;
                background-color: rgba(0,0,0,.08);
            }
            .keyboard-map__description {
                flex-grow: 1;
            }
        }
        margin-bottom: 20px;
    }
}
