// NAVIGATIONS
// -----------



// BASE CLASS
// ----------

.nav {
    margin-left: 0;
    list-style: none;
}

// Make links block level
.nav > li > a,
.nav > li > button {
    display: block;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: $grayLighter;
}

// NAV LIST
// --------

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}
.nav-list > li > button {
    border: 0;
    background: 0;
}
.nav-list > li > a,
.nav-list > li > button {
    margin-left:  -15px;
    margin-right: -15px;
}

.nav-list > li > a, .nav-list > li > button {
    padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > button,
.nav-list > .active > a:hover {
    color: $white;
    background-color: $linkColor;
}
.nav-list [class^="icon-"] {
    margin-right: 2px;
}
// Dividers (basically an hr) within the dropdown
.nav-list .divider {
    @include nav-divider();
}



// TABS AND PILLS
// -------------

// Common styles
.nav-tabs,
.nav-pills {
    @include clearfix();
}
.nav-tabs > li,
.nav-pills > li {
    float: left;
}
.nav-tabs > li > a,
.nav-tabs > li > button,
.nav-pills > li > a,
.nav-pills > li > button {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px; // keeps the overall height an even number
}

// TABS
// ----


// Make the list-items overlay the bottom border
.nav-tabs {
    @include box-sizing(border-box);
    height: $nav-height;
    > li {
        margin-bottom: -1px;
    }
}

// Actual tabs (as links)
.nav-tabs > li > a,
.nav-tabs > li > button {
    padding: 8px 0px;
    margin: 0 10px;
    line-height: 30px;
    font-size: 14px;
    height: $nav-height;
    background: none;
    color: #7c7c7c;
    border:0;
    border-bottom: 3px solid transparent;
    &:hover {
        border-bottom-color: #d8d8d8;
        background: none;
        text-decoration: none;
    }
}
.nav-tabs > li > a {
    @include box-sizing(border-box);
}
// Active state, and it's :hover to override normal :hover
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > button,
.nav-tabs > .active > button:hover {
    background: none;
    border-bottom-color: $sd-blue;
    cursor: default;
    color: $grayDark;
}

.nav-tabs > li:first-child > a,
.nav-tabs > li:first-child > button {
    //margin-left: 0;
}

// PILLS
// -----

// Links rendered as pills
.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    @include border-radius(5px);
}

// Active state
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: $white;
    background-color: $linkColor;
}



// STACKED NAV
// -----------

// Stacked tabs and pills
.nav-stacked > li {
    float: none;
}
.nav-stacked > li > a {
    margin-right: 0; // no need for the gap between nav items
}

// Tabs
.nav-tabs.nav-stacked {
    border-bottom: 0;
    height: auto;
}
.nav-tabs.nav-stacked > li {
    > a {
        border: 1px solid #ddd;
        @include border-radius(0);
        margin: 0;
    }
    &.active a {
        background: #fff;
    }
}
.nav-tabs.nav-stacked > li:first-child > a {
    @include border-radius(4px 4px 0 0);
}
.nav-tabs.nav-stacked > li:last-child > a {
    @include border-radius(0 0 4px 4px);
}
.nav-tabs.nav-stacked > li > a:hover {
    border-color: #ddd;
    z-index: 2;
}

// Pills
.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px; // decrease margin to match sizing of stacked tabs
}



// DROPDOWNS
// ---------

// Position the menu
.nav-tabs .dropdown__menu,
.nav-pills .dropdown__menu {
    margin-top: 1px;
    border-width: 1px;
}
.nav-pills .dropdown__menu {
    @include border-radius(4px);
}

// Default dropdown links
// -------------------------
// Make carets use linkColor to start
.nav-tabs .dropdown__toggle .dropdown__caret,
.nav-pills .dropdown__toggle .dropdown__caret {
    border-top-color: $linkColor;
    border-bottom-color: $linkColor;
    margin-top: 6px;
}
.nav-tabs .dropdown__toggle:hover .dropdown__caret,
.nav-pills .dropdown__toggle:hover .dropdown__caret {
    border-top-color: $linkColorHover;
    border-bottom-color: $linkColorHover;
}

// Active dropdown links
// -------------------------
.nav-tabs .active .dropdown__toggle .dropdown__caret,
.nav-pills .active .dropdown__toggle .dropdown__caret {
    border-top-color: $grayDark;
    border-bottom-color: $grayDark;
}

// Active:hover dropdown links
// -------------------------
.nav > .dropdown.active > a:hover {
    color: $black;
    cursor: pointer;
}

// Open dropdowns
// -------------------------
.nav-tabs .open .dropdown__toggle,
.nav-pills .open .dropdown__toggle,
.nav > .open.active > a:hover {
    color: $white;
    background-color: $grayLight;
    border-color: $grayLight;
}
.nav .open .dropdown__caret,
.nav .open.active .dropdown__caret,
.nav .open a:hover .dropdown__caret {
    border-top-color: $white;
    border-bottom-color: $white;
    @include opacity(100);
}

// Dropdowns in stacked tabs
.tabs-stacked .open > a:hover {
    border-color: $grayLight;
}



// TABBABLE
// --------


// COMMON STYLES
// -------------

// Clear any floats
.tabbable {
    @include clearfix();
}
.tab-content {
    display: table; // prevent content from running below tabs
    width: 100%;
}

// Remove border on bottom, left, right
.tabs-below .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs {
    border-bottom: 0;
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}
.tab-content > .active,
.pill-content > .active {
    display: block;
}


// LEFT & RIGHT
// ------------

// Common styles
.tabs-left .nav-tabs > li{
    float: none;
}
.tabs-left .nav-tabs > li > a{
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

// Tabs on the left
.tabs-left .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}
.tabs-left .nav-tabs > li > a {
    margin-right: -1px;
    @include border-radius(4px 0 0 4px);
}
.tabs-left .nav-tabs > li > a:hover {
    border-color: $grayLighter #ddd $grayLighter $grayLighter;
}
.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: $white;
}



// SUBNAV
// ------------
.subnav {
    position: absolute;
    display: flex;
    top: $nav-height;
    left: 0;
    right: 0;
    height:$subnav-height;
    @include border-box();
    z-index: 1001;
    background: rgba(245,245,245,0.90);
    border-bottom: 0px;
    @include box-shadow-both(0 1px 3px rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.1));
    @include transition( all 0.3s ease);
    &--padded {
        padding: 10px 20px;
    }
    + .subnav {
        z-index: 999;
    }
}
.subnav__page-title,
.page-nav-title {
  padding: 10px 20px;
  color: #444;
  font-size: 18px;
  line-height: 28px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include text-normal();
  &--text-light {
      @include text-light();
  }
}
.subnav__desk-stage {
    flex-grow: 1;
}
.subnav--white-background {
    background-color: $white;
}

.subnav.level2 {
    position: absolute;
    background: #f5f5f5;
    top:0;
    left: 0 !important;
    height: $subnav-height;
    z-index: 2;
    @include box-shadow(none);
}
.monitoring{
    .subnav {
        .page-nav-title {
            padding-left: 20px;
        }
    }
}

.button-stack {
  height:$subnav-height !important;
  position: relative;
  margin: 0 20px 0 0;
  float: left;
    > .btn {
    margin-left: 20px;
    margin-top: 10px;
  }
  &.right-stack {
    float: right;
    margin: 0 0 0 5px;
    .navbtn {
      border-left: 1px solid rgba(0,0,0,0.1) !important;
      border-right: 0 !important;
      .dropdown__toggle {
          width: 100%;
      }
    }
    > .btn {
      margin-right: 12px;
      margin-left: 0;
    }
  }
}

.subnav__stretch-bar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 16px;
}
.subnav__button-stack {
  position: relative;
  max-width: 100%;
  &--square-buttons {
    height:48px;
    margin: 0 0 0 16px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 100%;
  }
  &--custom-buttons {
    margin: 0 auto;
    padding: 10px 12px;
    border: 1px solid rgba(0,0,0,0.1);
    border-width: 0 1px;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    .btn {
      flex-grow: 0;
      margin:0 4px;
    }
    .btn__text--short {
      display: none;
    }
    .btn__text {
      display: inline;
    }
  }
}

.subnav__button-stack--custom-buttons {
  .btn__text--short {
    display: none;
  }
  .btn__text {
    display: inline;
  }
}
.compact {
  .subnav__button-stack--custom-buttons {
    .btn__text--short {
      display: inline;
    }
    .btn__text {
      display: none;
    }
  }
}

.subnav__button-stack--default {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 10px 0;
  .btn {
    flex-grow: 0;
    margin:0 4px;
  }
  .btn--close {
    .btn__text--alt-icon {
      display: none;
    }
    .btn__text {
      display: inline;
    }
  }
}

.subnav__button-stack--default {
  &.compact {
    .btn--close {
      padding: 0 3px 0 6px;
      .btn__text--alt-icon {
        display: inline;
        opacity: 0.7;
      }
      .btn__text {
        display: none;
      }
    }
  }
}

.shortcut {
    font-style: italic;
    opacity: 0.5;
}

.navbtn--text-only {
    padding: 0 20px;
    width: auto;
    font-size: 15px;
    line-height: 48px;
    &:hover {
        background: hsla(0,0%,100%,.8);
    }
}