// Typeahead input
// ---------------------------------------------
.sd-typeahead {
    position: relative;
    list-style-type: none;
    .item-list {
        z-index: 9999;
        min-width: 190px;
        width: 100%;
        height:auto;
        max-height: 170px;
        overflow-y: auto;
        overflow-x: hidden;
        background: #fff;
        border: 1px #bbb;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        top:28px;
        z-index: 61;
        
        li {
            width: 100%;
            font-size: 1.3rem;
            margin-bottom: 0.4rem;
            &:hover {
                cursor: pointer;
                background-color: rgba(94, 169, 200, 0.1);
            }
            &.active button {
                background-color: rgba(94, 169, 200, 0.4) !important;
            }
            .country_state_info {
                font-weight: 500;
            }
            em {
                font-size: 11px;
            }
            &.typeahead-item--padded {
                padding: 0.4rem 1.2rem;;
            }
        }

        button.greyout {
            opacity: .5;
        }
    }
}
