// Typeahead input
// ---------------------------------------------
.sd-typeahead {
    position: relative;
    list-style-type: none;
    .item-list {
        z-index: 9999;
        min-width: 190px;
        width: 100%;
        height:auto;
        max-height: 170px;
        overflow-y: auto;
        overflow-x: hidden;
        @include box-sizing(border-box);
        background: #fff;
        border: 1px #bbb;
        @include box-shadow(0 0 3px 0 #ccc);
        position: absolute;
        top:24px;
        z-index: 1;
        font-size: 12px;
        li {
            @include box-sizing(border-box);
            width: 100%;
            &:hover {
                cursor: pointer;
            }
            .country_state_info {
                padding-left:  10px;
                font-size: 12px;
                font-weight: bold;
            }
            em {
                font-size: 11px;
            }
        }

        button.greyout {
            opacity: .5;
        }
    }
}
