// Styling for the superdesk specific elements
// ----------------------------------------------------------------------------------------


// Webkit scroll
// --------------------------------------------------

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    margin: -1px 0;
    position: fixed;
    right: 10px;
}
::-webkit-scrollbar:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}
::-webkit-scrollbar-thumb:hover {
    background: #777;
    cursor: pointer;
}


/*
    ----------------------------------------------------------------------
    INPUT ELEMENTS
    ----------------------------------------------------------------------
*/



// Multiple select
// ---------------------------------------------

.sdselect {
    width: 210px;
    position: relative;
    &.open {
        @include box-shadow(0px 0px 5px 0px #d0d0d0 !important);
        .sdselect-btn {
            border-bottom: 0 !important;
        }
    }
    &:hover {
        .sdselect-btn {
            cursor: pointer;
        }
    }
    .sdselect-btn {
        display: inline-block;
        @include box-sizing(border-box);
        width: 100%;
        @include border-radius(2px);
        border: 1px solid #d0d0d0 ;
        padding: 6px;
        height: 27px;
        outline:none !important;
        @include box-shadow(inset 0 0 0 #000 !important);
        @include box-shadow(none !important);
        text-decoration: none;
        color: #333;
        line-height: 15px;
        font-size: 12px;
        .caret {
            margin: 5px 3px 0 0;
        }
    }

    .sdselect-menu {
        position: absolute;
        background: #fff;
        z-index: 10;
        top: 26px;
        left: 0;
        right: 0;
        height: auto;
        border: 1px solid #d0d0d0;
        @include border-radius(0 0 2px 2px);

        .sdselect-filter {
            padding: 2px 7px;
            border-bottom: 1px solid #d0d0d0;

            input[type="text"] {
                height: 21px !important;
                padding: 3px !important;
                border: 0 !important;
                min-height: 0;
                @include box-shadow(0 0 0 0 #000);
                &:focus {
                    @include box-shadow(0 0 0 0 #000 !important);
                }
            }
        }
        .sdselect-all {
            padding: 4px 9px;
            border-bottom: 1px solid #d0d0d0;
            a {
                text-decoration: none;
                font-size: 9px;
                text-transform: uppercase;
                color: #989898;
                margin-right: 10px;
                &:hover {
                    cursor: pointer;
                    color: #666;
                }
            }
        }
        .list-holder {
            height: auto;
            max-height: 150px;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 7px 0;
            &::-webkit-scrollbar {
                border-left: 5px solid #fff;
                border-right: 5px solid #fff;
                width: 13px;
                background: #fff;
                &:hover {
                    background: #e8e8e8;
                }
            }
            &::-webkit-scrollbar-thumb {
                border-left: 4px solid #fff;
                border-right: 4px solid #fff;
                background: #bbb;
                &:hover {
                    background: #787878;
                }
            }
        }

        ul {
            li {
                a {
                    display: block;
                    padding: 3px 7px;
                    font-size: 12px;
                    color: #333;
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        color: #fff;
                        background: #0083c4;
                    }
                    i {
                        margin-right: 5px;
                        vertical-align: middle;
                        margin-top: -4px;
                        @include opacity(50);
                    }
                }


            }
        }

    }
}


// Searchbar input
// --------------------------------------------------

.searchbar {
    @include border-radius(2px !important);
    background:url(~images/search-icon.png) no-repeat 9px 4px #ffffff !important;
    padding:0 0 0 35px !important;
    &.searchbar-large {
        background-position: 9px 7px !important;
        height:32px !important;
        font-size: 15px;
        line-height: 26px;
    }
}

.flat-searchbar {
    flex-grow: 0;
    &.monitoring-flat-searchbar {
        .search-handler {

        }
    }
    .search-handler {
        min-width: 48px;
        height: $nav-height;
        padding: 10px 10px 10px 14px;
        @include box-sizing(border-box);
        background: none;
        display: flex;
        border-right: 1px solid #e0e0e0;
        white-space: nowrap;
        @include transition(all 0.3s ease);
        input {
            height: 28px;
            line-height: 100%;
            font-size: 14px;
            border: 0 !important;
            width: 0;
            padding: 0;
            background-color: rgba(255,255,255,0);
            @include transition(all 0.3s ease);
            &:focus {
                @include box-shadow(none !important);
            }
        }
        .trigger-icon {
            @include user-select(none);
            float: left;
            width: 28px;
            height: 28px;
            display: inline-block;
            @include opacity(50);
            &:hover {
                cursor: pointer;
                @include opacity(80);
            }
            i {
                padding: 7px 3px 4px 6px;
            }
        }
    }
    .separator-handler {
        margin: 9px 0 0 5px;
        border-right: 2px dotted #bcbcbc;
        height: 30px;
        float: left;
    }

    .search-close {
        border: 0;
        background: none;
        display: none;
        @include opacity(0);
        &.visible {
            @include opacity(100);
        }
    }

    &.extended {
        flex-grow: 1;
        .search-handler {
            input {
                width: auto;
                padding: 0 6px;
            }
            background: #fff;
            border-right: 1px solid #e0e0e0;
        }
        .separator-handler {
            margin-left: 14px;
        }
        .search-close {
            display: inline-block;
        }
    }
}

.ui-responsive-small .flat-searchbar.extended {
    position: absolute;
    z-index: 2;
}

.monitoring-backlink{
    button {
        margin-top: 1px;
        padding: 10px 10px 10px 14px;
    }
    i.backlink {

    }
    .separator-handler{
        margin-top: 0;
        margin-right: 10px;
    }
}

.filter-type {
    white-space: nowrap;
    &__item {
        display: inline-block;
        vertical-align: middle;
        margin: 3px 2px;
        cursor: pointer;
        i {
            height: auto;
            color: $grayLight;
            padding: 2px 8px 1px 8px;
            background: rgba(255,255,255,.5);
            border: 1px solid rgba(215,215,215,.7);
            @include border-radius(2px);
            @include box-sizing(border-box);
        }
        a {
            height: 21px;
            font-size: 11px;
            font-family: $baseFontFamily;
            line-height: 21px;
            text-decoration: none;
            padding: 4px 10px;
            border-radius: 2px;
            border: 1px solid $grayLight;
            box-sizing: border-box;
            text-transform: uppercase;
            background: #fff !important;
            color: $grayDark;
            opacity: 0.7;
            &:hover {
                color: $black;
                opacity: 1;
            }
            &.filter-type__link--blue {
                border-color: $sd-blue;
                color: $sd-blue;
            }
            &.filter-type__link--dark-blue {
                border-color: $sd-keyword;
                color: $sd-keyword;
            }
        }
        &:hover {
            i {
                background: rgba(255,255,255,.8);
                border: 1px solid rgba(170,170,170,1);
                color: $gray;
            }
        }

        &--active {
            i {
                opacity: 1;
                color: $grayLighter;
                background: #505050;
                border-color: #505050;
                @include box-shadow(inset 0 1px 0px darken(#505050, 10%) !important);
            }

            a {
                opacity: 1;
                background: #505050 !important;
                border-color: #373737 #505050 #505050 !important;
                color: #fff !important;
                @include box-shadow(inset 0 2px 0px darken(#505050, 10%) !important);
            }

            &:hover {
                i {
                    border-color: rgba(80,80,80,.8);
                    background-color: rgba(80,80,80,.8);
                    color: $grayLighter;
                }
                a {
                    opacity: 0.8;
                }
            }
        }
    }
}
.filter-type--padded {
    padding: 10px 0 10px 20px;
}

.result-type {
    margin-left: 10px
}

.dropdown__menu {
    .filter-type {
        padding: 0 10px;
    }
    // compare-versions dropdown
    // -------------------------------------------------

    &--compare-versions {
        max-height: 400px;
        min-width: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        li {
            margin-bottom: 2px;
            line-height: 14px !important;
            .dropdown.open li .dropdown .dropdown__toggle:hover {
                display: none;
            }
            button {
                width: 300px;
                padding-right: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                border-radius: 0;
                line-height: 14px !important;
                box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.15);
                i {
                    position: absolute;
                    right: -5px;
                    top: 9px;
                }
                &.disabled, &.disabled:hover {
                    background: #f0f0f0;
                    i {
                        @include opacity(20);
                    }
                }
                .headline {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 11px;
                    font-weight: 500;
                    width: 240px;
                    display: inline-block;
                }
                .desk-details {
                    display: flex;
                    font-size: 10px;
                    margin: 4px 0;
                    span:first-of-type {
                        flex-grow: 1;
                    }
                }
                em {
                    font-size: 10px;
                    font-weight: 500;
                    color: #888;
                    float: left;
                    padding-right: 10px;
                }
            }
            .msg {
                padding: 0 20px;
            }
        }
    }
    .fieldset {
        button {
            text-align: center;
            width: auto;
            min-width: 50px;
            clear: none;
            margin-right: 10px;
            float: right;
        }
    }
}

.online-users {
    float: left;
    height: $nav-height;
    padding-left: 15px;
    margin-left: 5px;
    > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 16px 0;
        line-height: 13px;
    }
}


// Datepicker - wrapper for angular ui datepicker
// ---------------------------------------------
.datepicker-input, .timepicker-input {
    position: relative;
    width: auto;
    min-width: 130px;
    input {
        width: 100%;
        padding-right: 30px;
        &.ng-invalid {
            border-color: #b61818 !important;
        }
        &.line-input + .btn {
            background-color: transparent;
            top: 0px;
        }
    }
    .btn {
        background: #fff;
        border: 0;
        position: absolute;
        right: 2px; top: 2px;
        padding: 0 5px;
        height: 24px;
        i {
            margin-right: 0;
        }
        &:hover, &:active, &:focus {
            @include box-shadow(none);
        }
    }



}

.datepicker-input--dark, .timepicker-input--dark {
    input {
        background: #4f4f4f;
        font-size: 13px;
        line-height: 18px;
        color: $white;
        border: 2px solid #4f4f4f !important;
    }
    .btn {
        background: #4f4f4f;
        top: 50%;
        margin-top: -12px;
    }
    .icon-calendar, .icon-time {
        color: $white;
        margin-top: 0;
    }
    .name {
        background-color: #4f4f4f;
        height: 24px;
        font-size: 12px;
        color: $white;
    }

    ul > li {
        width: 90%;
    }
}

.datepicker-wrapper {
    position: absolute;
    top: 0; left: 0;
    z-index: 2000;
    background: #fff;
    padding: 10px;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.45));
    @include border-radius(3px);
    width: 260px;
    @include border-box();

    .btn {
        &:hover {
            @include box-shadow(none);
        }
        height: 28px;
    }
    .btn--mini {
        padding: 4px 6px;
        font-size: 11px;
        line-height: 11px!important;
        height: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border: 0;
        td, th {
            padding: 1px;
            border: 0;
        }
    }
    .datepicker-additional {
        margin-bottom: 5px;
        table {
            width: 100%;
        }
        .btn {
            width: 100%;
        }
    }
    .datepicker-core {
        table {
            width: 100%;

            thead {
                tr {
                    th {
                        .btn {
                            background: none;
                            padding: 0;
                        }
                    }
                    &:last-child {
                        th {
                            small {
                                @include text-semibold();
                            }
                        }
                    }
                    &:first-child {
                        th {
                            .btn strong {
                                font-weight: normal;
                                font-size: 14px;
                            }
                            .btn i {
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                background-repeat: no-repeat;
                            }
                            &:first-child .btn i {
                                margin-left: 3px;
                                background-position: -189px -165px;
                            }
                            &:last-child .btn i {
                                margin-right: 3px;
                                background-position: -213px -165px;
                            }
                        }
                    }
                }

            }
            tbody {
                tr:first-child td {
                    padding-top: 5px;
                }
                td {
                    padding: 0 2px;
                    .btn {
                        width: 100% !important;
                        min-width: 28px !important;
                        padding: 0;
                        background: none;
                        color: #333;
                        @include box-shadow(none);
                        .text-muted {
                            color: #999;
                        }
                        &:hover, &.active {
                            color: #333;
                            @include box-shadow(inset 0 0 1px 0 $sd-blue);
                            background: $sd-hover;
                        }

                        &.btn--primary, &.btn--primary.active {
                            //selected date
                            color: #fff;
                            background: $sd-blue;
                            .text-muted {
                                color: #fff;
                            }
                        }


                    }
                }
            }
        }
    }
}

.timepicker-popup {
    position: absolute;
    top: 0; left: 0;
    z-index: 2000;
    background: #fff;
    padding: 10px;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.45));
    @include border-radius(3px);
    width: 200px;
    height: 310px;
    @include border-box();
    .timepicker-additional {
        margin-bottom: 5px;
        table {
            width: 100%;
            border-collapse: collapse;
            border: 0;
            td, th {
                padding: 1px;
            }
        }
        .btn {
            width: 100%;
            letter-spacing: 0;
        }
        .btn--mini {
            padding: 4px 6px;
            font-size: 11px;
            line-height: 11px!important;
            height: 20px;
        }
    }
    .timepicker-core {
        .select-area {
            margin-top: 15px;
            border-top: 1px solid #ddd;
            .header {
                margin-top: -10px;
                float: left;
                background: $white;
                text-transform: uppercase;
                color: #adadad;
                font-size: 11px;
                padding-right: 10px;
            }
            ul {
                padding-top: 15px;
                @include clearfix();
                > li {
                    float: left;
                    @include border-box();
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    margin: 0 2px 2px 0;
                    @include user-select(none);
                    @include border-radius(2px);
                    &:hover {
                        background: $sd-hover;
                        cursor: pointer;
                    }
                    &.active {
                        background: $sd-blue;
                        color: $white;
                    }
                }
            }
        }
    }
}

// Timezone picker
// ---------------------------------------------
.pills-list.line-input {
    > li {
        width: 100%;
        border-radius: 0 !important;
        border: 0 !important;
        border-bottom: 1px solid rgba(0,0,0,0.15)!important;
        background-color: transparent;
        padding: 0;
        height: 24px;
        @include box-shadow(none);
        .actions {
            top: -9px;
        }
        &:hover {
            border-color: rgba(0,0,0,0.3) !important;
            background-color: transparent !important;
            @include box-shadow(none);
        }
        &:focus {
            box-shadow: 0 1px 0 0 $sd-blue !important;
            border-color: $sd-blue !important;
            background-color: transparent !important;
        }
    }
}

/*
    ----------------------------------------------------------------------
    OTHER CUSTOM ELEMENTS
    ----------------------------------------------------------------------
*/


// Back screen button
// ---------------------------------------------
.backlink {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiI+PHBhdGggZmlsbD0iIzdjN2M3YyIgZD0ibTUuMjkyIDEyLjI5NGw2LTZjLjM4OS0uMzg5IDEuMDI1LS4zODkgMS40MTQgMCAuMzg5LjM4OS4zODkgMS4wMjUgMCAxLjQxNGwtNC4yOTMgNC4yOTNoMTIuNTg2Yy41NTIgMCAxIC40NDggMSAxIDAgLjU1Mi0uNDQ4IDEtMSAxaC0xMi41ODZsNC4yOTIgNC4yOTJjLjM4OS4zODkuMzg5IDEuMDI1IDAgMS40MTRzLTEuMDI1LjM4OS0xLjQxNCAwYzAgMC01Ljk5OS01Ljk5Ni02LTUuOTk4LS4zODgtLjM4OS0uMzg4LTEuMDI1LjAwMDEtMS40MTQiLz48L3N2Zz4=) no-repeat;
    padding-left: 30px;
    text-decoration: none;
    color: $sd-text;
    display: inline-block;
    border:0;
    @include transition(all ease 0.2s);
    vertical-align: middle;
    height: 28px;
    line-height: 24px;
    margin-top: -5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    &.white {
        background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0ibTUuMjkyIDEyLjI5NGw2LTZjLjM4OS0uMzg5IDEuMDI1LS4zODkgMS40MTQgMCAuMzg5LjM4OS4zODkgMS4wMjUgMCAxLjQxNGwtNC4yOTMgNC4yOTNoMTIuNTg2Yy41NTIgMCAxIC40NDggMSAxIDAgLjU1Mi0uNDQ4IDEtMSAxaC0xMi41ODZsNC4yOTIgNC4yOTJjLjM4OS4zODkuMzg5IDEuMDI1IDAgMS40MTRzLTEuMDI1LjM4OS0xLjQxNCAwYzAgMC01Ljk5OS01Ljk5Ni02LTUuOTk4LS4zODgtLjM4OS0uMzg4LTEuMDI1LjAwMDEtMS40MTQiLz48L3N2Zz4=) no-repeat;
    }
    &:hover {
        background-position: -5px 0;
        text-decoration: none;
        color: $sd-text;
        color: $sd-blue;
    }

}


// Activity log
// ---------------------------------------------

.activity-log {     //activivty log styles
                    margin-top: 10px;
                    ul {
                        margin:0;
                        padding: 0;
                        list-style-type: none;
                        li {
                            &.activity {
                                .activity-content {
                                    padding-left: 45px;
                                    margin-top: -3px;
                                    padding-right: 20px;
                                    color: #555;
                                    b {
                                        @include text-semibold();
                                    }
                                }
                                .activity-date {
                                    padding-left: 45px;
                                    font-size: 11px;
                                    color: #999;
                                    margin-top: -5px;
                                }

                                &.with-date {
                                    margin-top: 35px;

                                    .date {
                                        border-top:1px solid #ebebeb;
                                        top: -17px;
                                        position:  absolute;
                                        right: 0;
                                        left: 0;
                                        span {
                                            font-size: 12px;
                                            color: #999;
                                            margin-top: -10px;
                                            display: block;
                                            float: left;
                                            background: $background-main;
                                            padding-right: 5px;
                                        }
                                    }
                                }
                                &:hover {
                                    cursor: default;
                                }
                            }
                        }
                    }
}
.activity-load-more {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    margin: 20px 0;
}


// Notificaton list
// ---------------------------------------------

.notification-list {
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    position: absolute;
    overflow-y: auto;
    bottom: 0;
    top: 60px;

    li {
        //border: 1px solid #393939;
        background: #393939;
        padding: 10px 5px;
        @include box-sizing(border-box);
        @include border-radius(2px);
        width: 100%;
        min-height: 45px;
        margin:0 0 7px 0;
        @include box-shadow(0 1px 3px 0 rgba(0,0,0,0.5));

        .content {
            padding-left: 40px;
            .text {
                margin:0;
                font-size: 12px;
                overflow: hidden;
                color: #d7d7d7;
            }
            .date , .date time, time {
                font-size: 11px;
                color: #848484;
                margin-top: -3px;
                display: block;
            }
            a {
                cursor: pointer;
                color: $sd-blue;
                &:hover {
                    text-decoration: none;
                    color: lighten($sd-blue, 15%);
                }
            }
        }
        &.unread {
            border-color: #545454;
            background: #2c2c2c;
        }
        &.important {
            border: 1px solid #a60101 !important;
            @include box-shadow-both(inset 0px 0px 1px 1px #e4b2b2, 0px 2px 2px 0px #d8d8d8 !important);
        }
        &.personal, &.important {
            border: 1px solid #c8c8c8;
            @include border-radius(3px);
            background: #fff;
            padding: 5px;
            margin-bottom: 7px;
            @include box-shadow(0px 2px 2px 0 #d8d8d8);
            + li {
                border-top-width: 0;
                &.personal, &.important {
                    border-top-width: 1px;
                }
            }
        }
        .info {
            color: #e0e0e0;
        }
    }

    //bright version
    &.white {
        li {
            background: #fff;
            border-color: #dedede;
            @include box-shadow(0 1px 3px 0 rgba(0,0,0,0.12));
            .content {
                .text {
                    color: #333;
                }
                .date, .date time {

                }
            }
            &.active {
                border-color: #999;
                @include box-shadow(0 1px 2px 0 #666);
            }
        }
    }
}

.notification-pane {
    ::-webkit-scrollbar:hover {
        background-color: #4a4a4a;
    }

    ::-webkit-scrollbar-thumb {
        background: #5a5a5a;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }
}

// Hard error
// ---------------------------------------------

.hard-error {
    position: fixed;
    top: 0;
    right: 200px;
    z-index: 9999;
    width: auto;
    max-width: 400px;


    .alert {
        @include border-radius(0);
        border: 0;
        @include box-sizing(border-box);
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 40px;
        padding: 0 15px;
    }

    .alert-error {
        background-color: #612525;
        color: #cc7c7b;
        text-shadow: none;
    }

    &:hover {
        .alert {
            height: auto;
            line-height: 20px;
            padding: 10px 15px;
            overflow: visible;
            white-space: pre-wrap;
        }
    }
}


// Pagination
// ---------------------------------------------

.sd-pagination {
    padding: 7px 20px;
    .btn {
        padding: 10px;
        i { margin-right: 0; }
    }
    .page-info {
        // line-height: 34px;
        margin-right: 20px;
        display: inline-block;
        // vertical-align: middle;
        input {
            display: inline-block;
            width: 30px;
            text-align: center;
            margin-top: -1px;
            padding: 6px 3px !important;
            @include border-radius(5px);
            margin: 0 5px;
            @include box-shadow(inset 0 5px 5px -5px #acacac);
        }
    }
    .btn-group, .btn-group > .btn {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .btn-group > .btn + .btn {
        margin-left: 0px;
    }
}


// Assignment menu
// ---------------------------------------------

.assignment-menu {
    .assignment-box {
        width: 270px;
        h5 {
            border:0;
        }
        .assignment-content {
            .assignment-result-list {
                margin-top: 10px;
                height: 140px;
                overflow: auto;
                ul {
                    list-style-type: none;
                    margin: 0; padding: 0;
                    li {
                        height: 32px;
                        margin-bottom: 3px;

                        .avatar-small {
                            width: 24px;
                            height: 24px;
                            border: 0;
                            padding: 0;
                            margin:0;
                            background-size: 24px 24px;
                        }
                        span {
                            font-size: 13px;
                            color: #4f4f4f;
                            line-height: 24px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

}


// Sortbar 
// --------------------------------------------------
.sortbar {
    white-space: nowrap;
    margin: 0 5px;
    padding: 0 10px;
    > * {
        display: inline-block !important;
        vertical-align: middle;
    }
    >.dropdown {
        margin-right: 10px;
    }
    .lab {
        margin-right: 10px;
    }
    .dropdown__toggle {
        color: #808080;
        min-width: auto !important;
    }
    .direction {
        margin-left: 5px;
        background: none;
        border: 0;
        @include opacity(60);
        &.btn {
            &:hover {
                box-shadow: none;
            }
        }
    }
}

// Selection list
// ---------------------------------------------

.selectionlist {
    list-style-type: none;
    padding: 2px;
    width: 100%;
    @include box-sizing(border-box);
    margin: 0;
    overflow: auto;
    li {
        line-height: 16px;
        height: 16px;
        padding: 4px;
        margin-bottom: 3px;
        @include border-radius(3px);
        background: #e8e8e8;
    }
    .sf-toggle-custom {
        margin-top: -1px;
        float: right;
    }
}



// Plain list
// ---------------------------------------------

.plain-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &.plain-border-top {
        border-top:1px solid #e5e5e5;
    }
    > li {
        border-bottom:1px solid #e5e5e5;
        height: 41px;
        line-height: 40px;
        cursor: pointer;
        position: relative;
        padding: 0 5px;
        @include border-box();

        &:hover {
            background: $sd-hover;
        }
        .btn--mini {
            margin-top: 10px;
        }
    }
}

.plain-small {
    > li {
        height: 31px;
        line-height: 30px;
    }
}

.users-list {
    > li {
        .avatar {
            margin-top: 5px;
            margin-right: 15px;
        }
        .name {
            font-size: 13px;
            color: $sd-blue-text;
        }
    }
}

.plain-small.users-list {
    > li .avatar {
        margin-top: 3px;
    }
}

.users-list-embed {
    position:relative;
    > li {
        height: 32px;
        line-height: 32px;
        margin-right: -5px;
        .avatar {
            margin: 3px 10px 4px 4px;
        }
        &:hover, &.active {
            cursor: pointer;
            color: #fff;
        }
        &:hover {
            background: lighten($sd-blue, 10%);
        }
        &:active {
            background: lighten($sd-blue, 15%);
        }
        &.active {
            background: $sd-blue;
        }
        &.inactive {
            color: #ccc;
        }
    }
}
// Card list
// ---------------------------------------------
.mentio-menu {
    padding: 5px;
    border: 1px solid #ddd;
    max-height: 126px;
    z-index: 9999 !important;
    overflow: auto;
    background: #fff;
    @include border-radius(3px);
    @include box-shadow(0 0 2px 0 rgba(0,0,0,0.2));
    width: 190px;
    bottom: 5px;
    ul {
        li {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

// Card list
// ---------------------------------------------
.card-list > li , .card {
    display: block;
    padding: 10px;
    background: #fff;
    border: none;
    @include box-shadow(0px 1px 2px 0 rgba(0,0,0,0.12));
    @include border-radius(2px);
    margin-bottom: 7px;
    position: relative;
    &:not([disabled]):hover {
        cursor: pointer;
        @include box-shadow(0px 1px 3px 0 rgba(0,0,0,0.35));
        .action {
            display: block !important;
        }
    }
    &.selected {
        background-color: $sd-hover;
        @include box-shadow(0px 1px 3px 0 rgba(0,0,0,0.35));
        &:hover {
            @include box-shadow(0px 1px 3px 0 rgba(0,0,0,0.45));
        }
    }
    &[disabled] {
        cursor: default !important;
        background-color: rgba(255,255,255,0.45);
    }
    .action {
        display: none;
        position: absolute;
        right: 0; top: 0; bottom: 0;
        min-width: 200px;
        ul {
            height: 100%;
            text-align: right;
        }
        .item-field {
            height: 100%;
            span {
                display: none;
            }
            a {
                padding: 0 23px;
                line-height: 62px;
                display: block;
            }
        }

    }
}
.active {
    .card {
        background-color: $sd-hover;
        @include box-shadow(0px 1px 3px 0 rgba(0,0,0,0.35));
        &:hover {
            @include box-shadow(0px 1px 3px 0 rgba(0,0,0,0.45));
        }
    }
}


// Pils list
// ---------------------------------------------
.pills-list {
    max-width: 650px;
    > li {
        @include user-select(none);
        background: #fff;
        margin-bottom: 6px;
        margin-right: 2px;
        @include border-radius(2px);
        padding: 10px 16px;
        min-height: 18px;
        color: #444;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.08);
        &:hover {
            //background: #e8e8e8;
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2);
        }
        &.active {
            background: $sd-blue;
            color: #fff !important;
            @include box-shadow(inset 0 2px 0 darken($sd-blue, 10%));
        }
        &.inactive {
            opacity: 0.5;
        }
        .dropdown {
            margin-top: -3px;
        }
        .actions {
            display: none;
            position: absolute;
            top: 0px;
            right: 4px;
            button {
                border: 0;
                height: 30px;
                width: 30px;
                margin: 3px;
                background: none;
                text-align: center;
                display: block;
                float: left;
                line-height: 0;
                opacity: 0.4;
                &:hover {
                    cursor: pointer;
                    opacity: 1;

                }
                i {
                    margin-top: -2px;
                }
            }
        }
        h6 {
            text-transform: none;
            font-size: 14px;
            color: $sd-text;
            @include text-light();
            float: left;
            max-width: 99%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .label-group {
            display: inline-block;
            &.label-group--right {
                float: right;
            }
        }
        .label {
            font-size: 9px;
            @include text-bold();
            padding: 2px 5px;
            line-height: 12px;
            margin-left: 5px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: 400;
        }
        &:hover {
            .actions {
                display: block !important;
            }
            h6 {
                max-width: 550px;
            }
        }
        .avatar {
            display: inline-block;
            float: none;
        }
        h5 {
            display: inline-block;
        }
    }
    &.pills-editable {
        li {
            &.editable {
                padding: 0;
                height: auto;
                background: transparent;
                input {
                    height: 30px;
                    line-height: 30px;
                    @include border-radius(3px);
                }

            }
        }
    }
}

.pill-small {
    width: 200px;
    margin: 4px;
}


// Activiites
// ---------------------------------------------
.item-field {
    border-left: 1px solid #d8d8d8;
    display: inline-block;
    span {
        display: none;
    }
    button {
        border: 0;
        padding: 0;
        background: none;
        vertical-align: text-top;
    }
    &:hover {
        background: rgba(0,0,0,0.10);
        border-color: #e0e0e0;
    }
    &.disabled {
        cursor: default;
        i {
            @include opacity(30);
        }
        &:hover {
            background: #e8e8e8;
        }
    }
}

.dropdown .item-field {
    display: block;
    border-left: 0;
    span {
        display: inline-block;
    }
}

.dropdown .item-field {
    &:hover {
        background: none;
    }
}


// OR label
// ---------------------------------------------

.or-label {
    position: relative;
    text-align: center;
    font-style: italic;
    &:before {
        content: "_________";
        position: absolute;
        top: -6px;
        color: #d0d0d0;
        left: 50%;
        margin-left: -75px;
    }
    &:after {
        content: "_________";
        position: absolute;
        top: -6px;
        color: #d0d0d0;
        left: 50%;
        margin-left: 15px;
    }
}



// List group
// ---------------------------------------------

.list-group {
    @include box-sizing(border-box);
    width: 300px;
    .list-group-item {
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-width: 0 1px 1px 1px;
        background-color: #fff;
        &:first-child {
            border-width: 1px;
            @include border-radius(5px 5px 0 0);
        }
        &:last-child {
            @include border-radius(0 0 5px 5px);
        }
        &:hover {
            background-color: #f4f4f4;
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color:#444;
        }
    }
}


// Scratchpad
// ---------------------------------------------

#scratchpad {
    position:fixed;
    left:0; right:0; bottom:0px;
    z-index: 1020;
    @include transition(all ease 0.3s);
    &.left {
        left: $sf-main-menu-width !important;
    }
    .header {
        height:$scratchpad-closed;
        background: #585858;
        line-height:$scratchpad-closed;
        font-size:12px;
    }
    .title {
        padding: 0 20px;
        @include text-extrabold();
        color:#b7b7b7;
        border-right:1px solid #747474;
        float:left;
    }
    .info {
        padding:0 20px;
        @include text-normal();
        color:#ffffff;
        float:left;
    }

    .trigger {
        border: 0;
        background: none;
        margin-top: 10px;
        margin-right: 10px;
    }

    &.opened {
        .trigger i {
            @include rotate(0);
        }
    }

    .content {
        @include box-sizing(border-box);
        height:$scratchpad-content-height;
        background-color:rgb(195,195,195);
        background-color:rgba(195,195,195,0.8);
        padding:10px 5px;
        overflow:hidden;
        .media-box {
            margin: 1px 1px 6px 12px;
        }
    }

    .scratchpad-items {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            background: #eee;
            &:hover {
                background: #fff;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
            &:hover {
                background: #333;
            }
        }

        > div {
            float: none !important;
            display: inline-block;
        }
    }
}


// Scroll shadow
// ---------------------------------------------

.shadow-list-holder {
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.scroll-shadow {
    height: 0;
    .inner {
        //-webkit-mask-box-image: -webkit-gradient(linear,left top,right top,color-stop(0.0,rgba(0,0,0,0)),color-stop(0.3,rgba(0,0,0,.8)),color-stop(0.7,rgba(0,0,0,.8)),color-stop(1.0,rgba(0,0,0,0)));
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.10)),to(transparent));
        height: 4px;
        position: relative;
        z-index: 503;
        @include transition(linear .1s all);
        @include opacity(0);
    }
    &.shadow {
        .inner {
            @include opacity(100);
        }
    }
}


// Toggle box
// ---------------------------------------------

.toggle-box__button {
    color: $grayLight;
    cursor: pointer;
    i {
        color: $grayLight;
        margin-right: 5px;
        vertical-align: text-bottom;
    }
    &:hover {
        text-decoration: none;
        color: $white;
        i { color: $white; }
    }
}


// Animations
// ---------------------------------------------

.fade {
    @include transition(opacity .15s linear);
    opacity: 0;
    &.in {
        opacity: 1;
    }
}


// Close icon
// ---------------------------------------------

.close {
    float: right;
    line-height: $baseLineHeight;
    @include opacity(20);
    &:hover {
        text-decoration: none;
        @include opacity(40);
        cursor: pointer;
    }
    i {
        vertical-align: middle;
    }
}


// DEFAULT TOGGLE BUTTON
// ---------------------------------------------




// DRAG & DROP
// ---------------------------------------------
.draggable-list__item {
    background-color: #fff;
    padding: 18px 14px 19px 25px;
    margin-bottom: 10px;
    cursor: move;
    @include box-shadow (0 1px 4px 0 rgba(0,0,0,0.2));
    position: relative;
    &.placeholder {
        background: none;
        @include box-shadow(none);
        border: 2px dashed #ebebeb;
    }
    &:after {
        content: "";
        width: 10px;
        top: 0;
        bottom: 0;
        left: 2px;
        background: transparent url(~images/draggable-bg.png) repeat-y left 3px top 3px;
        opacity: 0.2;
        position: absolute;
        display: block;
    }
    &:hover {
        @include box-shadow (0 1px 4px 0 rgba(0,0,0,0.4));
        &:after {
            opacity: 0.8;
        }
    }
}
.draggable-list.serial-decimal {
    list-style-type: decimal !important;
    padding-top: 0px;
    margin-left: 5px;
    > li {
        word-spacing: 2px;
        line-height: 0px;
    }
    .sort-item {
        &.active {
            background-color: #eee;
        }
    }
}

// HANDLE FOR SPLITTER
// ----------------------------------------------
.ui-resizable-e {
    cursor: col-resize !important;
}

// SPINNER
// ----------------------------------------------
.spinner-big {
    background-image: url("~images/loading-large.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}
.spinner-alt {
    background-image: url("~images/loading-small.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
}

// SD-CHECK Override - should be removed once CSS is cleared
// --------------------------------
.sd-check__wrapper .sd-checkbox+label {
    font-size: 13px;
    font-weight: 400;
    color: #333;
    height: auto;
    text-transform: none;
    &.label--active {
        color: #479dc0;
    }
}

.sd-toggle+label {
    font-size: 13px;
    font-weight: 400;
    color: #333;
    height: auto;
    text-transform: none;
}