<div sd-settings-view>

  <div class="split-content">

    <div class="header">
      <h2 translate>Metadata management</h2>

      <button class="btn btn--primary pull-right"
        ng-click="createCustomField()"
        translate>Add New Text Field</button>

      <button class="btn btn--primary pull-right"
        ng-click="createVocabulary()"
        translate>Add New Vocabulary</button>
    </div>

    <div sd-vocabulary-config class="content dictionary-settings"></div>
    <div sd-vocabulary-config-modal ng-if="vocabulary"></div>

  </div>
</div>
