<div class="sd-page__flex-helper">
    <div class="sd-page__header">
        <sd-search-handler ng-model="query.display_name" data-debounce="200"></sd-search-handler>
        <span class="sd-page__element-grow"></span>
        <button class="btn btn--primary"
          ng-click="createCustomField('text')" ng-if="tab === 'text-fields'">
          <i class="icon-plus-sign icon--white"></i>
          <span translate>Add New</span>
        </button>

        <button class="btn btn--primary"
          ng-click="createCustomField('date')" ng-if="tab === 'date-fields'">
          <i class="icon-plus-sign icon--white"></i>
          <span translate>Add New</span>
        </button>

        <button class="btn btn--primary"
          ng-click="createCustomField('media')" ng-if="tab === 'related-content-fields'">
          <i class="icon-plus-sign icon--white"></i>
          <span translate>Add New</span>
        </button>
 
        <button class="btn btn--primary"
          ng-click="createVocabulary()" ng-if="tab === 'vocabularies'">
          <i class="icon-plus-sign icon--white"></i>
          <span translate>Add New</span>
        </button>

        <button class="btn btn--primary"
          ng-click="createCustomField('embed')" ng-if="tab === 'embed-fields'">
          <i class="icon-plus-sign icon--white"></i>
          <span translate>Add New</span>
        </button>
    </div>

    <div class="sd-page__content">
        <div ng-if="loading" class="loading-overlay" ng-class="{active: loading}" style="opacity: 0.5;"></div>

        <div ng-repeat="tag in tags" ng-if="existsVocabulariesForTag(tag, tab)">
            <div className="sd-list-header">
                <span className="sd-list-header__name">{{tag.text}}</span>
            </div>

            <div class="sd-list-item-group sd-shadow--z2"
                ng-repeat="vocabulary in getVocabulariesForTag(tag, tab) | orderBy:'display_name|translate' | filter: query track by vocabulary._id"
            >
                <div class="sd-list-item sd-shadow--z1">
                    <div class="sd-list-item__column" ng-if="tab === 'vocabularies'">
                        <span class="badge">{{ vocabulary.items.length }}</span>
                    </div>
                    <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                        <div class="sd-list-item__row">
                            <span class="sd-overflow-ellipsis">{{ vocabulary.display_name | translate }} {{ vocabulary.description | translate }}</span>
                        </div>
                    </div>
                    <div class="sd-list-item__action-menu sd-list-item__action-menu--direction-row">
                        <button ng-click="openVocabulary(vocabulary)" sd-tooltip="{{:: 'Edit vocabulary' | translate }}">
                            <i class="icon-pencil"></i>
                        </button>
                        <button ng-click="remove(vocabulary)" ng-if="tab !== 'vocabularies'" sd-tooltip="{{:: 'Remove vocabulary' | translate }}">
                            <i class="icon-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>

    </div>
</div>

<div sd-vocabulary-config-modal ng-if="vocabulary"></div>
