.quick-publish--item {
    border-block-end: 1px dotted #A7A7A7;
    padding-block-start: 7px;
    padding-block-end: 7px;

    &:first-child {
        border-block-start: 1px dotted #A7A7A7;
    }
}

.quick-publish--line {
    display: flex;

    * {
        white-space: normal!important;
    }
}

.quick-publish--scheduled {
    display: inline-block;
    background: #F4E8DA;
    color: #DC780A;
    padding: 3px 13px;
    margin-block-start: 3px;
    border-radius: 40px;
}