<div class="button-list">
    <a href="" ng-click="stageSelect()" class="toggle-button"
        ng-class="{'toggle-button--active': !stages.selected && !spike && !published}"
        style="max-width:{{100/(stages.stages.length + 3)}}%"
        ng-if="stages.stages.length">
        {{'Any' | translate}}
    </a>
    <a href="" ng-repeat="stage in stages.stages" ng-click="stageSelect(stage)" class="toggle-button"
        ng-class="{'toggle-button--active': stage == stages.selected && !spike && !published}"
        style="max-width:{{100/(stages.stages.length + 3)}}%"
        ng-if="stages.stages.length">
        {{ stage.name }}
    </a>
    <a href="" ng-if="type === 'archive'" ng-click="toggleSpike()" class="toggle-button"
        ng-class="{'toggle-button--active': spike}"
        style="max-width:{{100/(stages.stages.length + 3)}}%">
        {{'Spiked' | translate}}
    </a>
    <a href="" ng-if="type === 'archive' && stages.stages.length" ng-click="togglePublished()" class="toggle-button"
        ng-class="{'toggle-button--active': published}"
        style="max-width:{{100/(stages.stages.length + 3)}}%">
        {{'Published' | translate}}
    </a>
</div>