.card-absolute {
    position: absolute !important;
    z-index: 9;
    top: 2px;
    left: 10px;
    right: 10px;
}

.autocomplete-item {
    white-space: normal;
    max-width: 265px;
}

.autocomplete-item b {
    font-size: 14px;
    font-weight: 600;
}

.autocomplete-item p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
}

.autocomplete-item span {
    display: block;
    font-size: 13px;
    font-weight: 300;
}
