<div sd-settings-view>

    <div class="split-content" sd-dictionary-config>

        <div class="header">
            <h2 translate>Dictionary management</h2>
            <button id="createPersonalDictionary" class="btn btn--primary pull-right" ng-click="createPersonalDictionary()">
                <i class="icon-plus-sign icon--white"></i> {{ :: 'Add New Personal Dictionary' | translate }}
            </button>
            <button id="createDictionary" ng-if="isAdmin()" class="btn btn--primary pull-right" ng-click="createDictionary()">
                <i class="icon-plus-sign icon--white"></i> {{ :: 'Add New Dictionary' | translate }}
            </button>
            <button id="createAbbreviations" class="btn btn--primary pull-right" ng-click="createAbbreviationsDictionary()">
                <i class="icon-plus-sign icon--white"></i> {{ :: 'Add New Abbreviations Dictionary' | translate }}
            </button>
        </div>

        <div class="content dictionary-settings" sd-loading="loading">
            <div sd-shadow>
                <ul class="pills-list">
                    <li ng-repeat="dictionary in dictionaries track by dictionary._id" ng-class="{inactive: dictionary.is_active === 'false'}">
                        <div ng-if="!dictionary.user">
                           <h6>{{ dictionary.name }}</h6>&nbsp;<em><strong>({{ :: dictionary.language_id }})</strong></em>
                        </div>
                        <div ng-if="dictionary.user">
                            <h6 id="{{dictionary.language_id}}">{{ :: 'Personal' | translate }}{{ :: (isAbbreviations(dictionary) ? ' - Abbreviations' : '') | translate }}</h6>&nbsp;
                            <em>
                                <strong>({{ :: dictionary.language_id }})</strong>
                            </em>
                        </div>
                        <div class="actions">
                            <button ng-click="openDictionary(dictionary)" title="{{:: 'Edit dictionary' | translate }}"><i class="icon-pencil"></i></button>
                            <button ng-click="remove(dictionary)" title="{{:: 'Remove dictionary' | translate }}"><i class="icon-trash"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div sd-dictionary-config-modal ng-if="dictionary"></div>
    </div>
</div>
