// contacts.scss
// Styling for the superdesk media contacts management page
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

/*
====================================================
    contacts detail pane
====================================================
*/

.contact-details-pane {
    position: relative;
    width: 100%;
    display: flex;
    .profile-info {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 180px);
        position: relative;
        overflow-y: auto;

        .sd-line-input__input--add-min-height {
            min-height: 6rem;
        }
    }

    .contact-form {
        display: flex;
        form {
            display: flex;
            flex-direction: column;
        }
    }

    .action-bar {
        position: inherit !important;
        padding: 10px;
        &.show {
            top: 0px;
        }
    }

    .header-info {
        background-color: rgba(94, 169, 200, 0.11);
        padding: 10px 0 0;

        h2 { //used as contact's display name
            text-align: center;
            font-size: 18px;
            line-height: 20px;
            margin: 10px 0 4px 0;
            padding: 0 20px;
        }
        h5 { // to be use for job_title
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            line-height: 16px;
            padding: 0 20px;
            margin-bottom: 10px;
            color: rgba(0, 0, 0, 0.75);
        }

        .active {
            position: absolute;
            top: 24px;
            right: 15px;
        }
    }

    .date-time {
        color: #999;
        font-weight: 300;
    }

    .details-info {
        flex-grow: 1;
        padding: $sd-base-increment * 3;
    }

    .alert-info-msg {
        font-size: 1.2rem;
        line-height: 1.4rem;
        transition: all .3s cubic-bezier(.55,0,.55,.2);
        color: grey;
        letter-spacing: .03em;
    }

    .error-holder {
        height: 40px;
        margin: 0 -20px;
        .alert {
            padding: 10px 20px;
        }
    }

    .validation-error {
        color: #ab3434;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .validation-info {
        font-size: 11px;
        color: #888;
    }

    .alert {
        @include border-radius(0px);
    }

    .ng-invalid-required {
        .required-info {
            display: inline-block !important;
        }
    }
}

.prevent-switch {
    pointer-events: none;
}

.preview-layout .preview-pane {
    overflow-y: hidden !important;
}

.sd-line-input--add-min-width {
    min-width: 90px;
}
.sd-line-input__message--add-padding {
    padding-top: 2.4rem !important;
}
.sd-line-input__toggle {
    .sd-line-input__label {
        max-width: none;
    }
}

.sd-line-input__usage {
    min-width: 90px;
    .sd-line-input__label {
        padding-top: 1.4rem !important;
        &:after {
            content: none !important;
        }
    }
}

.sd-line-input__usage-flag {
    line-height: 2.4rem;
    .sd-line-input__label {
        &:after {
            content: none !important;
        }
    }
}

.toggle-box {
    &__content--hidden {
        display: none;
    }
}

.sd-toggle:focus {
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.sd-line-input {
    .sd-line-input__label {
        &.sd-line-input__label--hide-required {
            margin-top: 3px;
            &:after {
                content: none !important;
            }
        }
    }
}

.contact__type-icon {
    position: absolute !important;
    top: 1.6rem;
    left: 1.2rem;
    background: #67afa1;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        color: $white;
    }
    z-index: 1;
}

.subnav {
    .contact__type-icon {
        top: 8px;
        left: 12px;
        position: relative;
    }
}

.contact-header__container {
    padding-left: 4.4rem;
    min-height: 4.8rem;
    margin-top: 0.5rem;
    h3 {
        font-size: 1.6rem;
        line-height: 120%;
        font-weight: 500;
    }
    .item-info {
        opacity: 0.85;
        font-weight: 300;
    }
}
.contacts-list__holder {
    padding: 2.4rem;
    overflow-y: auto;
    .sd-grid-list--small-margin {
        margin: 0;
    }

    .list-item-view {
        &.inactive {
            opacity: 0.5;
        }
        .social-info {
            margin: 0 0.5rem;
            span {
                margin-right: 0.5rem;
            }
        }
    }
}

.contacts-section {
    .contact-editor, .content-item-preview {
        display: flex;
    }
}
