<div class="dropdown dropdown--noarrow" dropdown sd-metadropdown-focus>
    <!-- if field is single input field-->
    <button ng-disabled="disabled" class="dropdown__toggle line-input" tabindex="{{tabindex}}" dropdown__toggle ng-if="multiInputFields.indexOf(field) === -1 && !icon">
        {{ key && values[item[field]]  && values[item[field]].name ? values[item[field]].name: (item[field].name || item[field] ? item[field].name || item[field] : "none") | translate }}
        <b class="dropdown__caret"></b>
    </button>
    <!-- if field is multi input field and the data source is not a custom vocabulary-->
    <button ng-disabled="disabled" class="dropdown__toggle line-input" tabindex="{{tabindex}}" dropdown__toggle ng-if="multiInputFields.indexOf(field) > -1 && !icon && !cv">
        {{ item[field].length > 0 ? item[field][0].name : "none" | translate }}
        <b class="dropdown__caret"></b>
    </button>
    <!-- if cv stored inside other parent field ex: subject:[{name: "a", qcode: "a", scheme: cv._id}]-->
    <button ng-disabled="disabled" class="dropdown__toggle line-input" tabindex="{{tabindex}}" dropdown__toggle ng-if="multiInputFields.indexOf(field) > -1 && !icon && cv">
        {{ findItemByScheme(item[field], cv._id).name || "none" | translate }}
        <b class="dropdown__caret"></b>
    </button>
    <button ng-disabled="disabled" class="dropdown__toggle line-input" tabindex="{{tabindex}}" dropdown__toggle ng-if="icon">
        <span class="{{icon}}-{{item[field]}}"
            ng-style="{backgroundColor: values[item[field]].color}">{{ values[item[field]].short || item[field] || 0 }}</span>
        {{ values[item[field]].name }} <b class="dropdown__caret"></b>
    </button>
    <ul class="dropdown__menu">
        <li ng-if="label"><div class="dropdown__menu-label">{{ label }}</div></li>
        <li ng-click="select()"><button ng-disabled="disabled" translate>None</button></li>

        <li ng-repeat="item in list" ng-click="select(item)" ng-if="field !== 'place'">
            <button ng-disabled="disabled">
                <span ng-if="icon"
                    class="{{icon}}-{{item.name}}"
                    ng-style="{backgroundColor: item.color}">{{item.short || item.name}}</span>
                {{::item.name}}
            </button>
        </li>

        <li class="place-dropdown" ng-repeat="(region, placelist) in places" ng-if="field === 'place'">
            <span ng-if="region !== 'undefined'">{{ ::region }}</span>
            <button ng-repeat="item in placelist" ng-click="select(item)">{{ ::item.name }}</button>
        </li>
    </ul>
</div>
