<ul class="nav nav-tabs">
    <li ng-class="{active: tab === 'metadata' || !tab}">
        <button ng-click="tab = 'metadata'" translate>Metadata</button>
    </li>
    <li ng-class="{active: tab === 'task-detail'}">
        <button ng-click="tab = 'task-detail'" translate>Task Details</button>
    </li>
</ul>
<div class="content" ng-controller="MetadataWidgetCtrl">
    <div ng-if="tab === 'metadata' || !tab">
        <ul class="basic-list">
            <li ng-if="_isInProductionStates">
                <label ng-if="_editable" translate>Not For Publication</label>
                <span ng-if="_editable">
                    <span ng-if="_editable" sd-switch ng-model="item.flags.marked_for_not_publication"></span>
                </span>
                <label ng-if="!_editable">
                    <span class="state-label not-for-publication" ng-show="item.flags.marked_for_not_publication" translate>Not For Publication</span>
                    <span class="state-label for-publication" ng-show="!item.flags.marked_for_not_publication" translate>For Publication</span>
                </label>
            </li>

            <li ng-if="_isInProductionStates">
                <label ng-if="_editable" translate>Legal</label>
                <span ng-if="_editable">
                    <span sd-switch ng-model="item.flags.marked_for_legal"></span>
                </span>
                <label ng-if="!_editable">
                    <span class="state-label legal" ng-show="item.flags.marked_for_legal" translate>Legal</span>
                </label>
            </li>
            <li ng-if="!isRemovedField('usageterms')">
                <label translate>Usage terms</label>
                <div class="data">
                    <input class="line-input" type="text" ng-model="item.usageterms" ng-disabled="!_editable" ng-change="autosave(item)">
                </div>
            </li>
            <li class="terms-box" ng-if="schema.keywords && !$root.config.features.alchemy && !isRemovedField('keywords')">
                <label translate>Keywords</label>
                <div sd-meta-words-list data-item="item" data-field="keywords" data-change="autosave(item)" data-header="_editable" data-list="metadata.keywords" data-disabled="!_editable"></div>
            </li>
            <li class="terms-box" ng-if="$root.config.features.alchemy">
                <label translate>Tags</label>
                <div sd-meta-tags data-item="item" data-field="keywords" data-source-field="body_html" data-change="autosave(item)" data-disabled="!_editable">
            </li>
            <li ng-if="!isRemovedField('language')">
                <label translate>Language</label>
                <div class="data">
                    <input class="line-input" type="text" ng-model="item.language" ng-disabled="!_editable" ng-change="autosave(item)">
                </div>
            </li>

            <li ng-if="item.pubstatus">
                <label translate>Pubstatus</label>
                <div class="data">{{item.pubstatus}}</div>
            </li>


            <li ng-if="item.original_source">
                <label translate>Original source</label>
                <div class="data">{{ item.original_source}}</div>
            </li>
            <li ng-if="item.copyrightholder">
                <label translate>Copyright</label>
                <div class="data">{{item.copyrightholder}}</div>
            </li>
            <li ng-if="item.creditline">
                <label translate>Credit</label>
                <div class="data">{{item.creditline}}</div>
            </li>
            <li>
                <label translate>State</label>
                <div class="preview-state__row">
                    <span sd-item-state data-state=item.state data-embargo=item.embargo></span>
                    <span ng-if="item.flags.marked_for_not_publication" class="state-label not-for-publication" translate>Not For Publication</span>
                    <span ng-if="item.flags.marked_for_legal" class="state-label legal" translate>Legal</span>
                    <span ng-if="item.flags.marked_for_sms" class="state-label sms" translate>Sms</span>
                    <span ng-if="item.rewritten_by" class="state-label updated" translate>Updated</span>
                </div>
            </li>

            <li ng-if="item.ingest_provider">
                <label translate>Ingest Provider</label>
                <div class="data" sd-meta-ingest data-item="item"></div>
            </li>

            <li ng-if="item.ingest_provider_sequence">
                <label translate>Provider sequence</label>
                <div class="data">{{item.ingest_provider_sequence}}</div>
            </li>
            <li ng-if="item.expiry">
                <label translate>Expiry</label>
                <div class="data" sd-reldate-complex ng-model="item.expiry"></div>
            </li>
            <li class="auto">
                <label translate>GUID</label>
                <div class="data wrap" id="guid">{{item.guid}}</div>
            </li>
            <li>
                <label translate>Unique name</label>
                <div class="data">
                    <input class="line-input" type="text" ng-model="item.unique_name" ng-change="autosave(item)" ng-disabled="!_editable || !unique_name_editable">
                </div>
            </li>
        </ul>
        <ul class="basic-list top-border">
            <li class="terms-box">
                <label translate>Target Subscribers</label>
                <div class="term-editor"
                     sd-meta-terms
                     data-item="item"
                     data-unique="_id"
                     data-list="metadata.customSubscribers"
                     ng-disabled="!_editable || !targetsEditable"
                     data-change="autosave(item)"
                     data-field="target_subscribers"
                     data-header="true"
                     data-reload-list="true">
                </div>
            </li>
            <li class="terms-box">
                <label translate>Target Regions</label>
                <div sd-meta-target
                    data-list="metadata.regions"
                    data-targets="item.target_regions"
                    ng-disabled="!_editable || !targetsEditable"
                    data-autosave="autosave(item)"></div>
            </li>
            <li class="terms-box">
                <label translate>Target Types</label>
                <div sd-meta-target
                    data-list="metadata.subscriberTypes"
                    data-targets="item.target_types"
                    ng-disabled="!_editable || !targetsEditable"
                    data-autosave="autosave(item)"></div>
            </li>
        </ul>
    </div>
    <div ng-if="tab === 'task-detail'">
            <ul class="basic-list task-info">
                <li ng-if="item.slugline" class="auto">
                    <label translate>Title</label>
                    <div class="data" sd-html-preview="item.slugline"></div>
                </li>
                <li ng-if="item.description_text" class="auto">
                    <label translate>Description</label>
                    <div>{{item.description_text}}</div>
                </li>
                <li ng-if="item.task.status">
                    <label translate>Status</label>
                    <div class="data">{{item.task.status}}</div>
                </li>
                <li ng-if="item.task.due_date" class="wider">
                    <label translate>Due date</label>
                    <div class="data" sd-reldate-complex ng-model="item.task.due_date"></div>
                </li>
                <li ng-if="item.task.desk">
                    <label translate>Desk</label>
                    <div class="data">{{deskLookup[item.task.desk].name || item.task.desk}}</div>
                </li>
                <li ng-if="item.task.user">
                    <label translate>Assignee</label>
                    <div class="data">{{userLookup[item.task.user].display_name || item.task.user}}</div>
                </li>
            </ul>
    </div>
</div>
