<ul class="nav nav-tabs">
    <li ng-class="{active: tab === 'metadata' || !tab}">
        <button ng-click="tab = 'metadata'" translate>Metadata</button>
    </li>

    <!-- can't use ng-if due to https://stackoverflow.com/q/36357640/1175593 -->
    <li ng-show="isAssigned(item)" ng-class="{active: tab === 'assignment'}">
        <button ng-click="tab = 'assignment'" translate>Assignment</button>
    </li>
</ul>
<div ng-controller="MetadataWidgetCtrl">
    <div class="widget-content-padding" ng-if="tab === 'metadata' || !tab">
        <ul class="basic-list basic-list--dotted">
            <li class="basic-list__item" ng-if="_isInProductionStates">
                <label class="basic-list__item-label" ng-if="_editable" translate>Not For Publication</label>
                <span class="basic-list__item-data" ng-if="_editable">
                    <span ng-if="_editable" sd-switch ng-model="item.flags.marked_for_not_publication"></span>
                </span>
                <span ng-if="!_editable">
                    <span class="state-label not-for-publication" ng-show="item.flags.marked_for_not_publication" translate>Not For Publication</span>
                    <span class="state-label for-publication" ng-show="!item.flags.marked_for_not_publication" translate>For Publication</span>
                </span>
            </li>

            <li class="basic-list__item" ng-if="_isInProductionStates">
                <label class="basic-list__item-label" ng-if="_editable" translate>Legal</label>
                <span class="basic-list__item-data" ng-if="_editable">
                    <span sd-switch ng-model="item.flags.marked_for_legal"></span>
                </span>
                <span ng-if="!_editable">
                    <span class="state-label legal" ng-show="item.flags.marked_for_legal" translate>Legal</span>
                </span>
            </li>
            <li class="basic-list__item" ng-if="!isRemovedField('usageterms')">
                <label class="basic-list__item-label" translate>Usage terms</label>
                <div class="basic-list__item-data">
                    <input class="basic-input" type="text" ng-model="item.usageterms" ng-disabled="!_editable" ng-change="autosave(item)">
                </div>
            </li>
            <li class="basic-list__item basic-list__item--stacked" ng-if="$root.config.features.alchemy">
                <label translate>Tags</label>
                <div sd-meta-tags data-item="item" data-field="keywords" data-source-field="body_html" data-change="autosave(item)" data-disabled="!_editable">
            </li>
            <li class="basic-list__item" ng-if="!isRemovedField('language')">
                <label class="basic-list__item-label" translate>Language</label>
                <div class="basic-list__item-data">
                    <input class="basic-input" type="text" ng-model="item.language" ng-disabled="!_editable" ng-change="autosave(item)">
                </div>
            </li>

            <li class="basic-list__item" ng-if="item.pubstatus">
                <label class="basic-list__item-label" translate>Pubstatus</label>
                <div class="basic-list__item-data">
                    {{item.pubstatus}}
                </div>
            </li>
            <li class="basic-list__item" ng-if="item.original_source">
                <label class="basic-list__item-label" translate>Original source</label>
                <div class="basic-list__item-data">
                    {{ item.original_source}}
                </div>
            </li>
            <li class="basic-list__item" ng-if="item.copyrightholder">
                <label class="basic-list__item-label" translate>Copyright</label>
                <div class="basic-list__item-data">
                    {{item.copyrightholder}}
                </div>
            </li>
            <li class="basic-list__item" ng-if="item.creditline">
                <label class="basic-list__item-label" translate>Credit</label>
                <div class="basic-list__item-data">
                    {{item.creditline}}
                </div>
            </li>
            <li class="basic-list__item">
                <label class="basic-list__item-label" translate>State</label>
                <div class="basic-list__item-data">
                    <span sd-item-state data-state=item.state data-embargo=item.embargo></span>
                    <span ng-if="item.flags.marked_for_not_publication" class="state-label not-for-publication" translate>Not For Publication</span>
                    <span ng-if="item.flags.marked_for_legal" class="state-label legal" translate>Legal</span>
                    <span ng-if="item.flags.marked_for_sms" class="state-label sms" translate>Sms</span>
                    <span ng-if="item.rewritten_by" class="state-label updated" translate>Updated</span>
                </div>
            </li>

            <li class="basic-list__item" ng-if="item.ingest_provider">
                <label class="basic-list__item-label" translate>Ingest Provider</label>
                <div class="basic-list__item-data" sd-meta-ingest data-item="item"></div>
            </li>

            <li class="basic-list__item" ng-if="item.ingest_provider_sequence">
                <label class="basic-list__item-label" translate>Provider sequence</label>
                <div class="basic-list__item-data">
                    {{item.ingest_provider_sequence}}
                </div>
            </li>
            <li class="basic-list__item" ng-if="item.expiry">
                <label class="basic-list__item-label" translate>Expiry</label>
                <div class="basic-list__item-data" sd-reldate-complex datetime="item.expiry"></div>
            </li>
            <li class="basic-list__item basic-list__item--stacked">
                <label class="basic-list__item-label basic-list__item-label--block" translate>GUID</label>
                <div class="basic-list__item-data" id="guid">
                    {{item.guid}}
                </div>
            </li>
            <li class="basic-list__item">
                <label class="basic-list__item-label" translate>Unique name</label>
                <div class="basic-list__item-data">
                    <input class="basic-input" type="text" ng-model="item.unique_name" ng-change="autosave(item)" ng-disabled="!_editable || !unique_name_editable">
                </div>
            </li>
        </ul>

        <div class="sd-card sd-card--auto-height">
            <div class="sd-card__content sd-card__content--padd-10">
                <ul class="basic-list basic-list--no-margin">
                    <li class="basic-list__item basic-list__item--stacked">
                        <label class="basic-list__item-label basic-list__item-label--block" translate>Target Subscribers</label>
                        <div class="term-editor"
                                sd-meta-terms
                                data-item="item"
                                data-unique="_id"
                                data-list="metadata.customSubscribers"
                                ng-disabled="!_editable || !targetsEditable"
                                data-change="autosave(item)"
                                data-field="target_subscribers"
                                data-header="true"
                                data-reload-list="true">
                        </div>
                    </li>
                    <li class="basic-list__item basic-list__item--stacked">
                        <label class="basic-list__item-label basic-list__item-label--block" translate>Target Regions</label>
                        <div sd-meta-target
                            data-list="metadata.regions"
                            data-targets="item.target_regions"
                            ng-disabled="!_editable || !targetsEditable"
                            data-autosave="autosave(item)"></div>
                    </li>
                    <li class="basic-list__item basic-list__item--stacked">
                        <label class="basic-list__item-label basic-list__item-label--block" translate>Target Types</label>
                        <div sd-meta-target
                            data-list="metadata.subscriberTypes"
                            data-targets="item.target_types"
                            ng-disabled="!_editable || !targetsEditable"
                            data-autosave="autosave(item)"></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div ng-if="tab === 'assignment'" sd-assignment-preview data-item="item" hide-avatar="true"></div>
</div>
