<div class="term-editor data visible" ng-if="!header" title="{{helperText}}">
    <div sd-typeahead items="terms" term="selectedTerm" search="searchTerms(term)" select="selectTerm(item)" data-disabled="disabled">
        <ul ng-if="activeTerm || activeList">
            <li typeahead-item="t" ng-repeat="t in terms track by t[uniqueField]">{{getLocaleName(t)}}</li>
        </ul>
    </div>
</div>

<div class="dropdown dropdown--dropright dropdown-terms" dropdown sd-dropdown-focus sd-dropdown-position
    title="{{ allSelected ? 'All items selected' : helperText  | translate }}">
    <button class="dropdown__toggle" dropdown__toggle tabindex="{{tabindex}}" ng-disabled="disabled" ng-if="header && !disabled">
        <i class="icon--white icon-plus-large"></i>
    </button>
    <ul class="dropdown__menu nested-menu pull-right">
        <li ng-show="!activeTerm && header">
            <div sd-typeahead items="terms" term="selectedTerm" search="searchTerms(term)" select="allowEntireCat && selectTerm(item)" always-visible="header" data-disabled="disabled || allSelected">
                <ul class="item-list" vs-repeat vs-scroll-parent=".item-list" ng-if="!activeTree.length || activeList">
                    <li typeahead-item="t" ng-repeat="t in terms track by t[uniqueField]">
                        <button ng-click="!allowEntireCat && openTree(t, $event)">
                            <figure ng-if="t.user" class="avatar">
                                <img sd-user-avatar data-user="t.user" alt="{{getLocaleName(t)}}">
                            </figure>
                            {{getLocaleName(t)}}
                        </button>
                    </li>
                </ul>
            </div>
        </li>
        <li class="levelup" ng-if="activeTerm">
            <i class="backlink" ng-click="openParent(activeTerm, $event)"></i>
            <button ng-click="allowEntireCat && selectTerm(activeTerm)">
                <b class="category">{{getLocaleName(activeTerm)}}</b>
                <b class="category-hover" ng-if="allowEntireCat">{{ :: "Choose entire category" | translate }}</b>
            </button>
        </li>
        <li class="main-list" ng-if="activeTree.length && !activeList && header" ng-class="{active: activeTerm}" ng-hide="allSelected">
            <ul vs-repeat vs-scroll-parent=".main-list" vs-size="activeTree.length">
                <li ng-repeat="term in activeTree track by term[uniqueField]">
                    <button ng-if="tree[term[uniqueField]]" class="nested-toggle" ng-click="openTree(term, $event)">
                        <figure ng-if="term.user" class="avatar">
                            <img sd-user-avatar data-user="term.user" alt="{{getLocaleName(term)}}">
                        </figure>
                        {{getLocaleName(term)}}
                        <i class="icon-chevron-right-thin"></i></button>
                    <button ng-if="!tree[term[uniqueField]]" ng-click="selectTerm(term)">{{getLocaleName(term)}}</button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="terms-list" ng-if="selectedItems.length" title="{{helperText}}">
    <ul>
        <li ng-if="!disabled && !t.sub_label" class="pull-left"
            ng-repeat="t in selectedItems track by t[uniqueField]"
            ng-click="removeTerm(t)">{{getLocaleName(t)}}<i class="icon-close-small"></i></li>
        <li ng-if="!disabled && t.sub_label" class="pull-left"
            ng-repeat="t in selectedItems track by t[uniqueField]"
            ng-click="removeTerm(t)"><label>{{getLocaleName(t)}}:</label>{{t.sub_label}}<i class="icon-close-small"></i></li>
        <li ng-if="disabled" class="pull-left disabled"
            ng-repeat="t in selectedItems track by t[uniqueField]">{{getLocaleName(t)}}</li>
    </ul>
</div>
