<div class="term-editor data visible locators" ng-show="!header" sd-loading="loading">
	<div sd-typeahead items="locators" data-tabindex="tabindex"
		term="$ctrl.selectedTerm"
		search="searchLocator(term)"
		select="selectLocator(item)"
		data-blur="selectLocator(item)"
		data-disabled="disabled"
		data-keepinput="keepinput"
		data-debounce="1000">
		<li typeahead-item="t" ng-repeat="t in locators" class="typeahead-item--padded">
			{{ :: t.city }}
			<div class="country_state_info">{{:: t.state}}, {{:: t.country}}</div>
		</li>
	</div>
</div>
