// highlights.scss
// Styling for the highlights functionality
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';



// Higlights config popup
// -------------------------------------------------

.highlights-config-popup {
    .multi-select {
        margin-block-start: 10px;
        li {
            margin-block-end: 5px;
            .text {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .pills-list {
        margin-block-start: 15px;
        h6 {
            text-transform: none !important;
        }
    }

    .modal-body {
        .char-count {
            font-size: 11px;
            font-style: italic;
            &.error {
                @include text-semibold();
                color: #D33C30;
            }
        }
    }
}

.highlights-title {
    display: inline-block;
    position: relative;
    .tooltip-inner {
        width: 150px;
        text-align: start;
        h5 {
            font-size: 11px;
            margin: 0 0 8px;
            color: #a7a7a7;
        }
        button {
            position: absolute;
            inset-inline-end: 7px;
            color: #656565;
        }
        li {
            height: 1%;
            overflow: hidden;
            padding-inline-end: 45px;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.highlights-list {
    display: inline-block;
    vertical-align: middle;
}

.highlights-preview-list {
    background-color: transparent;
}

.highlights-list-menu {
    padding: 5px 0;
    margin: 6px 0 0 0;
    background-color: var(--color-dropdown-menu-Bg) !important;
    border-radius: var(--b-radius--medium);
    max-width: 700px;
    min-width: 180px;
    overflow-y: auto;
    &:before {
        display: none;
    }
    &:not(.dropdown__menu) {
        box-shadow: var(--sd-shadow__dropdown);
    }
    li {
        position: relative;
        color: var(--color-text);
        padding: 0.4rem 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;
        .dropdown__menu-label {
            padding-inline-start: 0;
            color: var(--color-text-lighter);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-grow: 1;
        }
        .dropdown__menu-close {
            position: absolute;
            inset-block-start: 4px; 
            inset-inline-end: 8px;
            padding: 0; 
            margin: 0;
            border: 0; 
            width: auto;
            opacity: 0.5;
            background-color: transparent;
            i { 
                margin-inline-end: 0;
            }
            &:hover, &:focus {
                background-color: transparent;
                opacity: 1;
            }
        }
        .btn {
            flex-shrink: 0;
        }
        & span {
            color: var(--color-text);
            margin: 0;
            padding: 0;
        }
    }

}

.highlights-dropdown {
    .dropdown__menu {
        .dropdown__menu-label {
            text-align: start;
            line-height: 1.5;
            padding: 0 16px;
            margin-block-end: 4px;
        }
        button {
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
