// highlights.scss
// Styling for the highlights functionality
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';



// Higlights config popup
// -------------------------------------------------

.highlights-config-popup {
    .multi-select {
        margin-top: 10px;
        li {
            margin-bottom: 5px;
            .text {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .pills-list {
        margin-top: 15px;
        h6 {
            text-transform: none !important;
        }
    }

    .modal-body {
        .char-count {
            font-size: 11px;
            font-style: italic;
            &.error {
                @include text-semibold();
                color: #D33C30;
            }
        }
    }
}

.highlights-title {
    display: inline-block;
    position: relative;
    .tooltip-inner {
        width: 150px;
        text-align: left;
        h5 {
            font-size: 11px;
            margin: 0 0 8px;
            color: #a7a7a7;
        }
        button {
            position: absolute;
            right: 7px;
            color: #656565;
        }
        li {
            height: 1%;
            overflow: hidden;
            padding-right: 45px;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.highlights-list {
    display: inline-block;
    vertical-align: middle;
}

.highlights-preview-list {
    background-color: transparent;
}

.highlights-list-menu {
    padding: 5px 0;
    margin: 6px 0 0 0;
    background-color: $black !important;
    border-radius: 4px;
    max-width: 250px;
    &:before {
        display: none;
    }
    li {
        position: relative;
        color: $white;
        padding: 0.4rem 1.2rem;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;

        .dropdown__menu-label {
            font-size: 11px;
            padding-left: 0;
            color: #a7a7a7;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-grow: 1;
        }
        .dropdown__menu-close {
            position: absolute;
            top: 4px; 
            right: 8px;
            padding: 0; 
            margin: 0;
            border: 0; 
            width: auto;
            @include opacity(50);
            background-color: transparent;
            i { 
                margin-right: 0;
            }
            &:hover, &:focus {
                background-color: transparent;
                @include opacity(100);
            }
        }
        .btn {
            flex-shrink: 0;
        }
        & span {
            color: $white;
            margin: 0;
            padding: 0;
        }
    }
}

.highlights-dropdown {
    .dropdown__menu {
        .dropdown__menu-label {
            text-align: left;
            line-height: 16px;
            padding: 0 16px;
            margin-bottom: 5px;
        }
        button {
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
