@import '~superdesk-ui-framework/app/styles/variables/_colors.scss';

// Add some padding to the right for long filenames
// so that the trash icon is still visible
.file-input {
    .sd-line-input__input {
        padding-inline-end: 25px !important;
    }

    &--hidden {
        display: none;
    }
}

.link-input {
    .sd-line-input__input {
        padding-inline-end: 35px !important;
    }
}

.no-padding {
    padding: 0;
}

.form__row--half-width {
    max-width: 50%;
}

.sd-line-input {
    .sd-line-input__icon-bottom-right {
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 0;
        cursor: pointer;
    }

    .sd-line-input__input--auto-height {
        resize: none;
        overflow: hidden;
        min-height: 2.4rem;
    }

    .sd-line-input__input--padding-right-60 {
        padding-inline-end: 60px !important;
    }
}

.sd-line-input--invalid, .form-label--invalid {
    color: $red;

    .sd-line-input__icon-bottom-right {
        inset-block-end: 18px;
    }
}
