<div class="form__row" ng-repeat="field in fields track by field.field" ng-if="item">
    <sd-line-input
        class="sd-line-input--no-margin"
        ng-if="!field.cv && (!field.type || field.type === 'string')"
        ng-model="item[field.field]"
        data-sync="true"
        data-dark="dark"
        data-boxed="boxed"
        data-label="{{ field.label }}"
        data-required="field.required"
        data-disabled="isDisabled(field)"
        data-onchange="onChange({key: field.field})"
        data-onblur="onBlur()"
        data-maxlength="field.maxlength"
        data-placeholder="{{ placeholder[field.field] }}"
        data-textarea="field.textarea"
    />

    <sd-line-input
        class="sd-line-input--no-margin"
        ng-if="field.cv && field.cv.field_type === 'text'"
        data-sync="true"
        ng-model="item.extra[field.field]"
        data-dark="dark"
        data-boxed="boxed"
        data-label="{{ field.label }}"
        data-required="field.required"
        data-disabled="isDisabled(field)"
        data-onchange="onChange({key: 'extra'})"
        data-onblur="onBlur()"
        data-maxlength="field.maxlength"
        data-placeholder="{{ placeholder[field.field] }}"
    />

    <div ng-if="field.cv && !field.cv.field_type">
        <label class="form-label">{{ field.label }}</label>

        <div sd-meta-place ng-if="field.field === 'place' && features.places_autocomplete"
            class="data sd-terms--boxed"
            data-item="item"
            data-field="place"
            ng-disabled="isDisabled(field)"
            data-change="onChange({key: field})"
        ></div>

        <div sd-meta-words-list ng-if="field.field === 'keywords'"
            class="data sd-terms--boxed sd-line-input--dark-ui sd-line-input--boxed"
            data-item="item"
            data-field="keywords"
            data-change="onChange({key: field})"
            data-list="metadata.keywords"
            data-disabled="isDisabled(field)"
            data-style="sd-line-input__input"
            data-header="true"
        ></div>

        <div sd-meta-terms
            ng-if="!(field.field === 'place' && features.places_autocomplete) && field.field !== 'keywords' && field.cv.selection_type === 'multi selection'"
            class="data sd-terms--boxed"
            data-item="item"
            data-field="{{ field.cv.schema_field || 'subject'}}"
            data-unique="qcode"
            data-list="field.cv.items"
            data-cv="field.cv"
            ng-disabled="isDisabled(field)"
            data-header="true"
            data-change="onChange({key: field})"
            data-include-parent="{{ field.includeparent }}"
            data-reload-list="true"
        ></div>

        <div sd-meta-dropdown
            ng-if="!(field.field === 'place' && features.places_autocomplete) && field.field !== 'keywords' && field.cv.selection_type !== 'multi selection'"
            class="data sd-terms--boxed"
            data-item="item"
            data-field="{{ field.cv.schema_field || 'subject'}}"
            data-unique="qcode"
            data-list="field.cv.items"
            data-cv="field.cv"
            ng-disabled="isDisabled(field)"
            data-header="true"
            data-change="onChange({key: field})"
        ></div>
    </div>

    <div ng-if="field.cv && field.cv.field_type === 'date'">
        <label class="form-label">{{ field.label }}</label>
        <div sd-datepicker
            ng-disabled="isDisabled(field)"
            ng-model="item.extra[field.field]"
            data-format="YYYY-MM-DDT00:00:00+0000"
            data-on-change="onChange({key: 'extra'})"
        ></div>
    </div>
</div>
