@import '~superdesk-ui-framework/app/styles/_mixins.scss';
@import '~superdesk-ui-framework/app/styles/_variables.scss';

.select-tag__popup {
    margin-top: 1px;

    &-list {
        li {
            margin: 5px 0;
        }
    	span, i {
            float: left;
            text-align: left;
        }
		overflow-y: scroll;
		overflow-x: hidden;
		max-height: 200px;
		padding: 5px 10px;
    }

    &-item {
        margin: 5px;
        button {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
		&:hover {
			background: $sd-hover;
		}

        &--active {
            background: $sd-hover;
        }
    }
}