:root {
	--sd-colour-interactive: hsla(var(--sd-colour-interactive-l--50));
	--sd-colour-interactive--alpha-40: hsla(var(--sd-colour-interactive-l--50));
}

.icn-btn,
.sd-thumb-carousel__btn--prev,
.sd-thumb-carousel__btn--next,
.p-carousel-prev,
.p-carousel-next {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	transition: background-color 0.2s ease-out, color 0.1s ease-out, opacity 0.1s ease-out;
	height: 3.2rem;
	width: 3.2rem;
	border-radius: var(--b-radius--full);
	background-color: transparent;
	opacity: 0.75;
	background-color: rgba(125, 138, 155, 0);
	color: var(--color-icon-default);
	text-decoration: none;
	cursor: pointer;
	flex-shrink: 0;
}

.icn-btn [class^="icon-"],
.sd-thumb-carousel__btn--prev [class^="icon-"],
.sd-thumb-carousel__btn--next [class^="icon-"],
.p-carousel-prev [class^="icon-"],
.p-carousel-next [class^="icon-"],
.icn-btn [class*=" icon-"],
.sd-thumb-carousel__btn--prev [class*=" icon-"],
.sd-thumb-carousel__btn--next [class*=" icon-"],
.p-carousel-prev [class*=" icon-"],
.p-carousel-next [class*=" icon-"] {
	color: var(--color-icon-default) !important;
	vertical-align: baseline !important;
}

.icn-btn:hover,
.sd-thumb-carousel__btn--prev:hover,
.sd-thumb-carousel__btn--next:hover,
.p-carousel-prev:hover,
.p-carousel-next:hover {
	opacity: 1;
	text-decoration: none;
	background-color: rgba(125, 138, 155, 0.2);
}

.icn-btn:focus-visible,
.sd-thumb-carousel__btn--prev:focus-visible,
.sd-thumb-carousel__btn--next:focus-visible,
.p-carousel-prev:focus-visible,
.p-carousel-next:focus-visible {
	opacity: 1;
	background-color: rgba(125, 138, 155, 0.2);
	box-shadow: 0 0 0 2px var(--sd-colour-interactive--alpha-40);
	outline: none;
}

.icn-btn:focus-visible [class^="icon-"],
.sd-thumb-carousel__btn--prev:focus-visible [class^="icon-"],
.sd-thumb-carousel__btn--next:focus-visible [class^="icon-"],
.p-carousel-prev:focus-visible [class^="icon-"],
.p-carousel-next:focus-visible [class^="icon-"],
.icn-btn:focus-visible [class*=" icon-"],
.sd-thumb-carousel__btn--prev:focus-visible [class*=" icon-"],
.sd-thumb-carousel__btn--next:focus-visible [class*=" icon-"],
.p-carousel-prev:focus-visible [class*=" icon-"],
.p-carousel-next:focus-visible [class*=" icon-"] {
	opacity: 1;
}

.icn-btn:active,
.sd-thumb-carousel__btn--prev:active,
.sd-thumb-carousel__btn--next:active,
.p-carousel-prev:active,
.p-carousel-next:active {
	opacity: 1;
	background-color: rgba(125, 138, 155, 0.3);
}

.icn-btn:active [class^="icon-"],
.sd-thumb-carousel__btn--prev:active [class^="icon-"],
.sd-thumb-carousel__btn--next:active [class^="icon-"],
.p-carousel-prev:active [class^="icon-"],
.p-carousel-next:active [class^="icon-"],
.icn-btn:active [class*=" icon-"],
.sd-thumb-carousel__btn--prev:active [class*=" icon-"],
.sd-thumb-carousel__btn--next:active [class*=" icon-"],
.p-carousel-prev:active [class*=" icon-"],
.p-carousel-next:active [class*=" icon-"] {
	color: var(--sd-colour-interactive);
	opacity: 1;
}

.icn-btn--disabled {
	opacity: 0.4;
}

.icn-btn--disabled:hover,
.icn-btn--disabled:active,
.icn-btn--disabled:focus-visible {
	background-color: transparent !important;
	cursor: not-allowed;
	opacity: 0.4;
}

.icn-btn--disabled:hover [class^="icon-"],
.icn-btn--disabled:active [class^="icon-"],
.icn-btn--disabled:focus-visible [class^="icon-"],
.icn-btn--disabled:hover [class*=" icon-"],
.icn-btn--disabled:active [class*=" icon-"],
.icn-btn--disabled:focus-visible [class*=" icon-"] {
	opacity: 1;
	color: inherit !important;
}

.icn-btn.icn-btn--x-large.icn-btn--outline,
.sd-thumb-carousel__btn--prev.icn-btn--x-large.icn-btn--outline,
.sd-thumb-carousel__btn--next.icn-btn--x-large.icn-btn--outline,
.p-carousel-prev.icn-btn--x-large.icn-btn--outline,
.p-carousel-next.icn-btn--x-large.icn-btn--outline,
.icn-btn.icn-btn--x-large.icn-btn--outlineWhite,
.sd-thumb-carousel__btn--prev.icn-btn--x-large.icn-btn--outlineWhite,
.sd-thumb-carousel__btn--next.icn-btn--x-large.icn-btn--outlineWhite,
.p-carousel-prev.icn-btn--x-large.icn-btn--outlineWhite,
.p-carousel-next.icn-btn--x-large.icn-btn--outlineWhite {
	border-width: 2px;
}

:root {
	--b-radius--small: 3px;
	--sd-thumb-carousel__shadow-line: rgba(197, 203, 211, 0.2);
	--sd-thumb-carousel__shadow: 0 0 0 1px var(--sd-thumb-carousel__shadow-line), 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
	--sd-thumb-carousel__colour-bg: white;
	--sd-thumb-carousel__colour-img-bg: #1b1e23;
	--sd-thumb-carousel__colour-txt: #16191d;
	--sd-thumb-carousel__border-radius: 4px;
	--sd-thumb-carousel__colour-btn: white;
	--sd-thumb-carousel__colour-indicator: #c5cbd3;
}

.p-carousel-items-container {
    display: flex;
    flex-direction: row;
}

.p-carousel-item {
	display: flex;
	flex-direction: row;
	flex-grow: 1 !important;
	flex-basis: 100% !important;
}
.p-carousel-container {
    display: flex;
    flex-direction: row;
	overflow: hidden;
}

.sd-thumb-carousel,
.p-carousel {
	display: flex;
	flex-direction: row;
	color: var(--sd-thumb-carousel__colour-txt);
	box-shadow: var(--sd-thumb-carousel__shadow);
	background-color: var(--sd-thumb-carousel__colour-bg);
	border-radius: var(--sd-thumb-carousel__border-radius);
	margin-bottom: 16px;
}

.sd-thumb-carousel__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 2.4rem;
	padding: 12px 8px 12px 16px;
}

.sd-thumb-carousel__header time {
	font-size: 1.2rem;
	color: var(--sd-thumb-carousel__colour-txt);
	opacity: 0.75;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 16px;
}

.sd-thumb-carousel__heading {
	flex-grow: 0;
	font-size: 1.6rem;
	font-weight: 600;
	margin-right: 8px;
}

.sd-thumb-carousel__header-block--r {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.sd-thumb-carousel__header-block--r>*+* {
	margin-left: 8px;
}

/* .sd-thumb-carousel__content,
.p-carousel-content {
	display: flex;
	flex-direction: column;
	overflow: visible;
} */

.sd-thumb-carousel__container {
	display: flex;
	flex-direction: row;
}

.sd-thumb-carousel__description {
	padding: 1.6rem;
	flex-grow: 0;
	font-size: 1.4rem;
	line-height: 150%;
	opacity: 0.75;
	font-weight: 400;
	padding-top: 2px;
}

.sd-thumb-carousel__items-content {
	overflow: hidden;
	width: 100%;
}

.sd-thumb-carousel__items-container {
	display: flex;
	flex-direction: row;
}

.sd-thumb-carousel__item {
	display: flex;
	flex-direction: column;
	flex: 1 0 80%;
	position: relative;
}

.p-carousel-item {
    visibility: hidden;
}

.sd-thumb-carousel__item-inner {
	margin: 5px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--sd-thumb-carousel__colour-img-bg);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: var(--b-radius--small);
	overflow: hidden;
}

.sd-thumb-carousel__item-inner img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	margin: auto;
	pointer-events: none;
}

.sd-thumb-carousel__indicators {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 8px;
}

.sd-thumb-carousel__indicator,
.p-carousel-indicator {
	margin: 4px;
}

.sd-thumb-carousel__indicator>button,
.p-carousel-indicator>button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8px;
	height: 8px;
	transition: all 0.2s ease;
	border-radius: var(--b-radius--full);
	opacity: 1;
	background-color: var(--sd-thumb-carousel__colour-indicator);
	padding: 0;
	margin: 0;
}

.sd-thumb-carousel__indicator>button:hover,
.p-carousel-indicator>button:hover {
	opacity: 0.6;
}

.sd-thumb-carousel__indicator--highlight>button,
.sd-thumb-carousel__indicator.p-highlight>button {
	width: 16px;
	background-color: var(--sd-colour-interactive);
}

.sd-thumb-carousel__indicator--highlight>button:hover,
.sd-thumb-carousel__indicator.p-highlight>button:hover {
	opacity: 1;
}

.sd-thumb-carousel__btn--prev,
.sd-thumb-carousel__btn--next,
.p-carousel-prev,
.p-carousel-next {
	display: flex;
	align-self: center;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	z-index: 2;
	background-color: var(--sd-thumb-carousel__colour-btn);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.2);
	opacity: 0.8;
	transition: all 0.2 ease !important;
	color: rgba(44, 50, 58, 0.6);
}

.sd-thumb-carousel__btn--prev:hover,
.sd-thumb-carousel__btn--next:hover,
.p-carousel-prev:hover,
.p-carousel-next:hover {
	opacity: 1;
	background-color: var(--sd-thumb-carousel__colour-btn);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.24);
	color: #16191d;
}

.sd-thumb-carousel__btn--prev:active,
.sd-thumb-carousel__btn--next:active,
.p-carousel-prev:active,
.p-carousel-next:active {
	opacity: 1;
	background-color: var(--sd-colour-interactive) !important;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.12);
	color: white;
}

.sd-thumb-carousel__btn--prev:focus,
.sd-thumb-carousel__btn--next:focus,
.p-carousel-prev:focus,
.p-carousel-next:focus {
	opacity: 1;
	background-color: var(--sd-thumb-carousel__colour-btn);
}

.sd-thumb-carousel__btn--prev.sd-disabled,
.sd-thumb-carousel__btn--next.sd-disabled,
.p-carousel-prev.sd-disabled,
.p-carousel-next.sd-disabled,
.sd-thumb-carousel__btn--prev.p-disabled,
.sd-thumb-carousel__btn--next.p-disabled,
.p-carousel-prev.p-disabled,
.p-carousel-next.p-disabled {
	visibility: hidden;
	pointer-events: none;
}

.sd-thumb-carousel__btn--prev,
.p-carousel-prev {
	left: -16px;
	margin-right: -26px;
}

.sd-thumb-carousel__btn--next,
.p-carousel-next {
	right: -16px;
	margin-left: -26px;
}

.sd-thumb-carousel__cover-image-icon {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: var(--b-radius--full);
	color: var(--sd-thumb-carousel__colour-indicator--highlight);
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 1;
}

.sd-thumb-carousel__cover-image-icon i {
	color: var(--sd-thumb-carousel__colour-indicator--highlight) !important;
	margin-top: -2px;
}
