
@import '~mixins.scss';
@import '~variables.scss';

.vocabularyForm {
    button.del {
        width: 30px;
        padding: 8px 10px;
    }
}

.vocabularyField {
    display: inline;

    label {
        width: 140px;
        display: inline-block;
        padding-left: 6px;
    }
    input {
        width: 140px;
        margin: 3px;
        &[type="color"] {
            width: 130px;
        }
        &.long-name {
            width: 320px;
            font-size: 10px;
        }
    }
}

.vocabularyStatus {
    top: 5px;
    &.sd-toggle {
        margin-top: 2px !important;
    }
}

.divider {
    @include nav-divider();
}

.add-vocabulary-popup {
    .modal-dialog {
        width: auto !important;
        white-space: normal;
    }
}

.modal-header-fields {
    background: #f8f8f8;
    width: 100%;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    border-bottom: 1px solid #e4e4e4;
    .long-name {
            width: 310px;
    }
}
