
@import '~mixins.scss';
@import '~variables.scss';

.vocabularyForm {
    button.del {
        width: 30px;
        padding: 8px 10px;
    }
    table th, table td {
        vertical-align: middle;
    }
    tbody tr {
        td:last-child {
            text-align: right;
        }
        td:first-child {
            padding-left: 0;
        }
    }
    thead tr {
        th {
            font-weight: 500;
            padding: 0.8rem 0.8rem;
            label {
                margin-bottom: 0;
            }
            &:first-child {
                padding-left: 0;
            }
        }
    }

}

.vocabularyField {
    display: inline;

    label {
        width: 140px;
        display: inline-block;
        padding-left: 6px;
    }
    input {
        width: 140px;
        margin: 3px;
        &[type="color"] {
            width: 130px;
        }
        &.long-name {
            width: 320px;
            font-size: 10px;
        }
    }
}

.vocabularyStatus {
    top: 5px;
    &.sd-toggle {
        margin-top: 2px !important;
    }
}

.divider {
    @include nav-divider();
}

.add-vocabulary-popup {
    .modal-dialog {
        width: auto !important;
        white-space: normal;
    }
}

.modal-header-fields {
    background: #f8f8f8;
    width: 100%;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    border-bottom: 1px solid #e4e4e4;
    .long-name {
            width: 310px;
    }
}
.vocabulary-items__wrapper {
    margin: 1rem 0 0;
    h3 {
        margin-bottom: 0.6rem;
        font-size: 1.6rem;
        line-height: 100%;
    }
}

.vocabulary-items__button-bar {
    padding: 1.2rem 0;
}

.vocabulary-items__wrapper {
    table {
        th {
            position: sticky;
            top: -20px;
            background: #f8f8f8;
            z-index: 1;
        }
    }
}


.date_shortcuts {
    margin-top: 2em;
    .sd-line-input.date_shortcuts--smaller {
        width: 5%;
    }
}
