<div sd-modal data-model="item" class="resend-popup">
    <div class="modal-header">
        <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate>Resend To</h3>
    </div>

    <div class="modal-body">
        <fieldset>
            <div class="field" ng-show="customSubscribers">
                <label translate>Select Subscribers</label>
                <div class="term-editor"
                     sd-meta-terms
                     data-item="selectedSubscribers"
                     data-field="items"
                     data-unique="qcode"
                     data-list="customSubscribers"
                     data-header="true"
                     data-reload-list="true"
                     ></div>
            </div>
        </fieldset>
    </div>

    <div class="modal-footer">
        <button id="save-edit-btn" type="submit" class="btn btn-info pull-right"
            ng-click="resendItem()"
            ng-disabled="selectedSubscribers.items.length == 0" translate>Resend</button>
        <button id="cancel-edit-btn" type="button" class="btn pull-right" ng-click="cancel()" translate>Cancel</button>
    </div>
</div>
