
@import '~mixins.scss';
@import '~variables.scss';

.words-list {
    margin-top: 4px;
    max-height: 10em;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #dfdfdf;

    li {
        padding: 2px 2px 2px 8px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
            background-color: #e7f2f7;
        }
        &.vs-repeat-before-content, &.vs-repeat-after-content {
            padding: 0; margin: 0;
        }
    }
}


.abbreviations-list__item {
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    &--heading {
        padding: 0.8rem 0;
        margin-top: 2rem;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
        .abbreviations-field {
            font-weight: 500;
        }
    }
}
.abbreviations-field {
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    label {
        width: 110px;
        display: inline-block;
        margin: 0 !important;
        &.case-sensitive { text-transform: none; }
    }
    &--grow {
        flex-grow: 1;
    }
    &--abbreviation {
        font-weight: 400;
        font-size: 1.4rem;
        color: $grayText;
    }
}
.abbreviations-field + .abbreviations-field {
    margin-right: 1rem;
}