
@import '~mixins.scss';
@import '~variables.scss';

.words-list {
    margin-block-start: 4px;
    max-height: 10em;
    overflow-y: auto;
    background-color: var(--sd-item__main-Bg);
    border: 1px solid var(--sd-colour-line--light);

    li {
        padding: 2px 2px 2px 8px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
            background-color: var(--sd-item__main-Bg--alternate);
        }
        &.vs-repeat-before-content, &.vs-repeat-after-content {
            padding: 0; margin: 0;
        }
    }
}


.abbreviations-list__item {
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
    border-block-end: 1px solid rgba(0, 0, 0, 0.15);
    &--heading {
        padding: 0.8rem 0;
        margin-block-start: 2rem;
        border-block-start: 1px solid rgba(0, 0, 0, 0.15);
        border-block-end: 2px solid rgba(0, 0, 0, 0.15);
        .abbreviations-field {
            font-weight: 500;
        }
    }
}
.abbreviations-field {
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    label {
        width: 110px;
        display: inline-block;
        margin: 0 !important;
        &.case-sensitive { text-transform: none; }
    }
    &--grow {
        flex-grow: 1;
    }
    &--abbreviation {
        font-weight: 400;
        font-size: 1.4rem;
        color: var(--color-text-light);
    }
}
.abbreviations-field + .abbreviations-field {
    margin-inline-end: 1rem;
}