<div class="dropdown dropdown--align-right dropdown--more-activity item-actions-menu"
    dropdown
    dropdown-append-to-body
    is-open="open"
    on-toggle="toggleActions(open)">
    <button class="more-activity-toggle condensed dropdown__toggle"
        ng-click="stopEvent($event)"
        ng-dblclick="stopEvent($event)"
        ng-show="active || open"
        dropdown__toggle><i class="icon-dots-vertical"></i></button>

    <ul class="dropdown dropdown--align-right dropdown__menu more-activity-menu" ng-class="{open: open}">
        <li><div class="dropdown__menu-label" translate>Actions</div></li>
        <li class="dropdown__menu-divider"></li>

        <li ng-repeat="activity in actions.default" sd-activity-item></li>

        <li class="dropdown__menu-divider" ng-if="actions.packaging"></li>
        <li ng-if="actions.packaging"><div class="dropdown__menu-label" translate>Packaging</div></li>
        <li ng-repeat="activity in actions.packaging" sd-activity-item></li>

        <li class="dropdown__menu-divider" ng-if="actions.highlights"></li>
        <li ng-if="actions.highlights"><div class="dropdown__menu-label" translate>Highlights</div></li>
        <li ng-repeat="activity in actions.highlights" sd-activity-item></li>

        <li ng-if="actions.corrections" class="dropdown__menu-divider"></li>
        <li ng-if="actions.corrections"><div class="dropdown__menu-label" translate>Corrections</div></li>
        <li ng-repeat="activity in actions.corrections" sd-activity-item></li>

        <li ng-if="!actions.default && !actions.packaging && !actions.highlights && !actions.corrections">
            <div class="info-block" translate>You don't have the privileges to perform any action</div>
        </li>
    </ul>
</div>
