<div class="dropdown dropdown--align-right dropdown--more-activity item-actions-menu"
     dropdown
     dropdown-append-to-body
     is-open="open"
     on-toggle="toggleActions(open)">
    <button class="more-activity-toggle condensed dropdown__toggle"
            ng-click="stopEvent($event)"
            ng-dblclick="stopEvent($event)"
            ng-show="active || open"
            dropdown__toggle><i class="icon-dots-vertical"></i></button>

    <ul class="dropdown dropdown--align-right dropdown__menu more-activity-menu" ng-class="{open: open}">
        <li>
            <div class="dropdown__menu-label" translate>
                Actions
                <button class="dropdown__menu-close"><i class="icon-close-small"></i></button>
            </div>
        </li>
        <li ng-repeat-start="group in menuGroups"></li>
        <li class="dropdown__menu-divider"></li>
        <li ng-repeat="activity in group.actions" sd-activity-item></li>
        <li ng-if="group.concate" sd-activity-dropdown-item data-group="{group.label}"></li>
        <li ng-if="!menuGroups.length">
            <div class="info-block" translate>You don't have the privileges to perform any action</div>
        </li>
        <li ng-repeat-end></li>
    </ul>
</div>
