<div class="stage"
	ng-class="{swimlane: (viewColumn && (viewType === 'monitoring' || viewType === 'deskOutput' || viewType === 'scheduledDeskOutput'))}">

    <div sd-monitoring-group-header class="column-header" ng-class="{swimlane: viewColumn}" ng-if="group.header && viewType !== 'single_monitoring'">
    </div>

    <div sd-items-list class="stage-content group"
        ng-class="{refresh: showRefresh, 'sd-grid-group': view === 'photogrid'}"
        ng-style="style"
        data-hide-actions-for-monitoring-items="hideActionsForMonitoringItems"
        data-disable-monitoring-multi-select="disableMonitoringMultiSelect"
        on-monitoring-item-select="onMonitoringItemSelect"
        on-monitoring-item-double-click="onMonitoringItemDoubleClick"></div>
</div>
