<!-- list view -->
<div class="header-container" ng-if="!viewColumn || viewType === 'spiked'">
    <div class="stage-header">
        <div class="stage-header__name" ng-if="group.header && group.subheader && viewType !== 'single_monitoring'">
            <a href="" ng-click="viewSingleGroup(group, 'desk')">{{group.header }}</a>
            <span>/</span>
            <a href="" ng-click="viewSingleGroup(group, 'stage')">{{group.subheader }} {{group.type | translate }}</a>
        </div>
        <!-- Desk output stages-->
        <div class="stage-header__name" ng-if="group.header && !group.subheader && viewType !== 'single_monitoring'">
            <span class="group-header">
                <a href="" ng-click="viewSingleGroup(group, 'single-stage')">{{group.header }} {{group.type|splitText | translate }}</a>
            </span>
        </div>
        <span class="stage-header__number label-total">{{ total || '0' }}</span>
        <div class="stage-header__stretch-bar"></div>
        <!-- desk notification section -->
        <div class="stage-header__notification" ng-if="!viewColumn">
            <div ng-if="group.type === 'stage'"
                sd-desk-notifications data-stage="group._id">
            </div>
        </div>
        <!-- refresh button -->
        <button ng-if="showRefresh" class="btn btn--text-only btn--icon-only-circle stage-header__refresh" ng-click="refreshGroup(group)" tooltip="{{'Refresh' | translate}}" tooltip-placement="left">
            <i class="icon-repeat icon--blue"></i>
        </button>
    </div>
</div>


<!-- swimlane view -->
<div class="header-container" ng-if="viewColumn && viewType !== 'spiked'">
    <div class="stage-header" ng-if="group.header && group.subheader && viewType !== 'single_monitoring'">
        <div class="stage-header__name">
            <a href="" ng-click="viewSingleGroup(group, 'desk')">{{group.header }}</a>
            <span class="group-divider">/</span>
            <a href="" ng-click="viewSingleGroup(group, 'stage')">{{group.subheader }}</a>  
        </div>
        <span class="stage-header__number label-total">{{ total || '0' }}</span>
        <div class="stage-header__notification">
            <div ng-if="group.type === 'stage'" class=""
                sd-desk-notifications data-stage="group._id">
            </div>
        </div>
    </div>
    <!-- Desk output stages-->
    <div class="stage-header" ng-if="group.header && !group.subheader && viewType !== 'single_monitoring'">
        <div class="stage-header__name">
            <a href="" ng-click="viewSingleGroup(group, 'single-stage')">{{group.header }} {{group.type|splitText | translate }}</a>
        </div>
        <span class="stage-header__number label-total">{{ total || '0' }}</span>
        <div class="stage-header__notification">
            <div ng-if="group.type === 'stage'" class=""
                sd-desk-notifications data-stage="group._id">
            </div>
        </div>
        <button ng-if="showRefresh" class="btn btn--text-only btn--icon-only-circle stage-header__refresh" ng-click="refreshGroup(group)" tooltip="{{'Refresh' | translate}}" tooltip-placement="left">
            <i class="icon-repeat icon--blue"></i>
        </button>
    </div>
</div>