<div class="form-label" translate>Schedule</div>

<div class="form__row">
    <sd-check type="radio" ng-model="wrapper.everyDay" ng-value="true" label-position="inside" translate>Every day</sd-check>
    <sd-check type="radio" ng-model="wrapper.everyDay" ng-value="false" label-position="inside" translate>Select days</sd-check>
</div>

<div
    ng-if="wrapper.everyDay !== 'true'"
    sd-weekday-picker
    data-short-weekday-labels="true"
    data-model="wrapper.customWeekdays"
    class="form__row"></div>

<div class="form-label" translate>Time</div>

<div class="form__row">
    <sd-check type="radio" ng-model="wrapper.everyHour" ng-value="true" label-position="inside" translate>Every hour</sd-check>
    <sd-check type="radio" ng-model="wrapper.everyHour" ng-value="false" label-position="inside" translate>Select hours</sd-check>
</div>

<div ng-if="wrapper.everyHour !== 'true'" class="form__row">
    <div sd-multi-select
        data-item="wrapper.customHours"
        data-list="wrapper.hoursList"
        data-change="setDirty(true)"></div>
</div>