<div id="item-preview" class="preview-pane content-item-preview" ng-if="item" ng-class="{shift: toggleLeft}">
    <button class="shift-preview__toggle" ng-class="{shift: toggleLeft, swimlane: viewColumn}" ng-click="shiftPreview()">
        <i class="icon-chevron-left-thin"></i>
    </button>
    <header>
        <ul class="nav-tabs" ng-class="{'nav-tabs--small': (showRelatedTab && showHistoryTab) || (showRelatedTab && isMediaUsed) || (showHistoryTab && isMediaUsed)}">
            <li class="nav-tabs__tab" ng-class="{'nav-tabs__tab--active': vm.current_tab === 'content'}">
                <button class="nav-tabs__link" ng-click="vm.current_tab = 'content'"><span translate>Content</span></button>
            </li>
            <li class="nav-tabs__tab" ng-class="{'nav-tabs__tab--active': vm.current_tab === 'metadata'}">
                <button class="nav-tabs__link" ng-click="vm.current_tab = 'metadata'"><span translate>Metadata</span></button>
            </li>
            <li class="nav-tabs__tab" ng-show="showRelatedTab" ng-class="{'nav-tabs__tab--active': vm.current_tab === 'related'}">
                <button class="nav-tabs__link" ng-click="vm.current_tab = 'related'"><span translate>Duplicates</span></button>
            </li>
            <li class="nav-tabs__tab" ng-show="showHistoryTab" ng-class="{'nav-tabs__tab--active': vm.current_tab === 'history'}">
                <button class="nav-tabs__link" ng-click="vm.current_tab = 'history'" translate>Item history</button>
            </li>
            <li class="nav-tabs__tab" ng-show="isMediaUsed" ng-class="{'nav-tabs__tab--active': vm.current_tab === 'used'}">
                <button class="nav-tabs__link" ng-click="vm.current_tab = 'used'" translate>Used</button>
            </li>
            <li class="nav-tabs__tab" ng-show="isAssigned" ng-class="{'nav-tabs__tab--active': vm.current_tab === 'assignment'}">
                <button class="nav-tabs__link" ng-click="vm.current_tab = 'assignment'" translate>Assignment</button>
            </li>
        </ul>
        <button ng-click="close()" class="icn-btn close-preview">
            <i class="icon-close-small"></i>
        </button>
    </header>
    <div class="content">
        <div ng-if="vm.current_tab === 'content'" sd-media-preview data-item="item"></div>
        <div ng-if="vm.current_tab === 'metadata'" sd-media-metadata data-item="item"></div>
        <div ng-if="vm.current_tab === 'related' && showRelatedTab"
             sd-media-related data-item="item"
             data-related-items="relatedItems">
        </div>
        <div ng-if="vm.current_tab === 'history' && showHistoryTab" sd-versioning-history data-item="item"></div>
        <div ng-if="vm.current_tab === 'used' && isMediaUsed" sd-media-used data-item="item"></div>
        <div ng-if="vm.current_tab === 'assignment' && isAssigned" sd-assignment-preview data-item="item"></div>
    </div>
</div>
