<div id="item-preview" class="preview-pane content-item-preview" ng-if="item" ng-class="{shift: toggleLeft}">
    <button class="shift-preview__toggle" ng-class="{shift: toggleLeft, swimlane: viewColumn}" ng-click="shiftPreview()">
        <i class="icon-chevron-left-thin"></i>
    </button>
    <header>
        <ul class="nav nav-tabs">
            <li ng-class="{active: vm.current_tab === 'content'}">
                <button ng-click="vm.current_tab = 'content'"><span translate>Content</span></button>
            </li>
            <li ng-class="{active: vm.current_tab === 'metadata'}">
                <button ng-click="vm.current_tab = 'metadata'"><span translate>Metadata</span></button>
            </li>
            <li ng-show="showRelatedTab" ng-class="{active: vm.current_tab === 'related'}">
                <button ng-click="vm.current_tab = 'related'"><span translate>Duplicates</span></button>
            </li>
            <li ng-show="showHistoryTab" ng-class="{active: vm.current_tab === 'history'}">
                <button ng-click="vm.current_tab = 'history'" translate>Item history</button>
            </li>
            <li ng-show="isMediaUsed" ng-class="{active: vm.current_tab === 'used'}">
                <button ng-click="vm.current_tab = 'used'" translate>Used</button>
            </li>
        </ul>
        <button ng-click="close()" class="close-preview">
            <i class="icon-close-small"></i>
        </button>
    </header>
    <div class="content">
        <div ng-if="vm.current_tab === 'content'" sd-media-preview data-item="item"></div>
        <div ng-if="vm.current_tab === 'metadata'" sd-media-metadata data-item="item"></div>
        <div ng-if="vm.current_tab === 'related' && showRelatedTab"
             sd-media-related data-item="item"
             data-related-items="relatedItems">
        </div>
        <div ng-if="vm.current_tab === 'history' && showHistoryTab" sd-versioning-history data-item="item"></div>
        <div ng-if="vm.current_tab === 'used' && isMediaUsed" sd-media-used data-item="item"></div>
    </div>
</div>
