<div sd-export ng-if="export"></div>

<div class="multi-action-bar" ng-if="multi.count && display">
    <button class="toggle" ng-click="toggleDisplay()"><i class="icon-chevron-up-thin"></i></button>
    <button class="btn" ng-click="multi.reset()">cancel</button>
    <span id="multi-select-count"
          translate
          translate-n="multi.count"
          translate-plural="{{ multi.count}} Items selected">{{ multi.count}} Item selected</span>

    <div class="pull-right">
        <sd-multi-action-bar-react
            context="type"
            articles="multi.getItems()"
            get-core-actions="getActions"
            compact="elementState === 'compact'"
        ></sd-multi-action-bar-react>
    </div>
</div>
