<div class="multi-action-bar" ng-if="multi.count && display">
    <button class="btn btn--hollow btn--icon-only btn--icon-only-circle me-1" ng-click="toggleDisplay()"><i class="icon-chevron-up-thin"></i></button>
    <button class="btn" ng-click="multi.reset()">cancel</button>
    <span id="multi-select-count"
          translate
          translate-n="multi.count"
          translate-plural="{{ multi.count}} Items selected">{{ multi.count}} Item selected</span>

    <div class="pull-right">
        <sd-multi-action-bar-react
            data-articles="multi.getItems()"
            data-get-core-actions="getActions"
            data-compact="elementState === 'compact'"
            data-hide-multi-action-bar="hideMultiActionBar"
        ></sd-multi-action-bar-react>
    </div>
</div>
