<div id="repo-dropdown" class="dropdown" dropdown ng-controller="SearchMenuController as search">
    <button class="dropdown__toggle navbtn navbtn--text-only" dropdown__toggle>
        {{ search.providerLabel(activeProvider) || 'Superdesk' }}
        <span class="dropdown__caret"></span>
    </button>
    <ul class="dropdown__menu">
        <li ng-repeat="provider in search.providers track by provider._id"  ng-class="{active: isActive(provider)}">
            <button ng-click="toggleProvider(provider._id ? provider : null)">{{ :: search.providerLabel(provider) }}</button>
        </li>
    </ul>
</div>