<!-- <form name="viewsForm"> -->
    <fieldset>
        <div class="field" ng-if="edit.filter.query.raw">
            <input id="search_query" type="text" class="fullwidth-input line-input" ng-model="edit.filter.query.raw" placeholder="{{:: 'Query' | translate}}">
        </div>
        <div class="field">
            <input id="search_name" type="text" class="fullwidth-input line-input" ng-model="edit.name" placeholder="{{:: 'Name' | translate}}" required>
        </div>
        <div class="field">
            <textarea id="search_description" class="line-input" sd-auto-height ng-model="edit.description" placeholder="{{:: 'Description' | translate}}"></textarea>
        </div>
        <div class="field" ng-if="!wrapper.edit.subscribers.user_subscriptions.length">
            <span id="search_global" sd-switch ng-model="edit.is_global"></span>
            <label class="label--inline" translate>Make global</label>
        </div>
    </fieldset>
<!-- </form> -->