<!-- <form name="viewsForm"> -->
    <fieldset>
        <div class="field">
            <input id="search_name" type="text" class="fullwidth-input line-input" ng-model="edit.name" placeholder="{{'Name' | translate}}" required>
        </div>
        <div class="field">
            <textarea id="search_description" class="line-input" sd-auto-height ng-model="edit.description" placeholder="{{'Description' | translate}}"></textarea>
        </div>
        <div class="field">
            <span id="search_global" sd-switch ng-model="edit.is_global"></span>
            <label class="label--inline" translate>Make global</label>
        </div>
    </fieldset>
<!-- </form> -->