<div sd-modal class="modal--large" ng-if="savedSearch != null" data-model="true">
    <div class="modal__header">
        <a href="" class="close" ng-click="closeModal()"><i class="icon-close-small"></i></a>
        <h3 class="modal__heading" translate="">
            <span ng-if="isAlreadySubscribed()" translate>Manage subscription</span>
            <span ng-if="!isAlreadySubscribed()" translate>New subscription</span>
        </h3>
    </div>

    <div class="modal__body" style="min-height: 550px;">
        <div class="sd-alert sd-alert--hollow sd-alert--primary">
            <p>You have chosen to subscribe to <strong>{{savedSearch.name}}</strong>. Please define the frequency and time of your email notifications below.</p>
        </div>

        <div
            sd-edit-time-interval
            data-initial-value="ownSubscription == null ? '' : ownSubscription.scheduling"
            on-change="handleIntervalChange"></div>
        
    </div>

    <div class="modal__footer">
        <button ng-if="isAlreadySubscribed()" class="btn btn--hollow pull-left" ng-click="unsubscribe()" translate=>Unsubscribe</button>
        <button class="btn" ng-click="closeModal()" translate>Cancel</button>
        <button class="btn btn--primary" ng-click="saveOrUpdate()" ng-disabled="savingEnabled() !== true"=>
            <span ng-if="isAlreadySubscribed()" translate=>Update subscription</span>
            <span ng-if="!isAlreadySubscribed()" translate=>Subscribe</span>
        </button>
    </div>
</div>
