<div class="filter-content" ng-class="{pull: showSaveSearch}">
    <div sd-toggle-box data-title="{{:: 'Content types' | translate }}" ng-hide="isEmpty('type')" data-open="true">
        <ul class="filter-box content-type-filters">
            <li ng-repeat="(key,value) in aggregations.type" ng-click="toggleFilter('type', key)" ng-class="{checked: hasFilter('type',key)}">
                <span class="hover-box">
                    <i class="filetype-icon-{{key}}"></i>
                    <span id="filetype-icon-{{key}}" class="sd-checkbox" ng-checked="hasFilter('type',key)"></span>
                </span>
                <span>{{ key | translate}} <i>{{ value }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('type', key, $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{ :: 'Languages' | translate }}" ng-hide="isEmpty('language')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(code, count) in aggregations.language" ng-click="toggleFilter('language', code)">
                <span class="sd-checkbox" ng-checked="hasFilter('language', code)"></span>
                <span>{{ :: languageLabel[code] || code }} <i>{{ count }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('language', code, $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Desks' | translate }}" ng-hide="isEmpty('desk')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(key,value) in aggregations.desk" ng-click="toggleFilter('desk', value.id)">
                <span class="sd-checkbox" ng-checked="hasFilter('desk', value.id)"></span>
                <span>{{ key | translate}} <i>{{ value.count }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('desk', value.id, $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Sources' | translate }}" ng-hide="isEmpty('source')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(key,value) in aggregations.source" ng-click="toggleFilter('source', key)">
                <span class="sd-checkbox" ng-checked="hasFilter('source',key)"></span>
                <span>{{ key | translate}} <i>{{ value }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('source', key, $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Credits' | translate }}" ng-hide="isEmpty('credit')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(key,value) in aggregations.credit" ng-click="toggleFilter('credit', key)">
                <span class="sd-checkbox" ng-checked="hasFilter('credit', key)"></span>
                <span>{{ key | translate}} <i>{{ value.count }}</i></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Services' | translate }}" ng-hide="isEmpty('category')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(key,value) in aggregations.category" ng-click="toggleFilter('category', key)">
                <span class="sd-checkbox" ng-checked="hasFilter('category',key)"></span>
                <span>{{ key | translate}} <i>{{ value }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('category', key, $event)"></span>
            </li>
        </ul>
    </div>


    <div sd-toggle-box data-title="{{:: 'Genres' | translate }}" ng-hide="isEmpty('genre')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(key,value) in aggregations.genre" ng-click="toggleFilter('genre', key)">
                <span class="sd-checkbox" ng-checked="hasFilter('genre',key)"></span>
                <span>{{ key | translate}} <i>{{ value }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('genre', key, $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Urgency' | translate }}" ng-hide="isEmpty('urgency')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(key,value) in aggregations.urgency" ng-click="toggleFilter('urgency', key)">
                <span class="sd-checkbox" ng-checked="hasFilter('urgency',key)"></span>
                <span>{{ key | translate}} <i>{{ value }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('urgency', key, $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Priority' | translate }}" ng-hide="isEmpty('priority')" data-open="true">
        <ul class="filter-box">
            <li ng-repeat="(key,value) in aggregations.priority" ng-click="toggleFilter('priority', key)">
                <span class="sd-checkbox" ng-checked="hasFilter('priority',key)"></span>
                <span>{{ key | translate}} <i>{{ value }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('priority', key, $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Flags' | translate }}" ng-hide="isEmpty('legal') && isEmpty('sms')" data-open="true">
        <ul class="filter-box">
            <li ng-click="toggleFilter('legal', 'true')" ng-hide="isEmpty('legal')">
                <span class="sd-checkbox" ng-checked="hasFilter('legal', 'true')"></span>
                <span>{{:: 'Legal' | translate}} <i>{{ aggregations.legal.count }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('legal', 'true', $event)"></span>
            </li>
            <li ng-click="toggleFilter('sms', 'true')" ng-hide="isEmpty('sms')">
                <span class="sd-checkbox" ng-checked="hasFilter('sms', 'true')"></span>
                <span>{{:: 'Sms' | translate}} <i>{{ aggregations.sms.count }}</i></span>
                <span class="icon-close-small pull-right remove-aggregate"
                      title="{{ :: 'Remove' | translate }}"
                      ng-if="repo.search === 'local'"
                      ng-click="excludeFacet('sms', 'true', $event)"></span>
            </li>
        </ul>
    </div>

    <div sd-toggle-box data-title="{{:: 'Dates' | translate }}" data-open="true">
        <form class="date-filter">
            <div class="predefined-dates">
                    <button ng-click="toggleFilter('date', 'Last Day')" 
                            class="btn btn--mini" 
                            ng-class="{active: hasFilter('date','Last Day')}">{{'Last Day' | translate}}</button>
                    <button ng-click="toggleFilter('date', 'Last Week')" 
                            class="btn btn--mini" 
                            ng-class="{active: hasFilter('date','Last Week')}">{{'Last Week' | translate}}</button>
                    <button ng-click="toggleFilter('date', 'Last Month')" 
                            class="btn btn--mini" 
                            ng-class="{active: hasFilter('date','Last Month')}">{{'Last Month' | translate}}</button>
            </div>
            <fieldset ng-show="repo.search === 'local' || providerType.startsWith('scanpix') || repo.search === 'content-api' || providerType === 'aapmm'">
                <div class="multiple">
                    <div class="field" sd-date-param data-location="afterfirstcreated">
                         <label for="created_after" translate>Created from</label>
                        <div sd-datepicker ng-model="date"></div>
                    </div>
                    <div class="field" sd-date-param data-location="beforefirstcreated">
                        <label for="created_before" translate>Created until</label>
                        <div sd-datepicker ng-model="date"></div>
                    </div>
                </div>
                <div class="multiple" ng-show="providerType.startsWith('scanpix')">
                    <div class="field" sd-date-param data-location="afterversioncreated">
                        <label for="modified_after" translate>Modified from</label>
                        <div sd-datepicker ng-model="date"></div>
                    </div>
                    <div class="field" sd-date-param data-location="beforeversioncreated">
                        <label for="modified_before" translate>Modified until</label>
                        <div sd-datepicker ng-model="date"></div>
                    </div>
                </div>
            </fieldset>
       </form>
    </div>

    <div sd-toggle-box data-title="{{:: 'Scheduled' | translate }}" data-open="true" ng-show="search_config.scheduled">
        <form class="date-filter">
            <div class="predefined-dates">
                <button id="search_scheduled_24h" ng-click="toggleFilter('date', 'Scheduled Last Day')" class="btn btn--mini" 
                    ng-class="{active: hasFilter('date','Scheduled Last Day')}">{{'Last 24 Hours' | translate}}</button>
                <button id="search_scheduled_8h" ng-click="toggleFilter('date', 'Scheduled Last 8Hrs')" class="btn btn--mini" 
                    ng-class="{active: hasFilter('date','Scheduled Last 8Hrs')}">{{'Last 8 Hours' | translate}}</button>
            </div>
        </form>
    </div>
</div>