<div class="subnav subnav--absolute">
    <header class="search-page-header">
        <button class="filter-trigger" aria-label="{{ :: 'Toggle filters' | translate }}" title="{{ :: 'Toggle filters' | translate }}" ng-click="flags.facets = !flags.facets" ng-class="{'filter-trigger--active': flags.facets}"><i class="icon-filter-large"></i></button>
        <div sd-repo-dropdown class="sortbar-flex-handler" style="white-space: nowrap;"></div>
        <div sd-item-searchbar data-context="context" class="searchbar-flex-handler"></div>
        <div sd-item-sortbar data-total="total_records" class="sortbar-flex-handler"></div>
        <div class="dropdown dropdown--align-right" dropdown data-test-id="view-select">
            <button
                aria-label="{{!monitoring.viewColumn && (!view || view === 'compact') ? ('List View' | translate) : !monitoring.viewColumn && view === 'compact-configurable' ? ('Compact View' | translate) : view === 'photogrid' ? ('Photo Grid View' | translate) : monitoring.viewColumn ? ('Swimlane View' | translate) : ''}}"
                dropdown__toggle
                class="navbtn dropdown__toggle"
            >
                <i ng-class="{'icon-list-view': !monitoring.viewColumn && (!view || view === 'compact' || view === 'compact-configurable'), 'icon-grid-view': view === 'photogrid', 'icon-kanban-view': monitoring.viewColumn}"></i>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <button ng-click="setview('compact')" aria-label="{{ :: 'List View' | translate }}">
                        <i class="icon-list-view"></i>{{ 'List View' | translate }}
                    </button>
                </li>
                <li ng-if="compactViewEnabled">
                    <button ng-click="setview('compact-configurable')" aria-label="{{ :: 'Compact View' | translate }}">
                        <i class="icon-unordered-list"></i>{{ 'Compact View' | translate }}
                    </button>
                </li>
                <li>
                    <button ng-click="setview('photogrid')" aria-label="{{ :: 'Photo Grid View' | translate }}">
                        <i class="icon-grid-view"></i>{{ 'Photo Grid View' | translate }}
                    </button>
                </li>
            </ul>
        </div>
        <div sd-multi-action-bar></div>
    </header>
</div>

<section sd-search-container class="search main-section search-page-container" ng-class="{'sidebar-open': flags.facets}">
    <div sd-search-panel class="archive-sidebar" data-items="items"
         data-repo="search.repo"
         data-providers="search.providers"
         data-toggle-repo="search.toggleRepo"
         data-provider-type="search.providerType"
         data-context="context" ng-if="flags.facets"></div>
    <div sd-search-results class="archive-content"></div>
</section>
