@import '~superdesk-ui-framework/app/styles/variables/_colors.scss';

.toggle-box {

    &__content--hidden {
        display: none;
    }

    &--invalid {
        .toggle-box {
            &__chevron {
                background-color: $red;
            }
            &__label {
                color: $red;
            }
            &__line {
                background-color: $red;
            }
        }
    }


    &--no-margin {
        margin: 0 !important;
    }

    &--padding-top {
        padding-block-start: 25px;
    }
}
