.sd-slide-in-panel__header--invalid {
    .subnav__sliding-toolbar {
        background-color: #FEF4F4;
        color: #E51C23;

        h3 {
            font-weight: 500;
            padding: 0 2rem 0 1.6rem;
        }
    }
}

.sd-slide-in-panel__footer {
    padding: 2rem 1.6rem;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
}

.btn-group--flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;

    .btn + .btn {
        margin-left: 0.8rem;
        margin-top: 0;
    }
}