.sd-slide-in-panel__header--invalid {
    .subnav__sliding-toolbar {
        background-color: #FEF4F4;
        color: #E51C23;

        h3 {
            font-weight: 500;
            padding: 0 2rem 0 1.6rem;
        }
    }
}
