// compare-versions.scss
// Styling for the superdesk compare-versions screen
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.close-compare-versions {
    position: absolute;
    inset-block-start: 14px; inset-inline-end: 14px;
    @include opacity(60);
    background: none;
    border: 0;
    padding: 0;
    &:hover {
        @include opacity(80);
    }
}

.compare-versions-screen {
    height: 90%;
    overflow-y: auto;

    .boards-list {
        position: absolute;
        inset-block-start: 0; inset-inline-start: 0; inset-block-end: 0; inset-inline-end: 0;
    }
    .boards-create {
        position: absolute;
        inset-block-start: 0; inset-block-end: 0; inset-inline-end: 0; width: 0;
        @include border-box();
        i {
            font-size: 48px;
            line-height: 100px;

            position: absolute;
            inset-block-start: 50%;
            margin-block-start: -50px;
            inset-inline-start: 50%;
            margin-inline-start: -20px;
        }
        &:hover {
            cursor: pointer;
            background: #d8d8d8;
        }
        .compare-versions-float {
            .dropdown__menu {
                position: fixed;
                inset-inline-start: auto;
                inset-inline-end: auto;
                inset-block-start: auto;
                inset-block-end: auto;
                max-width: 270px;
                li button {
                    max-width: 250px !important;
                }
            }
        }
    }
    .boards-list {
        .board {
            background: $white;
            float: inline-start;
            height: 100%;
            border: 1px solid #cacaca;
            border-width: 0 1px;
            position: relative;

            > .dropdown {
                inset-inline-start: 8px;
                inset-block-start: 5px;
                border: 0;
                position: absolute;
                z-index: 2;
                width: 4rem;
                .dropdown__toggle {
                    padding: 0 12px;
                    i {
                        @include opacity(40);
                    }
                }
                .dropdown__menu {
                    margin-block-start: -4px;
                }
                &:hover {
                    .dropdown__toggle {
                        i {
                            @include opacity(100);
                        }
                    }
                }
            }

            > .board-article {
                width: 100%;
                height: 100%;
                > .main-article {
                    border: 0;
                    padding: 2.4rem 2.4rem $bottom-view-padding + 2.4rem;

                    &.locked {
                        border-inline-start: 4px solid $state-border--locked;
                    }

                    .editbar {
                        visibility: hidden;
                        overflow: hidden;
                        margin: 0 0 20px;
                    }
                    .board-article-header {
                        margin: 0 0 2.4rem 3.2rem;
                        &__metadata {
                            display: inline-block;
                            margin-inline-end: .6rem;
                            font-size: 12px;
                            font-weight: 500;
                            color: $grayDark;
                            &-label {
                                font-style: italic;
                                font-weight: 400;
                                color: $gray;
                            }
                            &-content {
                                margin-inline-end: 5px;
                            }
                        }
                    }
                }
            }
            &__no-article {
                margin: 20px 0 0 60px;
                font-size: 1.2rem;
                color: gray;
                font-style: italic;
            }
            &:hover {
                .editbar {
                    visibility: visible !important;
                }
            }
        }
    }
}
