<div class="datepicker-wrapper" ng-show="open" ng-keydown="keydown($event)">
    <div class="datepicker-additional" ng-if="shortcuts">
        <table>
            <tbody>
                <tr>
                    <td ng-repeat="b in shortcuts">
                        <button class="btn btn--mini" ng-click="selectShortcut(b.value, b.term)">{{ b.label }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-core" ng-transclude></div>
    <button class="btn btn--primary btn--small pull-right" ng-click="dateSelection()" translate>Confirm</button>
    <button class="btn btn--small pull-right" ng-click="close()" translate>Cancel</button>
</div>
