// widgets-article.scss
// Widget styling for article edit and packaging screen
// ----------------------------------------------------------------------------------------
@import '~mixins.scss';
@import '~variables.scss';

.widget-wrapper {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &.active-left {
        .page-content-container {
            left: $tablist-width + $tabpane-width + $article-tabpane-padding;
        }
        &.left-extended {
            .page-content-container {
                left: $tablist-width + $tabpane-extended-width + $article-tabpane-padding;
            }
        }
    }
    &.active-right {
        .page-content-container {
            right: $tablist-width + $tabpane-width + $article-tabpane-padding;
        }
        &.right-extended {
            .page-content-container {
                right: $tablist-width + $tabpane-extended-width + $article-tabpane-padding;
            }
        }
    }
}

.workqueue .widget-wrapper .right-tabpane {
    bottom: 30px;
}

.tabpane {
    .sd-widget {
        width: auto; 
        height: 100%;
        position: relative;
        border:0;
        .widget-line {
            display: none;
        }
        .widget-header {
            height: 48px;
            box-sizing: border-box;
            .widget-icon {
                display: none;
            }
            .widget-title {
                line-height: 100%;
                font-size: 1.4rem;
                padding: 0 1rem;
            }
        }
        .widget-settings {
            top: 8px;
        }
        .widget-content {
            background-color: $sd-background;
            margin-top: 0;
            overflow: auto;
            bottom: 0;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr;
            fieldset {
                padding: 10px;
                &.fieldset--no-padding {
                    padding: 0;
                }
                .btn-group.pull-left {
                    margin-left: 0;
                }
            }
            span.chevron {
                background-color: $sd-background;
                ~ h6 {
                    background-color: $sd-background;
                }
            }
            .nav-tabs {
                padding: 0 6px;
                background-color: $white;
                @include box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.1));
            }
            .widget-content-padding {
                padding: 10px;
            }
            .widget-header__action {
                position: fixed;
                top: 106px;
                right: 61px;
                z-index: 999;
            }
        }
        .widget-content__header {
            grid-row: 1/2;
            grid-column: 1/2;
            position: relative;
        }
        .widget-content__main {
            grid-row: 2/3;
            grid-column: 1/2;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .widget-content__footer {
            grid-row: 3/4;
            grid-column: 1/2;
            position: relative;
        }
    }
}

.sd-widget.macros {
    .macro-option {
        margin-bottom: 20px;
    }
    .link-list .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}
