//TODO: Refactor these styles into separate smaller files.

@import '~mixins.scss';
@import '~variables/_typography.scss';
@import '~variables/_colors.scss';

// colors
$editor-neutral-border: rgba(150,150,150,0.4);
$editor-neutral-bg: rgba(150,150,150,0.25);
$editor-neutral-color: rgba(150,150,150,0.8);

.main-article .abstract div.Editor3-root div.link-toolbar {
	font-size: 12px !important;
	font-style: normal;
	padding: 0 10px;
	border-top: 1px solid rgba(150,150,150,0.5);
	//background-color: #fdfdfd;
	height: 0;
	min-height: auto;
	opacity: 0;
	transition: all .2s ease-out;

	&.is-link {
		height: 26px; 
		padding: 5px 10px;
		opacity: 1;
	}
}

.Editor3-root {
	iframe {
		width: 97%;
	}
	border: 1px solid $editor-neutral-border;
	//font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 0;
	position: relative;

	&.no-toolbar {
		padding-top: 5px;
	}

	.link-toolbar {
		font-size: 12px;
		color: $editor-neutral-color;
		padding: 0 10px;
		border-top: 1px solid rgba(150,150,150,0.25);
		height: 0;
		opacity: 0;
		transition: all .2s ease-out;

		&.is-link {
			height: 26px; 
			padding: 5px 10px;
			opacity: 1;
		}

		a {
			margin-left: 10px;
			cursor: pointer;
			color: rgba(150,150,150,0.90);
			&:hover {
				color: rgba(150,150,150,1);
				border-bottom: 1px dotted $sd-blue;
			}
		}
	}


	.Editor3-controls.floating-toolbar {
		position: fixed;
		top: 132px;
		left: auto;
		z-index: 10;
		box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
		max-width: 490px;

		.link-toolbar.empty {
			display: none;
		}
	}

	&.read-only {
		cursor: not-allowed;

		.Editor3-controls {
			* {
				pointer-events: none;
			}

			&.table-controls {
				* {
					pointer-events: all;
				}

				opacity: 1;

				.Editor3-styleButton:hover {
					color: #555;

					[class*="icon-"] {
						color: #555;
					}
				}

				[class*="icon-"] {
					color: #999;
					position: relative;
					top: 3px;

					&:hover {
						color: #555;
					}
				}
			}

			opacity: 0.98;

			[class*="icon-"] {
				color: #ddd;

				&:hover {
					color: #ddd;
				}
			}
		}
	}

	.table-block {
		&.table-header {
			tr:first-child td {
				background-color: rgba(150,150,150,0.2);
			}
		}

		&__controls {
			margin-bottom: 6px;

			span {
				background: #000;
				color: #fff;
				padding: 5px 10px;
				cursor: pointer;
				font-size: 13px;
				font-family: 'Helvetica', sans-serif;

				&:hover {
					background: #444;
				}

				&:first-child {
					border-radius: 5px 0 0 5px;
					border-right: 1px solid #999;
				}

				&:last-child {
					border-radius: 0 5px 5px 0;
				}
			}
		}

		table td {
			.public-DraftEditor-content {
				margin: 0;
				padding: 0;
			}

			position: relative;
			border: 1px solid rgba(150,150,150,0.25);
			padding: 5px;
			min-width: 20px;
		}
	}

	.word-typo:not(.ignored) {
	    border-bottom-width: 1px;
	    border-bottom-style: dotted;
	    border-bottom-color: red;
	    position: relative;
	    display: inline-block;
	}

	.suggestions-dropdown {
		display: block;
		position: absolute;
		top: 24px;
		left: -10px;
	}

	.qumu-embed {
		white-space: initial;
	}

	.media-block {
		text-align: left;
		font-family: $baseFontFamily;
		
		&__wrapper {
			display: inline-block;
		}

		&__title {
			resize: none;
			font-size: 16px;
			line-height: 140%;	
			padding: 5px 5px 5px 0;
			margin-bottom: 5px;
			min-height: 28px;
			background-color: transparent;
			border: none;
		}
		&__description {
			font-size: 13px;			
			line-height: 140%;
			resize: none;
			padding: 5px 5px 5px 0;
			min-height: 28px;
			color: #747474;
			background-color: transparent;
			border: none;
		}

		img, video, audio {
			display: inline-block;
			cursor: pointer;
		}
	}

	ul.public-DraftStyleDefault-ul, ol.public-DraftStyleDefault-ol {
		margin: 0 0 0 20px;
		padding: 0 0 0 20px;

		.public-DraftStyleDefault-depth1 {margin-left: 40px;}
		.public-DraftStyleDefault-depth2 {margin-left: 60px;}
		.public-DraftStyleDefault-depth3 {margin-left: 80px;}
		.public-DraftStyleDefault-depth4 {margin-left: 100px;}
	}

	ul.public-DraftStyleDefault-ul > li { list-style-type: disc; }
}

.Editor3-editor {
	cursor: text;
	font-size: 16px;
	line-height: 140%;
	margin-top: 10px;
        word-break: break-word;
}

.Editor3-editor-single-line {
	border-bottom: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	margin-bottom: 10px;
}

.Editor3-editor .public-DraftEditorPlaceholder-root,
.Editor3-editor .public-DraftEditor-content {
	padding: 10px 15px 0 15px;
}

.Editor3-editor .public-DraftEditor-content {
	min-height: 20px;

	[data-block="true"] {
		margin-bottom: 1.6em;
	}

	[data-block="true"]:last-child {
		margin-bottom: 0.6em;
	}
}

.Editor3-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.Editor3-editor .Editor3-blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-style: italic;
	margin: 16px 0;
	padding: 10px 20px;
}

.Editor3-editor .public-DraftStyleDefault-pre {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 16px;
	padding: 20px;
}

.Editor3-controls {
	width: 100%;
	min-width: 300px;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	user-select: none;
	background-color: scale-color($editor-neutral-bg, $alpha: -60%);
	border-bottom: 1px solid;
	border-bottom-color: scale-color($editor-neutral-border, $alpha: -50%);
	line-height: 100% !important;

	&.disabled {
		* {
			pointer-events: none;
		}
	}

	.embed-dialog {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2000;
		display: block;
		background-color: #fff;
		width: 99%;
		border: 1px solid #dedede;
		margin: 3px;

		&__error {
			padding: 3px;
			font-size: 13px;
			color: #880000;
		}

		input {
			height: 30px;
			padding: 8px 47px 8px 15px;
		}
	}

	.input-controls {
		position: absolute;
		top: 5px;
		right: 5px;
		
		i {
			&.icon-close-small {
				width: 16px;
				height: 16px;
			}

			&.svg-icon-ok {
				width: 15px;
				height: 15px;
				margin-right: 2px;
			}
		}
	}

	.link-input {
		display: block;
		background: #fff;
		width: 100%;
		position: relative;

		input[type="url"] {
			padding: 0px 47px 0px 5px;
		}
	}
}

.Editor3-styleButton {
	&.short {padding-right: 2px; margin-right: -10px;}

	color: rgba(150,150,150,0.8);
	cursor: pointer;
	margin: 0px;
	padding: 10px;
	display: inline-block;

	font-size: 13px;
	font-style: normal;

	span {
		font-size: 13px;
		font-style: normal;
	}

	[class*="icon-"] {
		color: rgba(150,150,150,0.8);

		&:hover {
			color: #555;
		}
	}

	.inactive [class*="icon-"] {
		color: rgba(150,150,150,0.2);

		&:hover {
			color: #ddd;
		}
	}

	&.Editor3-activeButton, &.Editor3-activeButton [class*="icon-"] {
		color: #5890ff;
	}
}

/** Editor2 CSS Fix for headline **/
.main-article .headline div.Editor3-root div {
	font-size: 14px !important;
	line-height: 100% !important;

	.DraftEditor-editorContainer div {
		font-size: 28px !important;
		line-height: 120% !important;
	}
}

/** Editor2 CSS Fix for abstract **/
.main-article .abstract div.Editor3-root div {
	font-size: 14px !important;
	line-height: 100% !important;

	.DraftEditor-editorContainer div {
		font-size: 16px !important;
		line-height: 150% !important;
	}
}

.annotation-input {
	.dropdown__menu {
		width: 465px;
	}

	.Editor3-editor {
		font-size: 13px;
		margin-bottom: 10px;

		.public-DraftEditor-content {
			[data-block="true"]            { margin-bottom: 0.7em; }
			[data-block="true"]:last-child { margin-bottom: 0.3em; }

			padding: 5px 10px 0 10px;
		}

		.DraftEditor-root {
			max-height: 150px;
			overflow-y: auto;
		}

		.Editor3-styleButton {
			padding: 5px;
			i { font-size: 13px; }
		}
	}
}

/** COMMENTS **/
.comment-input, .annotation-input {
	.dropdown a { color: $sd-blue; }
	.dropdown__menu {
		padding: 15px;

		label    { margin-bottom: 5px; }
		textarea { margin-bottom: 10px; }

		.mentions-input {
			width: 300px;
			margin-bottom: 10px;

			&__suggestions__item {
				height: 33px;
				width: 240px;

				&__display {
					overflow: hidden;
					text-overflow: ellipsis;
					width: 175px;
					white-space: nowrap;
				}
			}

			.entry {
				.avatar.initials {
					width: 21px;
					height: 21px;
					margin: 0 5px 0 0;
					line-height: 21px;
					font-size: 10px;
				}

				.icon-tasks {
					margin: 0 5px 0 2px;
					position: relative;
					top: 2px;
				}
			}
		}
	}
}

.highlights-popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	.dropdown a:not(.btn) { color: $sd-blue; }
	.dropdown__menu {
		width: 250px;
		padding: 15px;
		max-height: 250px;
		overflow-y: auto;
	}

	.comment-replies {
		margin: 10px 0;

		.small {
			font-size: 11px;
			border-left: 5px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;
			background: #fbfbfb;
			padding: 10px 0 5px 10px;
		}

		.highlights-popup__header {
			padding: 0 0 5px;
		}
	}

	.comment-reply-input {
		.btn-reply {
			margin: 5px 0 0;
			float: right;
		}
	}

	&__header {
		float: left;
		padding: 0 0 15px;
		width: 100%;

		.user-avatar figure {
			margin: 1px 8px 0 0;
		}

		.user-info {
			.author-name {
				font-weight: bold;
			}

			.date {
				color: $gray;
				font-size: 11px;
				line-height: 13px;
			}
		}
	}

	&__body {
		a {
			color: #5d9bc0;
		}
		clear: both;
		white-space: pre-wrap;
	}

	&__html {
		margin: 10px 0;
		p:last-child {
			margin-bottom: 0;
		}
	}

	&__type {
		font-size: 1.1rem;
	}
}
