@import '~mixins.scss';
@import '~variables/_typography.scss';

.main-article .abstract div.Editor3-root div.link-toolbar {
	font-size: 12px !important;
	font-style: normal;
	padding: 0 10px;
	border-top: 1px solid #efefef;
	background-color: #fdfdfd;
	height: 0;
	min-height: auto;
	opacity: 0;
	transition: all .2s ease-out;

	&.is-link {
		height: 26px; 
		padding: 5px 10px;
		opacity: 1;
	}
}

.Editor3-root {
	iframe {
		width: 97%;
	}

	background: #fff;
	border: 1px solid #ddd;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 0;
	position: relative;

	&.no-toolbar {
		padding-top: 5px;
	}

	.link-toolbar {
		font-size: 12px;
		color: #444;
		padding: 0 10px;
		border-top: 1px solid #efefef;
		background-color: #fdfdfd;
		height: 0;
		opacity: 0;
		transition: all .2s ease-out;

		&.is-link {
			height: 26px; 
			padding: 5px 10px;
			opacity: 1;
		}

		a {
			margin-left: 5px;
			cursor: pointer;
		}
	}

	&.floating-toolbar .link-toolbar.empty {
		display: none;
	}

	&.floating-toolbar .Editor3-controls {
		position: fixed;
		top: 132px;
		left: auto;
		z-index: 10;
		box-shadow: 0px 1px 5px #efefef;
		max-width: 490px;
	}

	&.read-only {
		cursor: not-allowed;

		.Editor3-controls {
			* {
				pointer-events: none;
			}

			&.table-controls {
				* {
					pointer-events: all;
				}

				opacity: 1;

				.Editor3-styleButton:hover {
					color: #555;

					[class*="icon-"] {
						color: #555;
					}
				}

				[class*="icon-"] {
					color: #999;
					position: relative;
					top: 3px;

					&:hover {
						color: #555;
					}
				}
			}

			opacity: 0.98;

			[class*="icon-"] {
				color: #ddd;

				&:hover {
					color: #ddd;
				}
			}
		}
	}

	.table-block {
		&.table-header {
			tr:first-child td {
				background-color: #fafafa;
			}
		}

		&__controls {
			margin-bottom: 6px;

			span {
				background: #000;
				color: #fff;
				padding: 5px 10px;
				cursor: pointer;
				font-size: 13px;
				font-family: 'Helvetica', sans-serif;

				&:hover {
					background: #444;
				}

				&:first-child {
					border-radius: 5px 0 0 5px;
					border-right: 1px solid #999;
				}

				&:last-child {
					border-radius: 0 5px 5px 0;
				}
			}
		}

		table td {
			.public-DraftEditor-content {
				margin: 0;
				padding: 0;
			}

			position: relative;
			border: 1px solid #efefef;
			padding: 5px;
			min-width: 20px;
		}
	}

	.word-typo:not(.ignored) {
	    border-bottom-width: 1px;
	    border-bottom-style: dotted;
	    border-bottom-color: red;
	    position: relative;
	    display: inline-block;
	}

	.suggestions-dropdown {
		display: block;
		position: absolute;
		top: 24px;
		left: -10px;
	}

	.qumu-embed {
		white-space: initial;
	}

	.image-block {
		text-align: left;
		font-family: $baseFontFamily;
		
		&__wrapper {
			display: inline-block;
		}

		&__title {
			resize: none;
			font-size: 16px;
			line-height: 140%;	
			padding: 5px 5px 5px 0;
			margin-bottom: 5px;
			min-height: 28px;
			background-color: transparent;
			border: none;
		}
		&__description {
			font-size: 13px;			
			line-height: 140%;
			resize: none;
			padding: 5px 5px 5px 0;
			min-height: 28px;
			color: #747474;
			background-color: transparent;
			border: none;
		}

		img {
			display: inline-block;
			cursor: pointer;
		}
	}

	ul.public-DraftStyleDefault-ul, ol.public-DraftStyleDefault-ol {
		margin: 0 0 0 20px;
		padding: 0 0 0 20px;

		.public-DraftStyleDefault-depth1 {margin-left: 40px;}
		.public-DraftStyleDefault-depth2 {margin-left: 60px;}
		.public-DraftStyleDefault-depth3 {margin-left: 80px;}
		.public-DraftStyleDefault-depth4 {margin-left: 100px;}
	}

	ul.public-DraftStyleDefault-ul > li { list-style-type: disc; }
}

.Editor3-editor {
	border-top: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	line-height: 140%;
	margin-top: 10px;
}

.Editor3-editor-single-line {
	border-bottom: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	margin-bottom: 10px;
}

.Editor3-editor .public-DraftEditorPlaceholder-root,
.Editor3-editor .public-DraftEditor-content {
	padding: 10px 15px 0 15px;
}

.Editor3-editor .public-DraftEditor-content {
	min-height: 20px;

	[data-block="true"] {
		margin-bottom: 1.6em;
	}
}

.Editor3-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.Editor3-editor .Editor3-blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-family: 'Hoefler Text', 'Georgia', serif;
	font-style: italic;
	margin: 16px 0;
	padding: 10px 20px;
}

.Editor3-editor .public-DraftStyleDefault-pre {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 16px;
	padding: 20px;
}

.Editor3-controls {
	width: 100%;
	min-width: 300px;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	user-select: none;
	background-color: #fafafa;
	border-bottom: 1px solid #efefef;
	line-height: 100% !important;

	&.disabled {
		* {
			pointer-events: none;
		}
	}

	.embed-dialog {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2000;
		display: block;
		background-color: #fff;
		width: 99%;
		border: 1px solid #dedede;
		margin: 3px;

		&__error {
			padding: 3px;
			font-size: 13px;
			color: #880000;
		}

		input {
			height: 30px;
			padding: 8px 47px 8px 15px;
		}
	}

	.input-controls {
		position: absolute;
		top: 5px;
		right: 5px;
		
		i {
			&.icon-close-small {
				width: 16px;
				height: 16px;
			}

			&.svg-icon-ok {
				width: 15px;
				height: 15px;
				margin-right: 2px;
			}
		}
	}

	.link-input {
		display: block;
		background: #fff;
		width: 100%;
		position: relative;

		input[type="url"] {
			padding: 0px 47px 0px 5px;
		}
	}
}

.Editor3-styleButton {
	&.short {padding-right: 2px; margin-right: -10px;}

	.link-button + .link-editor {
		a {
			margin-right: 5px;
		}

		.icon {
			font-size: 12px;
			color: #666;
		}

		position: absolute;
		padding: 2px 3px 2px 5px;
		border: 1px solid #ddd;
		background: #fafafa;
		color: #000;
		font-size: 12px;
	}

	color: #999;
	cursor: pointer;
	margin: 0px;
	padding: 10px;
	display: inline-block;

	font-size: 13px;
	font-style: normal;

	span {
		font-size: 13px;
		font-style: normal;
	}

	[class*="icon-"] {
		color: #999;

		&:hover {
			color: #555;
		}
	}

	.inactive [class*="icon-"] {
		color: #ddd;

		&:hover {
			color: #ddd;
		}
	}

	&.Editor3-activeButton, &.Editor3-activeButton [class*="icon-"] {
		color: #5890ff;
	}
	
	// Embed tooltip fix (using tooltip on span element)
	&.Editor3-styleButton--tooltip-on-span {
		padding: 0;
		> span {
			padding: 10px;
			display: block;
		}
	}
}

/** Editor2 CSS Fix for headline **/
.main-article .headline div.Editor3-root div {
	font-size: 14px !important;
	line-height: 100% !important;

	.DraftEditor-editorContainer div {
		font-size: 28px !important;
		line-height: 120% !important;
	}
}

/** Editor2 CSS Fix for abstract **/
.main-article .abstract div.Editor3-root div {
	font-size: 14px !important;
	line-height: 100% !important;

	.DraftEditor-editorContainer div {
		font-size: 16px !important;
		line-height: 150% !important;
	}
}
