@import '~mixins.scss';

.Editor3-root {
	background: #fff;
	border: 1px solid #ddd;
	font-family: 'Georgia', serif;
	font-size: 14px;
	padding: 15px;
	position: relative;

	.word-typo {
	    border-bottom-width: 1px;
	    border-bottom-style: dotted;
	    border-bottom-color: red;
	}
}

.Editor3-editor {
	border-top: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	margin-top: 10px;
}

.Editor3-editor-single-line {
	border-bottom: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	margin-bottom: 10px;
}

.Editor3-editor .public-DraftEditorPlaceholder-root,
.Editor3-editor .public-DraftEditor-content {
	margin: 0 -15px -15px;
	padding: 15px;
}

.Editor3-editor .public-DraftEditor-content {
	min-height: 20px;
}

.Editor3-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.Editor3-editor .Editor3-blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-family: 'Hoefler Text', 'Georgia', serif;
	font-style: italic;
	margin: 16px 0;
	padding: 10px 20px;
}

.Editor3-editor .public-DraftStyleDefault-pre {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 16px;
	padding: 20px;
}

.Editor3-controls {
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	user-select: none;
	position: relative;

	.link-input {
		display: block;
		background: #fff;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;

		input[type="url"] {
			height: 33px;
			padding: 8px 47px 8px 8px;
		}

		&__controls {
			position: absolute;
			top: 0;
			right: 0;
			margin: 8px;
			
			i {
				&.icon-close-small {
					width: 16px;
					height: 16px;
				}

				&.svg-icon-ok {
					width: 15px;
					height: 15px;
					margin-right: 2px;
				}
			}
		}
	}
}

.Editor3-styleButton {
	.inactive {
		color: #ccc;
	}

	.link-button + .link-editor {
		a {
			margin-right: 5px;
		}

		.icon {
			font-size: 12px;
			color: #666;
		}

		position: absolute;
		padding: 2px 3px 2px 5px;
		border: 1px solid #ddd;
		background: #fafafa;
		color: #000;
		font-size: 12px;
	}

	color: #999;
	cursor: pointer;
	margin-right: 16px;
	padding: 2px 0;
	display: inline-block;
}

.Editor3-activeButton {
	color: #5890ff;
}
