<div class="dropdown dropdown--noarrow dropdown--dark dropdown--full-width" dropdown is-open="isOpen" tabindex="">
    <button class="dropdown__toggle" dropdown__toggle>
        <span ng-show="!selectedDesk" translate>Select desk</span>
        <span ng-show="selectedDesk">{{ defaultDesk && defaultDesk._id === selectedDesk._id ? 'Default' : selectedDesk.name | translate}}</span>
        <b class="dropdown__caret white"></b>
    </button>
    <ul class="dropdown__menu">
        <li ng-show="filter"><span translate>filter: "{{ filter }}"</span></li>
        <li ng-repeat="desk in desks | orderBy:deskPreferenceOrdering track by desk._id">
            <button ng-click="onChange({desk: desk})" sd-desk-select-item>{{ :: desk.name }}</button>
        </li>
    </ul>
</div>
