<div class="dropdown dropdown--noarrow dropdown--boxed dropdown--full-width" dropdown is-open="isOpen" tabindex="">
    <button class="dropdown__toggle dropdown__toggle--line" dropdown__toggle data-test-id="desk-select--handle">
        <span ng-show="!selectedDesk" translate>Select desk</span>
        <span ng-show="selectedDesk">{{ defaultDesk && defaultDesk._id === selectedDesk._id ? 'Default' : selectedDesk.name || selectedDesk.label }}</span>
        <b class="dropdown__caret white"></b>
    </button>
    <ul class="dropdown__menu" data-test-id="desk-select--options">
        <li ng-show="filter"><span translate>filter: "{{filter}}"</span></li>
        <li ng-repeat="desk in desks | orderBy:deskPreferenceOrdering track by desk._id">
            <button ng-click="onChange({desk: desk})" sd-desk-select-item>{{ :: desk.name }}</button>
        </li>
        <li ng-if="sendToPersonal"> 
            <button ng-click="onChange({desk: personalSpace})" translate>PERSONAL SPACE</button>
        </li>
    </ul>
</div>
