<div class="stage-header">
    <button class="stage-header__toggle"
            ng-if="agg.state.solo._id !== group._id"
            ng-class="{closed: !agg.getExpandedState(group._id)}"
            ng-click="agg.switchExpandedState(group._id)">
        <i class="icon-chevron-down-thin"></i>
    </button>
    <span class="stage-header__name">
        <a href="" ng-show="agg.state.solo._id !== group._id" ng-click="agg.setSoloGroup(group)">
            {{ :: group.header }} <span ng-show="group.subheader">/ {{ :: group.subheader }} </span> {{ :: group.type | translate }}
        </a>
        <a href="" ng-click="agg.setSoloGroup()" ng-show="agg.state.solo._id === group._id">
            <i class="backlink"></i>
            {{ :: group.header }} <span ng-show="group.subheader">/ {{ :: group.subheader }} </span> {{ :: group.type | translate }}
        </a>
    </span>
    <div class="stage-header__line" ng-if="agg.state.solo._id !== group._id"></div>
    <span class="label-total stage-header__number">{{ total}}</span>
</div>
