<div ng-if="loading" class="item-group__loading"></div>

<div ng-if="!loading && !items.length" class="item-group__no-items" translate>No items with this status</div>

<ul ng-if="!loading && items.length" class="inline-content-items content-tasks" >
    <li
        ng-repeat="item in items"
        class="content-item content-item--no-border flex-row sibling-spacer-10"
        style="padding: 4px; height: auto;"
        ng-click="action({item: item})"
    >
        <sd-user-avatar data-user="users[item.task.user]"></sd-user-avatar>
        <div class="content-item__text">{{item.slugline}}</div>
    </li>
</ul>