<ul ng-if="!loading && items.length" class="inline-content-items content-tasks" >
    <li
        ng-repeat="item in items track by item._id"
        ng-if="!online || isLoggedIn(item)"
        class="content-item content-item--no-border shifted sibling-spacer-10"
        style="height: 40px; padding: 4px;"
    >
        <sd-next-avatar data-user="item" data-display-status="true"></sd-next-avatar>
        <div class="content-item__text">
            {{item.display_name}}
        </div>

        <div class="content-item__action" ng-if="privilege">
            <button ng-click="openEditUser(item)" title="{{ :: 'Edit user' | translate }}"><i class="icon-pencil"></i></button>
        </div>
    </li>
</ul>

<div sd-modal data-model="user" data-close="closeEditUser()" class="user-profile-page">
    <div class="modal__header">
        <a href="" class="modal__close pull-right" ng-click="closeEditUser()"><i class="icon-close-small"></i></a>
        <h3 class="modal__heading" translate>Edit user</h3>
    </div>
    <div class="modal__body">
        <div class="user-details-pane" sd-user-edit data-user="user" data-oncancel="closeEditUser()" data-onsave="closeEditUser()"></div>
    </div>
</div>