name: "CI"

on:
  push:
    branches: [develop, master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [develop]

jobs:

  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Cache NPM
      uses: actions/cache@v2
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm 
        key: ${{ runner.OS }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

    - run: npm ci
    - run: npm run test

  e2e:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        suite: [a, b]
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Cache NPM
      uses: actions/cache@v2
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm 
        key: ${{ runner.OS }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

    - run: npm ci

    - name: Start e2e server
      run: |
        pushd test-server
        docker-compose pull
        docker-compose build
        docker-compose up -d
        popd
    
    - name: Build client
      run: npm run build && npm run start-client-server
    
    - name: Protractor
      run: npm run protractor -- --suite=${{ matrix.suite }}
      env:
        TRAVIS: ci
