name: "CI"

on:
  [push, pull_request]

jobs:

  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Cache NPM
      uses: actions/cache@v2
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.OS }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

    # avoid file watch limit error
    - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
    - run: npm ci
    - run: npm run test

  e2e:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        suite: [a, b]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Cache NPM
      uses: actions/cache@v2
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.OS }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

    - run: npm ci

    - name: Start e2e server
      run: |
        docker-compose pull
        docker-compose build
        docker-compose up -d
      working-directory: test-server

    - name: Build client
      run: npm run build && npm run start-client-server

    - name: Protractor
      run: npm run protractor -- --suite=${{ matrix.suite }}
      env:
        TRAVIS: ci
        SCREENSHOTS_DIR: /tmp

    - name: Upload screenshots
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: screenshots-e2e-${{ matrix.suite }}
        path: /tmp/*.png
