// profiling.scss
// Styling for the superdesk profiling module
// ----------------------------------------------------------------------------------------

@import '~mixins.scss';
@import '~variables.scss';

div {
    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;
}

.profiling-data {
    top: $subnav-height;
    header {
        .sortbar {
            margin-left: 10px;
            .flat-searchbar.monitoring-flat-searchbar {
                margin-top: -12px !important;
            }
        }
        .refresh-box {
            span {
                font-style: italic;
                padding: 16px 0;
                line-height: 16px;
                margin-right: 20px;
            }
            button {
                background: none;
                border: 0;
                padding: 15px 16px;
                border-left: 1px solid #dfdfdf;
                @include opacity(60);
                &:hover {
                    @include opacity(80);
                }
            }
        }
    }
}
