<fieldset>
    <div class="form__row form__row--s-padding">
        <div class="sd-line-input sd-line-input--boxed sd-line-input--is-select">
            <label class="sd-line-input__label" translate>Slugline Match</label>
            <select ng-model="configuration.sluglineMatch" class="sd-line-input__select" selected="configuration.sluglineMatch">
                <option value="EXACT" selected translate>Exact</option>
                <option value="ANY" translate>Match Any</option>
                <option value="PREFIX" translate>Match Prefix</option>
            </select>
        </div>
    </div>
    <div class="form__row form__row--s-padding">
        <div class="sd-line-input sd-line-input--boxed sd-line-input--is-select">
            <label class="sd-line-input__label" translate>Last Updated</label>
            <select ng-model="configuration.modificationDateAfter" class="sd-line-input__select" selected="configuration.modificationDateAfter">
                <option value="now-6h" translate>6 Hours</option>
                <option value="now-12h" translate>12 Hours</option>
                <option value="today" selected translate>Today</option>
                <option value="now-24h" translate>24 Hours</option>
                <option value="now-48h" translate>48 Hours</option>
            </select>
        </div>
    </div>
</fieldset>
