// publish.scss
// Styling for the superdesk publish module
// ----------------------------------------------------------------------------------------

@import '~mixins.scss';
@import '~variables.scss';

.pull-right-20 {
    float: right;
    margin-right: 65px;
}
.pull-left-20 {
    float: left;
    margin-left: 65px;
}
.panel-search {
    float: left;
    width: 30%;
}

.panel-search-result {
    float: right;
    width: 70%;
    .column-width {
        width:50%;
    }
}
.panel-subscriber {
    float: right;
    width: 70%;
}
div {
    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;
}


.filter-result-modal {
    position: absolute;
    .content {
        .active {
            background-color: #eff7fa !important;
            border-right: 2px solid rgba(94,169,200,0.75) !important;
            &:hover {
                .item-functions {
                    background-color: #eff7fa;
                    .item-field {
                        &:hover {
                            background-color: #d6e8ef;
                        }
                        &.disabled {
                            &:hover {
                                background-color: #d6e8ef;
                            }
                        }
                    }
                }
            }
        }
    }
}

.destination-box {
    margin: 0 0 12px 0;
    padding: 12px 12px 0;
    @include shadow-box();
}

// Publish Queue
.multi-action-bar {
    .btn.btn--primary {
        margin-top: 10px !important;
    }
}

.subnav {
    &.active {
        background-color: $white;
    }
}

.subscriber-products {
    .dropdown.dropdown-bigger {
        .dropdown-menu {
            min-width: 500px;
        }
    }
}


.publish-queue {
    top: $subnav-height;
    header {
        .sortbar {
            margin-left: 10px;
            .flat-searchbar.monitoring-flat-searchbar {
                margin-top: -12px !important;
            }
        }
        .refresh-box {
            span {
                font-style: italic;
                padding: 16px 0;
                line-height: 16px;
                margin-right: 20px;
            }
            button {
                background: none;
                border: 0;
                padding: 15px 16px;
                border-left: 1px solid #dfdfdf;
                @include opacity(60);
                &:hover {
                    @include opacity(80);
                }
            }
        }
        .pagination-box {
            .page-info {
                float: left;
            }
            .btn-group {
                position: inherit !important;
            }
        }
    }
    .preview-layout {
        &.closed {
            .list-pane {
                header {
                    right: 0 !important;
                }
            }
        }
        .list-pane header {
            right: $sidepreview-width + 160;
            @media only screen and (max-width : 1430px) {
                right: $sidepreview-width - 40;
            }
            height: 48px;
        }
    }
}
