// publish.scss
// Styling for the superdesk publish module
// ----------------------------------------------------------------------------------------

@import '~mixins.scss';
@import '~variables.scss';

div {
    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;
}

.filter-result-modal {
    position: absolute;
    .content {
        .active {
            background-color: #eff7fa !important;
            border-inline-end: 2px solid rgba(94,169,200,0.75) !important;
            &:hover {
                .item-functions {
                    background-color: #eff7fa;
                    .item-field {
                        &:hover {
                            background-color: #d6e8ef;
                        }
                        &.disabled {
                            &:hover {
                                background-color: #d6e8ef;
                            }
                        }
                    }
                }
            }
        }
    }
}

.destination-box {
    margin: 0 0 12px 0;
    padding: 12px 12px 0;
    @include shadow-box();
}

// Publish Queue
.multi-action-bar {
    .btn.btn--primary {
        margin-block-start: 10px !important;
    }
}

.subnav {
    &.active {
        background-color: $white;
    }
}

.publish-queue {
    inset-block-start: $subnav-height;
    header {
        .refresh-box {
            span {
                font-style: italic;
                padding: 16px 0;
                margin-inline-end: 20px;
            }
        }
    }
    .preview-layout {
        .list-pane {
            >.content {
                overflow: auto;
                inset-inline-end: 400px;
            }
        }
        &.closed {
            .list-pane {
                >.content {
                    inset-inline-end: 0;
                }
            }
        }
        // .list-pane header {
        //     inset-inline-end: $sidepreview-width + 160;
        //     @media only screen and (max-width : 1430px) {
        //         inset-inline-end: $sidepreview-width - 40;
        //     }
        //     height: 48px;
        // }
    }
    .shift-preview__toggle {
        display: none;
    }
}

.subscriber-modal {
    .tab-content {
        .tab-pane {
            min-height: 400px;
        }
    }
}

.products-content, .subscribers-content {
    .sortbar {
        span {
            margin-inline-start: 5px;
        }
    }
}